<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<li id="shipping" class="checkout-shipping-address" data-bind="fadeVisible: visible()">
    <div class="step-title h2" data-bind="i18n: 'Shipping address'" data-role="title"></div>
    <div id="checkout-step-shipping"
         class="step-content"
         data-role="content">

        <!-- ko if: (!quoteIsVirtual) -->
            <!-- ko foreach: getRegion('customer-email') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        <!--/ko-->

        <div class="shipping-address-list shipping-address-list address-list row">
            <!-- ko foreach: getRegion('address-list') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->

            <!-- ko foreach: getRegion('address-list-additional-addresses') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->

            <!-- Address form pop up -->
            <!-- ko if: (!isFormInline) -->
            <div class="col-12">
                <div class="row">
                    <div class="shipping-address-item address-item new-item col-12 col-md-6"
                         data-bind="visible: !isNewAddressAdded()">
                        <div class="item-inner">
                            <button type="button"
                                    class="action action-show-popup action-select-new-shipping body2"
                                    data-bind="click: showFormPopUp, visible: !isNewAddressAdded()">
                                <i class="module-icon">
                                    <svg class="icon icon-sm ico-plus"><use data-bind="attr: { 'xlink:href': require.toUrl('') + 'images/icons-sprite.svg#ico-plus' }" xlink:href=''></use></svg>
                                </i>
                                <span translate="'New Address'" />
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="opc-new-shipping-address" data-bind="visible: isFormPopUpVisible()">
                <!-- ko template: 'Magento_Checkout/shipping-address/form' --><!-- /ko -->
            </div>
            <!-- /ko -->
        </div>

        <!-- ko foreach: getRegion('before-form') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <!-- Inline address form -->
        <!-- ko if: (isFormInline) -->
        <!-- ko template: 'Magento_Checkout/shipping-address/form' --><!-- /ko -->
        <!-- /ko -->
    </div>
</li>


<!--Shipping method template-->
<li id="opc-shipping_method"
    class="checkout-shipping-method amrates-shipping-method"
    data-bind="fadeVisible: visible(), blockLoader: isLoading"
    role="presentation">
    <div class="checkout-shipping-method">
        <div class="step-title h2" data-bind="i18n: 'Shipping Methods'" data-role="title"></div>
        <!-- ko foreach: getRegion('before-shipping-method-form') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
        <div id="checkout-step-shipping_method"
             class="step-content"
             data-role="content"
             role="tabpanel"
             aria-hidden="false">
            <!-- ko if: rates().length  -->
            <form class="form methods-shipping" id="co-shipping-method-form" data-bind="submit: setShippingInformation" novalidate="novalidate">
                <div id="checkout-shipping-method-load">
                    <ul class="table-checkout-shipping-method row">
                        <!--ko foreach: { data: rates(), as: 'method'}-->
                        <li class="row-table shipping-method-item col-12 col-md-6" data-bind="click: $parent.selectShippingMethod, css: {'selected-item' : (method.carrier_code + '_' + method.method_code == element.isSelected())}">
                            <div class="item-inner">
                                <div class="col-info">
                                    <div class="col-method select-method">
                                        <div class="label custom-control custom-radio">
                                            <input type="radio"
                                                   class="radio custom-control-input"
                                                   ifnot="method.error_message"
                                                   ko-checked="element.isSelected"
                                                   ko-value="method.carrier_code + '_' + method.method_code"
                                                   data-bind="attr: {
                                                    checked: $parent.rates().length == 1 || $parent.isSelected,
                                                    'value' : method.carrier_code + '_' + method.method_code,
                                                    'id': 's_method_' + method.method_code,
                                                    'aria-labelledby': 'label_method_' + method.method_code + '_' + method.carrier_code + ' ' + 'label_carrier_' + method.method_code + '_' + method.carrier_code
                                                    }" />
                                            <label class="custom-control-label">
                                                <span class="col-title method-title">
                                                    <span class="method-description"
                                                          data-bind="attr:{'id': 'label_method_' + method.method_code + '_' + method.carrier_code},
                                                            text: method.method_title"></span>
                                                </span>
                                                <span class="col-carrier method-carrier-title">
                                                    <span class="method-type"
                                                          data-bind="attr:{'id': 'label_carrier_' + method.method_code + '_' + method.carrier_code},
                                                            text: method.carrier_title"></span>
                                                </span>

                                                <!-- ko if:  method.extension_attributes -->
                                                    <!-- ko if:  !method.comment && method.extension_attributes.amstorepick_comment -->
                                                    <span class="col-comment amstorepick-comment"
                                                         data-bind="html: method.extension_attributes.amstorepick_comment">
                                                    </span>
                                                    <!-- /ko -->
                                                    <!-- ko if: !method.comment && method.extension_attributes.amstartes_comment -->
                                                    <span class="col-comment amstartes-comment"
                                                         data-bind="html: method.extension_attributes.amstartes_comment">
                                                    </span>
                                                    <!-- /ko -->
                                                    <!-- ko ifnot: !method.comment && method.extension_attributes.amstorepick_comment && method.extension_attributes.amstartes_comment -->
                                                    <span class="col-comment method-comment"
                                                         data-bind="html: method.comment">
                                                    </span>
                                                    <!-- /ko -->
                                                <!-- /ko -->
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row row-error"
                                         if="method.error_message">
                                        <div class="col col-error" colspan="4">
                                            <div role="alert" class="message error">
                                                <div data-bind="text: method.error_message"></div>
                                            </div>
                                            <span class="no-display">
                                                <input type="radio"
                                                       data-bind="attr: {'value' : method.method_code, 'id': 's_method_' + method.method_code}" />
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <span class="col-price">
                                    <each args="$parent.getRegion('price')" render="" />
                                </span>
                            </div>
                        </li>
                        <!-- /ko -->
                    </ul>
                </div>

                <div id="onepage-checkout-shipping-method-additional-load">
                    <!-- ko foreach: getRegion('shippingAdditional') -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                    <!-- /ko -->
                </div>
                <!-- ko if: errorValidationMessage().length > 0 -->
                <div class="message notice">
                    <span><!-- ko text: errorValidationMessage()--><!-- /ko --></span>
                </div>
                <!-- /ko -->
                <div class="actions-toolbar" id="shipping-method-buttons-container">
                    <button data-role="opc-continue" type="submit"
                            class="button action continue primary btn btn-primary btn-sm-block">
                        <span><!-- ko i18n: 'Save and continue'--><!-- /ko --></span>
                    </button>
                </div>
            </form>
            <!-- /ko -->
            <!-- ko ifnot: rates().length > 0 -->
            <div class="no-quotes-block">
                <!-- ko i18n: 'Sorry, no quotes are available for this order at this time'--><!-- /ko -->
            </div>
            <!-- /ko -->
        </div>
    </div>
</li>
