<!--
  ~ @author Interactiv4 Team
  ~ @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
  -->
<div class="block-authentication"
     data-bind="afterRender: setModalElement, blockLoader: isLoading"
     style="display: none">
    <div class="login-container row">
        <div class="block block-customer-login col-12 col-md-6"
         data-bind="attr: {'data-label': $t('or')}">
            <div class="block-container">
                <div class="block-title">
                    <strong id="block-customer-login-heading"
                            role="heading"
                            aria-level="2"
                            data-bind="i18n: 'Registered Customers'"></strong>
                </div>
                <!-- ko foreach: getRegion('messages') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!--/ko-->
                <!-- ko foreach: getRegion('before') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!-- /ko -->
                <div class="block-content" aria-labelledby="block-customer-login-heading">
                    <form class="form form-login"
                          method="post"
                          data-bind="event: {submit: login }"
                          id="login-form">
                        <div class="fieldset login" data-bind="attr: {'data-hasrequired': $t('* Required Fields')}">
                            <div class="field note" data-bind="i18n: 'If you have an account, sign in with your email address.'"></div>
                            <div class="field email required">
                                <div class="control form-group">
                                    <label class="label" for="customer-email"><span data-bind="i18n: 'Email Address'"></span></label>
                                    <input name="username"
                                           id="customer-email"
                                           type="email"
                                           class="input-text form-control"
                                           data-mage-init='{"mage/trim-input":{}}'
                                           data-bind="attr: {autocomplete: autocomplete}"
                                           data-validate="{required:true, 'validate-email':true}">
                                </div>
                            </div>
                            <div class="field password required">
                                <div class="control form-group">
                                    <label for="pass" class="label"><span data-bind="i18n: 'Password'"></span></label>
                                    <input name="password"
                                           type="password"
                                           class="input-text form-control"
                                           id="pass"
                                           data-bind="attr: {autocomplete: autocomplete}"
                                           data-validate="{required:true}">
                                </div>
                            </div>
                            <div class="secondary">
                                <a class="action remind btn btn-link" data-bind="attr: {href: forgotPasswordUrl}">
                                    <span data-bind="i18n: 'Forgot Your Password?'"></span>
                                </a>
                            </div>
                            <!-- ko foreach: getRegion('additional-login-form-fields') -->
                            <!-- ko template: getTemplate() --><!-- /ko -->
                            <!-- /ko -->
                            <div class="actions-toolbar">
                                <input name="context" type="hidden" value="checkout" />
                                <div class="primary">
                                    <button type="submit" class="action action-login primary btn btn-primary btn-block" name="send" id="send2">
                                        <span data-bind="i18n: 'Sign In'"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    </div>
        <div class="block block-new-customer col-12 col-md-6"
         data-bind="attr: {'data-label': $t('or')}">
            <div class="block-container">
                <div class="block-title">
                    <strong id="block-new-customer-heading"
                        role="heading"
                        aria-level="2"
                        data-bind="i18n: 'New Customers'"></strong>
                </div>
                <div class="block-content" aria-labelledby="block-new-customer-heading">
                    <p data-bind="i18n: 'Creating an account has many benefits:'"></p>
                    <ul>
                        <li data-bind="i18n: 'See order and shipping status'"></li>
                        <li data-bind="i18n: 'Track order history'"></li>
                        <li data-bind="i18n: 'Check out faster'"></li>
                    </ul>
                    <div class="actions-toolbar">
                        <div class="primary">
                            <a class="action action-register primary btn btn-primary btn-block" data-bind="attr: {href: registerUrl}">
                                <span data-bind="i18n: 'Create an Account'"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
