<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper(Magento\Catalog\Helper\Output::class);

/** @var Logiscenter\AvailabilityInfo\ViewModel\AvailabilityData $viewModel */
$viewModel = $block->getData('view_model_availability_info');
?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty"><div><?= /* @escapeNotVerified */ __('We can\'t find products matching the selection.') ?></div></div>
<?php else: ?>
    <div class="toolbar--top">
        <?= $block->getToolbarHtml() ?>
    </div>
    <?= $block->getAdditionalHtml() ?>
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $imageDisplayArea = 'category_page_grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
        $htmlClass = 'col-6 col-md-4 col-lg-3';
        $showAddCart = false;
        $showActions = false;
        $showReview = false;
    } else {
        $viewMode = 'list';
        $imageDisplayArea = 'category_page_list';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
        $htmlClass = 'col-12';
        $showAddCart = false;
        $showActions = false;
        $showReview = false;
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?>
    <div class="products wrapper products--<?= $viewMode ?> <?= $viewMode ?>">
        <ol class="product__items row small-sm-gutters products list items product-items">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php foreach ($_productCollection as $_product): ?>
            <li class="product product__item product--<?= $viewMode ?> <?= $htmlClass ?>">
                <div class="product__inner item product product-item">
                    <div class="product__info product-item-info" data-container="product-grid">
                        <div class="product__image">
                            <?php
                            $productImage = $block->getImage($_product, $imageDisplayArea);
                            if ($pos != null) {
                                $position = ' style="left:' . $productImage->getWidth() . 'px;'
                                    . 'top:' . $productImage->getHeight() . 'px;"';
                            }
                            ?>
                            <?php // Product Image ?>
                            <a href="<?= /* @escapeNotVerified */ $_product->getProductUrl() ?>"
                               class="product__photo product photo product-item-photo"
                               tabindex="-1">
                                <?= $productImage->toHtml() ?>
                            </a>
                        </div>

                        <div class="product__details product details product-item-details">
                            <div class="product__actions actions product-item-actions 23423">
                                <?php if ($_product->isAvailable()) :?>
                                    <?= $block->getProductDetailsHtml($_product) ?>
                                <?php endif; ?>


                                <div data-role="add-to-links" class="actions__secondary"<?= \strpos($pos, $viewMode . '-secondary') ? $position : '' ?>>
                                    <?php if ($addToBlock = $block->getChildBlock('addto')): ?>
                                        <?= $addToBlock->setProduct($_product)->getChildHtml() ?>
                                    <?php endif; ?>
                                </div>

                                <?php if ($showAddCart): ?>
                                <div class="actions__primary">
                                    <?php if ($_product->isSaleable()): ?>
                                        <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                        <form data-role="tocart-form"
                                              data-product-sku="<?= $block->escapeHtmlAttr($_product->getSku()) ?>"
                                              action="<?= $block->escapeUrl($postParams['action']) ?>"
                                              method="post">
                                            <input type="hidden"
                                                   name="product"
                                                   value="<?= /* @noEscape */ $postParams['data']['product'] ?>">
                                            <input type="hidden"
                                                   name="<?= /* @noEscape */ Action::PARAM_NAME_URL_ENCODED ?>"
                                                   value="<?= /* @noEscape */ $postParams['data'][Action::PARAM_NAME_URL_ENCODED] ?>">
                                            <?= $block->getBlockHtml('formkey') ?>
                                            <button type="submit"
                                                    title="<?= $block->escapeHtmlAttr(__('Add to Cart')) ?>"
                                                    class="action tocart primary btn btn-primary btn-block">
                                                <span><?= $block->escapeHtml(__('Add to Cart')) ?></span>
                                            </button>
                                        </form>
                                    <?php endif; ?>
                                </div>
                                <?php endif; ?>

                                <?php if($showActions): ?>
                                    <div data-role="add-to-links" class="actions__secondary"<?= strpos($pos, $viewMode . '-secondary') ? $position : '' ?>>
                                        <?php if ($addToBlock = $block->getChildBlock('addto')): ?>
                                            <?= $addToBlock->setProduct($_product)->getChildHtml() ?>
                                        <?php endif; ?>
                                    </div>
                                <?php endif ?>
                            </div>

                            <?php
                            $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                            ?>
                            <h3 class="product__name product name product-item-name h5">
                                <a class="product__link product-item-link body2"
                                   href="<?= $block->escapeUrl($_product->getProductUrl()) ?>">
                                    <?= /* @noEscape */ $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
                                </a>
                            </h3>

                            <?php if ($showDescription):?>
                                <div class="product__description">
                                    <?= /* @noEscape */ $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                                    <a href="<?= $block->escapeUrl($_product->getProductUrl()) ?>"
                                       title="<?= /* @noEscape */ $_productNameStripped ?>"
                                       class="action more"><?= $block->escapeHtml(__('Learn More')) ?></a>
                                </div>
                            <?php endif; ?>

                            <div class="product__bottom">
                                <div class="product__price">
                                    <?= /* @noEscape */ $block->getProductPrice($_product) ?>
                                </div>

                                <?php $availabilityMessage = $viewModel->getAvailabilityMessage($_product, true); ?>
                                <?php if ($availabilityMessage): ?>
                                    <?php $availabilityMessageType = $viewModel->getAvailabilityMessageType($_product, true); ?>
                                    <div class="product__availability-message availability-message availability-message--product-list <?= ($availabilityMessageType) ? $availabilityMessageType : 'no-stock' ?>">
                                        <?php if ($viewModel->canShowAvailabilityPopup($_product, true) && $_product->getSku()): ?>
                                            <span class="availability-message__text availability-message__text--action btn btn-link btn-link-sm"
                                                  data-event="check-availability"
                                                  data-sku="<?= $_product->getSku() ?>">
                                                <?= $block->escapeHtml($availabilityMessage) ?>
                                            </span>
                                        <?php elseif ($availabilityMessageType == 'in-stock'): ?>
                                            <span class="availability-message__text availability-message__text--static">
                                                <?= $block->escapeHtml($availabilityMessage) ?>
                                            </span>
                                        <?php elseif ($availabilityMessageType == 'action'): ?>
                                            <a href="<?= $block->escapeUrl($_product->getProductUrl()) ?>" class="availability-message__text availability-message__text--action btn btn-link btn-link-sm">
                                                <?= $block->escapeHtml($availabilityMessage) ?>
                                            </a>
                                        <?php else: ?>
                                            <span class="availability-message__text availability-message__text--static">
                                                <?= $block->escapeHtml($availabilityMessage) ?>
                                            </span>
                                        <?php endif; ?>
                                    </div>
                                <?php endif; ?>
                            </div>

                            <?php if($showReview): ?>
                                <div class="product__review">
                                    <?= $block->getReviewsSummaryHtml($_product, $templateType) ?>
                                </div>
                            <?php endif; ?>

                            <?php if ($_product->isAvailable() && $block->getProductDetailsHtml($_product)) :?>
                                <div class="product__more d-md-none">
                                    <a href="<?= $block->escapeUrl($_product->getProductUrl()) ?>"
                                       class="action more-colours"><?= __('More options') ?></a>
                                </div>
                            <?php endif; ?>
                        </div>
                    </div>
                </div>
            </li>
            <?php endforeach; ?>
        </ol>
    </div>
    <div class="toolbar--bottom">
        <?= $block->getToolbarHtml() ?>
    </div>
    <?php if (!$block->isRedirectToCartEnabled()) :?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {
                    "product_sku": "<?= $block->escapeJs($_product->getSku()) ?>"
                }
            }
        }
        </script>
    <?php endif; ?>
<?php endif; ?>
