<!--
  ~ @author Interactiv4 Team
  ~ @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
  -->

<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}" afterRender="selectPaymentMethod">
    <div class="payment-method-title field choice">
        <div class="label custom-control custom-radio">
            <input type="radio"
                   name="payment[method]"
                   class="radio custom-control-input"
                   data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()" />
            <label data-bind="attr: {'for': getCode()}" class="custom-control-label">
                <span data-bind="text: getTitle()"></span>
            </label>
        </div>
        <!-- PayPal Logo -->
        <img data-bind="attr: {src: getPaymentAcceptanceMarkSrc(), alt: $t('Acceptance Mark')}"
             class="payment-icon paypal"/>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <fieldset class="fieldset" data-bind='attr: {id: "payment_form_" + getCode()}'>
            <div class="payment-method-note">
                <!-- ko i18n: 'You will be redirected to the PayPal website.' --><!-- /ko -->
            </div>
            <!-- ko template: 'Magento_Paypal/payment/express/billing-agreement' --><!-- /ko -->
        </fieldset>
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout btn btn-primary btn-sm-block"
                        type="submit"
                        data-bind="click: continueToPayPal, enable: (getCode() == isChecked())"
                        disabled>
                    <span data-bind="i18n: 'Continue to PayPal'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
