<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<if args="visible()">
    <div class="overview-address-details">
        <div class="info-name">
            <text args="address().prefix"/> <text args="address().firstname"/> <text args="address().middlename"/>
            <text args="address().lastname"/> <text args="address().suffix"/>
        </div>
        <div class="info-address">
            <text args="_.values(address().street).join(', ')"/><br/>
            <text args="address().city "/>, <span text="address().region"></span> <text args="address().postcode"/><br/>
            <text args="getCountryName(address().countryId)"/>
        </div>
        <div class="info-phone">
            <a if="address().telephone" attr="'href': 'tel:' + address().telephone" text="address().telephone"></a>
        </div>

        <each args="data: address().customAttributes, as: 'element'">
            <text args="$parent.getCustomAttributeLabel(element)"/>
            <br/>
        </each>
    </div>
</if>
