<?php

/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

/* @var \Logiscenter\RestrictedProductInfo\Block\ProductInfo $block */

?>
<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

/* @var \Logiscenter\RestrictedProductInfo\Block\ProductInfo $block */

?>

<?php $data = $block->getProductInfo(); ?>
<?php if (isset($data['label']) && isset($data['value'])): ?>
    <section class="restricted-product-info" data-container="restricted-product-info">
        <div class="restricted-product-info__inner container-fluid">
            <div class="restricted-product-info__content">
                <span class="restricted-product-info__content__label">
                    <?= $data['label'] ?>:
                </span>
                <span class="restricted-product-info__content__value">
                    <?= $data['value'] ?>
                </span>
            </div>
            <div class="restricted-product-info__action-stick btn btn-link"
                 data-event="restricted-product-info-action-stick"
                 data-label-stick="<?= /* @escapeNotVerified */ __('Stick') ?>"
                 data-label-unstick="<?= /* @escapeNotVerified */ __('Unstick') ?>"></div>
        </div>
    </section>
<?php endif; ?>