<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

// @codingStandardsIgnoreFile
/**
 * @var \Magento\Paypal\Block\Express\Review $block
 */
?>
<div class="paypal-review">
    <div class="row">
        <div class="block block-order-details-view col-12 col-lg-8">
            <div class="paypal-review__title">
                <span><?= $block->escapeHtml(__('Review Order')) ?></span>
            </div>
            <div class="block-content">
                <?php if ($block->getShippingAddress()): ?>
                    <div class="box box-order-shipping-method">
                        <div class="box-title">
                            <span><?= $block->escapeHtml(__('Shipping Method')) ?></span>
                        </div>
                        <div class="box-content">
                            <form method="post" id="shipping-method-form"
                                  action="<?= $block->escapeUrl($block->getShippingMethodSubmitUrl()) ?>"
                                  class="form">
                                <?php if ($block->canEditShippingMethod()): ?>
                                    <?php if ($groups = $block->getShippingRateGroups()): ?>
                                        <?php $currentRate = $block->getCurrentShippingRate(); ?>
                                        <div class="field shipping required">
                                            <select name="shipping_method" id="shipping-method" class="select form-control">
                                                <?php if (!$currentRate): ?>
                                                    <option value=""><?= $block->escapeHtml(__(
                                                                                                'Please select a shipping method...'
                                                                                            )); ?></option>
                                                <?php endif; ?>
                                                <?php foreach ($groups as $code => $rates): ?>
                                                    <optgroup label="<?= $block->escapeHtml($block->getCarrierName(
                                                        $code
                                                    )); ?>">
                                                        <?php foreach ($rates as $rate): ?>
                                                            <option value="<?= $block->escapeHtml(
                                                                $block->renderShippingRateValue($rate)
                                                            ); ?>"
                                                                <?= ($currentRate === $rate) ?
                                                                    ' selected="selected"' : '';
                                                                ?>>
                                                                <?php /* @noEscape */ echo
                                                                $block->renderShippingRateOption($rate);
                                                                ?>
                                                            </option>
                                                        <?php endforeach; ?>
                                                    </optgroup>
                                                <?php endforeach; ?>
                                            </select>
                                        </div>
                                        <div class="actions-toolbar">
                                            <div class="primary">
                                                <button id="update-shipping-method-submit" type="submit"
                                                        class="action update primary btn btn-primary btn-lg">
                                                    <span>
                                                        <?= $block->escapeHtml(__('Update Shipping Method')) ?>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    <?php else: ?>
                                        <p>
                                            <?= $block->escapeHtml(__(
                                                                       'Sorry, no quotes are available for this order right now.'
                                                                   )); ?>
                                        </p>
                                    <?php endif; ?>
                                <?php else: ?>
                                    <p>
                                        <?php /* @noEscape */ echo $block->renderShippingRateOption(
                                            $block->getCurrentShippingRate()
                                        ); ?>
                                    </p>
                                <?php endif; ?>
                            </form>
                        </div>
                    </div>
                    <div class="box box-order-billing-address">
                        <div class="box-title">
                            <span><?= $block->escapeHtml(__('Payment Method')) ?></span>
                            <?php if ($block->getEditUrl()): ?>
                                <a href="<?= $block->escapeUrl($block->getEditUrl()) ?>" class="action edit">
                                    <span><?= $block->escapeHtml(__('Edit')) ?></span>
                                    <i class="module-icon">
                                        <svg class="icon ico-edit">
                                            <use data-bind="attr: { 'xlink:href': require.toUrl('') + 'images/icons-sprite.svg#ico-edit' }" xlink:href=''></use></svg>
                                        </svg>
                                    </i>
                                </a>
                            <?php endif ?>
                        </div>
                        <div class="box-content">
                            <div class="paypal-logo">
                                <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_100x26.png" alt="<?= $block->escapeHtml(__('Buy now with PayPal')) ?>"/>
                            </div>
                            <?= $block->escapeHtml($block->getPaymentMethodTitle()) ?><br>
                            <?= $block->escapeHtml($block->getEmail()) ?> <br>
                        </div>
                    </div>
                    <div class="box box-order-shipping-address">
                        <div class="box-title">
                            <span><?= $block->escapeHtml(__('Shipping Address')) ?></span>
                            <?php if ($block->getCanEditShippingAddress()): ?>
                                <a href="<?= $block->escapeUrl($block->getEditUrl()) ?>" class="action edit">
                                    <span><?= $block->escapeHtml(__('Edit')) ?></span>
                                    <i class="module-icon">
                                        <svg class="icon ico-edit">
                                            <use data-bind="attr: { 'xlink:href': require.toUrl('') + 'images/icons-sprite.svg#ico-edit' }" xlink:href=''></use></svg>
                                        </svg>
                                    </i>
                                </a>
                            <?php endif; ?>
                        </div>
                        <div class="box-content">
                            <address>
                                <?= $block->escapeHtml(
                                    $block->renderAddress($block->getShippingAddress()),
                                    ['br']
                                );?>
                            </address>
                        </div>
                    </div>
                <?php endif; ?>
            </div>
            <div class="paypal-review__discount">
                <?= $block->getChildHtml('paypal.additional.actions') ?>
            </div>
        </div>
        <div class="block block-order-summary-view col-12 col-lg-4">
            <div class="paypal-review__items">
                <div class="box-title">
                    <span><?= $block->escapeHtml(__('Items in your cart')) ?></span>
                    <a href="<?= $block->escapeUrl($block->getUrl('checkout/cart')) ?>" class="action edit">
                        <span><?= $block->escapeHtml(__('Edit')) ?></span>
                        <i class="module-icon">
                            <svg class="icon ico-edit">
                                <use data-bind="attr: { 'xlink:href': require.toUrl('') + 'images/icons-sprite.svg#ico-edit' }" xlink:href=''></use></svg>
                            </svg>
                        </i>
                    </a>
                </div>

                <?= $block->getChildHtml('details') ?>

                <form method="post" id="order-review-form" action="<?= $block->escapeUrl($block->getPlaceOrderUrl()) ?>"
                      class="form order-review-form">
                    <?= $block->getChildHtml('agreements') ?>
                    <div class="actions-toolbar" id="review-buttons-container">
                        <div class="primary">
                            <button type="button" id="review-button" class="action checkout primary btn btn-primary btn-block"
                                    value="<?= $block->escapeHtml(__('Place Order')) ?>">
                                <i class="module-icon">
                                    <svg class="icon ico-arrow-right-black">
                                        <use data-bind="attr: { 'xlink:href': require.toUrl('') + 'images/icons-sprite.svg#ico-arrow-right-black' }" xlink:href=''></use></svg>
                                    </svg>
                                </i>
                                <span><?= $block->escapeHtml(__('Place Order')) ?></span>
                            </button>
                            <button type="button" id="review-submit" class="action checkout primary primary btn btn-primary btn-block"
                                    value="<?= $block->escapeHtml(__('Place Order')) ?>">
                                <i class="module-icon">
                                    <svg class="icon ico-arrow-right-black">
                                        <use data-bind="attr: { 'xlink:href': require.toUrl('') + 'images/icons-sprite.svg#ico-arrow-right-black' }" xlink:href=''></use></svg>
                                    </svg>
                                </i>
                                <span><?= $block->escapeHtml(__('Place Order')) ?></span>
                            </button>
                        </div>
                        <span class="paypal-review__loader load indicator" id="review-please-wait" style="display: none;"
                              data-text="<?= $block->escapeHtml(__('Submitting order information...')) ?>">
                           <span><?= $block->escapeHtml(__('Submitting order information...')) ?></span>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/x-magento-init">
    {
        "#order-review-form": {
            "validation": {},
            "orderReview": {
                "shippingSubmitFormSelector": "#shipping-method-form",
                "shippingSelector": "#shipping-method",
                "shippingMethodUpdateUrl": "<?= $block->escapeUrl($block->getUpdateShippingMethodsUrl()) ?>",
                "isAjax": <?= /* @noEscape */ $block->getUseAjax() ? 'true' : 'false' ?>,
                "canEditShippingMethod": <?= /* @noEscape */ $block->canEditShippingMethod() ? 'true' : 'false' ?>
            }
        }
    }
</script>
