<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

/**
 * Price wrapper to add custom price elements
 *
 * @var $block \Magento\Framework\View\Element\Template
 * @var priceViewModel \Logiscenter\Price\ViewModel\PriceProvider
 */
$priceViewModel = $block->getData('priceViewModel');
?>

<div class="product-info-price__wrapper">
    <?php if ($priceViewModel && $msrpPrice = $priceViewModel->getMsrpPrice()): ?>
        <!-- Custom MSRP price -->
        <div class="product-info-price__msrp">
            <div class="product-info-price__msrp__label">
                <?= /* @escapeNotVerified */ __('MSRP') ?>:
            </div>
            <div class="product-info-price__msrp__value">
                <?= /* @noEscape */ $msrpPrice ?>
            </div>
        </div>
    <?php endif; ?>

    <!-- Default price final -->
    <?= /* @noEscape */ $block->getChildHtml('product.price.final') ?>

    <?php if ($priceViewModel && $priceWithTax = $priceViewModel->getFinalPriceWithTax()): ?>
        <!-- Custom price with tax -->
        <div class="product-info-price__price-with-tax">
            <div class="product-info-price__price-with-tax__value">
                <?= /* @noEscape */ $priceWithTax ?>
            </div>
            <div class="product-info-price__price-with-tax__label">
                (<?= /* @escapeNotVerified */ __('VAT incl.') ?>)
            </div>
        </div>
    <?php endif; ?>
</div>
