<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Edit customer address template
 *
 * @var $block \Magento\Customer\Block\Address\Edit
 */
?>
<form class="form form-address-edit row" action="<?= /* @escapeNotVerified */ $block->getSaveUrl() ?>" method="post" id="form-validate" enctype="multipart/form-data" data-hasrequired="<?= /* @escapeNotVerified */ __('* Required Fields') ?>">
    <fieldset class="fieldset col-12 col-md-6">
        <legend class="legend h3"><span><?= /* @escapeNotVerified */ __('Contact Information') ?></span></legend>
        <?= $block->getBlockHtml('formkey') ?>
        <input type="hidden" name="success_url" value="<?= /* @escapeNotVerified */ $block->getSuccessUrl() ?>"/>
        <input type="hidden" name="error_url" value="<?= /* @escapeNotVerified */ $block->getErrorUrl() ?>"/>
        <?= $block->getNameBlockHtml() ?>
        <div class="field company">
            <div class="control form-group">
                <label class="label a" for="company"><span><?= /* @escapeNotVerified */ __('Company') ?></span></label>
                <input type="text" name="company" id="company" title="<?= /* @escapeNotVerified */ __('Company') ?>" value="<?= $block->escapeHtml($block->getAddress()->getCompany()) ?>" class="input-text form-control <?= /* @escapeNotVerified */ $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('company') ?>"/>
            </div>
        </div>
        <div class="field telephone required">
            <div class="control form-group">
                <label class="label" for="telephone"><span><?= /* @escapeNotVerified */ __('Phone Number') ?></span></label>
                <input type="text" name="telephone" value="<?= $block->escapeHtml($block->getAddress()->getTelephone()) ?>" title="<?= /* @escapeNotVerified */ __('Phone Number') ?>" class="input-text form-control <?= /* @escapeNotVerified */ $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('telephone') ?>" id="telephone"/>
            </div>
        </div>
        <div class="field fax">
            <div class="control form-group">
                <label class="label" for="fax"><span><?= /* @escapeNotVerified */ __('Fax') ?></span></label>
                <input type="text" name="fax" id="fax" title="<?= /* @escapeNotVerified */ __('Fax') ?>" value="<?= $block->escapeHtml($block->getAddress()->getFax()) ?>" class="input-text form-control <?= /* @escapeNotVerified */ $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('fax') ?>"/>
            </div>
        </div>
    </fieldset>
    <fieldset class="fieldset col-12 col-md-6">
        <legend class="legend h3"><span><?= /* @escapeNotVerified */ __('Address') ?></span></legend>
        <?php $_streetValidationClass = $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('street'); ?>
        <div class="field street required">
            <div class="control form-group">
                <label for="street_1" class="label street_1"><span><?= /* @escapeNotVerified */ __('Street Address') ?></span></label>
                <input type="text" name="street[]" value="<?= $block->escapeHtml($block->getStreetLine(1)) ?>" title="<?= /* @escapeNotVerified */ __('Street Address') ?>" id="street_1" class="input-text form-control <?= /* @escapeNotVerified */ $_streetValidationClass ?>"/>
            </div>
        </div>
        <div class="field street">
            <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
            <?php for ($_i = 2, $_n = $this->helper('Magento\Customer\Helper\Address')->getStreetLines(); $_i <= $_n; $_i++): ?>
                <div class="control form-group">
                    <label class="label street_other" for="street_<?= /* @escapeNotVerified */ $_i ?>">
                        <span><?= /* @escapeNotVerified */ __('Address - Street %1 (optional)', $_i) ?></span>
                    </label>
                    <input type="text" name="street[]" value="<?= $block->escapeHtml($block->getStreetLine($_i)) ?>" title="<?= /* @escapeNotVerified */ __('Street Address %1', $_i) ?>" id="street_<?= /* @escapeNotVerified */ $_i ?>" class="input-text form-control<?= /* @escapeNotVerified */ $_streetValidationClass ?>"/>
                </div>
            <?php endfor; ?>
        </div>

        <?php if ($this->helper('Magento\Customer\Helper\Address')->isVatAttributeVisible()) : ?>
        <div class="field taxvat">
            <div class="control form-group">
                <label class="label" for="vat_id"><span><?= /* @escapeNotVerified */ __('VAT Number') ?></span></label>
                <input type="text" name="vat_id" value="<?= $block->escapeHtml($block->getAddress()->getVatId()) ?>" title="<?= /* @escapeNotVerified */ __('VAT Number') ?>" class="input-text form-control <?= /* @escapeNotVerified */ $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('vat_id') ?>" id="vat_id"/>
            </div>
        </div>
        <?php endif; ?>
        <div class="field city required">
            <div class="control form-group">
                <label class="label" for="city"><span><?= /* @escapeNotVerified */ __('City') ?></span></label>
                <input type="text" name="city" value="<?= $block->escapeHtml($block->getAddress()->getCity()) ?>" title="<?= /* @escapeNotVerified */ __('City') ?>" class="input-text form-control <?= /* @escapeNotVerified */ $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('city') ?>" id="city"/>
            </div>
        </div>
        <div class="field region required">
            <div class="control form-group">
                <label class="label" for="region_id"><span><?= /* @escapeNotVerified */ __('State/Province') ?></span></label>
                <select id="region_id" name="region_id" title="<?= /* @escapeNotVerified */ __('State/Province') ?>" class="validate-select form-control" <?= (!$block->getConfig('general/region/display_all')) ? ' disabled="disabled"' : '';?>>
                   <option value=""><?= /* @escapeNotVerified */ __('Please select a region, state or province.') ?></option>
                </select>
                <input type="text" id="region" name="region" value="<?= $block->escapeHtml($block->getRegion()) ?>"  title="<?= /* @escapeNotVerified */ __('State/Province') ?>" class="input-text form-control <?= /* @escapeNotVerified */ $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('region') ?>"<?= (!$block->getConfig('general/region/display_all')) ? ' disabled="disabled"' : '';?>/>
            </div>
        </div>
        <div class="field zip required">
            <div class="control form-group">
                <label class="label" for="zip"><span><?= /* @escapeNotVerified */ __('Zip/Postal Code') ?></span></label>
                <input type="text" name="postcode" value="<?= $block->escapeHtml($block->getAddress()->getPostcode()) ?>" title="<?= /* @escapeNotVerified */ __('Zip/Postal Code') ?>" id="zip" class="input-text form-control validate-zip-international <?= /* @escapeNotVerified */ $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('postcode') ?>"/>
            </div>
        </div>
        <div class="field country required">
            <div class="control form-group">
                <label class="label" for="country"><span><?= /* @escapeNotVerified */ __('Country') ?></span></label>
                <?= $block->getCountryHtmlSelect() ?>
            </div>
        </div>

        <?php $userDefinedAttributes = $block->getLayout()->getBlock('customer_form_address_user_attributes'); ?>
        <?php if ($userDefinedAttributes):?>
            <?= $userDefinedAttributes->setShowContainer(false)->toHtml() ?>
        <?php endif;?>
        <?php if ($block->isDefaultBilling()): ?>
            <div class="message info">
                <span><?= /* @escapeNotVerified */ __("This is your default billing address.") ?></span>
            </div>
        <?php elseif ($block->canSetAsDefaultBilling()): ?>
        <div class="field choice set billing">
            <div class="label custom-control custom-checkbox justify-content-start">
                <input type="checkbox" name="default_billing" id="primary_billing" class="custom-control-input">
                <label for="primary_billing" class="custom-control-label"><?= /* @escapeNotVerified */ __('Use as my default billing address') ?></label>
            </div>
        </div>
        <?php else: ?>
            <input type="hidden" name="default_billing" value="1"/>
        <?php endif; ?>

        <?php if ($block->isDefaultShipping()): ?>
            <div class="message info">
                <span><?= /* @escapeNotVerified */ __("This is your default shipping address.") ?></span>
            </div>
        <?php elseif ($block->canSetAsDefaultShipping()): ?>
            <div class="field choice set shipping">
                <div class="label custom-control custom-checkbox justify-content-start">
                    <input type="checkbox" name="default_shipping" id="primary_shipping" class="custom-control-input">
                    <label for="primary_shipping" class="custom-control-label"><?= /* @escapeNotVerified */ __('Use as my default shipping address') ?></label>
                </div>
            </div>
        <?php else: ?>
            <input type="hidden" name="default_shipping" value="1"/>
        <?php endif; ?>
    </fieldset>
    <div class="actions-toolbar col-12">
        <div class="primary">
            <button type="submit" class="action submit btn btn-primary" data-action="save-address" title="<?= /* @escapeNotVerified */ __('Save Address') ?>">
                <span><?= /* @escapeNotVerified */ __('Save Address') ?></span>
            </button>
        </div>
        <a class="action back" href="<?= $block->escapeUrl($block->getBackUrl()) ?>">
            <span><?= /* @escapeNotVerified */ __('Back') ?></span>
        </a>
    </div>
</form>
<script type="text/x-magento-init">
    {
        "#form-validate": {
            "addressValidation": {}
        },
        "#country": {
            "regionUpdater": {
                "optionalRegionAllowed": <?= /* @escapeNotVerified */ ($block->getConfig('general/region/display_all') ? 'true' : 'false') ?>,
                "regionListId": "#region_id",
                "regionInputId": "#region",
                "postcodeId": "#zip",
                "form": "#form-validate",
                "regionJson": <?= /* @escapeNotVerified */ $this->helper('Magento\Directory\Helper\Data')->getRegionJson() ?>,
                "defaultRegion": "<?= /* @escapeNotVerified */ $block->getRegionId() ?>",
                "countriesWithOptionalZip": <?= /* @escapeNotVerified */ $this->helper('Magento\Directory\Helper\Data')->getCountriesWithOptionalZip(true) ?>
            }
        }
    }
</script>
