<?php

/**
 * @author    Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

?>
<?php /** @var \Magento\Backend\Block\Template $block */ ?>
<div class="restricted-cookies">
    <div class="show-button -horizontal">
        <a href="<?= $block->getUrl('*/*/set/', ['_current' => true]) ?>">
            <button
                id="restricted-info-set-cookie"
                title="<?= $block->escapeHtml(__('Set Cookie')) ?>"
                class="button">
                <?= $block->escapeHtml(__('Set Cookie')) ?>
            </button>
        </a>
    </div>
</div>
