<?php

/**
 * @author    Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

?>
<?php /** @var \Magento\Backend\Block\Template $block */ ?>
<?php $cookieModel = $block->getViewModelCookie() ?>
<div class="admin__data-grid-wrap">
    <table class="data-grid">
        <thead>
        <tr>
            <th class="data-grid-th">Cookie</th>
            <th class="data-grid-th">Value</th>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($cookieModel->getCookies() as $name => $value): ?>
            <tr>
                <td class="data-row"><?= $name ?></td>
                <td class="data-row"><?= $value ?></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>