<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2020 Amasty (https://www.amasty.com)
 * @package Amasty_ShopbyBrand
 */
?>
<?php
/** phpcs:ignoreFile */
$class = 'amshopby-morefrom';
$image = 'am_brand_more_from_image';
/* @var $block \Amasty\ShopbyBrand\Block\Catalog\Product\ProductList\MoreFrom */
$title = $block->getTitle();
$items = $block->getItemCollection();

$showAddTo = true;
$showCart = false;
$templateType = null;
$description = false;
?>

<section class="block products-slider container-fluid <?= /* @noEscape */ $class ?>">
    <h2 class="products-slider__title section-title h1" id="block-<?= /* @noEscape */ $class ?>-heading" role="heading" aria-level="2">
        <small><?= __('FEATURED PRODUCTS') ?></small>
        <?= $block->escapeHtml($title) ?>
    </h2>
    <div class="products-slider__content block-content content" aria-labelledby="block-<?= /* @noEscape */ $class ?>-heading">
        <div class="products wrapper grid products-grid products-morefrom">
            <ol class="product__items row products list items product-items">
                <?php foreach ($items as $item) : ?>
                    <li class="product__item product--grid col-6 col-lg-3 item product product-item">

                        <div class="product__inner">
                            <div class="product__info product-item-info">
                                <div class="product__image">
                                    <?= /* @noEscape */ '<!-- ' . $image . '-->' ?>
                                    <a href="<?= $block->escapeUrl($block->getProductUrl($item)) ?>"
                                       class="product__photo product photo product-item-photo">
                                        <?= $block->getImage($item, $image)->toHtml() ?>
                                    </a>
                                </div>
                                <div class="product__details product details product-item-details">
                                    <?php if ($showAddTo || $showCart) : ?>
                                        <div class="product__actions product actions product-item-actions">
                                            <?php if ($showCart) : ?>
                                                <div class="actions__primary actions-primary">
                                                    <?php if ($item->isSaleable()) : ?>
                                                        <?php if ($item->getTypeInstance()->hasRequiredOptions($item)) : ?>
                                                            <button class="action tocart primary btn btn-primary btn-block"
                                                                    data-mage-init='{"redirectUrl": {"url": "<?= $block->escapeUrl($block->getAddToCartUrl($item)) ?>"}}'
                                                                    type="button"
                                                                    title="<?= /* @noEscape */ __('Add to Cart') ?>">
                                                                <span><?= /* @noEscape */ __('Add to Cart') ?></span>
                                                            </button>
                                                        <?php else : ?>
                                                            <?php
                                                            $postData = $block->getPostHelper()->getPostData($block->getAddToCartUrl($item), ['product' => $item->getEntityId()])
                                                            ?>
                                                            <button class="action tocart primary btn btn-primary
                                                            btn-block"
                                                                    data-post='<?= /* @noEscape */ $postData ?>'
                                                                    type="button"
                                                                    title="<?= /* @noEscape */ __('Add to Cart') ?>">
                                                                <span><?= /* @noEscape */ __('Add to Cart') ?></span>
                                                            </button>
                                                        <?php endif; ?>
                                                    <?php endif; ?>
                                                    <div data-role="add-to-links" class="actions__secondary actions-secondary d-none">
                                                        <?php if ($block->getWishlistHelper()->isAllow()) : ?>
                                                            <a href="#"
                                                               class="action towishlist"
                                                               title="<?= $block->escapeHtml(__('Add to Wish List')); ?>"
                                                               aria-label="<?= $block->escapeHtml(__('Add to Wish List')); ?>"
                                                               data-post='<?= /* @noEscape */ $block->getAddToWishlistParams($item); ?>'
                                                               data-action="add-to-wishlist"
                                                               role="button">
                                                                <span><?= /* @noEscape */ __('Add to Wish List') ?></span>
                                                            </a>
                                                        <?php endif; ?>
                                                        <a href="#"
                                                           class="action tocompare"
                                                           title="<?= $block->escapeHtml(__('Add to Compare')); ?>"
                                                           aria-label="<?= $block->escapeHtml(__('Add to Compare')); ?>"
                                                           data-post='<?= /* @noEscape */ $block->getCompareHelper()->getPostDataParams($item); ?>'
                                                           role="button">
                                                            <span><?= /* @noEscape */ __('Add to Compare') ?></span>
                                                        </a>
                                                    </div>
                                                </div>
                                            <?php endif; ?>

                                            <?php if ($showAddTo && ($addToBlock = $block->getChildBlock('addto'))) : ?>
                                                <div class="secondary-addto-links actions-secondary d-none" data-role="add-to-links">
                                                    <?= /* @noEscape */ $addToBlock->setProduct($item)->getChildHtml(); ?>
                                                </div>
                                            <?php endif; ?>
                                        </div>
                                    <?php endif; ?>

                                    <h3 class="product__name product name product-item-name">
                                        <a class="product-item-link"
                                           title="<?= $block->escapeHtml($item->getName()) ?>"
                                           href="<?= $block->escapeUrl($block->getProductUrl($item)) ?>">
                                            <?= $block->escapeHtml($item->getName()) ?>
                                        </a>
                                    </h3>

                                    <div class="product__price">
                                        <?= /* @noEscape */ $block->getProductPrice($item) ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                <?php endforeach ?>
            </ol>
        </div>
    </div>
</section>
