<!--
  ~ @author Interactiv4 Team
  ~ @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
  -->
<li class="minicart__item item product product-item" data-role="product-item">
    <div class="item__inner product-inner">
        <!-- ko if: product_has_url -->
        <a data-bind="attr: {href: product_url, title: product_name}" tabindex="-1" class="item__photo product-item-photo">
            <!-- ko foreach: $parent.getRegion('itemImage') -->
            <!-- ko template: {name: getTemplate(), data: item.product_image} --><!-- /ko -->
            <!-- /ko -->
        </a>
        <!-- /ko -->
        <!-- ko ifnot: product_has_url -->
        <span class="item__photo product-item-photo">
            <!-- ko foreach: $parent.getRegion('itemImage') -->
            <!-- ko template: {name: getTemplate(), data: item.product_image} --><!-- /ko -->
            <!-- /ko -->
        </span>
        <!-- /ko -->

        <div class="item__details product-item-details">
            <span class="item__name product-item-name">
                <!-- ko if: product_has_url -->
                <a data-bind="attr: {href: product_url}, html: product_name"></a>
                <!-- /ko -->
                <!-- ko ifnot: product_has_url -->
                <!-- ko html: product_name --><!-- /ko -->
                <!-- /ko -->
            </span>

            <div class="item__options product options">
                <!-- ko if: options.length -->
                <span data-role="title" class="toggle"></span>
                <div class="product options list">
                    <!-- ko foreach: { data: options, as: 'option' } -->
                    <div class="option">
                        <span class="label"><!-- ko text: option.label --><!-- /ko --></span>
                        <span class="values">
                        <!-- ko if: Array.isArray(option.value) -->
                        <span data-bind="html: option.value.join('<br>')"></span>
                            <!-- /ko -->
                            <!-- ko ifnot: Array.isArray(option.value) -->
                        <span data-bind="html: option.value"></span>
                            <!-- /ko -->
                    </span>
                    </div>
                    <!-- /ko -->
                </div>
                <!-- /ko -->
            </div>

            <div class="item__qty">
<!--                <span data-bind="i18n: qty"></span>
                <span>x</span>-->
                <div class="details-qty qty">
                    <label class="label d-none" data-bind="i18n: 'Qty', attr: {
                           for: 'cart-item-'+item_id+'-qty'}"></label>
                    <input data-bind="attr: {
                           id: 'cart-item-'+item_id+'-qty',
                           'data-cart-item': item_id,
                           'data-item-qty': qty,
                           'data-cart-item-id': product_sku
                           }, value: qty"
                           type="number"
                           size="4"
                           class="item-qty cart-item-qty form-control">
                    <button data-bind="attr: {
                           id: 'update-cart-item-'+item_id,
                           'data-cart-item': item_id,
                           title: $t('Update')
                           }"
                            class="update-cart-item btn btn-icon btn-icon-sm"
                            style="display: none">
                        <i class="module-icon">
                            <svg class="icon icon-sm ico-reload"><use data-bind="attr: { 'xlink:href': require.toUrl('') + 'images/icons-sprite.svg#ico-reload' }" xlink:href=''></use></svg>
                        </i>
                    </button>
                </div>
            </div>

            <div class="item__pricing product-item-pricing price-box">
                <!-- ko if: canApplyMsrp -->
                <div class="details-map">
                    <span class="label" data-bind="i18n: 'Price'"></span>
                    <span class="value" data-bind="i18n: 'See price before order confirmation.'"></span>
                </div>
                <!-- /ko -->
                <!-- ko ifnot: canApplyMsrp -->
                <!-- ko foreach: $parent.getRegion('priceSidebar') -->
                <!-- ko template: {name: getTemplate(), data: item.product_price, as: 'price'} --><!-- /ko -->
                <!-- /ko -->
                <!-- /ko -->
            </div>

            <div class="item__actions product actions">
                <div class="secondary">
                    <a href="#" data-bind="attr: {'data-cart-item': item_id, title: $t('Remove item')}"
                       class="action delete">
                        <i class="module-icon">
                            <svg class="icon icon-sm ico-trash"><use data-bind="attr: { 'xlink:href': require.toUrl('') + 'images/icons-sprite.svg#ico-trash' }" xlink:href=''></use></svg>
                        </i>
                        <span class="sr-only" data-bind="i18n: 'Remove'"></span>
                    </a>
                </div>
            </div>

        </div>
    </div>
</li>
