<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Checkout\Block\Cart\Item\Renderer\Actions\Remove */
?>
<a href="#"
   title="<?= $block->escapeHtml(__('Remove')) ?>"
   class="action action-delete body2"
   data-post='<?= /* @escapeNotVerified */ $block->getDeletePostJson() ?>'>
    <i class="module-icon">
        <svg class="icon icon-sm ico-close"><use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-close"></use></svg>
    </i>
    <span>
        <?= /* @escapeNotVerified */ __('Remove') ?>
    </span>
</a>
