<!--
  ~ @author Interactiv4 Team
  ~ @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
  -->
<!--@subject {{trans "Contact Form"}} @-->
<!--@vars {
"var data.comment":"Comment",
"var data.email":"Sender Email",
"var data.name":"Sender Name",
"var data.telephone":"Sender Telephone"
} @-->

{{template config_path="design/email/header_template"}}
<p class="greeting">{{trans "Thanks for contacting us!"}}</p>
<p>{{trans "Hello "}}{{var data.name}},</p>
<p>{{trans "You recently gave us some really helpful comments about a product. We pride ourselves in proving the best possible service for our customers, so our customer support service is working with your request."}}</p>
<p>{{trans "Thanks for being an awesome customer!"}}</p>
<p>{{trans "We appreciate your time and we value your feedback."}}</p>
<p class="goodbye">{{trans "Best wishes,<br>%store_name" store_name=$store.getFrontendName() |raw}} {{trans "Team."}}</p>
{{template config_path="design/email/footer_template"}}
