<?php
/**
 * @author Interactiv4 Team
 * @copyright  Copyright © Interactiv4 (https://www.interactiv4.com)
 */

/* @var $block \Interactiv4\SliderManager\Block\Slider */
?>

<?php
$slide = 1;
?>
<section id="slider-<?= $this->getSliderId() ?>" class="module-slider distributor">
    <ul class="module-slider__items">
        <?php foreach ($block->getSliderBanners() as $banner): ?>
            <?php
            $title = $banner->getTitle();
            $subtitle = $banner->getSubtitle();
            $extra = $banner->getExtra();
            $button = $banner->getButton();
            $url = $banner->getUrl();
            $type = $banner->getType();
            ?>
            <li class="module-slider__item item item--<?= $type ?> slide-<?= $slide++ ?>">
                <div class="item__background">
                    <picture>
                        <?php if ($banner->getResponsiveFile()): ?>
                            <source srcset="<?= $block->getUrlPathImage($banner->getResponsiveFile()); ?>"
                                    media="(max-width: 768px)">
                        <?php endif ?>
                        <?php if ($banner->getImageFile()): ?>
                            <source srcset="<?= $block->getUrlPathImage($banner->getImageFile()); ?>">
                            <img src="<?= $block->getUrlPathImage($banner->getBannerUrl() . $banner->getImageFile()); ?>">
                        <?php endif ?>
                    </picture>
                </div>
                <?php if ($title || $subtitle || $extra): ?>
                    <div class="item__container container-fluid">
                        <div class="item__placeholder <?= $banner->getData('config') ?>">
                            <div class="item__inner">
                                <h2 class="item__title h1">
                                    <?= $title ?>
                                </h2>
                                <div class="item__subtitle body1">
                                    <?= $subtitle ?>
                                </div>
                                <div class="item__extra">
                                    <?= $extra ?>
                                </div>
                                <?php if ($button): ?>
                                    <div class="item__button">
                                        <a href="<?= $url ?>" class="btn btn-primary"><?= $button ?></a>
                                    </div>
                                <?php endif ?>
                            </div>
                        </div>
                    </div>
                <?php endif; ?>
            </li>
        <?php endforeach; ?>
    </ul>
</section>

<script type="text/javascript">
    require(['sliderManager'], function (init) {
        var speed = <?=$block->getBannerTime()?>;
        var config = {
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: true,
            dots: true,
            fade: true,
            autoplay: true,
            autoplaySpeed: speed * 1000,
            prevArrow: '<button type="button" class="slick-prev">' +
                '<i class="module-icon">' +
                '   <svg class="icon icon-sm ico-chevron-left"><use xlink:href="<?= $block->getViewFileUrl("images/icons-sprite.svg") ?>#ico-chevron-left"></use></svg>' +
                '</i>' +
                '</button>',
            nextArrow: '<button type="button" class="slick-next">' +
                '<i class="module-icon">' +
                '   <svg class="icon icon-sm ico-chevron-right"><use xlink:href="<?= $block->getViewFileUrl("images/icons-sprite.svg") ?>#ico-chevron-right"></use></svg>' +
                '</i>' +
                '</button>',
            responsive: [
                {
                    breakpoint: 992,
                    settings: {
                        arrows: false,
                    }
                }
            ]
        };

        init.createSlider('#slider-' + <?= $block->getSliderId() ?> +' .module-slider__items', config);
    });
</script>
