<?php
/**
 * @author Interactiv4 Team
 * @copyright  Copyright © Interactiv4 (https://www.interactiv4.com)
 */

/* @var $block \Interactiv4\SliderManager\Block\Slider */
?>

<section id="slider-<?= $this->getSliderId() ?>" class="module-slider">
    <ul class="module-slider__items">
        <?php foreach ($block->getSliderBanners() as $banner): ?>
            <?php
            $title = $banner->getTitle();
            $subtitle = $banner->getSubtitle();
            $extra = $banner->getExtra();
            $button = $banner->getButton();
            $url = $banner->getUrl();
            $type = $banner->getType();
            $image = $block->getUrlPathImage($banner->getBannerUrl() . $banner->getImageFile());
            ?>
            <li class="module-slider__item item item--<?= $type ?>">
                <div class="item__background" style="background-image: url(<?= $image ?>)"
                     data-url-mobile="<?= $block->getUrlPathImage($banner->getBannerUrl() . $banner->getResponsiveFile()) ?>"
                     data-url-desktop="<?= $block->getUrlPathImage($banner->getBannerUrl() . $banner->getImageFile()) ?>"></div>
                <?php if ($title || $subtitle || $extra): ?>
                    <div class="item__container container-fluid">
                        <div class="item__placeholder <?= $banner->getData('config') ?>">
                            <div class="item__inner">
                                <h2 class="item__title display-1">
                                    <?= $title ?>
                                </h2>
                                <div class="item__subtitle h1">
                                    <?= $subtitle ?>
                                </div>
                                <div class="item_extra">
                                    <?= $extra ?>
                                </div>
                                <?php if ($button): ?>
                                    <div class="item__button">
                                        <a href="<?= $url ?>" class="btn btn-primary"><?= $button ?></a>
                                    </div>
                                <?php endif ?>
                            </div>
                        </div>
                    </div>
                <?php endif; ?>
            </li>
        <?php endforeach; ?>
    </ul>
</section>

<script type="text/javascript">
    require([
        'sliderManager'
    ], function (init) {
        var speed = <?=$block->getBannerTime()?>;
        var config = {
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: true,
            dots: true,
            fade: true,
            autoplay: true,
            autoplaySpeed: speed * 1000,
        };

        init.setBackground();

        init.createSlider('#slider-' + <?= $this->getSliderId() ?> +' .module-slider__items', config);
    });
</script>
