<!--
  ~ @author Interactiv4 Team
  ~ @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
  -->
<div class="payment-method-content">
    <if args="paymentMethodSelect()">
        <div class="info-name">
            <text args="paymentMethodSelect()"/>
        </div>
    </if>
</div>