<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
?>

<?php $_product = $block->getProduct(); ?>
<?php $buttonTitle = __('Add to Cart'); ?>
<?php if ($_product->isSaleable()): ?>
    <div class="box-tocart">
        <?php if ($block->shouldRenderQuantity()): ?>
            <div class="qty-selector field qty">
                <label class="label" for="qty"><span><?= /* @escapeNotVerified */ __('Select quantity:') ?></span></label>
                <div class="qty-selector__control">
                    <button class="qty-selector__less qtyminus" data-field="qty"></button>
                    <input name="qty"
                           data-field="qty"
                           min="1"
                           id="qty"
                           maxlength="12"
                           value="<?= /* @escapeNotVerified */ $block->getProductDefaultQty() * 1 ?>"
                           title="<?= /* @escapeNotVerified */ __('Qty') ?>"
                           class="qty-selector__qty qty"
                           data-validate="<?= $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                    />
                    <button class="qty-selector__more qtyplus" data-field="qty"></button>
                </div>
            </div>
        <?php endif; ?>
        <div class="actions">
            <button type="submit"
                    title="<?= /* @escapeNotVerified */ $buttonTitle ?>"
                    class="action primary tocart btn btn-primary btn-sm-block"
                    id="product-addtocart-button"
            >
                <span><?= /* @escapeNotVerified */ $buttonTitle ?></span>
            </button>
            <?= $block->getChildHtml('', true) ?>
        </div>
        <script>
            require([
                'mwQtySelector'
            ], function (module) {
                module.initQtySelector();
            });
        </script>
    </div>
<?php endif; ?>
<?php if (!$_product->isSaleable()): ?>
    <div class="box-tocart">
        <a title="<?= __('No saleable'); ?>"
           class="action primary tocart btn btn-primary btn-sm-block disabled">
            <span><?= __('Out of stock'); ?></span>
        </a>
    </div>
<?php endif; ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/js/validate-product": {}
        }
    }
</script>
<?php if (!$block->isRedirectToCartEnabled()) : ?>
    <script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "catalogAddToCart": {
                "bindSubmit": false
            }
        }
    }
</script>
<?php endif; ?>
