<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// phpcs:disable Magento2.Templates.ThisInTemplate.FoundThis

/**
 * Product additional attributes template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Attributes
 */
?>
<?php
    $_helper = $this->helper(Magento\Catalog\Helper\Output::class);
    $_product = $block->getProduct();
?>
<?php if ($_additional = $block->getAdditionalData()):?>
    <div class="additional-attributes-wrapper table-wrapper">
        <div class="data table additional-attributes" id="product-attribute-specs-table">
            <h3 class="additional-attributes--title h4">
                <?= $block->escapeHtml(__('Features')) ?>
            </h3>
            <div class="additional-attributes--content">
                <?php $i = 0 ?>
                <div class="attributes-container">
                    <?php foreach ($_additional as $_data):?>
                        <?php $i++;?>
                        <div class="additional-attributes--atribute">
                            <div class="label" class="label" scope="row" scope="row"><h4><?= $block->escapeHtml($_data['label']) ?></h4></div>
                            <div class="data" data-th="<?= $block->escapeHtmlAttr($_data['label']) ?>"><?= /* @noEscape */ $_helper->productAttribute($_product, $_data['value'], $_data['code']) ?></div>
                        </div>
                        <?php if($i == 6):?>
                        <?php $i = 0;?>
                            </div><div class="attributes-container">
                        <?php endif;?>
                <?php endforeach; ?>
                </div>
            </div>
        </div>
    </div>
<?php endif;?>
