<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

// @codingStandardsIgnoreFile

?>
<?php if ($detailedInfoGroup = $block->getGroupSortedChildNames('detailed_info', 'getChildHtml')):?>
    <div class="product__extra col-12">
        <?php $layout = $block->getLayout(); ?>
        <div class="tabs" data-mage-init='{"tabs":{"openedState":"active"}}'>
            <div class="tabs__heading">
                <?php foreach ($detailedInfoGroup as $name):?>
                    <?php
                    $html = $layout->renderElement($name);
                    if (!trim($html)) {
                        continue;
                    }
                    $alias = $layout->getElementAlias($name);
                    $label = $block->getChildData($alias, 'title');
                    ?>
                    <h2 class="tabs__title h4"
                         aria-labeledby="tab-label-<?= /* @escapeNotVerified */ $alias;?>-title"
                         data-role="collapsible" id="tab-label-<?= /* @escapeNotVerified */ $alias;?>">
                        <a class="tabs__switch"
                           tabindex="-1"
                           data-toggle="switch"
                           href="#<?= /* @escapeNotVerified */ $alias; ?>"
                           id="tab-label-<?= /* @escapeNotVerified */ $alias;?>-title">
                            <?= /* @escapeNotVerified */ $label; ?>
                        </a>
                    </h2>
                <?php endforeach;?>
            </div>
            <?php foreach ($detailedInfoGroup as $name):?>
                <?php
                $html = $layout->renderElement($name);
                if (!trim($html)) {
                    continue;
                }
                $alias = $layout->getElementAlias($name);
                ?>
                <div class="tabs__content" id="<?= /* @escapeNotVerified */ $alias; ?>" data-role="content">
                    <?= /* @escapeNotVerified */ $html; ?>
                </div>
            <?php endforeach;?>
        </div>
    </div>
<?php endif; ?>
