<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

// @codingStandardsIgnoreFile

/**
 * @var $block \Magento\Catalog\Block\Product\View
 */
?>
<?php $_product = $block->getProduct(); ?>

<?php if( $_product->getPrice() != $_product->getFinalPrice()): ?>
    <div class="product-item-labels">
        <div class="label label--discounted"><?= __('Offer') ?></div>
    </div>
<?php endif; ?>
