<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php $_product = $block->getProduct() ?>
<?php if ($block->canEmailToFriend()): ?>
<li>
    <a href="<?= /* @escapeNotVerified */ $this->helper('Magento\Catalog\Helper\Product')->getEmailToFriendUrl($_product) ?>"
       class="action mailto friend">
        <i class="module-icon">
            <svg class="icon ico-envelope"><use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-envelope"></use></svg>
        </i>
        <span class="sr-only"><?= /* @escapeNotVerified */ __('Email') ?></span>
    </a>
</li>
<?php endif; ?>
