<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

// @codingStandardsIgnoreFile

/** @var Magento\Catalog\Block\Product\View $block */
?>

<?php $productSku = $block->getProduct()->getSku()?>
<button class="more-info__button" data-event="check-availability" data-sku="<?= $productSku ?>">
    <i class="module-icon">
        <svg class="icon ico-info-circle"><use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-info-circle-white"></use></svg>
    </i>
    <?= __('More info')?>
</button>
