<!--
  ~ @author Interactiv4 Team
  ~ @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
  -->

<aside role="dialog"
       class="modal-<%- data.type %> <%- data.modalClass %>
               <% if(data.innerScroll){ %><%- data.innerScrollClass %><% } %>"
       <% if(data.title){ %> aria-labelledby="modal-title-<%- data.id %>"<% } %>
       aria-describedby="modal-content-<%- data.id %>"
       data-role="modal"
       data-type="<%- data.type %>"
       tabindex="0">
    <div data-role="focusable-start" tabindex="0"></div>
    <div class="modal-inner-wrap"
         data-role="focusable-scope">
        <header class="modal-header">
            <% if(data.title || data.subTitle){ %>
            <h2 id="modal-title-<%- data.id %>" class="modal-title"
                data-role="title">
                <% if(data.title){ %>
                    <%= data.title %>
                <% } %>

                <% if(data.subTitle){ %>
                <span class="modal-subtitle"
                      data-role="subTitle">
                    <%= data.subTitle %>
                </span>
                <% } %>
            </h2>
            <% } %>
            <button
                class="action-close"
                data-role="closeBtn"
                type="button">
                <span class="sr-only"><%= data.closeText %></span>
                <i class="module-icon">
                    <svg class="icon ico-close">
                        <use xlink:href="<%- require.toUrl('') + 'images/icons-sprite.svg#ico-close'%>"></use>
                    </svg>
                </i>
            </button>
            <% if(data.buttons.length > 0){ %>
            <div class="page-main-actions">
                <div class="page-actions">
                    <div class="page-actions-buttons">
                        <% _.each(data.buttons, function(button) { %>
                        <button
                            class="<%- button.class %>"
                            type="button"
                            data-role="action"><span><%= button.text %></span>
                        </button>
                        <% }); %>
                    </div>
                </div>
            </div>
            <% } %>
        </header>
        <div id="modal-content-<%- data.id %>" class="modal-content" data-role="content"></div>
    </div>
    <div data-role="focusable-end" tabindex="0"></div>
</aside>
