<!--
  ~ @author Interactiv4 Team
  ~ @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
  -->
<!-- ko if: (isVisible()) -->
<div class="opc-sidebar-placeOrder">
    <div class="actions-toolbar">
        <div class="primary">
            <button class="action primary checkout btn btn-primary btn-block btn-with-icon"
                    type="submit"
                    data-bind="click: placeOrderTrigger,
                               attr: {title: $t('Place Order')}">
                <i class="module-icon">
                    <svg class="icon ico-lock">
                        <use data-bind="attr: { 'xlink:href': require.toUrl('') + 'images/icons-sprite.svg#ico-lock' }" xlink:href=''></use>
                    </svg>
                </i>
                <span data-bind="i18n: 'Place Order'"></span>
            </button>
        </div>
    </div>
</div>
<!--/ko-->