@font-face{
    font-family:'Open Sans';
    src:url(../fonts/OpenSans.eot);
    src:url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'),url(../fonts/OpenSans.woff2) format('woff2'),url(../fonts/OpenSans.woff) format('woff'),url(../fonts/OpenSans.ttf) format('truetype'),url('../fonts/OpenSans.svg#svgFontName') format('svg');
    font-weight:400;
    font-style:normal;
    font-display:swap
}
@font-face{
    font-family:'Open Sans';
    src:url(../fonts/OpenSans-Semibold.eot);
    src:url('../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),url(../fonts/OpenSans-Semibold.woff2) format('woff2'),url(../fonts/OpenSans-Semibold.woff) format('woff'),url(../fonts/OpenSans-Semibold.ttf) format('truetype'),url('../fonts/OpenSans-Semibold.svg#svgFontName') format('svg');
    font-weight:600;
    font-style:normal;
    font-display:swap
}
body{
    background:#fff;
    color:#000;
    font-family:"Open Sans",sans-serif;
    font-size:14px;
    line-height:1.4;
    margin:0;
    padding:0;
    text-align:left
}
main{
    display:block
}
img{
    border:0
}
a{
    color:#1979c3;
    text-decoration:underline
}
a:hover{
    text-decoration:none
}
h1{
    font-size:30px;
    font-weight:700;
    margin:0 0 20px
}
h2{
    font-size:20px;
    font-weight:700;
    margin:0 0 10px
}
input[type=text],textarea{
    box-sizing:border-box;
    background:#fff;
    border:1px solid #c2c2c2;
    border-radius:1px;
    width:100%;
    font-size:14px;
    font-family:Arial,Helvetica,sans-serif;
    line-height:1.42857143;
    background-clip:padding-box;
    vertical-align:baseline
}
input[type=text]{
    height:32px;
    padding:0 9px
}
textarea{
    height:auto;
    padding:10px;
    resize:vertical
}
input[type=text]:focus,textarea:focus{
    box-shadow:0 0 3px 1px #68a8e0
}
button{
    background:#1979c3;
    border:none;
    border-radius:3px;
    color:#fff;
    cursor:pointer;
    display:inline-block;
    font-size:14px;
    font-weight:700;
    line-height:16px;
    padding:7px 15px;
    text-align:center
}
button:hover{
    background:#006bb4
}
p{
    margin:0 0 10px
}
ol,ul{
    list-style:none
}
.page-main{
    padding:20px 30px
}
.trace{
    background:#f1f1f1;
    min-height:250px;
    overflow:auto;
    width:100%
}
.message{
    border:1px solid;
    background-position:10px 11px;
    background-repeat:no-repeat;
    margin:20px 0;
    padding:10px 20px 10px 35px
}
.error{
    border-color:#b30000;
    background-color:#fae5e5;
    background-image:url(../images/i_msg-error.gif);
    color:#b30000
}
.success{
    border-color:#006400;
    background-color:#e5efe5;
    background-image:url(../images/i_msg-success.gif);
    color:#006400
}
.info{
    border-color:#6f4400;
    background-color:#fdf0d5;
    background-image:url(../images/i_msg-note.gif);
    color:#6f4400
}
.fieldset{
    border:0;
    margin:0 0 20px;
    padding:0
}
.fieldset .legend{
    box-sizing:border-box;
    float:left;
    font-size:20px;
    line-height:1.2;
    margin:0 0 25px;
    padding:0
}
.fieldset .legend+br{
    display:block;
    clear:both;
    height:0;
    overflow:hidden;
    visibility:hidden
}
.fieldset:last-child{
    margin-bottom:0
}
.fieldset:after{
    content:attr(data-hasrequired);
    color:#e02b27;
    display:block;
    font-size:12px;
    letter-spacing:normal;
    margin:10px 0 0;
    word-spacing:normal
}
.field{
    margin:0 0 20px
}
.label{
    font-weight:700
}
.label:after{
    content:"*";
    font-size:12px;
    color:#e02b27;
    margin:0 0 0 5px
}
.page{
    display:flex;
    flex-direction:column;
    min-height:100vh
}
.content{
    display:flex;
    justify-content:center;
    flex-grow:1;
    margin:0 auto;
    max-width:960px
}
.header-container{
    width:100%;
    padding-top:8px;
    padding-bottom:8px;
    background-color:#FFF;
    box-shadow:0 0 20px rgba(0,0,0,.1);
    z-index:1
}
.header img{
    width:64px;
    display:block
}
.page-main{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-grow:1;
    background-color:#F7F7F7
}
.page-main .content-message{
    text-align:center;
    font-size:16px;
    line-height:1.5;
    text-transform:none;
    font-style:normal;
    width:100%;
    max-width:620px;
    padding:72px 20px;
    box-shadow:0 0 20px rgba(0,0,0,.1);
    background-color:#FFF
}
.page-main .content-message > *:last-child {
    margin-bottom: 0
}
.page-main .content-message .title{
    font-size:32px;
    font-weight:600;
    text-transform:none;
    font-style:normal;
    margin-bottom:24px
}
.page-main .content-message .text{
    max-width:466px;
    margin:0 auto 24px
}
.page-main .content-message .text-bottom{
    font-weight:600;
}
.footer-container{
    padding:18px;
    background-color:#000;
    color:#F7F7F7;
    font-size:12px;
    width:100%;
    text-align:center;
    box-sizing:border-box
}
