@include media-breakpoint-up(md) {
  .bg-right::after {
    content: '';
    right: 0;
    top: 0;
    bottom: 0;
    left: 50%;
    background: $background-1;
    position: fixed;
    z-index: -1;
  }
}
