.breadcrumbs {
  margin-top: 16px;
  margin-bottom: 16px;
  min-height: 18px;
  .items {
    margin-bottom: 0;
    display: flex;
  }
  .item {
    @extend .body3;
    display: inline-flex;
    align-items: center;
    &:not(:last-child) {
      &::after {
        content: '\2022';
        margin: 0 6px;
      }
    }
  }
}
