.btn {
  min-width: 264px;
  text-transform: uppercase;
  letter-spacing: 1px;

  &-primary {
    background-color: $secondary;
    border-color: $secondary;

    &:hover:not([disabled]) {
      background-color: $color-custom-3;
      border-color: $color-custom-3;
      box-shadow: $box-shadow-3;
    }

    &.disabled,
    &:disabled {
      background-color: $grey-light;
      border-color: $grey-light;
      pointer-events: none;
    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
      background-color: $color-custom-3;
      border-color: $hover-border;
    }

    &:focus {
      background-color: $color-custom-3;
      border-color: $hover-border;
    }
  }

  &-secondary {
    background-color: $white;
    border-color: $color-custom-1;
    color: $color-custom-1;

    &:hover:not([disabled]) {
      background-color: $white;
      border-color: $color-custom-1;
      color: $color-custom-1;
      box-shadow: $box-shadow-3;
    }

    &.disabled,
    &:disabled {
      background-color: inherit;
      color: $grey-light;
      border-color: $grey-light;
      pointer-events: none;
    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
      background-color: $white;
      color: $color-custom-1;
    }

    &:focus {
      color: $color-custom-1;
      background-color: $white;
    }
  }

  &-tertiary {
    color: $secondary;
    padding: 0 16px 0 0;
    min-width: inherit;

    &:hover:not([disabled]) {
      color: $color-custom-3;
    }

    &.disabled,
    &:disabled {
      color: $grey-light;
      pointer-events: none;
    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
      color: $color-custom-3;
    }

    &:focus {
      color: $color-custom-3;
    }
  }

  &-icon {
    background-color: $white;
    border-color: $secondary;
    min-width: auto;
    padding: 12px;
    line-height: 0;
    margin-left: 5px;

    .icon {
      fill: $color-custom-1;
    }

    &-sm {
      padding: 7px;
    }
  }

  &-link {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    background-color: transparent;
    padding: 0;
    min-width: inherit;

    &-sm {
      padding: 0;
      text-transform: none;
      text-decoration: underline;

      .module-icon {
        margin-right: 8px;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    &:hover {
      color: $color-custom-3;
      .icon {
        fill: $color-custom-3;
      }
    }

    &-arrow-left {
      &::before {
        margin-left: 16px;
        transform: rotate(180deg);
        @include getIconArrowRight(#{$secondary});
      }

      &:hover {
        &::before {
          @include getIconArrowRight(#{$color-custom-3});
        }
      }
    }

    &-arrow-right {
      &::after {
        margin-left: 16px;
        @include getIconArrowRight(#{$secondary});
      }

      &:hover {
        &::after {
          @include getIconArrowRight(#{$color-custom-3});
        }
      }
    }
  }

  &--show-more-less {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-size-body2;
    text-transform: none;

    &:not([href]) {
      text-decoration: underline;
      &:hover {
        text-decoration: underline;
        color: $color-custom-3;
      }
    }

    &::after {
      content: '';
      background-image: url('../images/icons/ico-chevron-down.svg');
      background-repeat: no-repeat;
      background-size: center;
      background-size: contain;
      width: 6px;
      height: 6px;
      display: inline-block;
      margin-left: 10px;
      @include transition(all, 0.3s);
    }

    &.less {
      &::after {
        background: url('../images/icons/ico-chevron-up.svg') no-repeat center;
      }
    }
  }

  &-sm {
    min-width: auto;
  }

  &-with-icon {
    > * {
      display: inline-flex;
      vertical-align: middle;
    }

    .module-icon {
      margin-right: 4px;

      .icon {
        width: 16px;
        height: 16px;
      }
    }
  }
}

.close {
  opacity: 1;
}

@include media-breakpoint-down(sm) {
  .btn {
    &-sm-block {
      display: block;
      width: 100%;
      text-align: center;
    }
  }
}
