.block-category-link,
.block-category-link-inline {
  margin: 8px 15px 12px;
  display: inline-flex;

  a {
    border: 1px solid $color-custom-1;
    border-radius: $border-radius;
    padding: 12px 32px;
    font-size: $font-size-body2;
    line-height: 24px;
    color: $color-custom-1;
    text-align: center;
    min-width: 225px;
    display: block;

    &:hover {
      text-decoration: none;
      color: $white;
      background-color: $color-custom-1;
    }
  }

  .minicart__empty & {
    margin: 0 7px 12px;
    display: block;

    a {
      display: block;
      width: 100%;
      min-width: auto;
      font-weight: $font-weight-semiBold;
      text-transform: uppercase;
    }
  }
}

.block-category-link {
  display: block;
}


@include media-breakpoint-down(md) {

}