.custom-checkbox,
.checkbox-group {
  .custom-control-label,
  .amform-versiontwo-label {
    @extend .body2;
    cursor: pointer;

    &::before {
    }

    &::after {
      background-size: 70%;
    }

    &:hover {
      &::before {
      }
    }

    a.content_popup_ajax_link {
      text-decoration: underline;
    }
  }

  .custom-control-input {
    &:checked {
      ~ .custom-control-label,
      + .amform-versiontwo-label {
        &::before {
        }
      }
    }
  }

  &--big {
    padding-left: 40px;
    padding-right: 10px;

    .custom-control-label,
    .amform-versiontwo-label {
      line-height: 35px;

      &::before,
      &::after {
        width: 30px;
        height: 30px;
      }
    }
  }
}
