.block-collapsible-nav {
  &-title {
    display: none;
  }

  &-content {
    .nav {
      .item {
        display: flex;
        align-items: center;
        padding: 12px 5px 12px 15px;
        font-size: $font-size-body2;

        a,
        strong {
          flex: 1;
        }
      }
    }
  }

  //icons items and title collapsible mobile
  .title,
  .item {
    &::before {
      content: '';
      width: 16px;
      height: 16px;
      margin-right: 8px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    &.delimiter {
      &::before {
        display: none;
      }
    }

    &.current {
      border-left: 4px solid $blue-dark;
      padding: 12px 5px 12px 11px;

      &::after {
        content: '';
        width: 12px;
        height: 8px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../images/icons-sprite.svg#ico-arrow-right');
      }
    }

    &.account-dashboard {
      &::before {
        background-image: url('../images/icons-sprite.svg#ico-dashboard');
      }
    }

    &.account-orders {
      &::before {
        background-image: url('../images/icons-sprite.svg#ico-cart');
      }
    }

    &.account-invoices {
      &::before {
        background-image: url('../images/icons-sprite.svg#ico-stock');
      }
    }

    &.account-wishlist {
      &::before {
        background-image: url('../images/icons-sprite.svg#ico-wishlist');
      }
    }

    &.account-address {
      &::before {
        background-image: url('../images/icons-sprite.svg#ico-location');
      }
    }

    &.account-edit {
      &::before {
        background-image: url('../images/icons-sprite.svg#ico-customer');
      }
    }

    &.account-reviews {
      &::before {
        background-image: url('../images/icons-sprite.svg#ico-star');
      }
    }

    &.account-newsletter {
      &::before {
        background-image: url('../images/icons-sprite.svg#ico-envelope');
      }
    }

    &.account-logout {
      border-top: 1px solid $grey-light;

      &::before {
        background-image: url('../images/icons-sprite.svg#ico-logout');
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .block-collapsible-nav {
    &-title {
      display: flex;
      background-color: $white;
      height: 48px;
      align-items: center;
      padding: 0 20px;
      border-radius: $border-radius;
      position: relative;

      &:after {
        content: '';
        width: 10px;
        height: 6px;
        background-size: cover;
        background-repeat: repeat;
        background-position: center;
        background-image: url('../images/icons-sprite.svg#ico-chevron-down');
        position: absolute;
        right: 22px;
      }

      &.active {
        border-radius: $border-radius $border-radius 0 0;

        &:after {
          transform: rotate(180deg);
        }
      }
    }

    &-content {
      display: none;
      background-color: $white;
      border-radius: 0 0 $border-radius $border-radius;

      .items {
        padding: 0 20px;

        .item {
          padding: 14px 0;

          &.current {
            display: none;
          }

          &.account-logout {
            border-top: 1px solid $grey-light;
            padding: 22px 0;
            margin-top: 8px;
          }

          &.delimiter {
            display: none;
          }
        }
      }

      &.active {
        display: block;
      }
    }
  }
}
