.custom-control-input {
  position: absolute;
  left: 0;
  z-index: -1; // Put the input behind the label so it doesn't overlay text
  width: $custom-control-indicator-size;
  height: ($font-size-base * $line-height-base + $custom-control-indicator-size) / 2;
  opacity: 0;

  &:checked {
    ~ .custom-control-label,
    + .amform-versiontwo-label {
      &::before {
        color: $custom-control-indicator-checked-color;
        border-color: $custom-control-indicator-checked-border-color;
        @include gradient-bg($custom-control-indicator-checked-bg);
        @include box-shadow($custom-control-indicator-checked-box-shadow);
      }
    }
  }

  &:focus {
    ~ .custom-control-label,
    + .amform-versiontwo-label {
      &::before {
        // the mixin is not used here to make sure there is feedback
        @if $enable-shadows {
          box-shadow: $input-box-shadow, $input-focus-box-shadow;
        } @else {
          box-shadow: $custom-control-indicator-focus-box-shadow;
        }
      }
    }
  }

  &:focus:not(:checked) {
    ~ .custom-control-label,
    + .amform-versiontwo-label {
      &::before {
        border-color: $custom-control-indicator-focus-border-color;
      }
    }
  }

  &:not(:disabled):active {
    ~ .custom-control-label,
    + .amform-versiontwo-label {
      &::before {
        color: $custom-control-indicator-active-color;
        background-color: $custom-control-indicator-active-bg;
        border-color: $custom-control-indicator-active-border-color;
        @include box-shadow($custom-control-indicator-active-box-shadow);
      }
    }
  }

  // Use [disabled] and :disabled to work around https://github.com/twbs/bootstrap/issues/28247
  &[disabled],
  &:disabled {
    ~ .custom-control-label,
    + .amform-versiontwo-label {
      color: $custom-control-label-disabled-color;

      &::before {
        background-color: $custom-control-indicator-disabled-bg;
      }
    }
  }
}

// Custom control indicators
//
// Build the custom controls out of pseudo-elements.
.custom-control-label,
.amform-versiontwo-label {
  position: relative;
  margin-bottom: 0;
  color: $custom-control-label-color;
  vertical-align: top;
  cursor: $custom-control-cursor;
  // Background-color and (when enabled) gradient
  &::before {
    position: absolute;
    top: ($font-size-base * $line-height-base - $custom-control-indicator-size) / 2;
    left: -($custom-control-gutter + $custom-control-indicator-size);
    display: block;
    width: $custom-control-indicator-size;
    height: $custom-control-indicator-size;
    pointer-events: none;
    content: "";
    background-color: $custom-control-indicator-bg;
    border: $custom-control-indicator-border-color solid $custom-control-indicator-border-width;
    @include box-shadow($custom-control-indicator-box-shadow);
  }

  // Foreground (icon)
  &::after {
    position: absolute;
    top: ($font-size-base * $line-height-base - $custom-control-indicator-size) / 2;
    left: -($custom-control-gutter + $custom-control-indicator-size);
    display: block;
    width: $custom-control-indicator-size;
    height: $custom-control-indicator-size;
    content: "";
    background: no-repeat 50% / #{$custom-control-indicator-bg-size};
  }
}

// Checkboxes
//
// Tweak just a few things for checkboxes.
.custom-checkbox,
.checkbox-group {
  .custom-control-label,
  .amform-versiontwo-label {
    &::before {
      @include border-radius($custom-checkbox-indicator-border-radius);
    }
  }

  .custom-control-input {
    &:checked {
      ~ .custom-control-label,
      + .amform-versiontwo-label {
        &::after {
          background-image: escape-svg($custom-checkbox-indicator-icon-checked);
        }
      }
    }
  }

  .custom-control-input {
    &:indeterminate {
      ~ .custom-control-label,
      + .amform-versiontwo-label {
        &::before {
          border-color: $custom-checkbox-indicator-indeterminate-border-color;
          @include gradient-bg($custom-checkbox-indicator-indeterminate-bg);
          @include box-shadow($custom-checkbox-indicator-indeterminate-box-shadow);
        }

        &::after {
          background-image: escape-svg($custom-checkbox-indicator-icon-indeterminate);
        }
      }
    }
  }

  .custom-control-input {
    &:disabled {
      &:checked {
        ~ .custom-control-label,
        + .amform-versiontwo-label {
          &::before {
            background-color: $custom-control-indicator-checked-disabled-bg;
          }
        }
      }

      &:indeterminate {
        ~ .custom-control-label,
        + .amform-versiontwo-label {
          &::before {
            background-color: $custom-control-indicator-checked-disabled-bg;
          }
        }
      }
    }
  }
}

// Radios
//
// Tweak just a few things for radios.
.custom-radio,
.radio-group {
  .custom-control-label,
  .amform-versiontwo-label {
    ::before {
      // stylelint-disable-next-line property-blacklist
      border-radius: $custom-radio-indicator-border-radius;
    }
  }

  .custom-control-input:checked {
    ~ .custom-control-label,
    + .amform-versiontwo-label {
      &::before {
        border-color: $secondary;
      }

      &::after {
        background-color: $color-custom-3;
        background-image: escape-svg($custom-radio-indicator-icon-checked);
      }
    }
  }

  .custom-control-input {
    &:disabled {
      &:checked {
        ~ .custom-control-label,
        + .amform-versiontwo-label {
          &::before {
            background-color: $custom-control-indicator-checked-disabled-bg;
          }
        }
      }
    }
  }
}

.checkbox-group {
  .amform-versiontwo-label {
    display: inline-block;
    padding-left: 20px;

    &:before,
    &:after {
      top: 50%;
      left: 0;
      margin-top: -7px;
    }
  }
}

.radio-group {
  .custom-control-input:checked + .amform-versiontwo-label::after {
    background-image: none;
  }

  .amform-versiontwo-label {
    display: inline-block;
    padding-left: 20px;
    &:before,
    &:after {
      top: 50%;
      left: 0;
    }

    &:before {
      width: 14px;
      height: 14px;
      margin-top: -7px;
    }

    &:after {
      width: 12px;
      height: 12px;
      margin-top: -6px;
    }
  }
}
