.dropdown-links {
  display: flex;
  align-items: center;

  &__content {
    @include dropdownLinks();

    ul {
      &.not-logged {
        li {
          &.authorization-link {
            a {
              &::before {
                background-image: url('../images/icons-sprite.svg#ico-customer');
              }

              &:hover {
                &::before {
                  background-image: url('../images/icons-sprite.svg#ico-customer-hover');
                }
              }
            }
          }

          &:last-child {
            a {
              &::before {
                background-image: url('../images/icons-sprite.svg#ico-customer-add');
              }

              &:hover {
                &::before {
                  background-image: url('../images/icons-sprite.svg#ico-customer-add-hover');
                }
              }
            }
          }
        }
      }
    }

    li {
      a {
        &::before {
          content: '';
          width: 16px;
          height: 16px;
          margin-right: 8px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      //Dropdown Logged
      &.welcome {
        display: none;
      }

      &:first-child {
        a {
          &::before {
            background-image: url('../images/icons-sprite.svg#ico-customer');
          }

          &:hover {
            &::before {
              background-image: url('../images/icons-sprite.svg#ico-customer-hover');
            }
          }
        }
      }

      &.authorization-link {
        a {
          &::before {
            background-image: url('../images/icons-sprite.svg#ico-logout');
          }

          &:hover {
            &::before {
              background-image: url('../images/icons-sprite.svg#ico-logout-hover');
            }
          }
        }
      }

      &.wishlist {
        a {
          &::before {
            background-image: url('../images/icons-sprite.svg#ico-wishlist');
          }

          &:hover {
            &::before {
              background-image: url('../images/icons-sprite.svg#ico-wishlist-hover');
            }
          }
        }
      }

      .counter {
        margin-left: 5px;
        text-transform: none;
        &::before {
          content: '(';
        }
        &::after {
          content: ')';
        }
      }
    }
  }

  &.active {
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: -15px;
      width: 100%;
      border-bottom: 8px solid $color-custom-1;
    }

    .dropdown-links__content {
      display: block;
    }
  }
}

@include media-breakpoint-down(md) {
  .dropdown-links {
    position: relative;

    &__content {
      position: relative;
      display: block;
      width: 100%;
      right: 0;
      padding: 0;
      box-shadow: none;
      border: none;

      li {
        margin-bottom: 24px;

        + li {
          border-top: none;
        }

        a {
          padding: 0;
          line-height: 24px;

          &::before {
            margin-left: 0;
          }
        }
      }
    }
  }
}
