label {
  font-size: $font-size-body2;
  font-weight: $font-weight-semiBold;
}

select.form-control {
  -webkit-appearance: none;
  padding: 10px 25px 8px 15px;
  background: url(../images/icons/ico-chevron-down.svg) no-repeat right 10px center;
  background-size: 10px;
}

select,
input.input-text:not(.form-control):not(.qty),
textarea:not(.form-control) {
  @extend .form-control;

  &.mage-error {
    border-color: $danger;
  }
}

.form-inline {
  .btn {
    margin-left: -10px;
  }
}

input,
select,
textarea {
  &.disabled {
    background-color: #e9ecef;
    opacity: 1;
    pointer-events: none;
  }
}

//Use this for forms in 2 columns
form.columns {
  .fieldset {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .field {
      flex: 0 0 48.6%;
      max-width: 48.6%;

      &.street {
        flex: 0 0 100%;
        max-width: 100%;

        .label--legend {
          display: none;
        }

        > .control {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          margin-bottom: 0;

          &:after {
            display: none;
          }
        }
      }

      &.newsletter,
      &.terms,
      &.choice {
        flex: 0 0 100%;
        max-width: 100%;
      }

      &.newsletter {
        ~ .terms {
          margin-top: 14px;
        }
      }
    }
  }
}

.fieldset {
  .field {
    ._with-tooltip {
      position: relative;

      .form-control {
        width: calc(100% - 35px);
        display: inline-flex;
      }
    }
    .note,
    &.note {
      font-size: $font-size-body3;
      display: block;
    }
  }
}

.field {
  .control:not(.form-group) {
    @extend .form-group;
  }
}

.field-recaptcha {
  margin-top: 10px;
  .field {
    display: none;
  }
}

.field-tooltip {
  display: inline-flex;
  position: absolute;
  top: 40px;
  left: calc(100% - 35px);

  &-action {
    margin: auto 0 0 12px;
    cursor: pointer;
  }

  &-content {
    position: absolute;
    font-size: $font-size-body3;
    left: calc(100% + 12px);
    top: -15px;
    width: 215px;
    padding: 12px 14px;
    color: $white;
    background-color: $color-custom-3;
    border-radius: 4px;
    display: none;
    &::before {
      border: 10px solid $color-custom-3;
      content: '';
      border-top-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
      position: absolute;
      left: -20px;
      top: 20px;
    }
  }

  &._active {
    .field-tooltip-content {
      display: block;
    }
  }
  @include media-breakpoint-up(md) {
    &:hover {
      .field-tooltip-content {
        display: block;
      }
    }
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input.mage-error {
  border-color: $danger;
}

div.mage-error[generated] {
  font-size: $small-font-size;
  color: $danger;
  margin-top: 4px;
}

@include media-breakpoint-down(md) {
  form.columns {
    .fieldset {
      display: flex;
      flex-direction: column;

      .field {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }
  .field-tooltip {
    &-content {
      left: auto;
      right: 0;
      top: -80px;
      width: calc(100vw - 40px);
      &::before {
        border: 10px solid $grey-light;
        content: '';
        border-left-color: transparent;
        border-bottom-color: transparent;
        border-right-color: transparent;
        position: absolute;
        left: calc(50% - 10px);
        top: 100%;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .form-inline {
    flex-direction: column;
    align-items: stretch;

    .btn {
      margin-left: 0;
      margin-top: 10px;
    }
  }
}
