.heading {
  max-width: 768px;
  margin: 0 auto;
  text-align: center;

  &__subtitle {
    display: block;
    font-size: 14px;
    font-weight: $font-weight-semiBold;
    color: $color-custom-3;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    line-height: 1.2;
  }
}
