.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  @include transition(all, 0.3s);

  &-check {
    &:before {
      content: "";
      display: inline-block;
      height: 11px;
      width: 14px;
      background: url("../images/icons-sprite.svg#ico-check-custom") no-repeat center;
      background-size: cover;
      margin-right: 10px;
    }

    &-arrow-left {
      fill: $black;
    }
  }

  &-close {
    color: $black;
  }

  &-sm {
    width: 16px;
    height: 16px;
  }

  &.ico-close {
    fill: black;
  }

  &.ico-clock {
    fill: $black;
  }
}
