.loading-mask {
  bottom: 0;
  left: 0;
  margin: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  background: rgba(255, 255, 255, 0.5);

  .loader {
    > img {
      bottom: 0;
      left: 0;
      margin: auto;
      position: fixed;
      right: 0;
      top: 0;
      z-index: 100;
      width: auto;
      max-width: 64px;
    }

    > p {
      display: none;
    }
  }
}

.loader {
  max-width: 64px;
  background-size: 64px;
}

.am-zoom-spinner {
  background-size: 64px !important;
}

body #amasty-shopby-product-list #amasty-shopby-overlay .loader,
body .am-show-button > .am-items.-loading {
  background-image: url('../images/loader-1.gif');
}

body #amasty-shopby-product-list #amasty-shopby-overlay {
  background: rgba(255, 255, 255, 0.5);
  opacity: 1.0;
  z-index: 1000;
}

.admin__data-grid-loading-mask {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  background: rgba(255, 255, 255, 0.5);

  .spinner {
    background-image: url('../images/loader-1.gif');
    width: 64px;
    height: 64px;
    background-size: 64px;
  }
}