.messages {
  position: fixed;
  left: 0;
  right: 0;
  z-index: $zindex-modal + 3;
  width: 100%;
  max-width: 650px;
  margin: auto;
  @include transition(all, 0.3s);
}

.message {
  display: flex;
  margin: 0 auto 16px auto;
  padding: 16px;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  line-height: 24px;
  width: 100%;
  border: 1px solid transparent;
  background-color: $white;
  font-size: $font-size-body2;

  a {
    text-decoration: underline;
  }

  .close {
    margin-left: 15px;

    .ico-close {
      @include hover() {
        color: $close-color;
        text-decoration: none;
        fill: $close-color;
      }
    }

    .module-icon {
      display: inline-flex;
    }
  }

  > div:first-child,
  > span:first-child {
    flex: 1;
  }

  &::before {
    content: '';
    display: inline-flex;
    margin-right: 18px;
    width: 24px;
    height: 24px;
    min-width: 24px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &.error {
    border-color: $danger;

    &::before {
      background-image: url("../images/icons-sprite.svg#ico-error");
    }
  }

  &.info,
  &.notice,
  &.warning {
    border-color: $warning;

    &::before {
      background-image: url("../images/icons-sprite.svg#ico-warning");
    }
  }

  &.success {
    border-color: $success;

    &::before {
      background-image: url("../images/icons-sprite.svg#ico-success");
    }
  }

  &.info.empty {
    margin-bottom: 40px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

@include media-breakpoint-down(md) {
  .messages {
    width: calc(100% - 30px);
  }

  .message {
    &.info.empty {
      margin-bottom: 50px;
    }
  }
}
