body {
  &._has-modal {
    height: 100%;
    overflow: hidden;
    width: 100%;
  }

  &._has-modal-custom .modal-custom-overlay {
    position: fixed;
    height: 100vh;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 899;
  }
}

.modals-overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: $zindex-modal-backdrop;
  background-color: $overlay-black;
}

.modal-slide,
.modal-popup {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  min-width: 0;
  position: fixed;
  overflow-y: auto;
  visibility: hidden;
  z-index: $zindex-modal;

  .modal-inner-wrap {
    background-color: $white;
    opacity: 1;
    pointer-events: auto;
    margin: 5rem auto;
    width: 50%;
    min-width: 730px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: auto;
    left: 0;
    right: 0;
    position: absolute;
    transform: translateY(-200%);
    transition-duration: .2s;
    transition-property: transform, visibility;
    transition-timing-function: ease;
    border-radius: $border-radius;
    overflow: hidden;
  }

  .modal-title {
    text-align: center;
  }

  .modal-header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
    padding-top: 20px;
    min-height: 90px;
    border-bottom: none;
    position: relative;

    .close {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 999;
      padding: 0;
      margin: 20px;
    }
  }

  .modal-content {
    padding: 0 27px 20px;
    border: none;
    border-radius: unset;

    p,
    li {
      font-size: $font-size-body2;
    }

    ul {
      li {
        list-style: disc;
        font-weight: normal;
        margin-left: 40px;
      }
    }
  }

  .modal-footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 90px;
    border: none;

    > * {
      margin: 0 15px;
    }

    .action {
      &-primary,
      &.primary {
        @extend .btn-primary;
        @extend .btn-sm;
        order: 2;
      }

      &-secondary,
      &.secondary {
        @extend .btn-secondary;
        @extend .btn-sm;
        order: 1;
      }
    }
  }

  &._show {
    visibility: visible;

    .modal-inner-wrap {
      transform: translate(0, 0);
    }
  }

  &._inner-scroll {
    overflow-y: visible;

    .modal-inner-wrap {
      max-height: 70%;
    }

    .modal-content {
      overflow-y: auto;
    }
  }
}

@include media-breakpoint-down(md) {
  .modal-slide,
  .modal-popup {
    .modal-inner-wrap {
      min-width: auto;
      width: 90%;
    }
  }
}

@include media-breakpoint-down(sm) {
  .modal-slide,
  .modal-popup {
    &._inner-scroll {
      .modal-inner-wrap {
        min-width: auto;
        width: 90%;
        max-height: 90%;
      }
    }
  }
}
