.pages {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .pages-label {
    display: none;
  }

  .pages-item-previous,
  .pages-item-next {
    span {
      display: none;
    }

    .module-icon {
      display: flex;

      .icon {
        width: 7px;
        height: 7px;
      }
    }
  }

  .items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 24px;
  }

  .item {
    margin: 0 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid transparent;
    width: 24px;
    height: 24px;
    font-size: $font-size-body3;
    font-weight: $font-weight-semiBold;

    .action {
      &.next {
        background: url('../images/icons-sprite.svg#ico-chevron-right') no-repeat center;
        background-size: 35px;
      }

      &.previous {
        background: url('../images/icons-sprite.svg#ico-chevron-left') no-repeat center;
        background-size: 35px;
      }
    }

    .label {
      display: none;
    }

    &:active,
    &:hover,
    &:focus,
    &.current,
    &.active {
      border-color: $black;

      a,
      span {
        color: $blue;
        text-decoration: none;
      }
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
    }
  }
}

@include media-breakpoint-down(md) {
  .pages {
    .pages-item-previous,
    .pages-item-next {
      span {
        display: none;
      }
    }
  }
}
