.password-strength-meter {
  position: relative;
  z-index: 1;
  margin-top: 4px;
  padding: 0 5px;
  background-color: $background-1;
  line-height: 18px;
  font-size: $small-font-size;

  &::before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    z-index: -1;
  }

  .password-none & {
    &::before {
      background-color: #f4f4f4;
      width: 100%;
    }
  }

  .password-weak & {
    &::before {
      background-color: #ffafae;
      width: 25%;
    }
  }

  .password-medium & {
    &::before {
      background-color: #ffd6b3;
      width: 50%;
    }
  }

  .password-strong & {
    &::before {
      background-color: #c5eeac;
      width: 75%;
    }
  }

  .password-very-strong & {
    &::before {
      background-color: #81b562;
      width: 100%;
    }
  }
}
