.price-box {
  display: flex;
  font-size: $font-size-body2;

  .price-label {
    display: none;
  }

  .price {
    font-size: $font-size-body2;
    font-weight: $font-weight-semiBold;
  }

  .minimal-price {
    .price-label {
      font-size: $font-size-body2;
      font-weight: $font-weight-semiBold;
      display: inline-block;
    }
  }

  .normal-price {
    margin: 0;

    .price {
      color: $primary;
    }
  }

  .special-price {
    order: 1;
    margin-right: 8px;

    .price {
      color: $danger;
    }
  }

  .old-price {
    order: 2;

    .price {
      color: $grey-medium;
      font-weight: $font-weight-normal;
      text-decoration: line-through;
    }

    + .normal-price {
      @extend .special-price;
    }
  }

  //To show normal price in PLP with style normal-price when there are a child with special price
  .old-price[style*="display: none;"] {
    + .normal-price {
      @extend .normal-price;
    }
  }

  //Bundle Product
  .price-from,
  .price-to {
    margin-bottom: 0;

    .price-label {
      display: inline-flex !important;
    }
  }

  .price-from {
    margin-right: 8px;
  }

  &.no-price {
    font-weight: $font-weight-normal;
    font-size: $font-size-body2;
  }
}

.product-info-price {
  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__msrp {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &__label,
    &__value {
      font-size: $small-font-size;
      line-height: 12px;
    }

    &__label {
      font-weight: $font-weight-semiBold;
      color: $primary;
      margin-right: 2px;
    }

    &__value {
      text-decoration: line-through;
      color: $grey-medium;
    }
  }

  &__price-with-tax {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &__label,
    &__value {
      font-size: $small-font-size;
      line-height: 12px;
      color: $grey-dark;
    }

    &__value {
      margin-right: 2px;
    }
  }
}

@include media-breakpoint-down(md) {
  font-size: $font-size-body3;
}
