.qty-selector {
  label {
    display: none;
  }

  &__control {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    width: 105px;
    height: 40px;
    border: 1px solid $grey-light;
    border-radius: $border-radius;
    margin: 0 auto;
  }

  &__less,
  &__more {
    border: none;
    cursor: pointer;
    height: 100%;
    width: 30px;
    background-color: $white;
    border-radius: $border-radius;
    padding: 0;
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__less {
    background-image: url('../images/icons/ico-minus.svg');
  }

  &__more {
    background-image: url('../images/icons/ico-plus.svg');
  }

  &__qty {
    flex: 1;
    text-align: center;
    border: none;
    appearance: none;
    height: 100%;
    width: 100%;
    max-width: 45px;
    font-size: $font-size-body2;

    &:focus {
      outline: none;
    }
  }
  @include media-breakpoint-down(sm) {
    &__control {
      &.control:not(.form-group) {
        margin-bottom: 0;
        margin-top: 6px;
      }
    }
  }
}
