.custom-radio,
.radio-group {
  .custom-control-label,
  .amform-versiontwo-label {
    @extend .body2;
    cursor: pointer;
    padding-left: 6px;

    &::before {
      width: 16px;
      height: 16px;
      border-radius: 50%;
    }

    &::after {
      border-radius: 50%;
      margin: 1px;
    }

    &:hover {
      &::before {
      }
    }
  }

  .custom-control-input {
    &:checked {
      ~ .custom-control-label,
      + .amform-versiontwo-label {
        &::before {
        }

        &::after {
          background-image: none;
          background-color: $primary;
          border: 3px solid $white;
        }
      }
    }

    &:focus {
      outline: none;
    }
  }
}
