.select-jcf {
  min-width: 150px;
  border-color: transparent;
}

.jcf-select {
  box-sizing: border-box;
  margin-bottom: 0;
  border-radius: $border-radius;
  height: 48px;
  cursor: pointer;
  font-size: $font-size-body2;

  .jcf-select-text {
    padding: 14px 8px;
    line-height: 18px;
    margin: 0 30px 0 8px;
    height: 100%;
    cursor: pointer;
    font-size: inherit;
  }

  .jcf-select-opener {
    background-color: transparent;
    background-image: url('../images/icons/ico-chevron-down.svg');
    background-position: right 16px top 21px;
    background-size: 10px;
    background-repeat: no-repeat;
    width: 32px;
  }

  &.jcf-focus {
    border-color: $grey-light !important;
  }

  &.jcf-drop-active {
    border-color: $grey-light;
    border-radius: $border-radius $border-radius 0 0;

    .jcf-select-opener {
      background-image: url('../images/icons/ico-chevron-up.svg');
    }
  }
}

.jcf-select-drop {
  font-size: $font-size-body2;

  .jcf-select-drop-content {
    border: 1px solid $grey-light;
    border-radius: 0 0 $border-radius $border-radius;
    border-top: none;
    background: $background-1;
    padding: 0 8px;
  }
}

.jcf-list {
  font-size: inherit;
  background-color: transparent;

  .jcf-option {
    padding: 14px 8px;
    color: $primary;
    cursor: pointer;
    border-top: 1px solid $grey-light;

    &.jcf-hover {
      color: $color-custom-3;
      background-color: transparent;
    }
  }
}

@include media-breakpoint-down(sm) {
  .select-jcf {
    min-width: auto;
  }
}
