.slick-slider {
  padding-bottom: 16px;

  .slick-arrow {

    &.slick-prev,
    &.slick-next {
      position: absolute;
      top: 50%;
      width: 32px;
      height: 32px;
      transform: translate(0, -50%);
      cursor: pointer;
      border: none;
      z-index: $zindex-dropdown;
      transform-origin: center;
      background-color: $white;
      padding: 0;
      border-radius: 50%;
      @include transition(all, 0.3s);

      .module-icon {
        display: flex;
        justify-content: center;

        .icon {
          width: 14px;
          height: 14px;
        }
      }

      &:hover {
        background-color: $color-custom-3;
        box-shadow: $box-shadow-3;
        .icon {
          fill: $white;
        }
      }
    }

    &.slick-prev {
      left: 0;
    }

    &.slick-next {
      right: 0;
    }
  }

  .slick-dots {
    position: absolute;
    bottom: 8px;
    display: block;
    width: 100%;
    text-align: center;

    li {
      position: relative;
      display: inline-block;
      margin: 0 4px;
      cursor: pointer;

      button {
        font-size: 0;
        display: block;
        padding: 3px;
        cursor: pointer;
        color: transparent;
        border: 0;
        outline: none;
        background: transparent;

        &:hover,
        &:focus {
          outline: none;

          &::before {
            background-color: $color-custom-3;
          }
        }

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 6px;
          height: 6px;
          box-shadow: 0 0 0 1px transparent;
          background-color: $primary;
          border-radius: 50%;
        }
      }

      &.slick-active {
        button {
          &::before {
            background-color: $white;
            box-shadow: 0 0 0 1px $color-custom-3;
          }
        }
      }
    }
  }
}
