.table {
  .table-caption {
    display: none;
  }

  .col {
    width: auto;
  }

  thead {
    th {
      font-weight: $font-weight-normal;
      border-top: none;
      padding: 0 14px 8px;
      border-bottom: 1px solid $grey-light;
      text-transform: uppercase;
    }
  }

  tbody {
    + tbody {
      border: none;
    }
  }

  th {
    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
      text-align: right;
    }
  }

  td {
    &:last-child {
      text-align: right;
    }
  }
}

@include media-breakpoint-down(md) {
  .table.table-mobile {
    thead {
      tr {
        th {
          display: none;
        }
      }
    }

    tbody {
      tr {
        display: block;
        border-bottom: 1px solid $grey-light;

        td {
          display: block;
          border-top: none;
          padding: 5px 10px;
          border-bottom: none;
          width: 100%;

          &:first-child {
            padding-top: 15px;
            border-top: 1px solid;
          }

          &:last-child {
            padding-bottom: 10px;
          }

          &::before {
            padding-right: 10px;
            content: attr(data-th) ': ';
            display: inline-block;
            color: $primary;
            font-weight: $font-weight-semiBold;
            min-width: 30%;
          }
        }
      }
    }
  }
}
