.tabs {
  &__heading {
    display: flex;
    justify-content: center;
  }

  &__title {
    margin-bottom: 0;

    &.active {
      .tabs__switch {
        color: $color-custom-1;

        &:after {
          content: '';
          position: absolute;
          bottom: -4px;
          left: 0;
          width: 100%;
          border: 4px solid $color-custom-1;
          background: $color-custom-1;
        }
      }
    }

    &.is-disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &__switch {
    display: block;
    position: relative;
    z-index: 2;
    margin: 0 8px;
    padding: 10px 12px;
    color: $black;

    &:hover {
      text-decoration: none;
      border-color: $color-custom-1;
    }

    .counter {
      &::before {
        content: '(';
      }

      &::after {
        content: ')';
      }
    }
  }

  &__content {
    padding: 52px 110px 48px;
    width: 100%;
    background-color: $white;
    border: 1px solid $grey-dark;
    font-size: $font-size-body2;

    .additional-attributes {
      &--title {
        display: block;
        margin-bottom: 12px;
      }

      &--content {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto;

        .attributes-container {
          padding-right: 12%;

          &:last-child {
            padding-right: 0;
          }
        }
      }

      &--atribute {
        display: flex;
        width: 436px;
        border-bottom: 1px solid $grey-light;
        padding: 6px 16px;
        column-gap: 10%;

        .label {
          font-weight: $font-weight-semiBold;
          min-width: 200px;
          h4 {
            font-weight: $font-weight-semiBold;
            font-size: $font-size-body2;
            margin: 0;
            vertical-align: middle;
            display: inline-block;
          }
        }

        &:first-child {
          border-top: 1px solid $grey-light;
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .tabs {
    &__heading {
      justify-content: flex-start;
      overflow-x: scroll;
      overflow-y: hidden;
      margin: 0 -15px;
      padding-left: 8px;

      &:after {
        content: '';
        height: 1px;
        width: 100%;
        background: $black;
        position: absolute;
        left: 0;
        top: 49px;
      }
    }

    &__switch {
      margin: 0;
      width: max-content;
      padding: 10px 12px 20px;

      &::before {
        content: '';
        background: url(../images/icons-sprite.svg#ico-more) no-repeat center left;
        background-size: 10px;
        width: 20px;
        height: 35px;
        display: block;
        position: absolute;
        left: 0;
      }
    }

    &__content {
      border: none;
      padding: 32px 0 40px;

      .additional-attributes {
        &--content {
          flex-wrap: wrap;
          border-top: 1px solid $grey-light;
          max-height: 390px;
          overflow-y: auto;

          .attributes-container {
            width: 100%;
            padding-right: 0;
          }
        }

        &--atribute {
          max-width: 100%;
          justify-content: space-between;
          width: 100%;

          .label {
            min-width: auto;
          }

          &:first-child {
            border-top: 0;
          }
        }
      }
    }
  }
}
