.section-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  text-align: center;
  small {
    text-transform: uppercase;
    line-height: 25px;
    font-weight: $font-weight-semiBold;
    letter-spacing: 1px;
    color: $color-custom-3;
    font-size: $font-size-body2;
  }
}
