.body1 {
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
}

.body2 {
  font-size: $font-size-body2;
  font-weight: $font-weight-normal;
}

.body3 {
  font-size: $font-size-body3;
  font-weight: $font-weight-normal;
}

.text-more {
  display: none;
}

@include media-breakpoint-down(md) {
  h1,
  .h1 {
    font-size: $h2-font-size;
  }
  h2,
  .h2 {
    font-size: $h4-font-size;
  }
  h3,
  .h3 {

  }
  h4,
  .h4 {

  }
  h5,
  .h5 {
    font-size: $font-size-body2;
  }
  .body1,
  p {
    font-size: $font-size-body2;
    font-weight: $font-weight-normal;
  }
  .display-1 {
    font-size: $display1-size-md;
  }
}
