:root {
  font-size: $font-size-base;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: unset;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.container-fluid {
  max-width: $container-fluid-max-width;
}

.page-wrapper {
  padding-top: 157px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

.page-main {
  overflow-x: hidden;
  flex-grow: 1;
  min-height: 300px;
}
//Fix Amasty brands
body .columns .column.main {
  max-width: initial;
}

a {
  color: inherit;
}

b,
strong {
  font-weight: $font-weight-semiBold;
}

p {
  font-size: inherit;
}

ul,
ol {
  padding-left: 0;

  li {
    list-style: none;
  }
}

:focus,
button:focus {
  outline: none;
}

img {
  max-width: 100%;
}

.bg-color01 {
  background-color: $background-1;
}

.bg-color02 {
  background-color: $background-2;
}

// Set inital z-index for closed mmenu to fix z-index for messages
.mm-slideout {
  z-index: initial;
}

@include media-breakpoint-down(md) {
  .page-wrapper {
    padding-top: 95px;
  }
  .container-fluid {
    padding-left: $grid-gutter-sm-width / 2;
    padding-right: $grid-gutter-sm-width / 2;

/*    .row {
      margin-right: -$grid-gutter-sm-width / 2;
      margin-left: -$grid-gutter-sm-width / 2;
    }*/
  }

  //Gutters bigger in mobile than desktop
  .big-sm-gutters {
    > .col,
    > [class*="col-"] {
      padding-right: $grid-gutter-sm-width / 2;
      padding-left: $grid-gutter-sm-width / 2;
    }
  }

  //Gutters smaller in mobile than desktop
  .small-sm-gutters {
    &.row {
      margin-right: -10px;
      margin-left: -10px;
    }

    > .col,
    > [class*="col-"] {
      padding-right: 10px;
      padding-left: 10px;
    }
  }
}

