//Icon See All in submenu
@mixin getIconArrowRight($color: '#000000') {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  vertical-align: middle;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  $color: str-replace($color, '#', '%23');
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.93992 5L0.228876 1.28896C0.157272 1.2198 0.100157 1.13707 0.0608658 1.04561C0.0215745 0.95414 0.000892928 0.855765 2.79016e-05 0.756219C-0.000837125 0.656674 0.0181322 0.557953 0.0558281 0.465817C0.0935239 0.373681 0.149192 0.289974 0.219584 0.219582C0.289976 0.14919 0.373681 0.0935231 0.465817 0.0558273C0.557953 0.0181315 0.656674 -0.000837211 0.756219 2.78066e-05C0.855765 0.000892824 0.954141 0.0215737 1.04561 0.060865C1.13708 0.100156 1.2198 0.157271 1.28896 0.228875L5.53004 4.46996C5.67059 4.61055 5.74955 4.8012 5.74955 5C5.74955 5.19879 5.67059 5.38945 5.53004 5.53004L1.28896 9.77112C1.2198 9.84273 1.13708 9.89984 1.04561 9.93913C0.954142 9.97843 0.855765 9.99911 0.75622 9.99997C0.656674 10.0008 0.557954 9.98187 0.465818 9.94417C0.373682 9.90648 0.289976 9.85081 0.219584 9.78042C0.149192 9.71002 0.0935243 9.62632 0.0558285 9.53418C0.0181326 9.44205 -0.000836745 9.34333 2.82726e-05 9.24378C0.00089329 9.14423 0.0215749 9.04586 0.0608662 8.95439C0.100157 8.86292 0.157272 8.7802 0.228877 8.71104L3.93992 5Z' fill='#{$color}'/%3E%3C/svg%3E%0A");
}

@mixin getColoredIconArrowRight($color: '#000000') {
  content: '';
  display: inline-block;
  width: 15px;
  height: 8px;
  vertical-align: middle;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  $color: str-replace($color, '#', '%23');
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='14' viewBox='0 0 15 14' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.41503 7.66929L7.36504 11.6193C7.54269 11.8087 7.63967 12.0599 7.63545 12.3196C7.63124 12.5792 7.52615 12.8271 7.34244 13.0107C7.15873 13.1943 6.9108 13.2992 6.65111 13.3032C6.39143 13.3072 6.14036 13.2101 5.95103 13.0323L0.294035 7.37629C0.20085 7.28364 0.1269 7.17347 0.0764389 7.05214C0.0259776 6.93081 0 6.8007 0 6.66929C0 6.53788 0.0259776 6.40777 0.0764389 6.28644C0.1269 6.1651 0.20085 6.05494 0.294035 5.96229L5.95103 0.305288C6.04328 0.209778 6.15363 0.133596 6.27563 0.0811869C6.39763 0.0287779 6.52885 0.00119157 6.66163 3.77571e-05C6.79441 -0.00111606 6.92609 0.0241854 7.04899 0.0744663C7.17188 0.124747 7.28354 0.199 7.37743 0.292893C7.47132 0.386786 7.54558 0.498438 7.59586 0.621334C7.64614 0.74423 7.67144 0.87591 7.67029 1.00869C7.66913 1.14147 7.64155 1.27269 7.58914 1.39469C7.53673 1.5167 7.46055 1.62704 7.36504 1.71929L3.41503 5.66929H13.001C13.2663 5.66929 13.5206 5.77464 13.7081 5.96218C13.8957 6.14972 14.001 6.40407 14.001 6.66929C14.001 6.9345 13.8957 7.18886 13.7081 7.3764C13.5206 7.56393 13.2663 7.66929 13.001 7.66929H3.41503Z' fill='#{$color}'/%3E%3C/svg%3E%0A");
}

//Dropdown links for customer links and store switcher
@mixin dropdownLinks() {
  position: absolute;
  display: none;
  right: -15px;
  top: 100%;
  min-width: 187px;
  padding: 0 17px;
  z-index: $zindex-dropdown;
  background-color: $white;
  box-shadow: $box-shadow;
  border: 1px solid $grey-light;
  white-space: nowrap;
  font-size: $font-size-body2;
  ul {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
  li {
    + li {
      border-top: 1px solid $primary;
    }
    a {
      display: flex;
      align-items: center;
      padding: 12px 8px;
      text-transform: uppercase;
    }
  }
}

@mixin hoverBanner() {
  &:before {
    content: "";
    transition: 0.3s;
  }
  &:hover {
    .text {
      opacity: 1;
    }
    &:before {
      content: "";
      background: $secondary;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      opacity: 0.3;
    }
    &:after {
      content: "";
      position: absolute;
      left: 20px;
      right: 20px;
      top: 20px;
      bottom: 20px;
      border: 1px solid $white;
    }
  }
}
