// Base colors
$black:   #000000;
$white:   #FFFFFF;
$blue:    #428BCA;

//Grey Scale Colors
$grey-dark:     #40484E;
$grey-medium:   #7F8489;
$grey-light:    #BFC2C4;

//Backgrounds Colors
$background-1:    #F2F5F8; //Background summary, middle page login...
$background-2:    $white;
$background-3:    #F7F7F7;
$background-4:    #FEF9F8;

//Notifications Colors
$danger:    #DB4416;
$warning:   #DB7E16;
$success:   #70DB0B;

// Client Colors, Primary, Secondary and Custom.
// Replace in each project
$black:         #000B13;
$green-optimo:  #80BC00;
$green-dark:    #4D7100;
$blue:          #009DDC;
$blue-dark:     #00457C;
$stars:         #F5CC38;

// Color assignments
$primary:       $black;   //Color text and primary elements
$secondary:     $blue-dark;  //Color secondary, example buttons

$color-custom-1:  $blue-dark;
$color-custom-2:  $stars;
$color-custom-3:  $blue;

// Fonts
$client-font:           'Open Sans', sans-serif;
$client-font-headings:  'Open Sans', sans-serif;

// Font Sizes
// $font-size-base is 1rem assigned in bootstrap,corresponds in design with body 1
$font-size-body2:   14px;
$font-size-body3:   12px;
$small-font-size:   10px;

$h1-font-size:    32px;
$h2-font-size:    24px;
$h3-font-size:    20px;
$h4-font-size:    18px;
$h5-font-size:    16px;

$display1-size:       48px; //Slider home title
$display1-size-md:    32px; //Slider home title mobile

//Weights
$font-weight-light:       300;
$font-weight-normal:      400;
$font-weight-medium:      500;
$font-weight-semiBold:    600;
$font-weight-bold:        700;

//Shadows
$box-shadow:    0 0 10px rgba(0, 0, 0, 0.15);
$box-shadow-2:  0 0 20px rgba(0, 0, 0, 0.1);
$box-shadow-3:  0 0 15px rgba(0, 0, 0, 0.25);

//Overlays
$overlay-black: rgba(51, 51, 51, 0.3);
//$overlay-white-90: rgba(255, 255, 255, 0.9);

// Breakpoints and containers
//$grid-gutter-width:         30px !default;
$grid-gutter-sm-width:        30px;
$container-fluid-max-width:   1310px; //1278px container + 30px padding

//Header and Footer
$header-height:             85px;
$header-height-sticky:      50px;
$header-height-sm:          60px;
$header-height-checkout:    80px;
$header-height-checkout-sticky: 60px;
$header-height-sm:          60px;
$header-logo-width:         118px;
$header-logo-width-sticky:  75px;
$header-logo-width-sm:      48px;
$header-topbar-height:      36px;
$footer-background:         $black;
$footer-color:              $background-1;
$footer-bottom-color:       $background-1;

//Other Bootstrap Overrides
$body-color:    $primary;

$font-family-base:    $client-font;
$font-weight-base:    $font-weight-normal;
$line-height-base:    1.5;

$headings-font-family:    $client-font-headings;
$headings-font-weight:    $font-weight-semiBold;
$display1-weight:         $font-weight-normal;

$link-color:              $primary;
$link-decoration:         none;
$link-hover-color:        $color-custom-3;
$link-hover-decoration:   none;

$border-radius:   8px;

//Btn
$btn-font-size:           $font-size-body2;
$btn-font-weight:         $font-weight-semiBold;
$btn-line-height:         24px;
$btn-padding-y:           11px;
$btn-padding-x:           32px;
$btn-line-height-sm:      24px;
$btn-padding-y-sm:        11px;
$btn-padding-x-sm:        24px;
$btn-border-radius-sm:    $border-radius;
$hover-border:            $color-custom-3;
$active-border:            $color-custom-3;

//Input
$input-height:                48px;
$input-color:                 $primary;
$input-placeholder-color:     $grey-light;
$input-font-size:             $font-size-body2;
$input-font-weight:           $font-weight-normal;
$input-border-color:          $grey-light;
$input-border-radius:         $border-radius;
$input-focus-border-color:    $primary;
$input-focus-box-shadow:      none;

//Checkbox and Radio
$custom-control-indicator-border-color:           $primary;
$custom-control-indicator-checked-bg:             $white;
$custom-control-indicator-checked-border-color:   $primary;
$custom-control-indicator-size:                   0.875rem;//14px
$custom-control-indicator-border-color:           $grey-medium;
$custom-control-indicator-checked-color:          $color-custom-3;
$custom-control-indicator-checked-border-color:   $color-custom-3;
$custom-control-indicator-checked-bg:             $color-custom-3;
$custom-control-indicator-active-border-color:    $color-custom-3;
$custom-control-indicator-focus-border-color:     $color-custom-1;
$custom-control-indicator-border-width:           2px;
$custom-checkbox-indicator-border-radius:         4px;
$custom-checkbox-indicator-icon-checked:          url("../images/icons/ico-check.svg");

$mark-bg: transparent;
$table-cell-padding: 8px;
$table-border-color: $grey-light;

// Close
$close-color:                       $blue !default;
