<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Account\Dashboard\Address $block */
?>
<div class="block block-dashboard-addresses">
    <div class="block-title justify-content-between h3">
        <span><?= $block->escapeHtml(__('Address book')) ?></span>
    </div>
    <div class="block-content row">
        <div class="box box-shipping-address col-12 col-md-6">
            <strong class="box-title">
                <span><?= $block->escapeHtml(__('Default Shipping Address')) ?></span>
            </strong>
            <div class="box-container">
                <div class="box-content">
                    <address>
                        <?= $block->getPrimaryShippingAddressHtml() ?>
                    </address>
                </div>
                <div class="box-actions">
                    <a class="action edit btn-link btn-link-sm"
                       href="<?= $block->escapeUrl($block->getPrimaryShippingAddressEditUrl()) ?>"
                       data-ui-id="default-shipping-edit-link">
                        <i class="module-icon">
                            <svg class="icon icon-sm ico-pen"><use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-pen"></use></svg>
                        </i>
                        <span><?= $block->escapeHtml(__('Edit')) ?></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="box box-billing-address col-12 col-md-6">
            <strong class="box-title">
                <span><?= $block->escapeHtml(__('Default Billing Address')) ?></span>
            </strong>
            <div class="box-container">
                <div class="box-content">
                    <!--Is neccesary add p for name in Stores > Configuration > Customers > Customer Configuration > Address Templates-->
                    <address>
                        <?= $block->getPrimaryBillingAddressHtml() ?>
                    </address>
                </div>
                <div class="box-actions">
                    <a class="action edit btn-link btn-link-sm"
                       href="<?= $block->escapeUrl($block->getPrimaryBillingAddressEditUrl()) ?>"
                       data-ui-id="default-billing-edit-link">
                        <i class="module-icon">
                            <svg class="icon icon-sm ico-pen"><use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-pen"></use></svg>
                        </i>
                        <span><?= $block->escapeHtml(__('Edit')) ?></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
