<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Account\Dashboard\Info $block */
?>
<div class="block block-dashboard-info">
    <div class="block-welcome body2">
        <?= $block->escapeHtml(__('Welcome to your account! Here you will find all your information and orders.')) ?>
    </div>
    <div class="block-title h3"><?= $block->escapeHtml(__('Account information')) ?></div>
    <div class="block-content row">
        <div class="box box-information col-12 col-md-6">
            <strong class="box-title">
                <span><?= $block->escapeHtml(__('Information')) ?></span>
            </strong>
            <div class="box-content">
                <span><?= $block->escapeHtml($block->getName()) ?></span><br>
                <span><?= $block->escapeHtml($block->getCustomer()->getEmail()) ?></span><br>
                <?= $block->getChildHtml('customer.account.dashboard.info.extra'); ?>
            </div>
            <div class="box-actions">
                <a class="action edit btn-link btn-link-sm"
                   href="<?= $block->escapeUrl($block->getUrl('customer/account/edit')) ?>">
                    <i class="module-icon">
                        <svg class="icon icon-sm ico-pen"><use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-pen"></use></svg>
                    </i>
                    <span><?= $block->escapeHtml(__('Edit')) ?></span>
                </a>
                <a class="action change-password btn-link btn-link-sm"
                   href="<?= $block->escapeUrl($block->getChangePasswordUrl()) ?>">
                    <i class="module-icon">
                        <svg class="icon icon-sm ico-lock"><use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-lock"></use></svg>
                    </i>
                    <span><?= $block->escapeHtml(__('Change password')) ?></span>
                </a>
            </div>
        </div>
        <?php if ($block->isNewsletterEnabled()) : ?>
            <div class="box box-newsletter col-12 col-md-6">
                <strong class="box-title">
                    <span><?= $block->escapeHtml(__('Newsletters')) ?></span>
                </strong>
                <div class="box-content">
                    <span>
                        <?php if ($block->getIsSubscribed()) : ?>
                            <?= $block->escapeHtml(__('You are subscribed to "General Subscription".')) ?>
                        <?php else : ?>
                            <?= $block->escapeHtml(__('Your are not subscribed to our newsletters at this moment.')) ?>
                        <?php endif; ?>
                    </span>
                </div>
                <div class="box-actions">
                    <a class="action edit btn-link btn-link-sm"
                       href="<?= $block->escapeUrl($block->getUrl('newsletter/manage')) ?>">
                        <i class="module-icon">
                            <svg class="icon icon-sm ico-pen"><use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-pen"></use></svg>
                        </i>
                        <span><?= $block->escapeHtml(__('Edit')) ?></span>
                    </a>
                </div>
            </div>
        <?php endif; ?>
    </div>
</div>
