<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

// @codingStandardsIgnoreFile
/**
 * @see \Magento\Paypal\Block\Express\Review\Details
 * @var \Magento\Paypal\Block\Express\Review\Details $block
 */
?>
<div id="details-reload" class="table-wrapper order-items cart">
    <div id="details-table" class="cart items data table table-paypal-review-items">
        <table>
            <tr>
                <th class="col name" scope="col"><?= $block->escapeHtml(__('Item')) ?></th>
                <th class="col price" scope="col"><?= $block->escapeHtml(__('Price')) ?></th>
                <th class="col qty" scope="col"><?= $block->escapeHtml(__('Qty')) ?></th>
                <th class="col subtotal" scope="col"><?= $block->escapeHtml(__('Subtotal')) ?></th>
            </tr>
            <tr>
            <?php foreach ($block->getItems() as $item): ?>
                <?= $block->getItemHtml($item) ?>
            <?php endforeach ?>
            </tr>
        </table>
        <div class="opc-block-summary">
            <table>
                <?= $block->getChildHtml('totals') ?>
            </table>
        </div>
    </div>
</div>
