<!--
  ~ @author Interactiv4 Team
  ~ @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
  -->
<div data-role="checkout-agreements">
    <div class="checkout-agreements" data-bind="visible: isVisible">
        <!-- ko foreach: agreements -->
            <!-- ko if: ($parent.isAgreementRequired($data)) -->
            <div class="checkout-agreement">
                <div class="custom-control custom-checkbox" data-bind="attr: {'for': $parent.getCheckboxId($parentContext, agreementId)}">
                    <input type="checkbox"
                            data-bind="attr: {
                                    'id': $parent.getCheckboxId($parentContext, agreementId),
                                    'name': 'agreement[' + agreementId + ']',
                                    'value': agreementId
                                    }"
                            data-validate="{required:true}" class="custom-control-input required-entry"/>
                    <label data-bind="attr: {
                                    'for': $parent.getCheckboxId($parentContext, agreementId) }"
                           class="custom-control-label">
                        <a
                            class="action action-show"
                            data-bind="click: function(data, event) { return $parent.showContent(data, event) }"
                            >
                            <span data-bind="html: checkboxText"></span>
                        </a>
                    </label>
                </div>
            </div>
            <!-- /ko -->
            <!-- ko ifnot: ($parent.isAgreementRequired($data)) -->
            <div class="checkout-agreement">
                <button type="button" class="action action-show btn btn-primary"
                        data-bind="click: function(data, event) { return $parent.showContent(data, event) }">
                    <span data-bind="html: checkboxText"></span>
                </button>
            </div>
            <!-- /ko -->
        <!-- /ko -->
        <div id="checkout-agreements-modal" data-bind="afterRender: initModal" style="display: none">
            <div class="checkout-agreements-item-content" data-bind="html: modalContent"></div>
        </div>
    </div>
</div>

