<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

// @codingStandardsIgnoreFile

/* @var Magento\Framework\View\Element\Template $block */
?>

<?php
/** @var \Logiscenter\DiscontinuedProducts\ViewModel\DiscontinuedProducts $viewModel */
$viewModel = $block->getData('view_model');
$cssClass = $block->getData('css_class');
$data = $viewModel->getDiscontinuedMessageData();
?>

<?php if ($data) : ?>
    <?php if ($data['message']) : ?>
        <div class="discontinued-message body3 <?= $cssClass ?>">
            <span class="discontinued-message__info">
                <?= /* @escapeNotVerified */ $data['message'] ?>
            </span>
            <?php if ($data['replaced_product_data']) : ?>
                <a class="discontinued-message__product btn btn-link btn-link-sm" href="<?= /* @escapeNotVerified */ $data['replaced_product_data']['url_key'] ?>">
                    <?= /* @escapeNotVerified */ $data['replaced_product_data']['product_name'] ?>
                </a>
            <?php endif ?>
        </div>
    <?php endif ?>
<?php endif ?>