<!--
  ~ @author Interactiv4 Team
  ~ @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
  -->
<!-- ko ifnot: isCustomerLoggedIn() -->

<!-- ko foreach: getRegion('before-login-form') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!-- /ko -->
<form class="form form-login" data-role="email-with-possible-login"
      data-bind="submit:login"
      method="post">
    <fieldset id="customer-email-fieldset" class="fieldset" data-bind="blockLoader: isLoading">
        <div class="field required">
            <div class="control form-group _with-tooltip">
                <label class="label" for="customer-email">
                    <span data-bind="i18n: 'Enter your email'"></span>
                </label>
                <input class="input-text form-control"
                       type="email"
                       data-bind="
                            textInput: email,
                            hasFocus: emailFocused,
                            mageInit: {'mage/trim-input':{}}"
                       name="username"
                       data-validate="{required:true, 'validate-email':true}"
                       id="customer-email" />
                <!-- ko template: 'ui/form/element/helper/tooltip' --><!-- /ko -->
                <span class="note" data-bind="fadeVisible: isPasswordVisible() == false && isRegistered() == false"><!-- ko i18n: 'You can create an account after checkout.'--><!-- /ko --></span>
                <div class="note" data-bind="fadeVisible: isPasswordVisible() == false && isRegistered() == true">
                    <span><!-- ko i18n: 'You already have an account with us.' --><!-- /ko --></span>
                    <a class="sign-in-link" href="#" data-bind="
                            i18n: 'Sign in',
                            click: signInLinkClick"
                    ></a>
                    <span><!-- ko i18n: 'or continue as guest' --><!-- /ko --></span>
                </div>
            </div>
        </div>

        <!--Hidden fields -->
        <fieldset class="fieldset hidden-fields" data-bind="fadeVisible: isPasswordVisible">
            <div class="field">
                <div class="control form-group">
                    <label class="label" for="customer-password">
                        <span data-bind="i18n: 'Password'"></span>
                    </label>
                    <input class="input-text form-control"
                           data-bind="
                                attr: {
                                    placeholder: $t('Optional'),
                                }"
                           placeholder="optional"
                           type="password"
                           name="password"
                           id="customer-password"
                           data-validate="{required:true}" autocomplete="off"/>
                    <span class="note" data-bind="i18n: 'You already have an account with us. Sign in or'"></span>
                    <a class="guest-link" href="#" data-bind="
                        i18n: 'Continue as guest',
                        click: guestLinkClick"
                    >
                    </a>
                </div>

            </div>
            <!-- ko foreach: getRegion('additional-login-form-fields') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!-- /ko -->
            <div class="actions-toolbar">
                <input name="context" type="hidden" value="checkout" />
                <div class="primary">
                    <button type="submit" class="action login btn btn-primary btn-sm btn-block" data-action="checkout-method-login"><span data-bind="i18n: 'Sign In'"></span></button>
                </div>
                <div class="secondary">
                    <a class="action remind btn-link btn-link-arrow-right btn-sm-block" data-bind="attr: { href: forgotPasswordUrl }">
                        <span data-bind="i18n: 'I forgot my password'"></span>
                    </a>
                </div>
            </div>
        </fieldset>
        <!--Hidden fields -->
    </fieldset>
</form>
<!-- /ko -->
