/**
 * @author    Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

.customer-erp-invoice-listing {
  .add-new-invoice-button {
    clear: both;
    margin-bottom: 30px;
    position: relative;
  }
}