<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */
?>
<?php
/** @var Amasty\ShopbyBrand\Block\Widget\BrandSlider $block */
use Amasty\ShopbyBrand\Block\Widget\BrandSlider;

$items = $block->getItems();
$isSliderEnable = $block->isSliderEnabled();
$itemsPerView = (int)$block->getData('items_number');
$sliderId = BrandSlider::HTML_ID . random_int(1, 10000);
?>
<section class="brands-slider am-widget-brand-slider">
    <div class="am-slider-container brands-slider__content container-fluid" id="<?= /** @noEscape */ $sliderId ?>">
        <div class="section-title h1">
            <small><?= __('Our Top Brands')?></small>
            <?= $block->escapeHtml($block->getTitle()) ?>
        </div>
        <ol class="brands-slider__items row am-brand-slider">
            <?php foreach ($items as $brand): ?>
                <li class="item col-6 col-lg-2">
                    <a href="<?= /** @noEscape */ $brand['url']?>" class="item__link">
                        <div class="swiper-brand <?= ($block->getData('show_label')) ? ' brand-label' : '' ?>">
                            <?php if ($brand['img']): ?>
                                <div class="item__image am-image-wrapper">
                                    <img alt="<?= $block->escapeHtml($brand['alt']) ?>"
                                         title="<?= $block->escapeHtml($brand['alt']) ?>"
                                         src="<?= /* @escapeNotVerified */ $block->escapeHtml($brand['img']); ?>"
                                         class="am-image"/>
                                </div>
                            <?php else: ?>
                                <div class="item__image am-image-wrapper">
                                    <p class="item__image--no-img no-image"><?= /** @noEscape */ $brand['label'][0] ?></p>
                                </div>
                            <?php endif ?>

                            <?php if ($block->getData('show_label')): ?>
                                <div class="item__title brand-title"><?= $block->escapeHtml($brand['label'])?></div>
                            <?php endif; ?>
                        </div>
                    </a>
                </li>
            <?php endforeach; ?>
        </ol>
    </div>
</section>
<?php if ($isSliderEnable): ?>
    <script>
        require(['amBrands'], function (module) {
            var options = {
                infinite: true,
                slidesToShow: <?= $itemsPerView ?>,
                arrows: true,
                prevArrow: '<button type="button" class="slick-prev">' +
                    '<i class="module-icon">' +
                    '   <svg class="icon icon-sm ico-chevron-left"><use xlink:href="<?= $block->getViewFileUrl("images/icons-sprite.svg") ?>#ico-chevron-left"></use></svg>' +
                    '</i>' +
                    '</button>',
                nextArrow: '<button type="button" class="slick-next">' +
                    '<i class="module-icon">' +
                    '   <svg class="icon icon-sm ico-chevron-right"><use xlink:href="<?= $block->getViewFileUrl("images/icons-sprite.svg") ?>#ico-chevron-right"></use></svg>' +
                    '</i>' +
                    '</button>',
                responsive: [
                    {
                        breakpoint: 992,
                        settings: {
                            slidesToShow: 3,
                            vertical: false
                        }
                    },
                    {
                        breakpoint: 765,
                        settings: {
                            slidesToShow: 2,
                            vertical: false
                        }
                    }
                ]
            };
            module.brandSlider('#<?= /** @noEscape */ $sliderId ?>', options);
        });
    </script>
<?php endif; ?>
