<?php

/**
 * @author Interactiv4 Team
 * @copyright  Copyright © Interactiv4 (https://www.interactiv4.com)
 */

// @codingStandardsIgnoreFile

/* @var $block Magento\Framework\View\Element\Template */
?>

<div class="minisearch__trigger icon__trigger">
    <i class="module-icon">
        <svg class="icon ico-search"><use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-search"></use></svg>
        <svg class="icon ico-close"><use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-close"></use></svg>
    </i>
    <span class="sr-only"><?php /* @escapeNotVerified */ echo __('Search'); ?></span>
</div>

