<?php

/**
 * @author Interactiv4 Team
 * @copyright  Copyright © Interactiv4 (https://www.interactiv4.com)
 */

// @codingStandardsIgnoreFile

/* @var $block Magento\Framework\View\Element\Template */
?>

<?php
/** @var Interactiv4\Milkyway\ViewModel\Store $viewModelStore */
$viewModelStore = $block->getViewModelStore();
?>

<div class="header__shop-info__inner">
    <?php if ($viewModelStore->getPhoneNumber()): ?>
        <span class="header__shop-info__phone">
            <a class="header__shop-info__link" href="tel:<?= $viewModelStore->getPhoneNumber() ?>">
                <i class="header__shop-info__phone__icon module-icon">
                    <svg class="icon ico-phone"><use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-phone"></use></svg>
                </i>
                <span class="header__shop-info__phone__number h3">
                    <?= $viewModelStore->getPhoneNumber() ?>
                </span>
            </a>
        </span>
    <?php endif; ?>
    <span class="header__shop-info__message"><?= /* @escapeNotVerified */ __('Call the Barcode Experts!'); ?></span>
</div>

