<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

// @codingStandardsIgnoreFile

/**
 * @var \Magento\Framework\View\Element\Template $block
 */
?>
<div class="header__toggle col-2 d-lg-none">
    <span class="action nav-toggle">
        <i class="module-icon">
            <svg class="icon ico-menu"><use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-menu"></use></svg>
            <svg class="icon ico-close"><use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-close"></use></svg>
        </i>
    </span>
</div>