<?php

/**
 * @author Interactiv4 Team
 * @copyright  Copyright © Interactiv4 (https://www.interactiv4.com)
 *
 */

// @codingStandardsIgnoreFile

/* @var $block Magento\Framework\View\Element\Html\Links */
?>

<div class="dropdown-links" data-block="header-links">
    <div class="dropdown-links__toggle icon__trigger">
        <i class="module-icon">
            <svg class="icon ico-customer"><use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-customer"></use></svg>
        </i>
        <span class="dropdown-links__label label body3"><?= /* @escapeNotVerified */ __('My Account') ?></span>
    </div>
    <div class="dropdown-links__content"
         data-role="dropdownDialog"
         data-mage-init='{"dropdownDialog":{
                "appendTo":"[data-block=header-links]",
                "triggerTarget":".dropdown-links__toggle",
                "timeout": "2000",
                "closeOnMouseLeave": false,
                "closeOnEscape": true,
                "triggerClass":"active",
                "parentClass":"active",
                "buttons":[]}}'>
        <?php if ($block->getLinks()) :?>
            <ul <?php echo($block->hasCssClass() ? ' class="' . $block->escapeHtml($block->getCssClass()
                ) . '"' : '');  ?> data-bind="scope: 'customer'" >
                <?php foreach ($block->getLinks() as $link): ?>
                    <?php echo $block->renderLink($link); ?>
                <?php endforeach ?>
            </ul>
        <?php endif ?>
    </div>
    <script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "customer": {
                        "component": "Magento_Customer/js/view/customer"
                    }
                }
            }
        }
    }
    </script>
</div>
