<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Create account form template
 *
 * @var $block \Magento\Customer\Block\Form\Register
 */
$viewModel = $block->getViewModel();
?>
<div class="row justify-content-center">
    <div class="block-create-account col-12 col-md-8 col-lg-9">
        <?= $block->getChildHtml('form_fields_before') ?>
        <?php /* Extensions placeholder */ ?>
        <?= $block->getChildHtml('customer.form.register.extra') ?>
        <div class="block-title">
            <h2 class="h1"><?= /* @escapeNotVerified */ __('Create a new account') ?></h2>
        </div>
        <form class="form create account form-create-account columns" action="<?= /* @escapeNotVerified */ $block->getPostActionUrl() ?>" method="post" id="form-validate" enctype="multipart/form-data" autocomplete="off">
            <?= /* @noEscape */ $block->getChildHtml('form_fields_before_in_form') ?>
            <?= /* @noEscape */ $block->getBlockHtml('formkey'); ?>
            <div class="fieldset create info">
                <input type="hidden" name="success_url" value="<?= /* @escapeNotVerified */ $block->getSuccessUrl() ?>"/>
                <input type="hidden" name="error_url" value="<?= /* @escapeNotVerified */ $block->getErrorUrl() ?>"/>
                <p class="block-note body2"><?= /* @escapeNotVerified */ __('Be part of our family! All the information you provide us will be encrypted and safe in our system. We won’t use your personal information for advertising purposes. That’s a promise! :)') ?></p>

                <?= $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Name')->setObject($block->getFormData())->setForceUseCustomerAttributes(true)->toHtml() ?>

                <?php $_dob = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Dob') ?>
                <?php if ($_dob->isEnabled()): ?>
                    <?= $_dob->setDate($block->getFormData()->getDob())->toHtml() ?>
                <?php endif ?>

                <?php $_taxvat = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Taxvat') ?>
                <?php if ($_taxvat->isEnabled()): ?>
                    <?= $_taxvat->setTaxvat($block->getFormData()->getTaxvat())->toHtml() ?>
                <?php endif ?>

                <?php $_gender = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Gender') ?>
                <?php if ($_gender->isEnabled()): ?>
                    <?= $_gender->setGender($block->getFormData()->getGender())->toHtml() ?>
                <?php endif ?>

                <?php $customerAttributes = $block->getChildBlock('customer_form_user_attributes');?>
                <?php if ($customerAttributes): ?>
                    <?php $customerAttributes->setEntityType('customer')->setShowContainer(false);?>
                    <?php $block->restoreSessionData($customerAttributes->getMetadataForm());?>
                    <?= $customerAttributes->toHtml() ?>
                <?php endif;?>

            </div>

            <?php if ($block->getShowAddressFields()): ?>
                <div class="fieldset address">
                    <input type="hidden" name="create_address" value="1"/>
                    <div class="field required">
                        <label for="email_address" class="label"><span><?= /* @escapeNotVerified */ __('Email') ?></span></label>
                        <div class="control form-group">
                            <input type="email" name="email" id="email_address" autocomplete="email" value="<?= $block->escapeHtml($block->getFormData()->getEmail()) ?>" title="<?= /* @escapeNotVerified */ __('Email') ?>" class="input-text form-control" data-validate="{required:true, 'validate-email':true}"/>
                        </div>
                    </div>
                    <div class="field company">
                        <label for="company" class="label"><span><?= __('Company') ?></span></label>
                        <div class="control">
                            <input type="text" name="company" id="company" value="<?= $block->escapeHtml($block->getFormData()->getCompany()) ?>" title="<?= __('Company') ?>" class="input-text form-control <?= $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('company') ?>"/>
                        </div>
                    </div>
                    <div class="field telephone required">
                        <label for="telephone" class="label"><span><?= /* @escapeNotVerified */ __('Phone Number') ?></span></label>
                        <div class="control form-group">
                            <input type="text" name="telephone" id="telephone" value="<?= $block->escapeHtml($block->getFormData()->getTelephone()) ?>" title="<?= /* @escapeNotVerified */ __('Phone Number') ?>" class="input-text form-control <?= /* @escapeNotVerified */ $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('telephone') ?>"/>
                        </div>
                    </div>

                    <?php $_streetValidationClass = $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('street'); ?>
                    <div class="field street">
                        <div class="control">
                            <div class="field required">
                                <label for="street_1" class="label"><span><?= /* @escapeNotVerified */ __('Street Address') ?></span></label>
                                <div class="control form-group">
                                    <input type="text" name="street[]" value="<?= $block->escapeHtml($block->getFormData()->getStreetLine(1)) ?>" title="<?= /* @escapeNotVerified */ __('Street Address') ?>" id="street_1" class="input-text form-control <?= /* @escapeNotVerified */ $_streetValidationClass ?>"/>
                                </div>
                            </div>
                            <div class="field">
                                <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
                                <?php for ($_i = 2, $_n = $this->helper('Magento\Customer\Helper\Address')->getStreetLines(); $_i <= $_n; $_i++): ?>
                                    <label class="label" for="street_<?= /* @escapeNotVerified */ $_i ?>">
                                        <span><?= /* @escapeNotVerified */ __('Address - Street %1 (optional)', $_i) ?></span>
                                    </label>
                                    <div class="control form-group">
                                        <input type="text" name="street[]" value="<?= $block->escapeHtml($block->getFormData()->getStreetLine($_i - 1)) ?>" title="<?= /* @escapeNotVerified */ __('Street Address %1', $_i) ?>" id="street_<?= /* @escapeNotVerified */ $_i ?>" class="input-text form-control <?= /* @escapeNotVerified */ $_streetValidationClass ?>"/>
                                    </div>
                                <?php endfor; ?>
                            </div>
                        </div>
                    </div>

                    <div class="field country required">
                        <label for="country" class="label"><span><?= /* @escapeNotVerified */ __('Country') ?></span></label>
                        <div class="control form-group">
                            <?= $block->getCountryHtmlSelect() ?>
                        </div>
                    </div>

                    <div class="field region required">
                        <label for="region_id" class="label"><span><?= /* @escapeNotVerified */ __('State/Province') ?></span></label>
                        <div class="control form-group">
                            <select id="region_id" name="region_id" title="<?= /* @escapeNotVerified */ __('State/Province') ?>" class="validate-select" style="display:none;">
                                <option value=""><?= /* @escapeNotVerified */ __('Please select a region, state or province.') ?></option>
                            </select>
                            <input type="text" id="region" name="region" value="<?= $block->escapeHtml($block->getRegion()) ?>" title="<?= /* @escapeNotVerified */ __('State/Province') ?>" class="input-text form-control <?= /* @escapeNotVerified */ $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('region') ?>" style="display:none;"/>
                        </div>
                    </div>
                    <div class="field required">
                        <label for="city" class="label"><span><?= /* @escapeNotVerified */ __('City') ?></span></label>
                        <div class="contro form-group">
                            <input type="text" name="city" value="<?= $block->escapeHtml($block->getFormData()->getCity()) ?>" title="<?= /* @escapeNotVerified */ __('City') ?>" class="input-text form-control <?= /* @escapeNotVerified */ $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('city') ?>" id="city"/>
                        </div>
                    </div>


                    <div class="field zip required">
                        <label for="zip" class="label"><span><?= /* @escapeNotVerified */ __('Zip/Postal Code') ?></span></label>
                        <div class="control form-group">
                            <input type="text" name="postcode" value="<?= $block->escapeHtml($block->getFormData()->getPostcode()) ?>" title="<?= /* @escapeNotVerified */ __('Zip/Postal Code') ?>" id="zip" class="input-text form-control validate-zip-international <?= /* @escapeNotVerified */ $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('postcode') ?>" data-validate="{'required':true, 'validate-zip-international':true}"/>
                        </div>
                    </div>

                    <?php $addressAttributes = $block->getChildBlock('customer_form_address_user_attributes');?>
                    <?php if ($addressAttributes): ?>
                        <?php $addressAttributes->setEntityType('customer_address'); ?>
                        <?php $addressAttributes->setFieldIdFormat('address:%1$s')->setFieldNameFormat('address[%1$s]');?>
                        <?php $block->restoreSessionData($addressAttributes->getMetadataForm(), 'address');?>
                        <?= $addressAttributes->setShowContainer(false)->toHtml() ?>
                    <?php endif;?>

                    <div class="field password required">
                        <label for="password" class="label"><span><?= /* @escapeNotVerified */ __('Password') ?></span></label>
                        <div class="control form-group">
                            <input type="password" name="password" id="password"
                                   title="<?= /* @escapeNotVerified */ __('Password') ?>"
                                   class="input-text form-control"
                                   data-password-min-length="<?= $block->escapeHtml($block->getMinimumPasswordLength()) ?>"
                                   data-password-min-character-sets="<?= $block->escapeHtml($block->getRequiredCharacterClassesNumber()) ?>"
                                   data-validate="{required:true, 'validate-customer-password':true}"
                                   autocomplete="off">
                            <div id="password-strength-meter-container" data-role="password-strength-meter" aria-live="polite">
                                <div id="password-strength-meter" class="password-strength-meter">
                                    <?= /* @escapeNotVerified */ __('Password Strength') ?>:
                                    <span id="password-strength-meter-label" data-role="password-strength-meter-label">
                                    <?= /* @escapeNotVerified */ __('No Password') ?>
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field confirmation required">
                        <label for="password-confirmation" class="label"><span><?= /* @escapeNotVerified */ __('Confirm Password') ?></span></label>
                        <div class="control form-group">
                            <input class="input-text form-control" type="password" name="password_confirmation" title="<?= __('Confirm Password') ?>" id="password-confirmation"  data-validate="{required:true, equalTo:'#password'}"/>
                        </div>
                    </div>
                    <input type="hidden" name="default_billing" value="1"/>
                    <input type="hidden" name="default_shipping" value="1"/>
                </div>

            <?php endif; ?>
            <div class="fieldset create account" data-hasrequired="<?= /* @escapeNotVerified */ __('* Required Fields') ?>">
                <?php if ($block->isNewsletterEnabled()): ?>
                    <div class="field choice">
                        <div class="label custom-control custom-checkbox">
                            <input type="checkbox" name="is_subscribed" title="<?= /* @escapeNotVerified */ __('Sign Up for Newsletter') ?>" value="1" id="is_subscribed"<?php if ($block->getFormData()->getIsSubscribed()): ?> checked="checked"<?php endif; ?> class="checkbox custom-control-input"/>
                            <label for="is_subscribed" class="custom-control-label"><span><?= /* @escapeNotVerified */ __('Sign Up for Newsletter') ?></span></label>
                        </div>
                    </div>
                    <?php /* Extensions placeholder */ ?>
                    <?= $block->getChildHtml('customer.form.register.newsletter') ?>
                <?php endif ?>
                <div class="field choice terms">
                    <div class="label custom-control custom-checkbox">
                        <input type="checkbox"
                               name="is_terms"
                               title="<?= /* @escapeNotVerified */ __('Accept the legal notice and privacy policy') ?>"
                               value="1"
                               id="is_terms"
                               class="checkbox custom-control-input"
                               data-validate="{required:true}"
                        >
                        <label for="is_terms"
                               class="custom-control-label">
                            <?= __('I Accept the') ?>&nbsp;
                            <a data-cms-id="<?= $viewModel->getCmsPrivacyPolicy(); ?>" class="content_popup_ajax_link"><?= __('Privacy Policy') ?></a>
                            &nbsp;<?= __('and') ?>&nbsp;
                            <a data-cms-id="<?= $viewModel->getCmsLegalNotice(); ?>" class="content_popup_ajax_link"><?= __('Terms of use') ?></a>
                        </label>
                    </div>
                </div>
                <?= $block->getChildHtml('form_additional_info') ?>
            </div>
            <div class="actions-toolbar">
                <div class="primary">
                    <button type="submit" class="action submit btn btn-primary btn-block" title="<?= /* @escapeNotVerified */ __('Create an account') ?>"><span><?= /* @escapeNotVerified */ __('Create an account') ?></span></button>
                </div>
                <a class="action back" href="<?= $block->escapeUrl($block->getBackUrl()) ?>"><span><?= /* @escapeNotVerified */ __('I already have an account') ?></span></a>

            </div>
        </form>
    </div>
</div>
<script type="text/x-magento-init">
    {
        <?php if ($block->getShowAddressFields()): ?>
        "#country": {
            "regionUpdater": {
                "optionalRegionAllowed": <?= /* @escapeNotVerified */ ($block->getConfig("general/region/display_all") ? "true" : "false") ?>,
                "regionListId": "#region_id",
                "regionInputId": "#region",
                "postcodeId": "#zip",
                "form": "#form-validate",
                "regionJson": <?= /* @escapeNotVerified */ $this->helper(\Magento\Directory\Helper\Data::class)->getRegionJson() ?>,
                "defaultRegion": "<?= /* @escapeNotVerified */ $block->getFormData()->getRegionId() ?>",
                "countriesWithOptionalZip": <?= /* @escapeNotVerified */ $this->helper(\Magento\Directory\Helper\Data::class)->getCountriesWithOptionalZip(true) ?>
            }
        },
        <?php endif; ?>
        "*": {
            "Magento_CustomerCustomAttributes/validation": {
                "ignore": <?= (int) ($_dob->isEnabled() || $customerAttributes->hasUserDefinedAttributes()) ?>,
                "hasUserDefinedAttributes": <?= (int) $customerAttributes->hasUserDefinedAttributes() ?>,
                "isDobEnabled": <?= (int) $_dob->isEnabled() ?>,
                "disableAutoComplete": true,
                "mixins": [
                    "Magento_CustomerCustomAttributes/error-placement",
                    "Magento_CustomerCustomAttributes/validation-ignore"
                ]
            }
        },
        ".field.password": {
            "passwordStrengthIndicator": {
                "formSelector": "form.form-create-account"
            }
        }
    }
</script>