<!--
  ~ @author Interactiv4 Team
  ~ @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
  -->
<li class="row-table shipping-method-item col-12 col-md-6"
    css="'selected-item' : (method.carrier_code + '_' + method.method_code == element.isSelected())"
    click="element.selectShippingMethod">
    <div class="item-inner">
        <div class="col-info">
            <div class="col-method select-method">
                <div class="label custom-control custom-radio">
                    <input type="radio"
                           class="radio custom-control-input"
                           ifnot="method.error_message"
                           ko-checked="element.isSelected"
                           ko-value="method.carrier_code + '_' + method.method_code"
                           attr="'aria-labelledby': 'label_method_' + method.method_code + '_' + method.carrier_code + ' ' + 'label_carrier_' + method.method_code + '_' + method.carrier_code,
                            'checked': element.rates().length == 1 || element.isSelected" />
                    <label class="custom-control-label">
                    <span class="col-title method-title">
                        <span class="method-description" attr="'id': 'label_method_' + method.method_code + '_' + method.carrier_code"
                              text="method.method_title"></span>
                    </span>
                        <span class="col-carrier method-carrier-title">
                        <span class="method-type" attr="'id': 'label_carrier_' + method.method_code + '_' + method.carrier_code"
                              text="method.carrier_title"></span>
                    </span>
                    </label>
                </div>
            </div>
            <div class="row row-error"
                if="method.error_message">
                <div class="col col-error" colspan="4">
                    <div role="alert" class="message error">
                        <div text="method.error_message"></div>
                    </div>
                    <span class="no-display">
                        <input type="radio"
                               attr="'value' : method.method_code, 'id': 's_method_' + method.method_code" />
                    </span>
                </div>
            </div>
        </div>
        <span class="col-price">
            <each args="element.getRegion('price')" render="" />
        </span>
    </div>
</li>
