<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="payment-option _collapsible opc-payment-additional discount-code discount"
     data-bind="mageInit: {'collapsible':{'openedState': '_active'}}">
    <div class="payment-option-title field choice discount__title body2" data-role="title">
        <span class="action action-toggle" id="block-discount-heading" role="heading" aria-level="2">
            <!-- ko i18n: 'Coupon Code'--><!-- /ko -->
        </span>
        <i class="module-icon">
            <svg class="icon ico-chevron-down">
                <use data-bind="attr: { 'xlink:href': require.toUrl('') + 'images/icons-sprite.svg#ico-chevron-down' }" xlink:href=''></use>
            </svg>
        </i>
    </div>
    <div class="payment-option-content discount__content" data-role="content">
        <form class="form form-discount" id="discount-form">
            <div class="form-inline fieldset coupon">
                <div class="field coupon">
                    <label class="label sr-only" for="discount-code">
                        <span data-bind="i18n: 'Enter discount code'"></span>
                    </label>
                    <input class="input-text form-control"
                           type="text"
                           id="discount-code"
                           name="discount_code"
                           data-validate="{'required-entry':true}"
                           data-bind="value: couponCode, attr:{disabled:isApplied() , placeholder: $t('Discount code')} " />
                </div>
                <div class="field actions">
                    <div class="primary">
                        <!-- ko ifnot: isApplied() -->
                        <button class="action action-apply btn btn-sm btn-secondary btn-sm-block" type="submit" data-bind="'value': $t('Send'), click: apply">
                            <span><!-- ko i18n: 'Send'--><!-- /ko --></span>
                        </button>
                        <!-- /ko -->
                        <!-- ko if: isApplied() -->
                        <button class="action action-cancel btn btn-sm btn-secondary btn-sm-block" type="submit" data-bind="'value': $t('Cancel'), click: cancel">
                            <span><!-- ko i18n: 'Cancel'--><!-- /ko --></span>
                        </button>
                        <!-- /ko -->
                    </div>
                </div>
                <!-- ko foreach: getRegion('captcha') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!-- /ko -->
            </div>
            <div class="form-discount-error">
                <!-- ko foreach: getRegion('messages') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!--/ko-->
            </div>
        </form>
    </div>
</div>
