<!--
  ~ @author Interactiv4 Team
  ~ @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
  -->
<li id="overview" class="checkout-overview" data-bind="fadeVisible: isVisible">
    <div id="checkout-step-overview"
         class="step-content"
         data-role="content">
        <!-- Section of the shipping information -->
        <div class="overview-information order-client row">
            <div class="information-shipping shipping col-6">
                <div class="section overview-information__title h2">
                    <span translate="'Shipping'" />
                    <i class="module-icon" data-bind="click: backToShipping">
                        <svg class="icon ico-pen">
                            <use data-bind="attr: { 'xlink:href': require.toUrl('') + 'images/icons-sprite.svg#ico-pen' }" xlink:href=''></use>
                        </svg>
                    </i>
                </div>
                <div class="section overview-information__address shipping-address">
                    <div class="overview-information__sub-title h5">
                        <span translate="'Shipping address'" />
                    </div>
                    <!-- ko foreach: getRegion('shipping-address') -->
                        <!-- ko template: getTemplate() --><!-- /ko -->
                    <!--/ko-->
                </div>
                <div class="section overview-information__shipping-method">
                    <div class="overview-information__sub-title h5">
                        <span translate="'Shipping method'" />
                    </div>
                    <!-- ko foreach: getRegion('shipping-method') -->
                        <!-- ko template: getTemplate() --><!-- /ko -->
                    <!--/ko-->
                </div>
            </div>
            <div class="information-payment payment col-6">
                <div class="section overview-information__title h2">
                    <span translate="'Billing'" />
                    <i class="module-icon" data-bind="click: backToPayment">
                        <svg class="icon ico-pen">
                            <use data-bind="attr: { 'xlink:href': require.toUrl('') + 'images/icons-sprite.svg#ico-pen' }" xlink:href=''></use>
                        </svg>
                    </i>
                </div>
                <div class="section overview-information__address billing-address">
                    <div class="overview-information__sub-title h5">
                        <span translate="'Billing address'" />
                    </div>
                    <!-- ko foreach: getRegion('billing-address') -->
                        <!-- ko template: getTemplate() --><!-- /ko -->
                    <!--/ko-->
                </div>
                <div class="section overview-information__payment-method">
                    <div class="overview-information__sub-title h5">
                        <span translate="'Payment method'" />
                    </div>
                    <!-- ko foreach: getRegion('payment-method') -->
                        <!-- ko template: getTemplate() --><!-- /ko -->
                    <!--/ko-->
                </div>
            </div>
        </div>
        <!-- Section of the summary -->
        <div class="overview-information-summary summary">
            <!-- ko foreach: getRegion('summary') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
    </div>
</li>