<!--
  ~ @author Interactiv4 Team
  ~ @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
  -->

<div class="checkout-steps-wrapper">
    <ul class="checkout-steps opc-progress-bar">
        <!-- ko foreach: { data: steps().sort(sortItems), as: 'item' } -->
        <li class="item opc-progress-bar-item" data-bind="css: item.isVisible() ? 'item--active' : ($parent.isProcessed(item) ? 'item--complete' : '')">
            <span class="item__title body2" data-bind="i18n: ($index() + 1) + '. ' + item.title, click: $parent.navigateTo"></span>
        </li>
        <!-- /ko -->
    </ul>
</div>
