<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko foreach: getRegion('messages') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->
<div class="registration-content">
    <!-- ko if: isFormVisible -->
    <p data-bind="i18n: 'If you wish, you can track your order by creating an account with us.'"></p>
    <p><span data-bind="i18n: 'Your email'"></span>: <strong data-bind="text: getEmailAddress()"></strong></p>
    <a class="action btn btn-secondary btn-sm-block" data-bind="attr: { href: getUrl() }">
        <span data-bind="i18n: 'Create an Account'" />
    </a>
    <!--/ko-->
</div>
