<!--
  ~ @author Interactiv4 Team
  ~ @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
  -->
<li id="shipping" class="checkout-shipping-address" data-bind="fadeVisible: visible()">
    <div class="step-title h2" data-bind="i18n: 'Shipping address'" data-role="title"></div>
    <div id="checkout-step-shipping"
         class="step-content"
         data-role="content">

        <each if="!quoteIsVirtual" args="getRegion('customer-email')" render="" />

        <div class="shipping-address-list shipping-address-list address-list row">
            <each args="getRegion('address-list')" render="" />
            <each args="getRegion('address-list-additional-addresses')" render="" />

            <!-- Address form pop up -->
            <if args="!isFormInline">
                <div class="col-12">
                    <div class="row">
                        <div class="shipping-address-item address-item new-item col-12 col-md-6"
                             data-bind="visible: !isNewAddressAdded()">
                            <div class="item-inner">
                                <button type="button"
                                        class="action action-show-popup action-select-new-shipping body2"
                                        click="showFormPopUp"
                                        visible="!isNewAddressAdded()">
                                    <i class="module-icon">
                                        <svg class="icon icon-sm ico-plus"><use data-bind="attr: { 'xlink:href': require.toUrl('') + 'images/icons-sprite.svg#ico-plus' }" xlink:href=''></use></svg>
                                    </i>
                                    <span translate="'New Address'" />
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="opc-new-shipping-address"
                     visible="isFormPopUpVisible()"
                     render="shippingFormTemplate" />
            </if>

        </div>
        <each args="getRegion('before-form')" render="" />

        <!-- Inline address form -->
        <render if="isFormInline" args="shippingFormTemplate" />
    </div>
</li>

<!--Shipping method template-->
<li id="opc-shipping_method"
    class="checkout-shipping-method"
    data-bind="fadeVisible: visible(), blockLoader: isLoading"
    role="presentation">
    <div class="checkout-shipping-method">
        <div class="step-title h2" data-bind="i18n: 'Shipping Methods'" data-role="title"></div>

        <each args="getRegion('before-shipping-method-form')" render="" />

        <div id="checkout-step-shipping_method"
             class="step-content"
             data-role="content"
             role="tabpanel"
             aria-hidden="false">
            <form id="co-shipping-method-form"
                  class="form methods-shipping"
                  if="rates().length"
                  submit="setShippingInformation"
                  novalidate="novalidate">

                <render args="shippingMethodListTemplate"/>

                <div id="onepage-checkout-shipping-method-additional-load">
                    <each args="getRegion('shippingAdditional')" render="" />
                </div>
                <div role="alert"
                     if="errorValidationMessage().length"
                     class="message notice">
                    <span text="errorValidationMessage()" />
                </div>
                <div class="actions-toolbar" id="shipping-method-buttons-container">
                    <button data-role="opc-continue" type="submit"
                            class="button action continue primary btn btn-primary btn-sm-block">
                        <span translate="'Save and continue'" />
                    </button>
                </div>
            </form>
            <div class="no-quotes-block"
                 ifnot="rates().length > 0"
                 translate="'Sorry, no quotes are available for this order at this time'" />
        </div>
    </div>
</li>
