<!--
  ~ @author Interactiv4 Team
  ~ @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
  -->

<div id="opc-sidebar"
     data-bind="afterRender:setModalElement, mageInit: {
    'Magento_Ui/js/modal/modal':{
        'type': 'custom',
        'modalClass': 'cart-summary opc-sidebar opc-summary-wrapper col-lg-4',
        'wrapperClass': 'checkout-container',
        'parentModalClass': '_has-modal-custom',
        'responsive': true,
        'responsiveClass': 'custom-slide',
        'overlayClass': 'modal-custom-overlay',
        'buttons': []
    }}">
    <div class="cart-summary__totals">
        <!-- ko foreach: getRegion('summary') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <div class="opc-block-shipping-information">
            <!-- ko foreach: getRegion('shipping-information') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
    </div>

    <div class="opc-sidebar-additional">
        <!-- opc-block-payment-methods -->
        <div class="secure-payment">
            <span class="label"><!-- ko i18n: 'We accept' --><!-- /ko -->:</span>
            <div class="icons">
                <div class="payment-icons-row cards">
                    <i class="module-icon">
                        <svg class="icon ico-visa">
                            <use data-bind="attr: { 'xlink:href': require.toUrl('') + 'images/icons-sprite.svg#ico-visa' }" xlink:href=''></use>
                        </svg>
                    </i>
                    <i class="module-icon">
                        <svg class="icon ico-mastercard">
                            <use data-bind="attr: { 'xlink:href': require.toUrl('') + 'images/icons-sprite.svg#ico-mastercard' }" xlink:href=''></use>
                        </svg>
                    </i>
                    <i class="module-icon">
                    <svg class="icon ico-amex">
                        <use data-bind="attr: { 'xlink:href': require.toUrl('') + 'images/icons-sprite.svg#ico-amex' }" xlink:href=''></use>
                    </svg>
                </i>
                </div>
                <div class="payment-icons-row">
                    <i class="module-icon">
                        <svg class="icon ico-paypal">
                            <use data-bind="attr: { 'xlink:href': require.toUrl('') + 'images/icons-sprite.svg#ico-paypal' }" xlink:href=''></use>
                        </svg>
                    </i>
                    <i class="module-icon">
                        <svg class="icon ico-transfer">
                            <use data-bind="attr: { 'xlink:href': require.toUrl('') + 'images/icons-sprite.svg#ico-transfer' }" xlink:href=''></use>
                        </svg>
                    </i>
                </div>
            </div>
        </div>

        <!-- opc-block-promotional-coupon -->
        <div class="opc-block-promotional-coupon opc-block-generic">
            <span class="opc-block-promotional-coupon__title">
                <!-- ko i18n: 'Have a coupon code?' --><!-- /ko -->
            </span>
                <span class="opc-block-promotional-coupon__description">
                <!-- ko i18n: 'You can add it in the next step.' --><!-- /ko -->
            </span>
        </div>
    </div>

</div>
