<!--
  ~ @author Interactiv4 Team
  ~ @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
  -->
<div class="opc-block-summary" data-bind="blockLoader: isLoading">
    <div class="opc-block-summary__title h4" data-bind="i18n: 'Summary'"></div>
    <!-- ko foreach: elems() -->
        <!-- ko template: getTemplate() --><!-- /ko -->
    <!-- /ko -->
</div>
