<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Catalog advanced search form
 *
 * @var $block \Magento\CatalogSearch\Block\Advanced\Form
 */
?>
<?php $maxQueryLength = $this->helper('Magento\CatalogSearch\Helper\Data')->getMaxQueryLength();?>
<form class="form search advanced col-12 col-md-6" action="<?= /* @escapeNotVerified */ $block->getSearchPostUrl() ?>" method="get" id="form-validate">
<fieldset class="fieldset">
    <?php foreach ($block->getSearchableAttributes() as $_attribute): ?>
    <?php $_code = $_attribute->getAttributeCode() ?>
        <div class="field <?= /* @escapeNotVerified */ $_code ?>">
            <div class="control form-group">
                <label class="label" for="<?= /* @escapeNotVerified */ $_code ?>">
                    <span><?= $block->escapeHtml(__($block->getAttributeLabel($_attribute))) ?></span>
                </label>
            <?php switch ($block->getAttributeInputType($_attribute)):
                case 'number': ?>
                <div class="range fields group group-2">
                    <div class="field no-label">
                        <div class="control">
                            <input type="text"
                                   name="<?= /* @escapeNotVerified */ $_code ?>[from]"
                                   value="<?= $block->escapeHtml($block->getAttributeValue($_attribute, 'from')) ?>"
                                   id="<?= /* @escapeNotVerified */ $_code ?>"
                                   title="<?= $block->escapeHtml($block->getAttributeLabel($_attribute)) ?>"
                                   class="input-text form-control"
                                   maxlength="<?= /* @escapeNotVerified */ $maxQueryLength ?>"
                                   data-validate="{number:true, 'less-than-equals-to':'#<?= /* @escapeNotVerified */ $_code ?>_to'}" />
                        </div>
                    </div>
                    <div class="field no-label">
                        <div class="control">
                            <input type="text"
                                   name="<?= /* @escapeNotVerified */ $_code ?>[to]"
                                   value="<?= $block->escapeHtml($block->getAttributeValue($_attribute, 'to')) ?>"
                                   id="<?= /* @escapeNotVerified */ $_code ?>_to"
                                   title="<?= $block->escapeHtml($block->getAttributeLabel($_attribute)) ?>"
                                   class="input-text form-control"
                                   maxlength="<?= /* @escapeNotVerified */ $maxQueryLength ?>"
                                   data-validate="{number:true, 'greater-than-equals-to':'#<?= /* @escapeNotVerified */ $_code ?>'}" />
                        </div>
                    </div>
                </div>
                <?php break;
                case 'price': ?>
                <div class="range price fields group group-2">
                    <div class="field no-label">
                        <div class="control">
                            <input name="<?= /* @escapeNotVerified */ $_code ?>[from]"
                                   value="<?= $block->escapeHtml($block->getAttributeValue($_attribute, 'from')) ?>"
                                   id="<?= /* @escapeNotVerified */ $_code ?>"
                                   title="<?= $block->escapeHtml($block->getAttributeLabel($_attribute)) ?>"
                                   class="input-text form-control"
                                   type="text"
                                   maxlength="<?= /* @escapeNotVerified */ $maxQueryLength ?>"
                                   data-validate="{number:true, 'less-than-equals-to':'#<?= /* @escapeNotVerified */ $_code ?>_to'}" />
                        </div>
                    </div>
                    <div class="field with-addon no-label">
                        <div class="control">
                            <div class="addon">
                                <input name="<?= /* @escapeNotVerified */ $_code ?>[to]"
                                       value="<?= $block->escapeHtml($block->getAttributeValue($_attribute, 'to')) ?>"
                                       id="<?= /* @escapeNotVerified */ $_code ?>_to"
                                       title="<?= $block->escapeHtml($block->getAttributeLabel($_attribute)) ?>"
                                       class="input-text form-control"
                                       type="text"
                                       maxlength="<?= /* @escapeNotVerified */ $maxQueryLength ?>"
                                       data-validate="{number:true, 'greater-than-equals-to':'#<?= /* @escapeNotVerified */ $_code ?>'}" />
                                <label class="addafter"
                                       for="<?= /* @escapeNotVerified */ $_code ?>_to">
                                    <?= /* @escapeNotVerified */ $block->getCurrency($_attribute) ?>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <?php break;
                case 'select': ?>
                    <?= /* @escapeNotVerified */ $block->getAttributeSelectElement($_attribute) ?>
                <?php break;
                case 'yesno': ?>
                    <?= /* @escapeNotVerified */ $block->getAttributeYesNoElement($_attribute) ?>
                <?php break;
                case 'date': ?>
                <div class="range dates fields group group-2">
                    <div class="field date no-label">
                        <div class="control">
                            <?= /* @escapeNotVerified */ $block->getDateInput($_attribute, 'from') ?>
                        </div>
                    </div>
                    <div class="field date no-label">
                        <div class="control">
                            <?= /* @escapeNotVerified */ $block->getDateInput($_attribute, 'to') ?>
                        </div>
                    </div>
                </div>
                <?php break;
                default: ?>
                <input type="text"
                       name="<?= /* @escapeNotVerified */ $_code ?>"
                       id="<?= /* @escapeNotVerified */ $_code ?>"
                       value="<?= $block->escapeHtml($block->getAttributeValue($_attribute)) ?>"
                       title="<?= $block->escapeHtml($block->getAttributeLabel($_attribute)) ?>"
                       class="input-text form-control <?= /* @escapeNotVerified */ $block->getAttributeValidationClass($_attribute) ?>"
                       maxlength="<?= /* @escapeNotVerified */ $maxQueryLength ?>" />
            <?php endswitch; ?>
            </div>
        </div>
    <?php endforeach; ?>
</fieldset>
<div class="actions-toolbar">
  <div class="primary">
    <button type="submit"
            class="action search primary btn btn-primary"
            title="<?= $block->escapeHtml(__('Search')) ?>">
        <span><?= /* @escapeNotVerified */ __('Search') ?></span>
    </button>
  </div>
</div>
</form>
<script>
require([
    "jquery",
    "mage/mage",
    "mage/validation"
], function($){
    $('#form-validate').mage('validation', {
            errorPlacement: function (error, element) {
                var parent = element.parent();
                if (parent.hasClass('range')) {
                    parent.find(this.errorElement + '.' + this.errorClass).remove().end().append(error);
                } else {
                    error.insertAfter(element);
                }
            },
            messages: {
                'price[to]': {'greater-than-equals-to': 'Please enter a valid price range.'},
                'price[from]': {'less-than-equals-to': 'Please enter a valid price range.'}
            }
        });
});
</script>
