<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

// @codingStandardsIgnoreFile

 /** @var \Magento\CatalogSearch\Helper\Data $helper */
$helper = $this->helper('Magento\CatalogSearch\Helper\Data');
?>
<div class="nested">
    <a class="action advanced btn-link" href="<?= /* @escapeNotVerified */ $helper->getAdvancedSearchUrl() ?>" data-action="advanced-search">
        <?= /* @escapeNotVerified */ __('Advanced Search') ?>
    </a>
</div>
