<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Wishlist\Block\Catalog\Product\View\AddTo\Wishlist $block */
?>
<?php if ($block->isWishListAllowed()) : ?>
    <a href="#"
       class="action towishlist"
       data-post='<?= /* @noEscape */ $block->getWishlistParams() ?>'
       data-action="add-to-wishlist"
    >
        <i class="module-icon">
            <svg class="icon ico-wishlist"><use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-wishlist"></use></svg>
        </i>
        <span><?= $block->escapeHtml(__('Add to wishlist')) ?></span>
    </a>
    <script type="text/x-magento-init">
    {
        "body": {
            "addToWishlist": <?= /* @noEscape */ $block->getWishlistOptionsJson() ?>
        }
    }
    </script>
<?php endif; ?>
