<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */
?>
<?php
/** @var \MageWorx\Downloads\Block\Catalog\Product\Link $block */

$item     = $block->getItem();
$fileName = $item->getName();
$itemUrl  = $block->getAttachmentLink($item->getId());
?>

<div class="downloads-item">
    <div class="item-icon"><?php echo $block->getIconImgTag($item) ?></div>
    <div class="item-link">
        <?php if ($item->getIsInGroup()) { ?>
            <span onclick="window.open('<?php echo $block->escapeHtml($itemUrl) ?>','_blank')"
               rel="<?php echo $item->getId() ?>"
               target="_blank"
               title="<?php echo $block->escapeHtml($item->getName()) ?>" class="link">
                <b><?php echo $block->escapeHtml($item->getName()) ?></b>
            </span>
        <?php } else { ?>
            <b><?php echo $fileName ?></b><span>*</span>
        <?php } ?>
    </div>
    
    <div class="item-info">
        <?php if ($block->isDisplaySize() && $item->isFileContent()): ?>
            (<?php echo __('Size') ?>: <?php echo $block->getPrepareFileSize($item->getSize()) ?>)
        <?php endif; ?>
        <?php if ($block->isDisplayDownloads() && $item->isFileContent()): ?>
            <?php echo __('Downloads') ?>: <?php echo $item->getDownloads() ?>
        <?php endif; ?>
    </div>
    
    <?php if ($item->getDescription()): ?>
        <div class="item-description">
            <?= /* @noEscape */ $item->getDescription(); ?>
        </div>
    <?php endif; ?>
</div>

