<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

// @codingStandardsIgnoreFile

?>
<?php
/** @var \Magento\Customer\Block\Address\Book $block */
?>
<div class="block block-addresses-default">
    <div class="block-title"><strong><?= $block->escapeHtml(__('Default Addresses')) ?></strong></div>
    <div class="block-content row">
        <?php if ($_pAddsses = $block->getDefaultShipping()) : ?>
            <div class="box box-address-shipping col-12 col-md-6">
                <strong class="box-title">
                    <span><?= $block->escapeHtml(__('Default Shipping Address')) ?></span>
                </strong>
                <div class="box-container">
                    <div class="box-content">
                        <address>
                            <?= $block->getAddressHtml($block->getAddressById($_pAddsses)) ?>
                        </address>
                    </div>
                    <div class="box-actions">
                        <a class="action edit btn-link btn-link-sm"
                           href="<?= $block->escapeUrl($block->getAddressEditUrl($_pAddsses)) ?>">
                            <i class="module-icon">
                                <svg class="icon icon-sm ico-pen"><use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-pen"></use></svg>
                            </i>
                            <span><?= $block->escapeHtml(__('Edit')) ?></span>
                        </a>
                    </div>
                </div>
            </div>
        <?php else : ?>
            <div class="box box-shipping-address col-12 col-md-6">
                <strong class="box-title"><span><?= $block->escapeHtml(__('Default Shipping Address')) ?></span></strong>
                <div class="box-container">
                    <div class="box-content">
                        <p><?= $block->escapeHtml(__('You have no default shipping address in your address book.')) ?></p>
                    </div>
                </div>
            </div>
        <?php endif ?>

        <?php if ($_pAddsses = $block->getDefaultBilling()) : ?>
            <div class="box box-address-billing col-12 col-md-6">
                <strong class="box-title">
                    <span><?= $block->escapeHtml(__('Default Billing Address')) ?></span>
                </strong>
                <div class="box-container">
                    <div class="box-content">
                        <address>
                            <?= $block->getAddressHtml($block->getAddressById($_pAddsses)) ?>
                        </address>
                    </div>
                    <div class="box-actions">
                        <a class="action edit btn-link btn-link-sm"
                           href="<?= $block->escapeUrl($block->getAddressEditUrl($_pAddsses)) ?>">
                            <i class="module-icon">
                                <svg class="icon icon-sm ico-pen"><use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-pen"></use></svg>
                            </i>
                            <span><?= $block->escapeHtml(__('Edit')) ?></span>
                        </a>
                    </div>
                </div>
            </div>
        <?php else : ?>
            <div class="box box-billing-address col-12 col-md-6">
                <strong class="box-title"><span><?= $block->escapeHtml(__('Default Billing Address')) ?></span></strong>
                <div class="box-container">
                    <div class="box-content">
                        <p><?= $block->escapeHtml(__('You have no default billing address in your address book.')) ?></p>
                    </div>
                </div>
            </div>
        <?php endif ?>
    </div>
</div>
