<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Customer\Block\Address\Grid $block */
$customerAddressView = $block->getData('customer_address');
?>

<div class="block block-addresses-list">
    <div class="block-title h4"><strong><?= $block->escapeHtml(__('Additional Address Entries')) ?></strong></div>
    <div class="block-content row">
        <?php if ($_pAddsses = $block->getAdditionalAddresses()): ?>
            <?php foreach ($_pAddsses as $address): ?>
                <div class="box box-additional-address col-12 col-md-6">
                    <div class="box-container">
                        <div class="box-content">
                            <address>
                                <p class="name">
                                    <?= $block->escapeHtml($address->getFirstname()) ?>
                                    <?= $block->escapeHtml($address->getLastname()) ?>
                                </p>
                                <span class="streetaddress"><?= $block->escapeHtml($block->getStreetAddress($address)) ?></span><br>
                                <span class="city"><?= $block->escapeHtml($address->getCity()) ?></span>,
                                <span class="state"><?= $block->escapeHtml($address->getRegion()->getRegion()) ?></span>
                                <span class="zip"><?= $block->escapeHtml($address->getPostcode()) ?></span><br>
                                <span class="country"><?= $block->escapeHtml($block->getCountryByCode($address->getCountryId())) ?></span><br>
                                <span class="phone">T: <?= $block->escapeHtml($address->getTelephone()) ?></span>
                            </address>
                        </div>
                        <div class="box-actions">
                            <a class="action edit btn-link btn-link-sm"
                               href="<?= $block->escapeUrl($block->getUrl('customer/address/edit', ['id' => $address->getId()])) ?>">
                                <i class="module-icon">
                                    <svg class="icon icon-sm ico-pen"><use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-pen"></use></svg>
                                </i>
                                <span><?= $block->escapeHtml(__('Edit')) ?></span>
                            </a>
                            <a class="action delete btn-link btn-link-sm"
                               href="#" role="delete-address"
                               data-address="<?= $block->escapeHtmlAttr($address->getId()) ?>">
                                <i class="module-icon">
                                    <svg class="icon icon-sm ico-trash"><use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-trash"></use></svg>
                                </i>
                                <span><?= $block->escapeHtml(__('Delete')) ?></span>
                            </a>
                        </div>
                    </div>
                </div>
            <?php endforeach; ?>
        <?php else: ?>
            <p class="empty col-12"><?= $block->escapeHtml(__('You have no other address entries in your address book.')) ?></p>
        <?php endif ?>
    </div>
    <div class="actions-toolbar">
        <div class="block-content row">
            <div class="box col-12 col-md-6">
                <div class="primary box-container new-address">
                    <button type="button" role="add-address"
                            title="<?= $block->escapeHtmlAttr(__('New Address')) ?>"
                            class="action primary add body2">
                        <i class="module-icon">
                            <svg class="icon icon-sm ico-plus"><use data-bind="attr: { 'xlink:href': require.toUrl('') + 'images/icons-sprite.svg#ico-plus' }" xlink:href=''></use></svg>
                        </i>
                        <span class="button__title"><?= $block->escapeHtml(__('New Address')) ?></span>
                    </button>
                </div>
                <div class="secondary">
                    <a class="action back btn-link btn-link-arrow-left btn-sm-block"
                       href="<?= $block->escapeUrl($block->getUrl('customer/account')) ?>">
                        <span><?= $block->escapeHtml(__('Go back')) ?></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/x-magento-init">
    {
        ".page-main": {
            "address": {
                "deleteAddress": "td a[role='delete-address']",
                "deleteUrlPrefix": "<?= $block->escapeJs($block->escapeUrl($block->getDeleteUrl())) ?>id/",
                "addAddress": "button[role='add-address']",
                "addAddressLocation": "<?= $block->escapeJs($block->escapeUrl($block->getAddAddressUrl())) ?>"
            }
        }
    }
</script>
