<!--
  ~ @author Interactiv4 Team
  ~ @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
  -->
<div class="field-tooltip toggle">

    <!-- ko if: (tooltip.link)-->
    <a class="field-tooltip-action action-help"
       target="_blank"
       data-toggle="dropdown"
       data-bind="attr: {href: tooltip.link}, mageInit: {'dropdown':{'activeClass': '_active'}}"></a>
    <!-- /ko -->

    <!-- ko if: (!tooltip.link)-->
    <span id="tooltip"
          class="field-tooltip-action action-help"
          tabindex="0"
          data-toggle="dropdown"
          data-bind="mageInit: {'dropdown':{'activeClass': '_active', 'parent': '.field-tooltip.toggle'}}"
          aria-labelledby="tooltip-label"
    >
        <i class="module-icon" id="tooltip-label">
            <svg class="icon ico-question-circle">
                <use data-bind="attr: { 'xlink:href': require.toUrl('') + 'images/icons-sprite.svg#ico-question-circle' }" xlink:href=''></use>
            </svg>
        </i>
    </span>
    <!-- /ko -->

    <div class="field-tooltip-content"
         data-target="dropdown" translate="tooltip.description">
    </div>
</div>