<!--Move to CMS block, delete call in XML-->
<div class="minicart__empty--title h2">Need some inspiration?</div>
<p class="minicart__empty--text body2">We have hundreds of nice things to fill up your home. Take a look!</p>
<!--{{widget type="Magento\Catalog\Block\Category\Widget\Link" template="category/widget/link/link_block.phtml" id_path="category/3"}-->
<?= $block->getLayout()
    ->createBlock('Magento\Catalog\Block\Category\Widget\Link')
    ->setTemplate("category/widget/link/link_block.phtml")
    ->setIdPath("category/3")
    ->toHtml()
?>