<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div if="hasData()"
     class="block products-slider" css="additionalClasses">
    <h2 class=" block-title products-slider__title section-title h1">
        <small translate="'Featured products'"></small>
        <span role="heading"
              aria-level="2"
              text="label"/>
    </h2>
    <div class="block-content products-slider__content">
        <div css="'products-' + displayMode">
            <ol class=" product__items row product-items" afterRender="onAfterRender">
                <li class="product product-item product__item product--grid col-6 col-lg-3" repeat="foreach: filteredRows, item: '$row'">
                    <div class="product__inner">
                        <div class="product__info product-item-info">
                            <div class="product__image">
                                <fastForEach args="data: getRegion('general-area'), as: '$col'" >
                                    <render args="$col.getBody()"/>
                                </fastForEach>
                            </div>

                            <div class="product__details product-item-details">
                                <fastForEach args="data: getRegion('details-area'), as: '$col'" >
                                    <render args="$col.getBody()"/>
                                </fastForEach>

                                <div if="getRegion('bottom-area')().length" class="product__bottom">
                                    <fastForEach args="data: getRegion('bottom-area'), as: '$col'" >
                                        <render args="$col.getBody()"/>
                                    </fastForEach>
                                </div>

                                <div if="getRegion('description-area')().length"
                                     class="product-item-description">
                                    <fastForEach args="data: getRegion('description-area'), as: '$col'" >
                                        <render args="$col.getBody()"/>
                                    </fastForEach>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ol>
        </div>
    </div>
</div>
