<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2021 Amasty (https://www.amasty.com)
 * @package Amasty_Mostviewed
 */
?>
<?php
/**
 * @var \Amasty\Mostviewed\Block\Widget\Related $block
 * @codingStandardsIgnoreFile
 */
?>
<?php if ($block->getProductCollection() && $block->getProductCollection()->getSize()) : ?>
    <?php
    $type = 'widget-product-grid';

    $mode = 'grid';

    $image = 'related_products_content';
    $items = $block->getProductCollection()->getItems();

    $isSlider = $block->getBlockLayout();

    $showWishlist = true;
    $showCompare = false;
    $showCart = false; //$block->getAddToCart();
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    $description = false;
    $block->setTitle(__('Related products'));

    /** @var Logiscenter\AvailabilityInfo\ViewModel\AvailabilityData $viewModel */
    $viewModel = $block->getData('view_model_availability_info');
    ?>

    <div class="block <?= /* @noEscape */ $block->getCssClass() ?> amrelated-grid-wrapper products-slider block-products-list <?= /* @noEscape */ $mode ?>"
         id="amrelated-block-<?= (int)$block->getGroupId();?>"
    >
        <div class="products-slider__container container-fluid distributor">
            <?php if ($block->getTitle()) : ?>
                <h1 class="block-title products-slider__title section-title h1">
                    <small><?= $block->escapeHtml(__('Featured products'))?></small>
                    <strong><?= $block->escapeHtml(__($block->getTitle())) ?></strong>
                </h1>
            <?php endif; ?>

            <div class="block-content products-slider__content">
                <div class="products-<?= /* @noEscape */ $mode ?> <?= /* @noEscape */ $mode ?>">
                    <ol class="product-items <?= /* @noEscape */ $type ?> product__items row" <?= /* @noEscape */ $isSlider ? 'data-amrelated-js="slider"' : ''?>>
                        <?php foreach ($items as $item) : ?>
                            <li class="product-item product product__item product--grid col-12 col-lg-3">
                                <div class="product__inner">
                                    <div class="product__info product-item-info">
                                    <a href="<?= $block->escapeUrl($block->getProductUrl($item)) ?>" class="product__image">
                                        <?= /* @noEscape */ $block->getImage($item, $image)->toHtml() ?>
                                    </a>
                                    <div class="product__details product-item-details">
                                        <?php if ($showWishlist || $showCompare || $showCart) : ?>
                                            <div class="product__actions product-item-actions">
                                                <?php if ($showCart) : ?>
                                                    <div class="actions__primary actions-primary">
                                                        <?php if ($item->isSaleable()) : ?>
                                                            <?php if ($item->getTypeInstance()->hasRequiredOptions($item)) : ?>
                                                                <button class="action tocart primary btn btn-primary btn-block" data-mage-init='{"redirectUrl":{"url":"<?= $block->escapeUrl($block->getAddToCartUrl($item)) ?>"}}' type="button" title="<?= $block->escapeHtml(__('Add to Cart')) ?>">
                                                                    <span><?= $block->escapeHtml(__('Add to Cart')) ?></span>
                                                                </button>
                                                            <?php else : ?>
                                                                <?php
                                                                $postDataHelper = $this->helper(\Magento\Framework\Data\Helper\PostHelper::class);
                                                                $postData = $postDataHelper->getPostData($block->getAddToCartUrl($item), ['product' => $item->getEntityId()])
                                                                ?>
                                                                <button class="action tocart primary btn btn-primary btn-block" data-post='<?= /* @noEscape */ $postData ?>' type="button" title="<?= $block->escapeHtml(__('Add to Cart')) ?>">
                                                                    <span><?= $block->escapeHtml(__('Add to Cart')) ?></span>
                                                                </button>
                                                            <?php endif; ?>
                                                        <?php endif; ?>
                                                    </div>
                                                <?php endif; ?>
                                                <?php if ($showWishlist || $showCompare) : ?>
                                                    <div class="actions-secondary" data-role="add-to-links">
                                                        <?php if ($this->helper(\Magento\Wishlist\Helper\Data::class)->isAllow() && $showWishlist) : ?>
                                                            <a href="#"
                                                               data-post='<?= /* @noEscape */ $block->getAddToWishlistParams($item) ?>'
                                                               class="action towishlist"
                                                               data-action="add-to-wishlist"
                                                               title="<?= $block->escapeHtml(__('Add to Wish List')) ?>">
                                                                <span><?= $block->escapeHtml(__('Add to Wish List')) ?></span>
                                                            </a>
                                                        <?php endif; ?>
                                                        <?php if ($block->getAddToCompareUrl() && $showCompare) : ?>
                                                            <?php $compareHelper = $this->helper(\Magento\Catalog\Helper\Product\Compare::class);?>
                                                            <a href="#" class="action tocompare"
                                                               data-post='<?= /* @noEscape */ $compareHelper->getPostDataParams($item) ?>'
                                                               title="<?= $block->escapeHtml(__('Add to Compare')) ?>">
                                                                <span><?= $block->escapeHtml(__('Add to Compare')) ?></span>
                                                            </a>
                                                        <?php endif; ?>
                                                    </div>
                                                <?php endif; ?>
                                            </div>
                                        <?php endif; ?>

                                        <h3 class="product__name product name product-item-name h5">
                                            <a title="<?= $block->escapeHtml($item->getName()) ?>"
                                               href="<?= $block->escapeUrl($block->getProductUrl($item)) ?>"
                                               class="product__link product-item-link body2">
                                                <?= $block->escapeHtml($item->getName()) ?>
                                            </a>
                                        </h3>

                                        <div class="product__bottom">
                                            <div class="product__price">
                                                <?= /* @noEscape */ $block->getProductPriceHtml($item, \Magento\Catalog\Pricing\Price\FinalPrice::PRICE_CODE) ?>
                                            </div>

                                            <?php $availabilityMessage = $viewModel->getAvailabilityMessage($item, true); ?>
                                            <?php if ($availabilityMessage): ?>
                                                <?php $availabilityMessageType = $viewModel->getAvailabilityMessageType($item, true); ?>
                                                <div class="product__availability-message availability-message availability-message--product-list <?= ($availabilityMessageType) ? $availabilityMessageType : 'no-stock' ?>">
                                                    <?php if ($viewModel->canShowAvailabilityPopup($item, true) && $item->getSku()): ?>
                                                        <span class="availability-message__text availability-message__text--action btn btn-link btn-link-sm"
                                                              data-event="check-availability"
                                                              data-sku="<?= $item->getSku() ?>">
                                                                <?= $block->escapeHtml($availabilityMessage) ?>
                                                            </span>
                                                    <?php elseif ($availabilityMessageType == 'in-stock'): ?>
                                                        <span class="availability-message__text availability-message__text--static">
                                                                <?= $block->escapeHtml($availabilityMessage) ?>
                                                            </span>
                                                    <?php elseif ($availabilityMessageType == 'action'): ?>
                                                        <a href="<?= $block->escapeUrl($item->getProductUrl()) ?>" class="availability-message__text availability-message__text--action btn btn-link btn-link-sm">
                                                            <?= $block->escapeHtml($availabilityMessage) ?>
                                                        </a>
                                                    <?php else: ?>
                                                        <span class="availability-message__text availability-message__text--static">
                                                                <?= $block->escapeHtml($availabilityMessage) ?>
                                                            </span>
                                                    <?php endif; ?>
                                                </div>
                                            <?php endif; ?>
                                        </div>

                                        <?php if ($templateType) : ?>
                                            <?= /* @noEscape */ $block->getReviewsSummaryHtml($item, $templateType) ?>
                                        <?php endif; ?>
                                        <?= $block->getBrandLogoHtml($item) ?>
                                    </div>
                                </div>
                                </div>
                            </li>
                        <?php endforeach ?>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <?php if ($isSlider) : ?>
        <script type="text/javascript">
            require([
                "jquery",
                "Amasty_Base/vendor/slick/slick.min"
            ], function ($) {
                $('#amrelated-block-<?= /* @noEscape */ (int)$block->getGroupId();?> [data-amrelated-js="slider"]').slick(
                    {
                        arrows: true,
                        dots: true,
                        infinite: true,
                        slidesToShow: 5,
                        slidesToScroll: 1,
                        row: 0,
                        prevArrow: '<button type="button" class="slick-prev">' +
                            '<i class="module-icon">' +
                            '   <svg class="icon icon-sm ico-chevron-left"><use xlink:href="' + btnLeft + '"></use></svg>' +
                            '</i>' +
                            '</button>',
                        nextArrow: '<button type="button" class="slick-next">' +
                            '<i class="module-icon">' +
                            '   <svg class="icon icon-sm ico-chevron-right"><use xlink:href="' + btnRight + '"></use></svg>' +
                            '</i>' +
                            '</button>',
                        responsive: [
                            {
                                breakpoint: 992,
                                settings: {
                                    slidesToShow: 2,
                                    slidesToScroll: 1,
                                    vertical: false,
                                    arrows: false
                                }
                            }
                        ]
                    }
                );
            });
        </script>
    <?php endif; ?>
<?php endif;?>
