<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

// @codingStandardsIgnoreFile
?>
<div class="back-to-orders">
    <a href="<?= $block->getUrl('sales/order/history/') ?>" class="action back btn-link btn-link-arrow-left">
        <span><?php echo __("Go Back")?></span>
    </a>
</div>