<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

// @codingStandardsIgnoreFile

?>
<?php /** @var $block \Magento\Sales\Block\Order\Info */ ?>
<?php $_order = $block->getOrder() ?>
<?php //if ($block->getCustomer()->getAddresses()) :?>
    <?php $addresses = $_order->getAddresses()?>
    <?php foreach ($addresses as $blockAddresses):
        if ($blockAddresses->getAddressType() == "shipping") {
            $shippingAddress = $blockAddresses;
        }
        if ($blockAddresses->getAddressType() == "billing"){
            $billingAddress = $blockAddresses;
        }
    endforeach;
    ?>
<?php //endif; ?>
<div class="block block-order-details-view">
    <div class="block-title">
        <h3><?= __('Order information') ?></h3>
    </div>
    <div class="block-content row">
    <?php if (!$_order->getIsVirtual()): ?>
        <div class="box box-order-shipping-address col-12 col-md-3">
            <div class="block-title"><?= /* @escapeNotVerified */ __('Shipping address') ?></div>
            <div class="box-container">
                <strong class="box-title"><span><?php echo $shippingAddress->getFirstname().' '.$shippingAddress->getLastname() ?></span></strong>
                <div class="box-content">
                    <address>
                        <?php if (!empty($shippingAddress)) : ?>
                            <?php if ($shippingAddress->getCompany()) {
                                echo $shippingAddress->getCompany().'<br />';
                            }
                            if ($shippingAddress->getStreet()){
                                echo $shippingAddress->getStreet()[0].'<br />';
                                echo $shippingAddress->getPostcode().' '.$shippingAddress->getCity().'<br />'; ?>
                                <p class="tel-info">

                                </p>
                                <?php echo $block->escapeHtml($block->getCountryName($shippingAddress->getCountryId())).'<span class="telf">'.$shippingAddress->getTelephone().'</span>'; ?>
                            <?php } ?>
                        <?php endif; ?>
                    </address>
                </div>
            </div>
        </div>

        <div class="box box-order-shipping-method col-12 col-md-3">
            <div class="block-title"><?= /* @escapeNotVerified */ __('Shipping method') ?></div>
            <div class="box-container">
                <strong class="box-title">
                    <span><?php if ($_order->getShippingDescription()): ?>
                            <?= $block->escapeHtml($_order->getShippingDescription()) ?>
                        <?php endif; ?></span>
                </strong>
                <div class="box-content">
                <?php if (!$_order->getShippingDescription()): ?>
                    <?= /* @escapeNotVerified */ __('No shipping information available') ?>
                <?php endif; ?>
                </div>
            </div>
        </div>
    <?php endif; ?>

        <div class="box box-order-billing-address col-12 col-md-3">
            <div class="block-title"><?= /* @escapeNotVerified */ __('Billing address') ?></div>
            <div class="box-container">
                <strong class="box-title">
                    <span><?= $billingAddress->getFirstname().' '.$billingAddress->getLastname() ?></span>
                </strong>
                <div class="box-content">
                    <address>
                        <?php if (!empty($billingAddress)) : ?>
                            <?php if ($billingAddress->getCompany()) {
                                echo $billingAddress->getCompany().'<br />';
                            }
                            if ($billingAddress->getStreet()){
                                echo $billingAddress->getStreet()[0].'<br />';
                                echo $billingAddress->getPostcode().' '.$billingAddress->getCity().'<br />'; ?>
                                <p class="tel-info">

                                </p>
                                <?php echo $block->escapeHtml($block->getCountryName($billingAddress->getCountryId())).'<span class="telf">'.$billingAddress->getTelephone().'</span>'; ?>
                            <?php } ?>
                        <?php endif; ?>
                    </address>
                </div>
            </div>
        </div>
        <div class="box box-order-billing-method col-12 col-md-3">
            <div class="block-title"><?= /* @escapeNotVerified */ __('Payment method') ?></div>
            <div class="box-container">
                <strong class="box-title">
                    <span><?= $block->getPaymentInfoHtml() ?></span>
                </strong>
                <div class="box-content">

                </div>
            </div>
        </div>
    </div>
</div>
