<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

// @codingStandardsIgnoreFile

?>

<div class="order-date">
    <strong><?= /* @escapeNotVerified */ __('Date') . ': ' ?></strong>
    <span><?= /* @escapeNotVerified */ __('%1', '<date>' . $block->formatDate($block->getOrder()->getCreatedAt(), \IntlDateFormatter::LONG) . '</date>') ?></span>
</div>
