<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--<if args="isSalable($row())">-->
    <div class="minimal-price">
        <span if="label"
              class="price-label"
              text="label"/>

        <span class="price-container"
              css="getAdjustmentCssClasses($row())">
            <span class="price-wrapper price-including-tax"
                  data-price-amount=""
                  data-price-type=""
                  html="getPrice($row())"/>

            <each args="data: getAdjustments(), as: '$adj'">
                <render args="$adj.getBody()"/>
            </each>
        </span>
    </div>
<!--</if>-->
