<?php
/**
 * @author Interactiv4 Team
 * @copyright  Copyright © Interactiv4 (https://www.interactiv4.com)
 *
 */
?>

<div class="block <?= $block->escapeHtmlAttr($block->getBlockCss()) ?>">
    <div class="title <?= $block->escapeHtmlAttr($block->getBlockCss()) ?>-title"
         data-mage-init='{"toggleAdvanced": {"toggleContainers": "#<?= $block->escapeHtmlAttr($block->getBlockId()) ?>", "selectorsToggleClass": "active"}}'>
        <strong>
            <?= $block->escapeHtml(__($block->getBlockTitle())) ?>
        </strong>
    </div>
    <div class="content <?= $block->escapeHtmlAttr($block->getBlockCss()) ?>-content"
         id="<?= $block->escapeHtmlAttr($block->getBlockId()) ?>">
        <?= $block->getChildHtml() ?>
    </div>
</div>
