<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Pager template
 *
 * @see \Magento\Theme\Block\Html\Pager
 */
?>
<?php if ($block->getCollection()->getSize()): ?>

    <?php if ($block->getUseContainer()): ?>
        <div class="pager">
    <?php endif ?>

    <?php if ($block->getShowAmounts()): ?>
        <p class="toolbar-amount">
            <span class="toolbar-number">
            <?php if ($block->getLastPageNum()>1): ?>
                <?= /* @escapeNotVerified */ __('%2 of %3 total', $block->getFirstNum(), $block->getLastNum(), $block->getTotalNum()) ?>
            <?php elseif ($block->getTotalNum() == 1): ?>
                <?= /* @escapeNotVerified */ __('%1 Item', $block->getTotalNum()) ?>
            <?php else: ?>
                <?= /* @escapeNotVerified */ __('%1 Item(s)', $block->getTotalNum()) ?>
            <?php endif; ?>
            </span>
        </p>
    <?php endif ?>

    <?php if ($block->getLastPageNum()>1): ?>
        <div class="pages">
            <strong class="label pages-label" id="paging-label"><?= /* @escapeNotVerified */ __('Page') ?></strong>

            <div class="pages-item-previous">
                <?php if (!$block->isFirstPage()): ?>
                    <?php $text = $block->getAnchorTextForPrevious() ? $block->getAnchorTextForPrevious() : '';?>
                    <a class="<?= /* @escapeNotVerified */ $text ? 'link ' : 'action ' ?> previous" href="<?= /* @escapeNotVerified */ $block->getPreviousPageUrl() ?>" title="<?= /* @escapeNotVerified */ $text ? $text : __('Previous') ?>">
                        <i class="module-icon">
                            <svg class="icon icon-sm ico-chevron-left"><use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-chevron-left"></use></svg>
                        </i>
                        <span class="label"><?= /* @escapeNotVerified */ __('Page') ?></span>
                        <span><?= /* @escapeNotVerified */ $text ? $text : __('Previous') ?></span>
                    </a>
                <?php endif;?>
            </div>
            <ul class="items pages-items" aria-labelledby="paging-label">

                <?php if ($block->canShowFirst()): ?>
                    <li class="item">
                        <a class="page first" href="<?= /* @escapeNotVerified */ $block->getFirstPageUrl() ?>">
                            <span class="label"><?= /* @escapeNotVerified */ __('Page') ?></span>
                            <span>1</span>
                        </a>
                    </li>
                <?php endif;?>

                <?php if ($block->canShowPreviousJump()): ?>
                    <li class="item">
                        <a class="page previous jump" title="" href="<?= /* @escapeNotVerified */ $block->getPreviousJumpUrl() ?>">
                            <span>...</span>
                        </a>
                    </li>
                <?php endif;?>

                <?php foreach ($block->getFramePages() as $_page): ?>
                    <?php if ($block->isPageCurrent($_page)): ?>
                        <li class="item current">
                            <span class="page">
                                <span class="label"><?= /* @escapeNotVerified */ __('You\'re currently reading page') ?></span>
                                <span><?= /* @escapeNotVerified */ $_page ?></span>
                            </span>
                        </li>
                    <?php else: ?>
                        <li class="item">
                            <a href="<?= /* @escapeNotVerified */ $block->getPageUrl($_page) ?>" class="page">
                                <span class="label"><?= /* @escapeNotVerified */ __('Page') ?></span>
                                <span><?= /* @escapeNotVerified */ $_page ?></span>
                            </a>
                        </li>
                    <?php endif;?>
                <?php endforeach;?>

                <?php if ($block->canShowNextJump()): ?>
                    <li class="item">
                        <a class="page next jump" title="" href="<?= /* @escapeNotVerified */ $block->getNextJumpUrl() ?>">
                            <span>...</span>
                        </a>
                    </li>
                <?php endif;?>

                <?php if ($block->canShowLast()): ?>
                    <li class="item">
                        <a class="page last" href="<?= /* @escapeNotVerified */ $block->getLastPageUrl() ?>">
                            <span class="label"><?= /* @escapeNotVerified */ __('Page') ?></span>
                            <span><?= /* @escapeNotVerified */ $block->getLastPageNum() ?></span>
                        </a>
                    </li>
                <?php endif;?>
            </ul>

            <div class="pages-item-next">
                <?php if (!$block->isLastPage()): ?>
                    <?php $text = $block->getAnchorTextForNext() ? $block->getAnchorTextForNext() : '';?>
                    <a class="<?= /* @escapeNotVerified */ $text ? 'link ' : 'action ' ?> next" href="<?= /* @escapeNotVerified */ $block->getNextPageUrl() ?>" title="<?= /* @escapeNotVerified */ $text ? $text : __('Next') ?>">
                        <span class="label"><?= /* @escapeNotVerified */ __('Page') ?></span>
                        <span><?= /* @escapeNotVerified */ $text ? $text : __('Next') ?></span>
                        <i class="module-icon">
                            <svg class="icon icon-sm ico-chevron-right"><use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-chevron-right"></use></svg>
                        </i>
                    </a>
                <?php endif;?>
            </div>
        </div>
    <?php endif; ?>

    <?php if ($block->isShowPerPage()): ?>
        <div class="limiter">
            <strong class="limiter-label"><?= /* @escapeNotVerified */ __('Show') ?></strong>
            <select id="limiter" data-mage-init='{"redirectUrl": {"event":"change"}}' class="limiter-options form-control select-jcf">
                <?php foreach ($block->getAvailableLimit() as $_key => $_limit): ?>
                    <option value="<?= /* @escapeNotVerified */ $block->getLimitUrl($_key) ?>"<?php if ($block->isLimitCurrent($_key)): ?>
                        selected="selected"<?php endif ?>>
                        <?= /* @escapeNotVerified */ $_limit ?>
                    </option>
                <?php endforeach; ?>
            </select>
            <span class="limiter-text"><?= /* @escapeNotVerified */ __('per page') ?></span>
        </div>
    <?php endif ?>

    <?php if ($block->getUseContainer()): ?>
        </div>
    <?php endif ?>

<?php endif ?>
