<?php
/**
 * @author Interactiv4 Team
 * @copyright  Copyright © Interactiv4 (https://www.interactiv4.com)
 *
 */
// @codingStandardsIgnoreFile

/**
 * @var \Magento\Framework\View\Element\Template $block
 */
?>
<div class="d-none">
    <script>
        window.btnLeft = '<?= $block->getViewFileUrl("images/icons-sprite.svg") ?>#ico-chevron-left';
        window.btnRight = '<?= $block->getViewFileUrl("images/icons-sprite.svg") ?>#ico-chevron-right';
    </script>
</div>
