<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php if ($block->getProduct()) : ?>
    <?php $_product = $block->getProduct(); ?>
    <?php $buttonTitle = __('Add to Cart'); ?>
    <?php if ($_product->isSaleable()) : ?>
        <div class="box-tocart">
            <div class="fieldset">
                <?php if ($block->shouldRenderQuantity()) : ?>
                    <div class="field qty">
                        <label class="label" for="qty"><span><?= /* @escapeNotVerified */
                                __('Qty') ?></span></label>
                        <div class="control">
                            <a class="button less qtyminus" field="qty"></a>
                            <input name="qty"
                                   min="1"
                                   id="qty"
                                   maxlength="12"
                                   value="<?= /* @escapeNotVerified */ $block->getProductDefaultQty() * 1 ?>"
                                   title="<?= /* @escapeNotVerified */ __('Qty') ?>" class="input-text qty"
                                   data-validate="<?= $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                            />
                            <a class="button more qtyplus" field="qty"></a>
                        </div>
                    </div>
                    <script>
                        require([
                            'jquery',
                            'mwqtySelector'
                        ], function ($, selector) {
                            selector.init();
                        });
                    </script>
                <?php endif; ?>
                <div class="actions">
                    <button type="submit"
                            title="<?= /* @escapeNotVerified */
                            $buttonTitle ?>"
                            class="action tocart primary btn btn-primary btn-block"
                            id="product-addtocart-button">
                        <span><?= /* @escapeNotVerified */
                            $buttonTitle ?></span>
                    </button>
                    <?= $block->getChildHtml('', true) ?>
                </div>
            </div>
        </div>
    <?php endif; ?>
    <script type="text/x-magento-init">
        {
            "#product_addtocart_form": {
                "Magento_Catalog/product/view/validation": {
                    "radioCheckboxClosest": ".nested"
                }
            }
        }
    
    </script>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "#product_addtocart_form": {
                "ajaxCatalogAddToCart": {
                    "bindSubmit": true
                }
            }
        }
    
        </script>
    <?php endif; ?>
<?php endif; ?>
