<?php
/* @var $block \Aheadworks\Blog\Block\Post */

// @codingStandardsIgnoreFile
?>
<?php
$post = $block->getPost();
?>
<?php if ($post): ?>
    <article class="blog-posts-post blog-post">
        <header class="blog-post-header">
            <?php if ($block->isListItemMode()): ?>
                <h2 class="blog-post-title">
                    <a href="<?php /* @noEscape */ echo $block->escapeXssInUrl($block->getPostUrl($post)) ?>" class="blog-post-title-link">
                        <?php echo $block->escapeHtml($post->getTitle()) ?>
                    </a>
                </h2>
            <?php else: ?>
                <h1 class="blog-post-title"><?php echo $block->escapeHtml($post->getTitle()) ?></h1>
            <?php endif; ?>
            <ul class="blog-post-info">
                <?php if ($post->getAuthor()): ?>
                    <li class="blog-post-info-item">
                        <?php if ($block->isViewMode() && $post->getAuthor()->getImageFile()): ?>
                            <a class="author-image-link" href="<?= /* @noEscape */ $block->getAuthorUrl() ?>">
                                <img class="author-image"
                                     src="<?= $block->escapeUrl($block->getAuthorImageUrl()) ?>"
                                     title="<?= $block->escapeHtml($block->getAuthorFullname()) ?>"
                                     alt="<?= $block->escapeHtml($block->getAuthorImageAlt()) ?>"
                                />
                            </a>
                        <?php endif; ?>
                        <span class="inline-by"><?php /* @noEscape */ echo __('By ') ?></span>
                        <a class="author-link" href="<?= /* @noEscape */ $block->getAuthorUrl() ?>">
                            <?php /* @noEscape */ echo $block->getAuthorFullname() ?>
                        </a>
                    </li>
                <?php endif; ?>
                <li class="blog-post-info-item"><?php /* @noEscape */ echo $block->formatDate($post->getPublishDate(), \IntlDateFormatter::MEDIUM) ?></li>
                <?php if ($block->commentsEnabled()): ?>
                    <li class="blog-post-info-item">
                        <a href="#" data-url="<?php /* @noEscape */ echo $block->escapeXssInUrl($block->getPostUrl($post)) ?>#disqus_thread"
                           data-mage-init='{"blogCommentsLink": {}}' class="blog-post-info-comments">
                            <span class="blog-post-info-comments-icon"></span>
                            <span class="disqus-comment-count" data-disqus-identifier="<?php echo $block->escapeHtml($post->getId()) ?>"></span>
                        </a>
                    </li>
                <?php endif; ?>
                <?php if ($socialIconsHtml = $block->getSocialIconsHtml()): ?>
                    <li class="blog-post-info-item socialIcons">
                        <?php /* @noEscape */ echo $socialIconsHtml ?>
                    </li>
                <?php endif; ?>
            </ul>
        </header>
        <?php if ($block->isFeaturedImageLoaded()): ?>
            <div class="blog-post-featured-image-wrapper">
                <?php if ($block->isListItemMode()): ?>
                    <a href="<?php /* @noEscape */ echo $block->escapeXssInUrl($block->getPostUrl($post)) ?>" class="blog-post-featured-image-link">
                        <img class="blog-post-featured-image"
                             src = "<?php /* @noEscape */ echo $block->escapeXssInUrl($block->getFeaturedImageUrl()) ?>"
                             title = "<?php echo $block->escapeHtml($post->getFeaturedImageTitle()) ?>"
                             alt = "<?php echo $block->escapeHtml($post->getFeaturedImageAlt()) ?>"
                        />
                    </a>
                <?php else: ?>
                    <img class="blog-post-featured-image"
                         src = "<?php /* @noEscape */ echo $block->escapeXssInUrl($block->getFeaturedImageUrl()) ?>"
                         title = "<?php echo $block->escapeHtml($post->getFeaturedImageTitle()) ?>"
                         alt = "<?php echo $block->escapeHtml($post->getFeaturedImageAlt()) ?>"
                    />
                <?php endif; ?>
            </div>
        <?php endif; ?>
        <div class="blog-post-content">
            <?php /* @noEscape */ echo $block->getContent($post) ?>
        </div>
        <?php if ($block->showReadMoreButton($post)): ?>
            <p class="blog-post-read-more-wrapper">
                <a href="<?php /* @noEscape */ echo $block->escapeXssInUrl($block->getPostUrl($post)) ?>"
                   class="blog-post-read-more action">
                    <?php echo $block->escapeHtml(__('Read more')) ?>
                </a>
            </p>
        <?php endif; ?>
        <?php if ($block->isViewMode()): ?>
            <div class="blog-post-tags">
                <div class="blog-tags blog-tags-plain">
                    <?php foreach ($post->getTagNames() as $tagName): ?>
                        <a href="<?php /* @noEscape */ echo $block->escapeXssInUrl($block->getSearchByTagUrl($tagName)) ?>"
                           class="blog-tags-tag">
                            <?php echo $block->escapeHtml($tagName) ?>
                        </a>
                    <?php endforeach; ?>
                </div>
            </div>
        <?php endif; ?>
        <?php $categoryLinks = $block->getCategoryLinks() ?>
        <?php if ($linksCount = count($categoryLinks)): ?>
            <p class="blog-post-author">
                <?php echo $block->escapeHtml(__('Posted on:')) ?>
                <?php echo implode(' ', $categoryLinks)?>
            </p>
        <?php endif; ?>
        <?php /* @noEscape */ echo $block->getPrevNextHtml($block->isViewMode()) ?>
        <?php /* @noEscape */ echo $block->getRelatedPostHtml($block->isViewMode()) ?>
        <?php /* @noEscape */ echo $block->getRelatedProductHtml($block->isViewMode(), $block->getPositionAfterPost()) ?>
        <?php if ($block->isViewMode() && $block->commentsEnabled()): ?>
            <?php /* @noEscape */ echo $block->getDisqusEmbedHtml() ?>
        <?php endif; ?>
        <?php /* @noEscape */ echo $block->getRelatedProductHtml($block->isViewMode(), $block->getPositionAfterComments()) ?>
    </article>
<?php endif; ?>
