<?php
/* @var $block \Aheadworks\Blog\Block\Sharethis */

// @codingStandardsIgnoreFile
?>
<?php
$shareUrl = $block->escapeXssInUrl($block->getShareUrl());
$sharingText = $block->escapeHtml($block->getShareText());
?>
<span
    class='st_facebook'
    st_url='<?php /* @noEscape */ echo $shareUrl ?>'
    st_title='<?php /* @noEscape */echo $sharingText ?>'
>
    <i class="module-icon">
        <svg class="icon ico-social-twitter">
            <use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-social-twitter"></use>
        </svg>
    </i>
</span>
<span
    class='st_facebook'
    st_url='<?php /* @noEscape */ echo $shareUrl ?>'
    st_title='<?php /* @noEscape */echo $sharingText ?>'
>
    <i class="module-icon">
        <svg class="icon ico-social-pinterest">
            <use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-social-pinterest"></use>
        </svg>
    </i>
</span>
<span
    class='st_facebook'
    st_url='<?php /* @noEscape */ echo $shareUrl ?>'
    st_title='<?php /* @noEscape */echo $sharingText ?>'
>
    <i class="module-icon">
        <svg class="icon ico-social-linkedin">
            <use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-social-linkedin"></use>
        </svg>
    </i>
</span>
<span
    class='st_facebook'
    st_url='<?php /* @noEscape */ echo $shareUrl ?>'
    st_title='<?php /* @noEscape */echo $sharingText ?>'
>
    <i class="module-icon">
        <svg class="icon ico-social-facebook">
            <use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-social-facebook"></use>
        </svg>
    </i>
</span>
<script src="<?php /* @noEscape */ echo $block->getEmbedScriptUrl() ?>"></script>
