<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

// @codingStandardsIgnoreFile

/**  @var $block \Magento\Checkout\Block\Cart */
?>

<?php if ($block->getContinueShoppingUrl()): ?>
    <div class="cart-summary__back">
        <a class="action continue btn btn-secondary btn-block"
           href="<?= $block->escapeUrl($block->getContinueShoppingUrl()) ?>"
           title="<?= $block->escapeHtml(__('Continue Shopping')); ?>">
            <span><?= /* @escapeNotVerified */ __('Continue Shopping') ?></span>
        </a>
    </div>
<?php endif; ?>
