<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

// @codingStandardsIgnoreFile

?>
<div class="discount discount-code" id="block-discount"
     data-mage-init='{"collapsible":{"openedState": "discount--active", "saveState": false}}'>
    <div class="discount__title body2" data-role="title">
        <span id="block-discount-heading" role="heading" aria-level="2"><?= /* @escapeNotVerified */ __('Coupon Code') ?></span>
        <i class="module-icon">
            <svg class="icon ico-chevron-down"><use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-chevron-down"></use></svg>
        </i>
    </div>
    <div class="discount__content" data-role="content" aria-labelledby="block-discount-heading">
        <form id="discount-coupon-form"
              action="<?= /* @escapeNotVerified */ $block->getUrl('checkout/cart/couponPost') ?>"
              method="post"
              data-mage-init='{"discountCode":{"couponCodeSelector": "#coupon_code",
                                               "removeCouponSelector": "#remove-coupon",
                                               "applyButton": "button.action.apply",
                                               "cancelButton": "button.action.cancel"}}'
        >
            <div class="form-inline fieldset coupon<?php strlen($block->getCouponCode()) ? ' applied' : ''?>">
                <input type="hidden" name="remove" id="remove-coupon" value="0" />
                <div class="field coupon">
                    <label for="coupon_code" class="label sr-only"><span><?= /* @escapeNotVerified */ __('Enter discount code') ?></span></label>
                    <input type="text"
                           class="input-text form-control"
                           id="coupon_code"
                           name="coupon_code"
                           value="<?= $block->escapeHtml($block->getCouponCode()) ?>"
                           placeholder="<?= $block->escapeHtml(__('E.g. SUMMER30'));?>"
                    />
                </div>
                <div class="field actions">
                    <?php if (!strlen($block->getCouponCode())): ?>
                        <div class="primary">
                            <button class="action apply primary btn btn-sm btn-secondary btn-sm-block" type="button"
                                    value="<?= /* @escapeNotVerified */ __('Apply') ?>">
                                <span><?= /* @escapeNotVerified */ __('Apply') ?></span>
                            </button>
                        </div>
                    <?php else: ?>
                        <div class="primary">
                            <button class="action cancel primary btn btn-sm btn-secondary btn-sm-block" type="button"
                                    value="<?= /*  @escapeNotVerified */ __('Remove') ?>">
                                <span><?= /* @escapeNotVerified */ __('Remove') ?></span>
                            </button>
                        </div>
                    <?php endif; ?>
                </div>
            </div>
        </form>
    </div>
</div>
