<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

// @codingStandardsIgnoreFile

/**  @var $block \Magento\Checkout\Block\Cart */
?>
<?php $mergedCells = ($this->helper('Magento\Tax\Helper\Data')->displayCartBothPrices() ? 2 : 1); ?>
<?= $block->getChildHtml('form_before') ?>
<div class="cart-form">
    <form action="<?= /* @escapeNotVerified */ $block->getUrl('checkout/cart/updatePost') ?>"
          method="post"
          id="form-validate"
          data-mage-init='{"validation":{}}'
          class="form">
        <?= $block->getBlockHtml('formkey'); ?>
        <div class="table-wrapper">
            <div class="cart-items-header">
                <div class="cart-items-header__item cart-items-header__title"><?= /* @escapeNotVerified */ __('Product') ?></div>
                <div class="cart-items-header__item cart-items-header__price"><?= /* @escapeNotVerified */ __('Price') ?></div>
                <div class="cart-items-header__item cart-items-header__price cart-items-header__price--subtotal"><?= /* @escapeNotVerified */ __('Subtotal') ?></div>
            </div>
            <ul id="shopping-cart-table"
                class="cart-items"
                data-mage-init='{"shoppingCart":{"emptyCartButton": "action.clear",
                 "updateCartActionContainer": "#ufield choice termspdate_cart_action_container"}}'
            >
                <?php foreach ($block->getItems() as $_item): ?>
                    <?= $block->getItemHtml($_item) ?>
                <?php endforeach ?>
            </ul>
            <?php if ($block->getPagerHtml()): ?>
                <div class="cart-products-toolbar cart-products-toolbar-bottom toolbar" data-attribute="cart-products-toolbar-bottom"><?= $block->getPagerHtml() ?></div>
            <?php endif ?>
        </div>
        <div class="cart main actions-container">
            <input type="hidden" value="" id="update_cart_action_container" data-cart-item-update=""/>
        </div>
    </form>
    <?= $block->getChildHtml('coupon') ?>
    <?= $block->getChildHtml('checkout.cart.order.actions') ?>
    <?= $block->getChildHtml('shopping.cart.table.after'); ?>
</div>

<script type="text/x-magento-init">
    <?= /* @noEscape */ $this->helper(\Magento\Framework\Json\Helper\Data::class)->jsonEncode([
        '*' => ['interactiv4_cart_initajax' => []],
    ]);
    ?>
</script>

