<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Checkout\Block\Cart\Sidebar */
?>

<div data-block="minicart" class="minicart-wrapper header__minicart minicart">
    <a class="action showcart minicart__showcart icon__trigger" href="<?= $block->escapeUrl($block->getShoppingCartUrl()) ?>"
       data-bind="scope: 'minicart_content'">
        <i class="module-icon">
            <svg class="icon ico-cart"><use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-cart"></use></svg>
        </i>
        <span class="minicart__label label body3"><?= $block->escapeHtml(__('Cart')) ?></span>
        <span class="counter empty minicart__counter"
              data-bind="css: { empty: !!getCartParam('summary_count') == false && !isLoading() }, blockLoader: isLoading">
            <span class="counter-number counter__number"><!-- ko text: getCartParam('summary_count') --><!-- /ko --></span>
        </span>
    </a>

    <script type="text/javascript">
        const emptycartTemplate = <?= json_encode( $block->getChildHtml('empty.cart.categories') ); ?>;
    </script>

    <?php if ($block->getIsNeedToDisplaySideBar()) :?>
        <div class="block block-minicart minicart__block"
             data-role="dropdownDialog"
             data-mage-init='{"dropdownDialog":{
                "appendTo":"[data-block=minicart]",
                "triggerTarget":".minicart__showcart",
                "timeout": "2000",
                "closeOnMouseLeave": false,
                "closeOnEscape": true,
                "triggerClass":"minicart--active",
                "parentClass":"minicart--active",
                "buttons":[]}}'>
            <div id="minicart-content-wrapper" class="minicart__wrapper" data-bind="scope: 'minicart_content'">
                <!-- ko template: getTemplate() --><!-- /ko -->
            </div>
            <?= $block->getChildHtml('minicart.addons') ?>
        </div>
    <?php else :?>
        <script>
            require(['jquery'], function ($) {
                $('a.minicart__showcart').click(function() {
                    $(document.body).trigger('processStart');
                });
            });
        </script>
    <?php endif ?>
    <script>
        window.checkout = <?= /* @noEscape */ $block->getSerializedConfig() ?>;
    </script>
    <script type="text/x-magento-init">
    {
        "[data-block='minicart']": {
            "Magento_Ui/js/core/app": <?= /* @noEscape */ $block->getJsLayout() ?>
        },
        "*": {
            "Magento_Ui/js/block-loader": "<?= $block->escapeJs(
            $block->escapeUrl($block->getViewFileUrl('images/loader-1.gif'))
        ) ?>"
        }
    }
    </script>
</div>



