<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */
// @codingStandardsIgnoreFile
/**  @var $block \Magento\Checkout\Block\Cart */
?>
<script>
    require([
        'jquery'
    ], function ($) {
        $('.page-main > .page-title-wrapper').css('display','none');
        $('.cart-empty').css('display','block');
    });
</script>

<div class="cart-empty" style="display: none">
    <div class="cart-empty--content">
        <div class="page-title-wrapper">
            <h1 class="page-title h1">
                <span class="base"><?= __('Empty сart')?></span>
            </h1>
        </div>
        <p>
            <?= $block->escapeHtml(__('You have no items in your shopping cart.')) ?>
            <?= $block->escapeHtml(
                __(
                    'Click <a href="%1">here</a> to continue shopping.',
                    $block->escapeUrl($block->getContinueShoppingUrl())
                ),
                ['a']
            ) ?>
        </p>
        <div class="cart-empty--image">
            <img src="<?= $block->getViewFileUrl('images/empty-cart.jpg') ?>" alt="" />
        </div>
        <div class="minicart__empty--content cart-empty--content">
            <?= $block->getChildHtml('checkout.cart.empty.categories') ?>
        </div>
    </div>
    <?= $block->getChildHtml('checkout_cart_empty_widget') ?>
    <?= $block->getChildHtml('shopping.cart.table.after') ?>
</div>

<script type="text/x-magento-init">
{
    "*": {
        "Magento_Checkout/js/empty-cart": {}
    }
}
</script>