<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

/** @var \Magento\CatalogWidget\Block\Product\ProductsList $block */
?>
<?php if ($exist = ($block->getProductCollection() && $block->getProductCollection()->getSize())): ?>
    <?php
    $type = 'widget-product-grid';
    $mode = 'grid';

    $image = 'new_products_content_widget_grid';
    $items = $block->getProductCollection()->getItems();

    $showWishlist = false;
    $showCompare = false;
    $showCart = false;
    $description = true;
    $showReview = false;
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    ?>
    <section class="products-slider <?= /* @noEscape */ $mode ?>">
        <div class="products-slider__container container-fluid distributor">
            <?php if ($block->getTitle()): ?>
                <div class="products-slider__heading heading">
                    <h2 class="products-slider__title section-title h1">
                        <small><?= __('This month essentials') ?></small>
                        <?= $block->escapeHtml(__($block->getTitle())) ?>
                    </h2>
                </div>
            <?php endif ?>
            <div class="products-slider__content">
                <?= /* @noEscape */ '<!-- ' . $image . '-->' ?>
                <div class="products-<?= /* @noEscape */ $mode ?> <?= /* @noEscape */ $mode ?>">
                    <ol class="product__items row product-items <?= /* @noEscape */ $type ?>">
                        <?php $iterator = 1; ?>
                        <?php foreach ($items as $_item): ?>
                            <?= /* @noEscape */ ($iterator++ == 1) ? '<li class="product product__item product--grid product-item col-6 col-lg-3">' : '</li><li class="product product__item product--grid product-item col-6 col-lg-3">' ?>
                            <div class="product__inner">
                                <div class="product__info product-item-info">
                                    <div class="product__image">
                                        <a href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>" class="product__photo photo">
                                            <?= $block->getImage($_item, $image)->toHtml() ?>
                                        </a>
                                    </div>

                                    <div class="product__details product-item-details">
                                        <?php if ($showWishlist || $showCompare || $showCart) : ?>
                                            <div class="product__actions product-item-actions">

                                                <?= $block->getProductDetailsHtml($_item) ?>

                                                <?php if ($showCart) : ?>
                                                    <div class="actions__primary">
                                                        <?php if ($_item->isSaleable()) : ?>
                                                            <?php $postParams = $block->getAddToCartPostParams($_item); ?>
                                                            <form data-role="tocart-form" data-product-sku="<?= $block->escapeHtmlAttr($_item->getSku()) ?>" action="<?= $block->escapeUrl($postParams['action']) ?>" method="post">
                                                                <input type="hidden" name="product" value="<?= $block->escapeHtmlAttr($postParams['data']['product']) ?>">
                                                                <input type="hidden" name="<?= /* @noEscape */ Action::PARAM_NAME_URL_ENCODED ?>" value="<?= /* @noEscape */ $postParams['data'][Action::PARAM_NAME_URL_ENCODED] ?>">
                                                                <?= $block->getBlockHtml('formkey') ?>
                                                                <button type="submit"
                                                                        title="<?= $block->escapeHtmlAttr(__('Add to Cart')) ?>"
                                                                        class="action tocart primary btn btn-primary btn-block">
                                                                    <span><?= $block->escapeHtml(__('Add to Cart')) ?></span>
                                                                </button>
                                                            </form>
                                                        <?php endif; ?>
                                                    </div>
                                                <?php endif; ?>
                                                <?php if ($showWishlist || $showCompare) : ?>
                                                    <div class="actions__secondary" data-role="add-to-links">
                                                        <?php //phpcs:disable ?>
                                                        <?php if ($this->helper(\Magento\Wishlist\Helper\Data::class)->isAllow() && $showWishlist) : ?>
                                                            <?php //phpcs:enable ?>
                                                            <a href="#"
                                                               data-post='<?= /* @noEscape */ $block->getAddToWishlistParams($_item) ?>' class="action towishlist" data-action="add-to-wishlist" title="<?= $block->escapeHtmlAttr(__('Add to Wish List')) ?>">
                                                                <span><?= $block->escapeHtml(__('Add to Wish List')) ?></span>
                                                            </a>
                                                        <?php endif; ?>
                                                        <?php if ($block->getAddToCompareUrl() && $showCompare) : ?>
                                                            <?php //phpcs:disable ?>
                                                            <?php $compareHelper = $this->helper(\Magento\Catalog\Helper\Product\Compare::class);?>
                                                            <?php //phpcs:enable ?>
                                                            <a href="#" class="action tocompare" data-post='<?= /* @noEscape */ $compareHelper->getPostDataParams($_item) ?>' title="<?= $block->escapeHtmlAttr(__('Add to Compare')) ?>">
                                                                <span><?= $block->escapeHtml(__('Add to Compare')) ?></span>
                                                            </a>
                                                        <?php endif; ?>
                                                    </div>
                                                <?php endif; ?>
                                            </div>
                                        <?php endif; ?>

                                        <h3 class="product__name">
                                            <a title="<?= $block->escapeHtmlAttr($_item->getName()) ?>"
                                               href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>"
                                               class="product__link product-item-link body2">
                                                <?= $block->escapeHtml($_item->getName()) ?>
                                            </a>
                                        </h3>

                                        <div class="product__price">
                                            <?= $block->getProductPriceHtml($_item, $type) ?>
                                        </div>

                                        <?php if($showReview && $templateType): ?>
                                            <div class="product__review">
                                                <?= $block->getReviewsSummaryHtml($_item, $templateType) ?>
                                            </div>
                                        <?php endif; ?>

                                    </div>
                                </div>
                            </div>
                            <?= ($iterator == count($items)+1) ? '</li>' : '' ?>
                        <?php endforeach ?>
                    </ol>
                </div>
                <?= $block->getPagerHtml() ?>
            </div>
        </div>
    </section>
<?php endif;?>
