<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

/**
 * @var \Interactiv4\RedsysPro\Block\Redirect $block
 */
?>
    <div class="interactiv4_redsyspro-container" style="margin-top: 150px; padding: 0 30px;">
        <div class="interactiv4_redsyspro-content" style="width:100%; text-align: center;">
            <?php if ($img = $block->getRedirectLogo()): ?>
                <div class="interactiv4_redsyspro-logo-container">
                    <img src="<?php echo $img ?>" class="interactiv4_redsyspro-redirect-logo"
                         style="width:100%; max-width: 200px"/>
                </div>
            <?php endif; ?>
            <p class="interactiv4_redsyspro-redirect-msg"
               style="margin-top: 50px; font-family: 'Neutra Text TF SC', 'Avenir', sans-serif; font-size: 16px;">
                <?php echo __($block->getRedirectMsg()) ?></p>
            <img src="<?php echo $block->getLoadingImage(); ?>" class="interactiv4_redsyspro-redirect-spinner"
                 style="margin-top: 30px;"/>
        </div>
    </div>
<?php
echo $block->getPostHtml();
echo $block->getChildHtml('interactiv4_redsyspro.script');
?>