<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Checkout\Block\Cart\Item\Renderer */

$_item = $block->getItem();
$product = $_item->getProduct();
$isVisibleProduct = $product->isVisibleInSiteVisibility();
/** @var \Magento\Msrp\Helper\Data $helper */
$helper = $this->helper('Magento\Msrp\Helper\Data');
$canApplyMsrp = $helper->isShowBeforeOrderConfirm($product) && $helper->isMinimalPriceLessMsrp($product);
$viewModel = $block->getData('view_model');
?>

<li class="cart-items__item item">
    <div class="item__photo">
        <?php if ($block->hasProductUrl()):?>
        <a href="<?= /* @escapeNotVerified */ $block->getProductUrl() ?>"
           title="<?= $block->escapeHtml($block->getProductName()) ?>"
           tabindex="-1"
           class="product-item-photo"
        >
            <?php else:?>
            <span class="product-item-photo">
        <?php endif;?>
        <?= $block->getImage($block->getProductForThumbnail(), 'cart_page_product_thumbnail')->toHtml() ?>
        <?php if ($block->hasProductUrl()):?>
        </a>
    <?php else: ?>
        </span>
    <?php endif; ?>
    </div>
    <div class="item__name h4">
        <?php if ($block->hasProductUrl()):?>
            <a href="<?= /* @escapeNotVerified */ $block->getProductUrl() ?>"><?= $block->escapeHtml($block->getProductName()) ?></a>
        <?php else: ?>
            <?= $block->escapeHtml($block->getProductName()) ?>
        <?php endif; ?>
    </div>
    <div class="item__info body2">
        <?php if ($_options = $block->getOptionList()):?>
            <ul class="item__options--list item-options">
                <?php foreach ($_options as $_option) : ?>
                    <?php $_formatedOptionValue = $block->getFormatedOptionValue($_option) ?>
                    <li class="item__options--item">
                        <span class="item__options--item-label"><?= $block->escapeHtml($_option['label']) ?></span>
                        <span class="item__options--item-value">
                                <?php if (isset($_formatedOptionValue['full_view'])): ?>
                                    <?= /* @escapeNotVerified */ $_formatedOptionValue['full_view'] ?>
                                <?php else: ?>
                                    <?= /* @escapeNotVerified */ $_formatedOptionValue['value'] ?>
                                <?php endif; ?>
                            </span>
                    </li>
                <?php endforeach; ?>
            </ul>
        <?php endif;?>
        <?php if ($messages = $block->getMessages()): ?>
            <?php foreach ($messages as $message): ?>
                <div class="item__message cart message <?= /* @escapeNotVerified */ $message['type'] ?>"><div><?= $block->escapeHtml($message['text']) ?></div></div>
            <?php endforeach; ?>
        <?php endif; ?>
        <?php $addInfoBlock = $block->getProductAdditionalInformationBlock(); ?>
        <?php if ($addInfoBlock): ?>
            <?= $addInfoBlock->setItem($_item)->toHtml() ?>
        <?php endif;?>
    </div>

    <div class="item__actions">
        <?= /* @escapeNotVerified */ $block->getActions($_item) ?>
    </div>

    <?php if ($canApplyMsrp): ?>
        <div class="item__price item__price--msrp">
                <span class="pricing msrp">
                    <span class="msrp notice"><?= /* @escapeNotVerified */ __('See price before order confirmation.') ?></span>
                    <?php $helpLinkId = 'cart-msrp-help-' . $_item->getId(); ?>
                    <a href="#" class="action help map" id="<?= /* @escapeNotVerified */ ($helpLinkId) ?>" data-mage-init='{"addToCart":{"helpLinkId": "#<?= /* @escapeNotVerified */ $helpLinkId ?>","productName": "<?= /* @escapeNotVerified */ $product->getName() ?>","showAddToCart": false}}'>
                        <span><?= /* @escapeNotVerified */ __("What's this?") ?></span>
                    </a>
                </span>
        </div>
    <?php else: ?>
        <div class="item__price item__price--price">
            <?= $block->getUnitPriceHtml($_item) ?>
        </div>
    <?php endif; ?>

    <div class="item__qty" data-th="<?= $block->escapeHtml(__('Qty')) ?>">
        <div class="qty-selector field qty">
            <div class="qty-selector__control control qty">
                <a class="qty-selector__less button less qtyminus" data-field="cart[<?= /* @escapeNotVerified */ $_item->getId() ?>][qty]"></a>
                <input id="cart-<?= /* @escapeNotVerified */ $_item->getId() ?>-qty"
                       name="cart[<?= /* @escapeNotVerified */ $_item->getId() ?>][qty]"
                       data-cart-item-id="<?= /* @escapeNotVerified */ $_item->getSku() ?>"
                       value="<?= /* @escapeNotVerified */ $block->getQty() ?>"
                       type="number"
                       size="4"
                       min="1"
                       title="<?= $block->escapeHtml(__('Qty')) ?>"
                       class="qty-selector__qty input-text qty"
                       data-validate="{required:true,'validate-greater-than-zero':true}"
                       data-role="cart-item-qty"
                       data-field="cart[<?= /* @escapeNotVerified */ $_item->getId() ?>][qty]"
                />
                <a class="qty-selector__more button more qtyplus" data-field="cart[<?= /* @escapeNotVerified */ $_item->getId() ?>][qty]"></a>
                <button type="submit"
                        name="update_cart_action"
                        data-cart-item-update=""
                        value="update_qty"
                        title="<?= $block->escapeHtml(__('Update Shopping Cart')); ?>"
                        class="action update sr-only">
                    <span><?= /* @escapeNotVerified */ __('Update Shopping Cart'); ?></span>
                </button>
            </div>
        </div>
    </div>

    <div class="item__price item__price--subtotal">
        <?php if ($canApplyMsrp): ?>
            <span class="cart msrp subtotal">--</span>
        <?php else: ?>
            <?= $block->getRowTotalHtml($_item) ?>
        <?php endif; ?>
    </div>
</li>
