<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */
?>
<?php
/** @var \Amasty\Blog\Block\Sidebar\Recentpost $block */
$collection = $block->getCollection();
?>
<?php if (!$block->isAlreadyWrapped()): ?>
    <section class="amblog-element-block recent-posts-widget">
<?php endif; ?>

<?php if ($block->getDisplay() && count($collection)): ?>
    <div class="recent-posts">
        <div data-amblog-js="accordion" class="amblog-widget-container -post container-fluid">
            <div class="section-title h1" data-amblog-js="heading">
                <small><?= __('FROM OUR BLOG')?></small>
                <?= $block->escapeHtml($block->getBlockHeader()); ?>
            </div>
            <ul class="recent-posts__list row" data-amblog-js="content">
                <?php foreach ($collection as $post): ?>
                    <?php $activeClass = $post->getIsActive() ? 'active' : ''; ?>
                    <li class="recent-posts__item amblog-recent-post
                        <?= /* @noEscape */ $activeClass; ?>
                        amblog-recent-post-<?= (int)$post->getId(); ?> col-12 col-lg-4"
                    >
                        <?php if ($block->hasThumbnail($post) && $block->showImages() && ($src = $block->getThumbnailSrc($post))): ?>
                            <div class="recent-posts__image">
                                <a class="thumbnail"
                                   href="<?= $block->escapeUrl($post->getUrl()); ?>"
                                   title="<?= $block->escapeHtml($post->getTitle()); ?>">
                                    <img class="img"
                                         src="<?= $block->escapeUrl($src); ?>"
                                         alt="<?= $block->escapeHtml($post->getThumbnailAlt()); ?>">
                                </a>
                            </div>
                        <?php endif; ?>
                        <div class="recent-posts__content amblog-recent-post-content-wrapper">
                            <a class="recent-posts__name h3" href="<?= $block->escapeUrl($post->getUrl()); ?>">
                                <?= $block->escapeHtml($post->getTitle()); ?>
                            </a>
                            <?php if ($block->needShowThesis()): ?>
                                <div class="recent-posts__thesis amblog-thesis">
                                    <?= $block->escapeHtml($block->getStrippedContent($post->getShortContent())); ?>
                                </div>
                            <?php endif; ?>
                            <?php if ($block->needShowDate()): ?>
                                <div class="recent-posts__date amblog-date -post">
                                    <?= $block->escapeHtml($block->renderDate($post->getCreatedAt())); ?>
                                </div>
                            <?php endif; ?>
                            <a class="recent-posts__link btn-link" href="<?= $block->escapeUrl($post->getUrl()); ?>">
                                <span><?= __('Read more') ?></span>
                                <i class="module-icon">
                                    <svg class="icon icon-sm ico-chevron-right"><use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-chevron-right"></use></svg>
                                </i>
                            </a>
                        </div>
                    </li>
                <?php endforeach; ?>
            </ul>
        </div>
    </div>
<?php else: ?>
    <div class="amblog-empty"><?= $block->escapeHtml(__('Posts were not found')); ?></div>
<?php endif; ?>

<?php if (!$block->isAlreadyWrapped()): ?>
    <script>
        require([
            'jquery',
            'amBlog'
        ], function ($, amBlog) {
            amBlog.blogSlider();
        });
    </script>
    </section>
<?php endif; ?>