<?php

/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

/**
 * @var $block \Magento\Backend\Block\Template
 */
?>
<div id="validate-result"></div>
<script>
    require(['jquery'], function (jQuery) {
        window.productUpload = {
            form: jQuery('#edit_form'),
            validateUrl: '<?= $block->escapeHtml($block->getUrl('*/*/validate')) ?>',
            validate: function () {
                if (this.form.valid()) {
                    jQuery('body')
                        .loader({
                            icon: jQuery('#loading_mask_loader img').attr('src')
                        })
                        .loader('show');

                    var formData = new FormData(this.form.get(0));
                    jQuery.ajax({
                        url: this.validateUrl,
                        data: formData,
                        cache: false,
                        contentType: false,
                        processData: false,
                        type: 'POST',
                        success: function (result) {
                            jQuery('#validate-result').html(result);
                            jQuery('body').loader('hide');
                        }
                    })
                }
            },
            submit: function (action) {
                if (this.form.valid()) {
                    this.form.append('<input type="hidden" name="action" value="' + action + '"/>');
                    this.form.submit();
                }
            }
        }
    });
</script>
