/*
 * @author Interactiv4 Team
 * @copyright  Copyright © Interactiv4 (https://www.interactiv4.com)
 *
 */

.config-nav-block.logiscenter-tab strong:before {
    background: url(../images/logo-icon.png) no-repeat;
    width: 19px;
    height: 19px;
    content: '';
    display: inline-block;
    margin-right: 12px;
    vertical-align: bottom;
    background-size: contain;
}

.admin__menu .level-0.item-logiscenter > a:before {
    background: url(../images/logo-icon.png) no-repeat center;
    width: 100%;
    height: 25px;
    content: '';
    display: block;
    vertical-align: top
    background-size: contain;
}