<!--
  ~ @author Interactiv4 Team
  ~ @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
  -->

<button type="button"
        id="btn-minicart-close"
        class="action close minicart__close"
        data-action="close"
        data-bind="attr: { title: $t('Close') }">
    <i class="module-icon">
        <svg class="icon ico-close"><use data-bind="attr: { 'xlink:href': require.toUrl('') + 'images/icons-sprite.svg#ico-close' }" xlink:href=''></use></svg>
    </i>
    <span class="sr-only" translate="'Close'"/>
</button>

<div class="block-title minicart__title">
    <if args="getCartParam('summary_count')">
        <div class="title h1"><!-- ko i18n: 'Your Cart' --><!-- /ko --></div>
    </if>
    <ifnot args="getCartParam('summary_count')">
        <div class="title h1"><!-- ko i18n: 'Your cart is empty' --><!-- /ko --></div>
    </ifnot>

    <div class="items-total items minicart__items--total body2">
        <span class="count" if="maxItemsToDisplay < getCartLineItemsCount()" text="maxItemsToDisplay"/>
        <translate args="'of'" if="maxItemsToDisplay < getCartLineItemsCount()"/>

        <if args="getCartParam('summary_count')">
            <span class="count" text="getCartParam('summary_count')"/>
        </if>
        <ifnot args="getCartParam('summary_count')">
            <span class="count">0</span>
        </ifnot>
        <if args="getCartParam('summary_count') === 1">
            <span translate="'Product'"/>
        </if>
        <if args="getCartParam('summary_count') !== 1">
            <span translate="'Products'"/>
        </if>
    </div>
</div>

<div class="block-content minicart__content content">
    <if args="getCartParam('summary_count')">
        <div data-action="scroll" class="minicart-items-wrapper minicart__scroll">
            <ol id="mini-cart" class="minicart-items minicart__items items"
                data-bind="foreach: { data: getCartItems(), as: 'item' }">
                <each args="$parent.getRegion($parent.getItemRenderer(item.product_type))"
                      render="{name: getTemplate(), data: item, afterRender: function() {$parents[1].initSidebar()}}"
                />
            </ol>
        </div>
    </if>

    <ifnot args="getCartParam('summary_count')">

        <div class="minicart__empty" data-bind="visible: closeSidebar()">
            <div class="minicart__empty--image">
                <img data-bind="attr: { 'src': require.toUrl('') + 'images/empty-cart.jpg' }" />
            </div>
            <div class="minicart__empty--content">
                <div data-bind="html:emptycartTemplate"/>
            </div>
        </div>

        <if args="getCartParam('cart_empty_message')">
            <p class="minicart empty text" text="getCartParam('cart_empty_message')"/>
            <div class="actions">
                <div class="secondary">
                    <a class="action viewcart btn btn-secondary btn-block" data-bind="attr: {href: shoppingCartUrl}">
                        <span translate="'View and Edit Cart'"/>
                    </a>
                </div>
            </div>
        </if>
    </ifnot>

    <if args="getCartParam('summary_count')">
        <div class="content__resume">
            <each args="getRegion('subtotalContainer')" render=""/>
            <each args="getRegion('extraInfo')" render=""/>
        </div>

        <div class="actions content__actions">
            <!-- ko if: getCartParam('possible_onepage_checkout') -->
                <div class="primary">
                    <button
                            id="top-cart-btn-checkout"
                            type="button"
                            class="action primary checkout btn btn-primary btn-block"
                            data-bind="attr: {title: $t('Proceed to Checkout')}">
                        <!-- ko i18n: 'Proceed to Checkout' --><!-- /ko -->
                    </button>
                    <div data-bind="html: getCartParam('extra_actions')"></div>
                </div>
            <!-- /ko -->
        </div>
    </if>

    <div id="minicart-widgets" class="minicart-widgets" if="getRegion('promotion').length">
        <each args="getRegion('promotion')" render=""/>
    </div>
</div>
<each args="getRegion('sign-in-popup')" render=""/>
