<!--
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */
-->
<!--@subject {{trans "Your invoice is ready"}} @-->
<!--@vars {
"var this.getUrl($store, 'customer_invoice/customer/index/')":"My Invoices URL",
"var customer.name":"Customer Name"
} @-->
{{template config_path="design/email/header_template"}}

<p class="greeting">{{trans "Your invoice is ready"}}</p>
<p>{{trans "Hello %customer_name," customer_name=$customer.name}}</p>
<p>
    {{trans "Thanks for buying at %store_name! Your invoice is now available in My Account dashboard, where you will be able to:" store_name=$store.getFrontendName()}}
</p>
<ul>
    <li><span class="check-icon"></span><span class="text">{{trans "Download your invoice"}}</span></li>
    <li><span class="check-icon"></span><span class="text">{{trans "Check tracking number"}}</span></li>
</ul>

<table class="button" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <table class="inner-wrapper" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="center">
                        <a href="{{var this.getUrl($store,'customer_invoice/customer/index/',[_nosid:1])}}" target="_blank">{{trans "See my invoices"}}</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<p>
    {{trans 'Forgot your account password? Click <a href="%reset_url">here</a> to reset it.'

    reset_url="$this.getUrl($store,'customer/account/createPassword/',[_query:[id:$customer.id,token:$customer.rp_token],_nosid:1])"
    |raw}}
</p>
<p class="goodbye">{{trans "Thank you,<br>%store_name" store_name=$store.getFrontendName() |raw}} {{trans "Team."}}</p>

{{template config_path="design/email/footer_template"}}