<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

/**
 * Info product data template
 *
 * @var $block \Logiscenter\CompatibleProducts\Block\Product\Compatible
 */
?>
<?php $_products = $block->getCompatibleProducts(); ?>
<?php $_hasCompatibleProducts = count($_products) > 0; ?>

<?php if ($_hasCompatibleProducts): ?>
    <div class="info__compatible-with product-info-compatible-with">
        <div class="compatible-with product__attribute">
            <span class="type"><?= /* @escapeNotVerified */ __('Compatible with') ?>:</span>
            <div class="value" itemprop="compatible-with">
                <?php foreach ($_products as $_item): ?>
                    <?php $isVisibleInSiteVisibility = $_item->isVisibleInSiteVisibility(); ?>
                    <?php if ($_item->getName()): ?>
                    <span class="item">
                        <?php if ($isVisibleInSiteVisibility): ?>
                            <a href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>">
                                <?= $block->escapeHtml($_item->getName()) ?>
                            </a>
                        <?php else : ?>
                            <?= $block->escapeHtml($_item->getName()) ?>
                        <?php endif; ?>
                    </span>
                    <?php endif; ?>
                <?php endforeach; ?>
            </div>
        </div>
    </div>
<?php endif; ?>