<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

/**
 * Table grouped product data template
 *
 * @var $block \Logiscenter\CompatibleProducts\Block\Product\Compatible
 */
?>
<?php $_product = $block->getProduct(); ?>
<?php $_products = $block->getCompatibleProducts(); ?>
<?php $_hasCompatibleProducts = count($_products) > 0; ?>

<div class="models__wrapper">
    <span class="models__title h5">
        <?= /* @escapeNotVerified */ __('Compatible products for %1:', $_product->getName()) ?>
    </span>

    <div class="models__product-add-form">
        <div class="table-wrapper grouped">
            <div class="table data grouped grouped--full-width"
                 id="super-product-table">
                <div class="grouped__header">
                    <div class="grouped__header-product__col grouped__col col name d-none">
                        <?= $block->escapeHtml(__('Product Name')) ?>
                    </div>
                </div>

                <?php if ($_hasCompatibleProducts): ?>
                    <div class="grouped__content">
                        <?php foreach ($_products as $_item): ?>
                            <div class="grouped__content-product" data-product-id="<?= $block->escapeHtmlAttr($_item->getId()) ?>">
                                <div data-th="<?= $block->escapeHtmlAttr(__('Image')) ?>" class="grouped__content-product__col grouped__col col image">
                                    <?php
                                        $imageDisplayArea = 'product_thumbnail_image';
                                        $productImage = $block->getImage($_item, $imageDisplayArea);
                                        $isVisibleInCatalog = $_item->isVisibleInSiteVisibility();
                                    ?>
                                    <?php if ($isVisibleInCatalog): ?>
                                        <a href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>">
                                            <?= $productImage->toHtml() ?>
                                        </a>
                                    <?php else: ?>
                                        <?= $productImage->toHtml() ?>
                                    <?php endif; ?>
                                </div>
                                <?php if ($_item->getName()): ?>
                                    <div data-th="<?= $block->escapeHtmlAttr(__('Model Name')) ?>" class="grouped__content-product__col grouped__col col name">
                                        <?php if ($isVisibleInCatalog): ?>
                                            <a href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>">
                                                <h3 class="title">
                                                    <?= $block->escapeHtml($_item->getName()) ?>
                                                </h3>
                                            </a>
                                        <?php else: ?>
                                            <h3 class="title">
                                                <?= $block->escapeHtml($_item->getName()) ?>
                                            </h3>
                                        <?php endif; ?>
                                    </div>
                                <?php endif; ?>
                                <?php if ($_item->getSku()): ?>
                                    <div data-th="<?= $block->escapeHtmlAttr(__('Part Number')) ?>" class="grouped__content-product__col grouped__col col sku">
                                        <span class="grouped__content-product__label grouped__label">
                                            <?= $block->escapeHtmlAttr(__('Part Number')) ?>:
                                        </span>
                                        <span class="grouped__content-product__value grouped__value">
                                            <?= $block->escapeHtml($_item->getSku()) ?>
                                        </span>
                                    </div>
                                <?php endif; ?>
                                <?php if ($_item->getShortDescription()): ?>
                                    <?php
                                        $numMaxWords = 30;
                                        $originalDescription = strip_tags(html_entity_decode($block->escapeHtmlAttr($_item->getShortDescription()))); // Without HTML tags
                                        $editedDescription = $originalDescription;
                                        $actualWords = array_slice(explode(' ', $originalDescription), 0);
                                    ?>
                                    <div data-th="<?= $block->escapeHtmlAttr(__('Description')) ?>" class="grouped__content-product__col grouped__col col description">
                                        <?php if (sizeof($actualWords) > $numMaxWords): ?>
                                            <?php $editedDescription = implode(' ', array_slice(explode(' ', $originalDescription), 0, $numMaxWords)) . '...'; ?>
                                            <span class="grouped__original-description d-none">
                                                <?= $originalDescription ?>
                                            </span>
                                            <span class="grouped__edited-description d-none">
                                                <?= $editedDescription ?>
                                            </span>
                                        <?php endif; ?>
                                        <span class="grouped__actual-description">
                                            <?php if (sizeof($actualWords) > $numMaxWords): ?>
                                                <?= $editedDescription ?>
                                            <?php else: ?>
                                                <?= $originalDescription ?>
                                            <?php endif; ?>
                                        </span>
                                        <?php if (sizeof($actualWords) > $numMaxWords): ?>
                                            <span class="grouped__read-more btn btn-link" data-event="read-more" data-read-more="<?= $block->escapeHtmlAttr(__('Read more')) ?>" data-read-less="<?= $block->escapeHtmlAttr(__('Read less')) ?>">
                                                <?= $block->escapeHtmlAttr(__('Read more')) ?>
                                            </span>
                                        <?php endif; ?>
                                    </div>
                                <?php endif; ?>
                            </div>
                        <?php endforeach; ?>
                    </div>
                <?php else: ?>
                    <div class="grouped__unavailable body2">
                        <?= $block->escapeHtml(__('No options of this product are available.')) ?>
                    </div>
                <?php endif; ?>
            </div>
        </div>
    </div>
</div>