<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Template for displaying new products widget
 *
 * @var $block \Magento\Catalog\Block\Product\Widget\NewWidget
 */

// phpcs:disable Magento2.Files.LineLength.MaxExceeded
// phpcs:disable Magento2.Templates.ThisInTemplate.FoundThis

if ($exist = ($block->getProductCollection() && $block->getProductCollection()->getSize())) {
    $type = 'widget-new-grid';

    $mode = 'grid';

    $image = 'new_products_content_widget_grid';
    $title = __('New Products');
    $items = $block->getProductCollection()->getItems();

    $showWishlist = false;
    $showCompare = false;
    $showCart = false;
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
    $description = false;
    $showReview = false;
}
?>

<?php if ($exist):?>
    <section class="products-slider block widget block-new-products <?= /* @noEscape */ $mode ?>">
        <div class="products-slider__container container-fluid distributor">
            <div class="products-slider__heading heading">
                <h2 class="products-slider__title section-title h1">
                    <small><?= __('Featured products') ?></small>
                    <?= /* @escapeNotVerified */ $title; ?>
                </h2>
            </div>
            <div class="products-slider__content block-content">
                <?= /* @noEscape */ '<!-- ' . $image . '-->' ?>
                <div class="products-<?= /* @noEscape */ $mode ?> <?= /* @noEscape */ $mode ?>">
                    <ol class="product__items row product-items <?= /* @noEscape */ $type ?>">
                        <?php foreach ($items as $_item) :?>
                            <li class="product product__item product--grid col-6 col-lg-3 product-item">
                                <div class="product__inner">
                                    <div class="product__info product-item-info">
                                        <div class="product__image">
                                            <a href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>"
                                               class="product__photo product-item-photo">
                                                <?= $block->getImage($_item, $image)->toHtml() ?>
                                            </a>
                                        </div>

                                        <div class="product__details product-item-details">
                                            <?php if ($showWishlist || $showCompare || $showCart) :?>
                                                <div class="product__actions product-item-actions">
                                                    <?php if ($showCart) :?>
                                                        <div class="actions__primary">
                                                            <?php if ($_item->isSaleable()) :?>
                                                                <?php if (!$_item->getTypeInstance()->isPossibleBuyFromList($_item)) :?>
                                                                    <button class="action tocart primary btn btn-primary btn-block"
                                                                            data-mage-init='{"redirectUrl":{"url":"<?= $block->escapeUrl($block->getAddToCartUrl($_item)) ?>"}}'
                                                                            type="button"
                                                                            title="<?= $block->escapeHtmlAttr(__('Add to Cart')) ?>">
                                                                        <span><?= $block->escapeHtml(__('Add to Cart')) ?></span>
                                                                    </button>
                                                                <?php else :?>
                                                                    <?php
                                                                    $postDataHelper = $this->helper(Magento\Framework\Data\Helper\PostHelper::class);
                                                                    $postData = $postDataHelper->getPostData(
                                                                        $block->escapeUrl($block->getAddToCartUrl($_item)),
                                                                        ['product' => (int) $_item->getEntityId()]
                                                                    )
                                                                    ?>
                                                                    <button class="action tocart primary btn btn-primary btn-block"
                                                                            data-post='<?= /* @noEscape */ $postData ?>'
                                                                            type="button"
                                                                            title="<?= $block->escapeHtmlAttr(__('Add to Cart')) ?>">
                                                                        <span><?= $block->escapeHtml(__('Add to Cart')) ?></span>
                                                                    </button>
                                                                <?php endif; ?>
                                                            <?php endif; ?>
                                                        </div>
                                                    <?php endif; ?>
                                                    <?php if ($showWishlist || $showCompare) :?>
                                                        <div class="actions__secondary" data-role="add-to-links">
                                                            <?php if ($this->helper(Magento\Wishlist\Helper\Data::class)->isAllow() && $showWishlist) :?>
                                                                <a href="#"
                                                                   data-post='<?= /* @noEscape */ $block->getAddToWishlistParams($_item) ?>'
                                                                   class="action towishlist"
                                                                   data-action="add-to-wishlist"
                                                                   title="<?= $block->escapeHtmlAttr(__('Add to Wish List')) ?>">
                                                                    <span><?= $block->escapeHtml(__('Add to Wish List')) ?></span>
                                                                </a>
                                                            <?php endif; ?>
                                                            <?php if ($block->getAddToCompareUrl() && $showCompare) :?>
                                                                <?php $compareHelper = $this->helper(Magento\Catalog\Helper\Product\Compare::class);?>
                                                                <a href="#" class="action tocompare"
                                                                   data-post='<?= /* @noEscape */ $compareHelper->getPostDataParams($_item) ?>'
                                                                   title="<?= $block->escapeHtmlAttr(__('Add to Compare')) ?>">
                                                                    <span><?= $block->escapeHtml(__('Add to Compare')) ?></span>
                                                                </a>
                                                            <?php endif; ?>
                                                        </div>
                                                    <?php endif; ?>
                                                </div>
                                            <?php endif; ?>

                                            <h3 class="product__name">
                                                <a title="<?= $block->escapeHtmlAttr($_item->getName()) ?>"
                                                   href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>"
                                                   class="product__link product-item-link body2">
                                                    <?= $block->escapeHtml($_item->getName()) ?>
                                                </a>
                                            </h3>
                                            <div class="product__price">
                                                <?= $block->getProductPriceHtml($_item, $type); ?>
                                            </div>

                                            <?php if($showReview && $templateType): ?>
                                                <div class="product__review">
                                                    <?= $block->getReviewsSummaryHtml($_item, $templateType) ?>
                                                </div>
                                            <?php endif; ?>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        <?php endforeach ?>
                    </ol>
                </div>
                <?= $block->getPagerHtml() ?>
            </div>
        </div>
    </section>
<?php endif;?>
