<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

/** @var \Magento\Contact\Block\ContactForm $block */

/** @var \Interactiv4\Milkyway\ViewModel\Legal $viewModel */
$viewModel = $block->getViewModel();
?>
<div class="block contact-container col-12 col-lg-7">
    <form class="form contact"
          action="<?= $block->escapeUrl($block->getFormAction()) ?>"
          id="contact-form"
          method="post"
          data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>"
          data-mage-init='{"validation":{}}'>
        <fieldset class="fieldset">
            <legend class="legend h1">
                <span><?= $block->escapeHtml(__('How can we help you?')) ?></span>
            </legend>
            <div class="field note no-label">
                <?= $block->escapeHtml(__('Wish to know more about Logiscenter, or have questions, suggestions or feedback? Feel free to write to us.')) ?>
            </div>
            <div class="field name required">
                <label class="label" for="name">
                    <span><?= $block->escapeHtml(__('First name')) ?></span>
                </label>
                <div class="control form-group">
                    <input name="name" id="name" title="<?= $block->escapeHtmlAttr(__('Name')) ?>"
                           value="" class="input-text form-control" type="text" data-validate="{required:true}"/>
                </div>
            </div>
            <div class="field email required">
                <label class="label" for="email">
                    <span><?= $block->escapeHtml(__('Email')) ?></span>
                </label>
                <div class="control form-group">
                    <input name="email" id="email" placeholder="name@gmail.com" title="<?= $block->escapeHtmlAttr(__('Email')) ?>"
                           value="" class="input-text form-control" type="email" data-validate="{required:true, 'validate-email':true}"/>
                </div>
            </div>
            <div class="field telephone">
                <label class="label" for="telephone">
                    <span><?= $block->escapeHtml(__('Phone (optional)')) ?></span>
                </label>
                <div class="control form-group">
                    <input name="telephone" id="telephone" title="<?= $block->escapeHtmlAttr(__('Phone (optional)')) ?>"
                           value="" class="input-text form-control" type="text" data-validate="{'validate-phoneStrict':true}"/>
                </div>
            </div>
            <div class="field comment required">
                <label class="label" for="comment">
                    <span><?= $block->escapeHtml(__('Message')) ?></span>
                </label>
                <div class="control">
                    <textarea name="comment" id="comment" title="<?= $block->escapeHtmlAttr(__('Message')) ?>"
                              class="input-text" cols="5" rows="3" data-validate="{required:true}"></textarea>
                </div>
            </div>
            <?= $block->getChildHtml('form.additional.info') ?>
        </fieldset>
        <div class="actions-toolbar">
            <div class="primary">
                <input type="hidden" name="hideit" id="hideit" value="" />
                <button type="submit" title="<?= $block->escapeHtmlAttr(__('Submit')) ?>"
                        class="btn btn-primary action submit primary btn-block">
                    <span><?= $block->escapeHtml(__('Submit')) ?></span>
                </button>
            </div>
        </div>
    </form>
</div>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Customer/js/block-submit-on-send": {
                "formId": "contact-form"
            }
        }
    }
</script>
