<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

// @codingStandardsIgnoreFile

?>
<div class="block forgot-container row justify-content-center big-sm-gutters">
    <div class="block-forgot-password col-12 col-md-8 col-lg-6">
        <div class="block-container">
            <div class="block-title">
                <h2 class="h1"><?= __('I forgot my password') ?></h2>
            </div>
            <form class="form password forget"
                  action="<?= /* @escapeNotVerified */ $block->getUrl('*/*/forgotpasswordpost') ?>"
                  method="post"
                  id="form-validate"
                  data-mage-init='{"validation":{}}'>
                <div class="fieldset" data-hasrequired="<?= /* @escapeNotVerified */ __('* Required Fields') ?>">
                    <p class="block-note body2"><?= /* @escapeNotVerified */ __('Don’t worry! It happens all the time :) Enter your email address and we’ll send you a link to reset your password.'); ?></p>
                    <div class="field email required">
                        <div class="control form-group">
                            <label for="email_address" class="label"><span><?= /* @escapeNotVerified */ __('Email') ?></span></label>
                            <input type="email" name="email" alt="email" id="email_address" class="input-text form-control" value="<?= $block->escapeHtml($block->getEmailValue()) ?>" data-validate="{required:true, 'validate-email':true}">
                        </div>
                    </div>
                    <?= $block->getChildHtml('form_additional_info'); ?>
                </div>
                <div class="actions-toolbar">
                    <div class="primary">
                        <button type="submit" class="action submit btn btn-primary btn-block">
                            <span><?= /* @escapeNotVerified */ __('Reset My Password') ?></span>
                        </button>
                    </div>
                    <div class="secondary">
                        <a class="action back btn-link btn-link-arrow-left btn-sm-block"
                           href="<?= /* @escapeNotVerified */ $block->getLoginUrl() ?>">
                            <span><?= /* @escapeNotVerified */ __('Go back') ?></span>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
