<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Form\Login $block */
?>
<?php
/**
 * Customer login form template
 *
 * @see \Magento\Customer\Block\Form\Login
 * @var $block \Magento\Customer\Block\Form\Login
 */
?>
<div class="block block-customer-login col-12 col-md-6">
    <div class="block-container">
        <div class="block-title">
            <h2 id="block-customer-login-heading" role="heading" aria-level="2" class="h1">
                <?= /* @escapeNotVerified */ __('Sign in') ?>
            </h2>
        </div>
        <div class="block-content" aria-labelledby="block-customer-login-heading">
            <form class="form form-login"
                  action="<?= /* @escapeNotVerified */ $block->getPostActionUrl() ?>"
                  method="post"
                  id="login-form"
                  data-mage-init='{"validation":{}}'>
                <?= $block->getBlockHtml('formkey'); ?>
                <fieldset class="fieldset login" data-hasrequired="<?= /* @escapeNotVerified */ __('* Required Fields') ?>">
                    <p class="block-note body2"><?= /* @escapeNotVerified */ __('Sign in to track your orders, add products to your wishlist, manage your info and addresses and continue shopping!') ?></p>
                    <div class="field email required">
                        <div class="control form-group">
                            <label class="label" for="email"><span><?= /* @escapeNotVerified */ __('Email') ?></span></label>
                            <input name="login[username]" value="<?= $block->escapeHtml($block->getUsername()) ?>" <?php if ($block->isAutocompleteDisabled()) :?> autocomplete="off"<?php endif; ?> id="email" type="email" class="input-text form-control" title="<?= /* @escapeNotVerified */ __('Email') ?>" data-validate="{required:true, 'validate-email':true}">
                        </div>
                    </div>
                    <div class="field password required">
                        <div class="control form-group">
                            <label for="pass" class="label"><span><?= /* @escapeNotVerified */ __('Password') ?></span></label>
                            <input name="login[password]" type="password" <?php if ($block->isAutocompleteDisabled()) :?> autocomplete="off"<?php endif; ?> class="input-text form-control" id="pass" title="<?= /* @escapeNotVerified */ __('Password') ?>" data-validate="{required:true}">
                        </div>
                    </div>
                    <?= $block->getChildHtml('form_additional_info'); ?>
                    <div class="actions-toolbar">
                        <div class="primary">
                            <button type="submit" class="action login btn btn-primary btn-sm-block" name="send"
                                    id="send2">
                                <span><?= /* @escapeNotVerified */ __('Sign In') ?></span>
                            </button>
                        </div>
                        <div class="secondary">
                            <a class="action remind btn-link btn-link-arrow-right btn-sm-block"
                               href="<?= /* @escapeNotVerified */ $block->getForgotPasswordUrl() ?>">
                                <span><?= /* @escapeNotVerified */ __('I forgot my password') ?></span>
                            </a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Customer/js/block-submit-on-send": {
                "formId": "login-form"
            }
        }
    }
</script>