<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Newsletter $block */
?>
<?= $block->getChildHtml('form_before') ?>
<form class="form form-newsletter-manage" action="<?= $block->escapeUrl($block->getAction()) ?>" method="post" id="form-validate">
    <fieldset class="fieldset block">
        <?= $block->getBlockHtml('formkey') ?>
        <div class="block-title h4">
            <strong><?= /* @escapeNotVerified */ __('Subscription option') ?></strong>
        </div>
        <div class="field choice">
            <div class="label custom-control custom-checkbox">
                <input type="checkbox" name="is_subscribed" id="subscription" value="1"
                       title="<?= $block->escapeHtmlAttr(__('General Subscription')) ?>"<?php if ($block->getIsSubscribed()) : ?> checked="checked"<?php endif; ?>
                       class="checkbox custom-control-input">
                <label for="subscription" class="custom-control-label subscription"><span><?= $block->escapeHtml(__('General Subscription')) ?></span></label>
            </div>
        </div>
        <?php /* Extensions placeholder */ ?>
        <?= $block->getChildHtml('customer.form.newsletter.extra') ?>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" title="<?= $block->escapeHtmlAttr(__('Save changes')) ?>"
                    class="action save primary btn btn-primary btn-sm-block">
                <span><?= $block->escapeHtml(__('Save changes')) ?></span>
            </button>
        </div>
        <div class="secondary">
            <a class="action back btn-link btn-link-arrow-left btn-sm-block"
               href="<?= $block->escapeUrl($block->getBackUrl()) ?>">
                <span><?= $block->escapeHtml(__('Back')) ?></span>
            </a>
        </div>
    </div>
</form>
<?php /* Extensions placeholder */ ?>
<?= $block->getChildHtml('customer.form.newsletter.extra2') ?>
