<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Form\Register $block */
$viewModel = $block->getViewModel();
?>
<?= $block->getChildHtml('form_fields_before') ?>
<?php /* Extensions placeholder */ ?>
<?= $block->getChildHtml('customer.form.register.extra') ?>
<div class="block create-container row justify-content-center justify-content-xl-start big-sm-gutters">
    <div class="block-create-account col-12 col-md-8">
        <div class="block-container">
            <div class="block-title">
                <h2 class="h1"><?= __('Create an account') ?></h2>
            </div>
            <form class="form create account form-create-account row" action="<?= $block->escapeUrl
                ($block->getPostActionUrl()) ?>" method="post" id="form-validate" enctype="multipart/form-data" autocomplete="off">
                <?= /* @noEscape */ $block->getBlockHtml('formkey'); ?>
                <div class="fieldset create info col-12">
                    <input type="hidden" name="success_url" value="<?= $block->escapeUrl($block->getSuccessUrl()) ?>">
                    <input type="hidden" name="error_url" value="<?= $block->escapeUrl($block->getErrorUrl()) ?>">
                    <p class="block-note body2"><?= /* @escapeNotVerified */ __('Be part of our family! All the information you provide us will be encrypted and safe in our system. We won’t use your information for advertising purposes. That’s a promise! :)') ?></p>

                    <?= $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Name')->setObject($block->getFormData())->setForceUseCustomerAttributes(true)->toHtml() ?>

                    <?php $_dob = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Dob') ?>
                    <?php if ($_dob->isEnabled()): ?>
                        <?= $_dob->setDate($block->getFormData()->getDob())->toHtml() ?>
                    <?php endif ?>

                    <?php $_gender = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Gender') ?>
                    <?php if ($_gender->isEnabled()): ?>
                        <?= $_gender->setGender($block->getFormData()->getGender())->toHtml() ?>
                    <?php endif ?>

                    <div class="field required">
                        <label for="email_address" class="label"><span><?= $block->escapeHtml(__('Email')) ?></span></label>
                        <div class="control form-group">
                            <input type="email"
                                   name="email"
                                   autocomplete="email"
                                   id="email_address"
                                   value="<?= $block->escapeHtmlAttr($block->getFormData()->getEmail()) ?>"
                                   title="<?= $block->escapeHtmlAttr(__('Email')) ?>"
                                   class="input-text form-control"
                                   data-validate="{required:true, 'validate-email':true}"
                            >
                        </div>
                    </div>

                    <?php if ($block->getShowAddressFields()): ?>
                        <?php $_telephone = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Telephone') ?>
                        <?php if ($_telephone->isEnabled()): ?>
                            <?= $_telephone->setTelephone($block->getFormData()->getTelephone())->toHtml() ?>
                        <?php endif ?>

                        <?php $_company = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Company') ?>
                        <?php if ($_company->isEnabled()): ?>
                            <?= $_company->setCompany($block->getFormData()->getCompany())->toHtml() ?>
                        <?php endif ?>
                    <?php endif; ?>

                    <?php if ($block->getShowAddressFields()): ?>

                        <?php $_streetValidationClass = $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('street'); ?>

                        <div class="field street required">
                            <div class="control">
                                <div class="field required">
                                    <div class="control form-group">
                                        <label for="street_1" class="label">
                                            <span><?= $block->escapeHtml(__('Street Address')) ?></span>
                                        </label>
                                        <input type="text"
                                               name="street[]"
                                               value="<?= $block->escapeHtmlAttr($block->getFormData()->getStreet(0)) ?>"
                                               title="<?= $block->escapeHtmlAttr(__('Street Address')) ?>"
                                               id="street_1"
                                               class="input-text form-control <?= $block->escapeHtmlAttr($_streetValidationClass) ?>"
                                        >
                                    </div>
                                </div>
                                <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
                                <?php for ($_i = 2, $_n = $this->helper('Magento\Customer\Helper\Address')->getStreetLines(); $_i <= $_n; $_i++): ?>
                                    <div class="field additional">
                                        <div class="control form-group">
                                            <label class="label" for="street_<?= /* @noEscape */ $_i ?>">
                                                <span><?= /* @escapeNotVerified */ __('Address - Street %1 (optional)', $_i) ?></span>
                                            </label>
                                            <input type="text"
                                                   name="street[]"
                                                   value="<?= $block->escapeHtml($block->getFormData()->getStreetLine($_i - 1)) ?>"
                                                   title="<?= $block->escapeHtmlAttr(__('Street Address %1', $_i)) ?>"
                                                   id="street_<?= /* @noEscape */ $_i ?>"
                                                   class="input-text form-control <?= $block->escapeHtmlAttr($_streetValidationClass) ?>"
                                            >
                                        </div>
                                    </div>
                                <?php endfor; ?>
                            </div>
                        </div>

                        <input type="hidden" name="create_address" value="1" />

                        <div class="field country required">
                            <label for="country" class="label"><span><?= $block->escapeHtml(__('Country')) ?></span></label>
                            <div class="control form-group">
                                <?= $block->getCountryHtmlSelect() ?>
                            </div>
                        </div>

                        <div class="field region required">
                            <label for="region_id" class="label"><span><?= $block->escapeHtml(__('State/Province')) ?></span></label>
                            <div class="control form-group">
                                <select id="region_id"
                                        name="region_id"
                                        title="<?= $block->escapeHtmlAttr(__('State/Province')) ?>"
                                        class="validate-select form-control"
                                        style="display:none;">
                                    <option value=""><?= $block->escapeHtml(__('Please select a region, state or province.')) ?></option>
                                </select>
                                <input type="text"
                                       id="region"
                                       name="region"
                                       value="<?= $block->escapeHtml($block->getRegion()) ?>"
                                       title="<?= $block->escapeHtmlAttr(__('State/Province')) ?>"
                                       class="input-text form-control <?= $block->escapeHtmlAttr($this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('region')) ?>"
                                       style="display:none;"
                                >
                            </div>
                        </div>

                        <div class="field required">
                            <label for="city" class="label"><span><?= $block->escapeHtml(__('City')) ?></span></label>
                            <div class="control form-group">
                                <input type="text"
                                       name="city"
                                       value="<?= $block->escapeHtmlAttr($block->getFormData()->getCity()) ?>"
                                       title="<?= $block->escapeHtmlAttr(__('City')) ?>"
                                       class="input-text form-control <?= $block->escapeHtmlAttr($this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('city')) ?>"
                                       id="city"
                                >
                            </div>
                        </div>

                        <div class="field zip required">
                            <label for="zip" class="label"><span><?= $block->escapeHtml(__('Zip/Postal Code')) ?></span></label>
                            <div class="control form-group">
                                <input type="text"
                                       name="postcode"
                                       value="<?= $block->escapeHtmlAttr($block->getFormData()->getPostcode()) ?>"
                                       title="<?= $block->escapeHtmlAttr(__('Zip/Postal Code')) ?>"
                                       id="zip"
                                       class="input-text validate-zip-international form-control <?= $block->escapeHtmlAttr($this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('postcode')) ?>"
                                >
                            </div>
                        </div>

                        <?php $addressAttributes = $block->getChildBlock('customer_form_address_user_attributes');?>
                        <?php if ($addressAttributes): ?>
                            <?php $addressAttributes->setEntityType('customer_address'); ?>
                            <?php $addressAttributes->setFieldIdFormat('address:%1$s')->setFieldNameFormat('address[%1$s]');?>
                            <?php $block->restoreSessionData($addressAttributes->getMetadataForm(), 'address');?>
                            <?= $addressAttributes->setShowContainer(false)->toHtml() ?>
                        <?php endif;?>
                        <input type="hidden" name="default_billing" value="1">
                        <input type="hidden" name="default_shipping" value="1">

                        <?php $_fax = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Fax') ?>
                        <?php if ($_fax->isEnabled()): ?>
                            <?= $_fax->setFax($block->getFormData()->getFax())->toHtml() ?>
                        <?php endif ?>

                    <?php endif; ?>

                    <div class="field password required">
                        <label for="password" class="label"><span><?= $block->escapeHtml(__('Password')) ?></span></label>
                        <div class="control form-group">
                            <input type="password" name="password" id="password"
                                   title="<?= $block->escapeHtmlAttr(__('Password')) ?>"
                                   class="input-text form-control"
                                   data-password-min-length="<?= $block->escapeHtmlAttr($block->getMinimumPasswordLength()) ?>"
                                   data-password-min-character-sets="<?= $block->escapeHtmlAttr($block->getRequiredCharacterClassesNumber()) ?>"
                                   data-validate="{required:true, 'validate-customer-password':true}"
                                   autocomplete="off">
                            <div id="password-strength-meter-container" data-role="password-strength-meter" aria-live="polite">
                                <div id="password-strength-meter" class="password-strength-meter">
                                    <?= $block->escapeHtml(__('Password Strength')) ?>:
                                    <span id="password-strength-meter-label" data-role="password-strength-meter-label">
                            <?= $block->escapeHtml(__('No Password')) ?>
                        </span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="field confirmation required">
                        <label for="password-confirmation" class="label"><span><?= $block->escapeHtml(__('Repeat password')) ?></span></label>
                        <div class="control form-group">
                            <input type="password"
                                   name="password_confirmation"
                                   title="<?= $block->escapeHtmlAttr(__('Repeat password')) ?>"
                                   id="password-confirmation"
                                   class="input-text form-control"
                                   data-validate="{required:true, equalTo:'#password'}"
                                   autocomplete="off"
                            >
                        </div>
                    </div>
                    <?php if ($block->isNewsletterEnabled()): ?>
                        <div class="field choice newsletter">
                            <div class="label custom-control custom-checkbox">
                                <input type="checkbox" name="is_subscribed" title="<?= /* @escapeNotVerified */ __('Sign Up for Newsletter') ?>" value="1" id="is_subscribed"<?php if ($block->getFormData()->getIsSubscribed()): ?> checked="checked"<?php endif; ?> class="checkbox custom-control-input">
                                <label for="is_subscribed" class="custom-control-label"><?= /* @escapeNotVerified */ __('Sign Up for Newsletter') ?></label>
                            </div>
                        </div>
                        <?php /* Extensions placeholder */ ?>
                        <?= $block->getChildHtml('customer.form.register.newsletter') ?>
                    <?php endif ?>

                    <div class="field choice terms">
                        <div class="label custom-control custom-checkbox">
                            <input type="checkbox"
                                   name="is_terms"
                                   title="<?= /* @escapeNotVerified */ __('Accept the legal notice and privacy policy') ?>"
                                   value="1"
                                   id="is_terms"
                                   class="checkbox custom-control-input"
                                   data-validate="{required:true}"
                            >
                            <label for="is_terms"
                                   class="custom-control-label">
                                <?= __('I Accept the') ?>&nbsp;
                                <a data-cms-id="<?= $viewModel->getCmsLegalNotice(); ?>" class="content_popup_ajax_link"><?= __('Legal Conditions') ?></a>
                                &nbsp;<?= __('and') ?>&nbsp;
                                <a data-cms-id="<?= $viewModel->getCmsPrivacyPolicy(); ?>" class="content_popup_ajax_link"><?= __('Privacy Policy') ?></a>
                            </label>
                        </div>
                    </div>

                    <?= $block->getChildHtml('form_additional_info') ?>

                </div>

                <div class="actions-toolbar col-12">
                    <div class="primary">
                        <button type="submit" class="action submit btn btn-primary btn-block" title="<?=
                        $block->escapeHtmlAttr(__('Sign up')) ?>"><span><?= $block->escapeHtml(__('Sign up')) ?></span></button>
                    </div>
                    <div class="secondary">
                        <a class="action back btn-link btn-link-arrow-left btn-sm-block" href="<?= $block->escapeUrl
                        ($block->getBackUrl()) ?>"><span><?= $block->escapeHtml(__('Go Back')) ?></span></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    require([
        'jquery',
        'mage/mage'
    ], function($){

        var dataForm = $('#form-validate');
        var ignore = <?= /* @noEscape */ $_dob->isEnabled() ? '\'input[id$="full"]\'' : 'null' ?>;

        dataForm.mage('validation', {
            <?php if ($_dob->isEnabled()) : ?>
            errorPlacement: function(error, element) {
                if (element.prop('id').search('full') !== -1) {
                    var dobElement = $(element).parents('.customer-dob'),
                        errorClass = error.prop('class');
                    error.insertAfter(element.parent());
                    dobElement.find('.validate-custom').addClass(errorClass)
                        .after('<div class="' + errorClass + '"></div>');
                }
                else {
                    error.insertAfter(element);
                }
            },
            ignore: ':hidden:not(' + ignore + ')'
            <?php else : ?>
            ignore: ignore ? ':hidden:not(' + ignore + ')' : ':hidden'
            <?php endif ?>
        }).find('input:text').attr('autocomplete', 'off');

    });
</script>
<?php if ($block->getShowAddressFields()) : ?>
    <script type="text/x-magento-init">
    {
        "#country": {
            "regionUpdater": {
                "optionalRegionAllowed": <?= /* @noEscape */ $block->getConfig('general/region/display_all') ? 'true' : 'false' ?>,
                "regionListId": "#region_id",
                "regionInputId": "#region",
                "postcodeId": "#zip",
                "form": "#form-validate",
                "regionJson": <?= /* @noEscape */ $this->helper(\Magento\Directory\Helper\Data::class)->getRegionJson() ?>,
                "defaultRegion": "<?= (int) $block->getFormData()->getRegionId() ?>",
                "countriesWithOptionalZip": <?= /* @noEscape */ $this->helper(\Magento\Directory\Helper\Data::class)->getCountriesWithOptionalZip(true) ?>
            }
        }
    }
</script>
<?php endif; ?>

<script type="text/x-magento-init">
    {
        ".field.password": {
            "passwordStrengthIndicator": {
                "formSelector": "form.form-create-account"
            }
        }
    }
</script>
