<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Account\Resetpassword $block */
?>
<div class="block reset-container row justify-content-center big-sm-gutters">
    <div class="block-reset-password col-12 col-md-8 col-lg-6">
        <div class="block-container">
            <div class="block-title">
                <h2 class="h1"><?= __('Set a New Password') ?></h2>
            </div>
            <form action="<?= /* @escapeNotVerified */ $block->getUrl('*/*/resetpasswordpost', ['_query' => ['id' => $block->getCustomerId(), 'token' => $block->getResetPasswordLinkToken()]]); ?>"
                  method="post"
                <?php if ($block->isAutocompleteDisabled()) :?> autocomplete="off"<?php endif; ?>
                  id="form-validate"
                  class="form password reset"
                  data-mage-init='{"validation":{}}'>
                <fieldset class="fieldset" data-hasrequired="<?= /* @escapeNotVerified */ __('* Required Fields'); ?>">
                    <div class="field password required" data-mage-init='{"passwordStrengthIndicator": {}}'>
                        <div class="control form-group">
                            <label class="label" for="password"><span><?= /* @escapeNotVerified */ __('New Password'); ?></span></label>
                            <input type="password"
                                   class="input-text form-control"
                                   name="password"
                                   id="password"
                                   data-password-min-length="<?= $block->escapeHtml($block->getMinimumPasswordLength()) ?>"
                                   data-password-min-character-sets="<?= $block->escapeHtml($block->getRequiredCharacterClassesNumber()) ?>"
                                   data-validate="{required:true, 'validate-customer-password':true}"
                                   autocomplete="off">
                            <div id="password-strength-meter-container" data-role="password-strength-meter">
                                <div id="password-strength-meter" class="password-strength-meter">
                                    <?= /* @escapeNotVerified */ __('Password Strength'); ?>:
                                    <span id="password-strength-meter-label" data-role="password-strength-meter-label">
                                        <?= /* @escapeNotVerified */ __('No Password'); ?>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field confirmation required">
                        <div class="control form-group">
                            <label class="label" for="password-confirmation"><span><?= /* @escapeNotVerified */ __('Confirm New Password'); ?></span></label>
                            <input type="password" class="input-text form-control" name="password_confirmation" id="password-confirmation" data-validate="{required:true,equalTo:'#password'}" autocomplete="off">
                        </div>
                    </div>
                </fieldset>
                <div class="actions-toolbar">
                    <div class="primary">
                        <button type="submit" class="action submit btn btn-primary btn-block">
                            <span><?= /* @escapeNotVerified */ __('Set a New Password'); ?></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
