<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

// @codingStandardsIgnoreFile

/** @var $block \Interactiv4\QuickView\Block\Product\View\AddTo\Compare */
?>
<?php if ($block->getProduct()) : ?>
    <a href="#" data-url='<?= /* @escapeNotVerified */
    $block->getAjaxAddCompareUrl(); ?>'
       data-role="add-to-links"
       data-product-id='<?= /* @escapeNotVerified */
       $block->getProduct()->getId(); ?>'
       class="action tocompare ajaxToCompare"><span><?= /* @escapeNotVerified */
            __('Add to Compare') ?></span></a>

    <script>
        require([
            'ajaxCompareProduct',
            'jquery'
        ], function (init, $) {
            $('.ajaxToCompare').click(function () {
                var productid = this.getAttribute("data-product-id");
                var url = this.getAttribute("data-url");
                init.addAjaxCompare(url, productid, '<?= $block->getFormKey() ?>');
            });
        });
    </script>
<?php endif; ?>
