<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

// @codingStandardsIgnoreFile

/** @var $block \Interactiv4\QuickView\Block\Product\View\Addto\Wishlist */
?>
<?php if ($block->getProduct()) : ?>
    <?php if ($block->isWishListAllowed()) : ?>
        <a href="#"
           class="action towishlist ajaxAddToWishlist"
           data-url='<?= /* @escapeNotVerified */
           $block->getAjaxAddWishlistUrl() ?>'
           data-product-id='<?= /* @escapeNotVerified */
           $block->getProduct()->getId() ?>'
           data-action="add-to-wishlist">
            <i class="module-icon">
                <svg class="icon ico-fav-outline"><use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-fav-outline"></use></svg>
            </i>
            <span class="sr-only"><?= $block->escapeHtml(__('Add to Wish List')) ?></span>
        </a>
    <?php endif; ?>
    <script type="text/x-magento-init">
        {
            "body": {
                "addToWishlist": <?= /* @escapeNotVerified */
        $block->getWishlistOptionsJson() ?>
            }
        }
    
    </script>

    <script type="text/javascript">
        require([
            'ajaxAddToWishlist',
            'jquery'
        ], function (init, $) {
            $('.ajaxAddToWishlist').click(function () {
                var productid = this.getAttribute("data-product-id");
                var url = this.getAttribute("data-url");
                init.addAjaxWishlist(url, productid, '<?= /* @escapeNotVerified */ $block->getFormKey() ?>', data);
            });
        });
    </script>
<?php endif; ?>
