<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

// @codingStandardsIgnoreFile

?>
<?php /** @var $block \Magento\Checkout\Block\Onepage\Success */ ?>
<div class="checkout-success">
    <h1 class="page-title"><?= __('Thank you for your order!') ?></h1>
    <?php if ($block->getOrderId()):?>
        <p class="subtitle">
            <?= $block->escapeHtml(__('We have received your order correctly. We will send you an email with all the details of your purchase.')) ?>
        </p>
        <?php if ($block->getCanViewOrder()) :?>
            <p class="order-number h4">
                <span class="label"><?= __('Order number:') ?> </span>
                <?= sprintf('<a href="%s"><strong>%s</strong></a>', $block->escapeHtml($block->getViewOrderUrl()), $block->escapeHtml($block->getOrderId()))?></p>
            <p class="subtitle">
                <?= $block->escapeHtml(__('We will start preparing your order as soon as possible. In the meantime, you can keep discovering new products :)')) ?>
            </p>
        <?php  else :?>
            <p class="order-number h4">
                <span class="label"><?= __('Order number:') ?> </span>
                <span><?= __('<strong>%1</strong>', $block->escapeHtml($block->getOrderId())) ?></span>
            </p>
        <?php endif;?>
    <?php endif;?>

    <?= $block->getAdditionalInfoHtml() ?>

    <div class="actions-toolbar">
        <div class="primary">
            <a class="action primary continue btn btn-primary btn-sm-block" href="<?= /* @escapeNotVerified */
$block->getContinueUrl() ?>"><span><?= /* @escapeNotVerified */ __('Back to Homepage') ?></span></a>
        </div>
    </div>
</div>
