<?php
/** @var \Aheadworks\Blog\Block\Post\PrevNext $block */

// @codingStandardsIgnoreFile
?>
<?php
$prevPost = $block->getPrevPost();
$nextPost = $block->getNextPost();
?>
<div class="block prev-next">
    <?php if ($prevPost): ?>
        <a href="<?= /* @noEscape */ $block->getPostUrl($prevPost) ?>" class="post-link">
            <span class="arrow arrow-prev">
                 <i class="module-icon">
                    <svg class="icon ico-arrow-left">
                        <use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-arrow-left"></use>
                    </svg>
                </i>
               <?= /* @noEscape */ __('PREVIOUS') ?>
            </span>
            <?php if ($block->isFeaturedImageLoaded($prevPost)): ?>
                <img class="post-featured-image"
                     src="<?= /* @noEscape */ $block->getFeaturedImageUrl($prevPost) ?>"
                     title="<?= $block->escapeHtml($prevPost->getFeaturedImageTitle()) ?>"
                     alt="<?= $block->escapeHtml($prevPost->getFeaturedImageAlt()) ?>"
                />
            <?php endif; ?>
            <span class="blog-title"><?= $block->escapeHtml($prevPost->getTitle()) ?></span>
        </a>
    <?php endif; ?>
    <?php if ($nextPost): ?>
        <a href="<?= /* @noEscape */ $block->getPostUrl($nextPost) ?>" class="post-link next">
            <span class="arrow arrow-next">
                <?= /* @noEscape */ __('NEXT') ?>
                <i class="module-icon">
                    <svg class="icon ico-arrow-left">
                        <use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-arrow-left"></use>
                    </svg>
                </i>
            </span>
            <?php if ($block->isFeaturedImageLoaded($nextPost)): ?>
                <img class="post-featured-image"
                     src="<?= /* @noEscape */ $block->getFeaturedImageUrl($nextPost) ?>"
                     title="<?= $block->escapeHtml($nextPost->getFeaturedImageTitle()) ?>"
                     alt="<?= $block->escapeHtml($nextPost->getFeaturedImageAlt()) ?>"
                />
            <?php endif; ?>
            <span class="blog-title"><?= $block->escapeHtml($nextPost->getTitle()) ?></span>
        </a>
    <?php endif; ?>
</div>
