<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Store\Block\Switcher $block */
?>
<?php if (count($block->getStores()) > 1): ?>
    <?php $id = $block->getIdModifier() ? '-' . $block->getIdModifier() : '' ?>
<div class="header__switcher">
    <div class="switcher language switcher-language store-switcher"
         data-block="store-switcher"
         data-ui-id="language-switcher"
         id="switcher-language<?= $block->escapeHtmlAttr($id) ?>">
        <div class="store-switcher__toggle icon__trigger">
            <i class="module-icon">
                <svg class="icon ico-world"><use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-world"></use></svg>
            </i>
            <span class="store-switcher__label label body3"><?= /* @escapeNotVerified */ __('Language') ?></span>
            <div class="store-switcher__current d-lg-none">
                <span class="view-<?= $block->escapeHtml($block->getCurrentStoreCode()) ?>">
                    <span><?= $block->escapeHtml($block->getStoreName()) ?></span>
                </span>
            </div>
        </div>
        <div class="store-switcher__content"
             data-role="dropdownDialog"
             data-mage-init='{"dropdownDialog":{
                    "appendTo":"[data-block=store-switcher]",
                    "triggerTarget":".store-switcher__toggle",
                    "timeout": "2000",
                    "closeOnMouseLeave": false,
                    "closeOnEscape": true,
                    "triggerClass":"active",
                    "parentClass":"active",
                    "buttons":[]}}'>
            <ul class="dropdown switcher-dropdown"
                data-target="dropdown">
                <?php foreach ($block->getStores() as $_lang): ?>
                    <?php if ($_lang->getId() != $block->getCurrentStoreId()): ?>
                        <li class="view-<?= $block->escapeHtml($_lang->getCode()) ?> switcher-option">
                            <a href="<?= $block->escapeUrl($block->getViewModel()->getTargetStoreRedirectUrl($_lang)) ?>">
                                <?= $block->escapeHtml($_lang->getName()) ?>
                            </a>
                        </li>
                    <?php endif; ?>
                <?php endforeach; ?>
            </ul>
        </div>
    </div>
</div>
<?php endif; ?>
