<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="product__availability-message availability-message availability-message--product-list"
     data-bind="css: getAvailabilityMessageType($row())"
     if="isAllowed($row()) && getAvailabilityMessage($row())">
    <!-- ko if: canShowAvailabilityPopup($row()) && hasSku($row()) -->
        <span class="availability-message__text availability-message__text--action btn btn-link btn-link-sm"
              data-event="check-availability"
              data-bind="attr: {'data-sku': getSku($row())}"
              text="getAvailabilityMessage($row())" />
    <!-- /ko -->
    <!-- ko ifnot: canShowAvailabilityPopup($row()) && hasSku($row()) -->
        <!-- ko if: getAvailabilityMessageType($row()) == 'in-stock' -->
            <span class="availability-message__text availability-message__text--static"
                  text="getAvailabilityMessage($row())"/>
        <!-- /ko -->
        <!-- ko if: getAvailabilityMessageType($row()) == 'action' -->
            <a href="getUrl($row())"
               class="availability-message__text availability-message__text--action btn btn-link btn-link-sm"
               text="getAvailabilityMessage($row())"/>
        <!-- /ko -->
        <!-- ko ifnot: getAvailabilityMessageType($row()) == 'in-stock' || getAvailabilityMessageType($row()) == 'action' -->
            <span class="availability-message__text availability-message__text--static"
                  text="getAvailabilityMessage($row())"/>
        <!-- /ko -->
    <!-- /ko -->
</div>