<?php

/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

/**
 * Table grouped product data template
 *
 * @var $block \Magento\Catalog\Block\Product\View
 */
?>
<?php
$_product = $block->getProduct();
$_tabTitle = $block->getTabTitle();
$_tabAlias = $block->getDisplayType();
?>

<div class="models__wrapper">
    <span class="models__title h5">
        <?= /* @escapeNotVerified */ str_replace('%1', $_product->getName(), $_tabTitle) ?>
    </span>

    <div class="models__product-add-form">
        <form data-product-sku="<?= $block->escapeHtmlAttr($_product->getSku()) ?>"
              action="<?= $block->escapeUrl($block->getSubmitUrl($_product)) ?>" method="post"
              id="models_product_add_form-<?= /* @escapeNotVerified */ strtolower($_tabAlias) ?>">
            <input type="hidden" name="product" value="<?= (int)$_product->getId() ?>" />
            <input type="hidden" name="item"  value="<?= (int)$block->getRequest()->getParam('id') ?>" />
            <?= $block->getBlockHtml('formkey') ?>

            <?= /* @noEscape */ $block->getLayout()->createBlock(\Magento\Catalog\Block\Product\View::class)
                ->setTemplate('Logiscenter_ProductTabs::product/view/table.phtml')
                ->setProductGrouped($_product)
                ->toHtml()
            ?>
        </form>
    </div>
</div>

