<!--Move to CMS block, delete call in XML-->
<div class="row">
    <div class="footer__list col-12 col-lg-6">
        <div data-mage-init='{
            "collapsible":{
                "collapsible": true,
                "openedState": "active",
                "active": false
            }}'
        >
            <h5 class="list__title h4" data-role="trigger">Get to know us</h5>
            <ul data-role="content">
                <!--<li><a href="{{store url='#'}}">About us</a></li>-->
                <li><a href="<?= $block->getBaseUrl() ?>about-us">About us</a></li>
                <li><a href="<?= $block->getBaseUrl() ?>manifesto">Manifesto</a></li>
                <li><a href="<?= $block->getBaseUrl() ?>blog">Blog</a></li>
                <li><a href="<?= $block->getBaseUrl() ?>our-team">Our team</a></li>
                <li><a href="<?= $block->getBaseUrl() ?>our-designers">Our designers</a></li>
                <li><a href="<?= $block->getBaseUrl() ?>sustainability">Sustainability</a></li>
                <li><a href="<?= $block->getBaseUrl() ?>furniture-care">Furniture care</a></li>
                <li><a href="<?= $block->getBaseUrl() ?>removal-and-recycling-service">Removal & recycling service</a></li>
                <li><a href="<?= $block->getBaseUrl() ?>press">Press</a></li>
                <li><a href="<?= $block->getBaseUrl() ?>affiliates">Affiliates</a></li>
            </ul>
        </div>
    </div>
    <div class="footer__list col-12 col-lg-3">
        <div data-mage-init='{
            "collapsible":{
                "collapsible": true,
                "openedState": "active",
                "active": false
            }}'
        >
            <h5 class="list__title h4" data-role="trigger">Customer service</h5>
            <ul data-role="content">
                <li><a href="<?= $block->getBaseUrl() ?>delivery-returns">Delivery & returns</a></li>
                <li><a href="<?= $block->getBaseUrl() ?>payment">Payment</a></li>
                <li><a href="<?= $block->getBaseUrl() ?>faq">FAQs</a></li>
                <li><a href="<?= $block->getBaseUrl() ?>contact">Contact us</a></li>
            </ul>
        </div>
    </div>
    <div class="footer__list col-12 col-lg-3">
        <div data-mage-init='{
            "collapsible":{
                "collapsible": true,
                "openedState": "active",
                "active": false
            }}'
        >
            <h5 class="list__title h4" data-role="trigger">Legal</h5>
            <ul data-role="content">
                <li><a href="<?= $block->getBaseUrl() ?>legal-notice">Legal Notice</a></li>
                <li><a href="<?= $block->getBaseUrl() ?>privacy-policy">Privacy Policy</a></li>
                <li><a href="<?= $block->getBaseUrl() ?>terms-of-use">Terms of Use</a></li>
                <li><a href="<?= $block->getBaseUrl() ?>privacy-policy-cookie-restriction-mode">Cookies Policy</a></li>
            </ul>
        </div>
    </div>
</div>