<!--Move to CMS block, delete call in XML-->
<section class="features">
    <div class="container-fluid">
        <div class="row big-gutters">
            <div class="features__item item col-12 col-lg-4">
                <div class="features__item-inner">
                    <div class="features__item-content">
                        <div class="item__title h2">48-72h delivery</div>
                        <div class="item__text body2">We work with the best carriers to bring your products home as soon as possible</div>
                    </div>
                </div>
            </div>
            <div class="features__item item col-12 col-lg-4">
                <div class="features__item-inner">
                    <div class="features__item-content">
                        <div class="item__title h2">Free shipping & returns</div>
                        <div class="item__text body2">Is it not what you were looking for? Don’t worry, we take care of it</div>
                    </div>
                </div>
            </div>
            <div class="features__item item col-12 col-lg-4">
                <div class="features__item-inner">
                    <div class="features__item-content">
                        <div class="item__title h2">Secure payment</div>
                        <div class="item__text body2">We accept Visa, Mastercard, American Express and PayPal.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
