<div class="footer__extra">
    <ul>
        <li>
            <a href="#">
                <i class="module-icon">
                    <svg class="icon ico-location"><use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-location"></use></svg>
                </i>
                <span><?= __('Store locator')?></span>
            </a>
        </li>
    </ul>
</div>
