<?php
/**
 * @author Interactiv4 Team
 * @copyright  Copyright © Interactiv4 (https://www.interactiv4.com)
 */

// @codingStandardsIgnoreFile

/**
 * @var \Magento\Framework\View\Element\Template $block
 */
?>
<div class="secure-payment">
    <span class="label h4">
        <?= /* @escapeNotVerified */ __('Secure payment') ?>
    </span>
    <div class="icons">
        <i class="module-icon">
            <svg class="icon ico-visa"><use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-secure-visa"></use></svg>
        </i>
        <i class="module-icon">
            <svg class="icon ico-mastercard"><use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-secure-mastercard"></use></svg>
        </i>
        <i class="module-icon">
            <svg class="icon ico-paypal"><use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-secure-paypal"></use></svg>
        </i>
        <i class="module-icon">
            <svg class="icon ico-citibank"><use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-secure-citibank"></use></svg>
        </i>
        <i class="module-icon">
            <img class="icon ico-ssl" src="<?= $block->getViewFileUrl('images/ssl.png') ?>"/>
        </i>
        <i class="module-icon">
            <svg class="icon ico-geotrust"><use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-secure-geotrust"></use></svg>
        </i>
    </div>
</div>
