<?php
/**
 * @author Interactiv4 Team
 * @copyright  Copyright © Interactiv4 (https://www.interactiv4.com)
 */

// @codingStandardsIgnoreFile

/**
 * @var \Magento\Framework\View\Element\Template $block
 */
?>
<div class="shipment">
    <span class="label h6">
        <?= /* @escapeNotVerified */ __('Shipment') ?>
    </span>
    <div class="icons">
        <i class="module-icon">
            <svg class="icon ico-ups"><use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-ups"></use></svg>
        </i>
        <i class="module-icon">
            <svg class="icon ico-tnt"><use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-tnt"></use></svg>
        </i>
        <i class="module-icon">
            <svg class="icon ico-dhl"><use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-dhl"></use></svg>
        </i>
    </div>
</div>
