<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Footer"}} @-->
<!--@vars {
"var store.getFrontendName()":"Store Name"
} @-->

                        <!-- End Content -->
                        </td>
                    </tr>
                </table>
                <table class="footer">
                    <tr>
                        <td class="content">
                            <table width="100%">
                                <tr>
                                    <td align="center">
                                        <p>{{trans 'If you have any question, please <a href="%contact_url" target="_blank">contact us</a>.' contact_url=$this.getUrl($store,'contact',[_nosid:1]) |raw}}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" class="social-links">
                                        {{block class="Magento\\Cms\\Block\\Block" area='frontend' block_id="email-social-footer"}}
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" class="legal-links">
                                        <p>{{trans 'If you wish to unsubscribe click '}}<a href="{{var subscriber.getUnsubscriptionLink()}}">{{trans 'here'}}</a></p>
                                        <p>{{store url=""}}</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
</table>
<!-- End wrapper table -->
</body>
