<!--
  ~ @author Interactiv4 Team
  ~ @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
  -->

<!--@subject {{trans "Newsletter unsubscription success"}} @-->
<!--@vars {
"template config_path=\"design\/email\/footer_template\"":"Email Footer Template",
"template config_path=\"design\/email\/header_template\"":"Email Header Template"
} @-->


{{template config_path="design/email/header_template"}}

<h2>{{trans "Newsletter"}}</h2>
<p>{{trans "You have been unsubscribed from the newsletter."}}</p>

{{template config_path="design/email/footer_template"}}
