<!-- render-product-item -->
<div class="grouped__content-product" data-product-id="<%= product.entity_id %>">
    <% if (product.visible_in_site_visibility) { %>
        <% if (product.image_url) { %>
        <div data-th="<%= labels.image %>" class="grouped__content-product__col grouped__col col image">
            <a href="<%= product.url_path %>">
                <div class="photo__container product-image-container">
                    <div class="photo__wrapper product-image-wrapper">
                        <img class="photo__image product-image-photo product-image-photo"
                             src="<%= product.image_url %>"
                            alt="<%= product.name %>">
                    </div>
                </div>
            </a>
        </div>
        <% } %>
    <% } else { %>
        <% if (product.image_url) { %>
        <div data-th="<%= labels.image %>" class="grouped__content-product__col grouped__col col image">
            <div class="photo__container product-image-container">
                <div class="photo__wrapper product-image-wrapper">
                    <img class="photo__image product-image-photo product-image-photo"
                         src="<%= product.image_url %>"
                        alt="<%= product.name %>">
                </div>
            </div>
        </div>
        <% } %>
    <% } %>
    <% if (product.visible_in_site_visibility) { %>
        <% if (product.name) { %>
            <div data-th="<%= labels.name %>" class="grouped__content-product__col grouped__col col name">
                <a href="<%= product.url_path %>">
                    <h3 class="title">
                        <%= product.name %>
                    </h3>
                </a>
            </div>
        <% } %>
    <% } else { %>
        <% if (product.name) { %>
            <div data-th="<%= labels.name %>" class="grouped__content-product__col grouped__col col name">
                <h3 class="title">
                    <%= product.name %>
                </h3>
            </div>
        <% } %>
    <% } %>
    <% if (product.sku) { %>
        <div data-th="<%= labels.sku %>" class="grouped__content-product__col grouped__col col sku">
            <span class="grouped__content-product__label grouped__label">
                <%= labels.sku %>:
            </span>
            <span class="grouped__content-product__value grouped__value">
                <%= product.sku %>
            </span>
        </div>
    <% } %>
    <% if (product.original_short_description) { %>
        <div data-th="<%= labels.description %>" class="grouped__content-product__col grouped__col col description">
            <% if (product.edited_short_description) { %>
                <span class="grouped__original-description d-none">
                    <%= product.original_short_description %>
                </span>
                <span class="grouped__edited-description d-none">
                    <%= product.edited_short_description %>
                </span>
            <% } %>
            <span class="grouped__actual-description">
                <% if (product.edited_short_description) { %>
                    <%= product.edited_short_description %>
                <% } else { %>
                    <%= product.original_short_description %>
                <% } %>
            </span>
            <% if (product.edited_short_description) { %>
                <span class="grouped__read-more btn btn-link" data-event="read-more" data-read-more="<%= labels.readMore %>" data-read-less="<%= labels.readLess %>">
                    <%= labels.readMore %>
                </span>
            <% } %>
        </div>
    <% } %>
    <% if (product.availability) { %>
        <div data-th="<%= labels.info %>" class="grouped__content-product__col grouped__col col info">
            <div class="availability-message availability-message--grid <% if (product.message_type) { %><%= product.message_type %><% } %>">
                <% if (product.allow_check_availability && product.sku) { %>
                    <span class="availability-message__text availability-message__text--action btn btn-secondary"
                          data-event="check-availability"
                          data-sku="<%= product.sku %>">
                        <%= product.availability %>
                    </span>
                <% } else { %>
                    <span class="availability-message__text availability-message__text--static">
                        <%= product.availability %>
                    </span>
                <% } %>
                <% if (product.tooltip_text) { %>
                <span class="availability-message__tooltip t-align--lm t-align-sm--rt">
                    <span class="availability-message__tooltip__icon">
                        <i class="module-icon" id="tooltip-label">
                            <svg class="icon ico-question-circle">
                                <use xlink:href="<%- require.toUrl('') + 'images/icons-sprite.svg#ico-question-circle'%>"></use>
                            </svg>
                        </i>
                    </span>
                    <span class="availability-message__tooltip__text">
                        <%= product.tooltip_text %>
                    </span>
                </span>
                <% } %>
            </div>
        </div>
    <% } %>
    <% if (product.is_salable) { %>
        <div data-th="<%= labels.price %>" class="grouped__content-product__col grouped__col col price">
            <div class="product-info-price__wrapper">
                <% if (product.msrp_price) { %>
                    <!-- Custom MSRP price -->
                    <div class="product-info-price__msrp">
                        <div class="product-info-price__msrp__label">
                            <%= labels.msrpPrice %>:
                        </div>
                        <div class="product-info-price__msrp__value">
                            <%= product.msrp_price %>
                        </div>
                    </div>
                <% } %>
                <% if (product.regular_price && product.final_price) { %>
                    <!-- Default price final -->
                    <div class="price-box price-final_price">
                        <% if (product.regular_price != product.final_price) { %>
                            <span class="special-price">
                                <span class="price-container price-final_price tax weee">
                                    <span class="price-label"><%= labels.specialPrice %></span>
                                    <span data-price-type="finalPrice" class="price-wrapper">
                                        <span class="price" data-role="product-final-price"><%= product.final_price %></span>
                                    </span>
                                </span>
                            </span>
                            <span class="old-price">
                                <span class="price-container price-final_price tax weee">
                                    <span class="price-label"><%= labels.regularPrice %></span>
                                    <span data-price-type="oldPrice" class="price-wrapper">
                                        <span class="price" data-role="product-final-price"><%= product.regular_price %></span>
                                    </span>
                                </span>
                            </span>
                        <% } else { %>
                            <span class="price-container price-final_price tax weee">
                                <span data-price-type="finalPrice" class="price-wrapper">
                                    <span class="price" data-role="product-final-price"><%= product.regular_price %></span>
                                </span>
                            </span>
                        <% } %>
                    </div>
                <% } %>
                <% if (product.final_price_incl_tax) { %>
                    <!-- Custom price with tax -->
                    <div class="product-info-price__price-with-tax">
                        <div class="product-info-price__price-with-tax__value">
                            <%= product.final_price_incl_tax %>
                        </div>
                        <div class="product-info-price__price-with-tax__label">
                            (<%= labels.finalPriceInclTax %>)
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    <% } %>
    <% if (product.is_salable) { %>
        <div data-th="<%= labels.quantity %>" class="grouped__content-product__col grouped__col col qty">
            <div class="control qty">
                <input type="number"
                       name="super_group[<%= product.entity_id %>]"
                       value="<%= product.qty %>"
                       data-event="input-qty-model-product"
                       data-selector="super_group[<%= product.entity_id %>]"
                       title="<%= labels.quantity %>"
                       class="input-text qty" />
            </div>
        </div>
    <% } %>
    <% if (product.is_salable) { %>
        <div data-th="<%= labels.actions %>" class="grouped__content-product__col grouped__col col actions">
            <button type="button"
                    class="action primary tocart btn btn-primary btn-sm"
                    data-event="add-to-cart-model-product"
                    <% if (product.qty < 1) { %> disabled <% } %>>
                <%= labels.add %>
            </button>
        </div>
    <% } %>
</div>
