<!-- render-pager -->
<div class="models__pager">
    <span class="models__pager__information body2">
        <%= labels.viewedProducts %>
    </span>
    <% if(showButton) { %>
        <button type="button" class="models__pager__show-more btn btn-primary" data-event="load-more">
            <%= labels.showMore %>
        </button>
    <% } %>
</div>
