<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Wishlist\Block\Customer\Wishlist\Button $block */
?>
<?php if ($block->getWishlist()->getItemsCount() && $block->getWishlist()->getShared() < $block->getConfig()->getSharingEmailLimit()): ?>
    <button type="submit" name="save_and_share" title="<?= $block->escapeHtmlAttr(__('Share Wish List')) ?>"
            class="action share btn-link btn-link btn-link-sm">
        <i class="module-icon">
            <svg class="icon icon-sm ico-share">
                <use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-share"></use>
            </svg>
        </i>
        <span><?= $block->escapeHtml(__('Share Wish List')) ?></span>
    </button>
<?php endif;?>
