<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

/** @var $block \Interactiv4\SocialShare\Block\Share */
?>
<div class="social__share social-links">
    <ul>
        <li><span><?= __('Share:') ?></span></li>
        <?php foreach ($block->getSocialNetworks() as $socialNetwork): ?>
            <li>
                <a href="<?= $block->escapeHtmlAttr($socialNetwork->getSocialNetworkUrl()) ?>" target="_blank"
                   title="<?= __('Share on %1', $block->escapeHtml($socialNetwork->getName())) ?>"
                   class="share_link <?= $block->escapeHtml($socialNetwork->getCode()) ?>">
                    <i class="module-icon">
                        <svg class="icon ico-social-<?= $block->escapeHtml($socialNetwork->getCode()) ?>">
                            <use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-social-<?= $block->escapeHtml($socialNetwork->getCode()) ?>"></use>
                        </svg>
                    </i>
                    <span class="sr-only"><?= $block->escapeHtml($socialNetwork->getName()) ?></span>
                </a>
            </li>
        <?php endforeach; ?>
        <?= $block->getChildHtml('') ?>
    </ul>
</div>
