<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

// @codingStandardsIgnoreFile

// phpcs:disable Magento2.Templates.ThisInTemplate
// phpcs:disable Squiz.PHP.GlobalKeyword.NotAllowed
?>
<?php
    $_order  = $block->getOrder();
    $_source = $block->getSource();
    $_fullInfo = $this->helper(\Magento\Tax\Helper\Data::class)->getCalculatedTaxes($_source);
    global $taxIter;
    $taxIter++;
?>
<?php if ($_fullInfo && $block->displayFullSummary()) : ?>
        <?php foreach ($_fullInfo as $info) : ?>
            <?php
                $percent    = $info['percent'];
                $amount     = $info['tax_amount'];
                $baseAmount = $info['base_tax_amount'];
                $title      = $info['title'];
            ?>
            <div class="totals tax details details-<?= (int) $taxIter ?><?= ($block->getIsPlaneMode()) ? ' plane' : '' ?>">
                <p <?= /* @noEscape */ $block->getLabelProperties() ?>>
                    <?= $block->escapeHtml($title) ?>

                    <?php if ($percent !== null) : ?>
                        (<?= (float) $percent ?>%)
                    <?php endif; ?>

                    <br />
                </p>
                <p <?= /* @noEscape */ $block->getValueProperties() ?>>
                    <?= /* @noEscape */ $_order->formatPrice($amount) ?>
                </p>
            </div>
        <?php endforeach; ?>
<?php endif; ?>

<?php if ($block->displayFullSummary() && $_fullInfo && !$block->getIsPlaneMode()) : ?>
<div class="totals-tax-summary">
<?php elseif ($block->displayFullSummary() && $_fullInfo && $block->getIsPlaneMode()) : ?>
<div class="totals-tax-summary plane">
<?php else : ?>
<div class="totals-tax">
<?php endif; ?>
    <p <?= /* @noEscape */ $block->getLabelProperties() ?>>
        <?php if ($block->displayFullSummary()) : ?>
            <span class="detailed test"><?= $block->escapeHtml(__('Tax')) ?></span>
        <?php else : ?>
            <span><?= $block->escapeHtml(__('Tax')) ?></span>
        <?php endif; ?>
    </p>
    <p <?= /* @noEscape */ $block->getValueProperties() ?> data-th="<?= $block->escapeHtmlAttr(__('Tax')) ?>">
        <?= /* @noEscape */ $_order->formatPrice($_source->getTaxAmount()) ?>
    </p>
</div>
