<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Review\Block\Customer\View $block */

$product = $block->getProductData();
?>
<?php if ($product->getId()): ?>
<div class="customer-review view">
    <div class="product-details">
        <div class="product-media">
            <a class="product-photo" href="<?= $block->escapeUrl($product->getProductUrl()) ?>">
                <?php /* customer_account_product_review_page */ ?>
                <?= $block->getImage($block->getProductData(), 'customer_account_product_review_page')->toHtml() ?>
            </a>
        </div>
        <div class="product-info">
            <h2 class="product-name h5"><?= $block->escapeHtml($product->getName()) ?></h2>
            <?php if ($block->getRating() && $block->getRating()->getSize()): ?>
                <span class="rating-average-label"><?= $block->escapeHtml(__('Average Customer Rating:')) ?></span>
                <?= $block->getReviewsSummaryHtml($product) ?>
            <?php endif; ?>
        </div>
    </div>

    <div class="block review-details">
        <?php if ($block->getRating() && $block->getRating()->getSize()): ?>
            <div class="block-title title h4">
                <span><?= $block->escapeHtml(__('Your Review')) ?></span>
            </div>
            <div class="customer-review-rating">
                <?php foreach ($block->getRating() as $_rating): ?>
                    <?php if ($_rating->getPercent()): ?>
                        <?php $rating = ceil($_rating->getPercent()) ?>
                        <div class="rating-summary item">
                            <span class="rating-label"><span><?= $block->escapeHtml($_rating->getRatingCode()) ?></span></span>
                            <div class="rating-result" title="<?= /* @noEscape */ $rating ?>%">
                                <span style="width:<?= /* @noEscape */ $rating ?>%">
                                    <span><?= /* @noEscape */ $rating ?>%</span>
                                </span>
                            </div>
                        </div>
                    <?php endif; ?>
                <?php endforeach; ?>
            </div>
        <?php endif; ?>

        <div class="review-title"><?= $block->escapeHtml($block->getReviewData()->getTitle()) ?></div>
        <div class="review-content"><?= /* @noEscape */ nl2br($block->escapeHtml($block->getReviewData()->getDetail())) ?></div>
        <div class="review-date">
            <?= $block->escapeHtml(__('Submitted on %1', '<time class="date">' . $block->dateFormat($block->getReviewData()->getCreatedAt()) . '</time>'), ['time']) ?>
        </div>
    </div>
</div>
<div class="actions-toolbar">
    <div class="secondary">
        <a class="action back btn-link btn-link-arrow-left"
           href="<?= $block->escapeUrl($block->getBackUrl()) ?>">
            <span><?= $block->escapeHtml(__('Back to My Reviews')) ?></span>
        </a>
    </div>
</div>
<?php endif; ?>
