<!--Move to CMS block, delete call in XML-->
<ul>
    <li class="icon-check"><strong>Standard deliveries:</strong> 2-3 business days</li>
    <li class="icon-check"><strong>Express delivery:</strong> 1-2 business days</li>
    <li class="icon-check"><strong>Free return</strong> up to 30 days</li>
</ul>
