<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

/** @var $block \Interactiv4\SocialShare\Block\Links */
?>
<?php if (count($block->getSocialNetworkLinks()) > 0):?>
    <div class="social-links social-links--footer">
        <div class="social-links__title"><?= __('Follow us!') ?></div>
        <ul>
            <?php foreach ($block->getSocialNetworkLinks() as $socialNetworkLink): ?>
                <li>
                    <a class="link <?= $block->escapeHtml($socialNetworkLink->getCode()) ?>"
                       href="<?= $block->escapeHtmlAttr($socialNetworkLink->getUrl()) ?>">
                        <i class="module-icon">
                            <svg class="icon icon-sm ico-social-<?= $block->escapeHtml($socialNetworkLink->getCode()) ?>">
                                <use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-social-<?= $block->escapeHtml($socialNetworkLink->getCode()) ?>"></use>
                            </svg>
                        </i>
                        <span class="sr-only"><?= $block->escapeHtml($socialNetworkLink->getName()) ?></span>
                    </a>
                </li>
            <?php endforeach; ?>
        </ul>
    </div>
<?php endif;?>
