<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

/** @var \Interactiv4\StoreLocator\Block\Footer\Link $block */
?>
<div class="footer__extra">
    <ul>
        <li>
            <a href="<?= $block->escapeHtmlAttr($block->getLinkHref()) ?>">
                <i class="module-icon">
                    <svg class="icon ico-location"><use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-location"></use></svg>
                </i>
                <span><?= __('Store locator')?></span>
            </a>
        </li>
    </ul>
</div>