<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

// @codingStandardsIgnoreFile
/** @var \Magento\Newsletter\Block\Subscribe $block */

/** @var Interactiv4\Milkyway\ViewModel\Legal $viewModel */
$viewModel = $block->getViewModel();
?>
<section class="block newsletter">
    <div class="newsletter__container container-fluid">
        <div class="newsletter__title">
            <h2 class="h1">
                <?= /* @escapeNotVerified */ __('Stay in touch with us!') ?>
            </h2>
        </div>
        <div class="newsletter__content">
            <form class="newsletter__subscribe form"
                  novalidate
                  action="<?= /* @escapeNotVerified */ $block->getFormActionUrl() ?>"
                  method="post"
                  data-mage-init='{"validation": {"errorClass": "mage-error"}}'
                  id="newsletter-validate-detail"
            >
                <label class="newsletter__subscribe--label" for="newsletter"><?= __('Your email') ?></label>
                <div class="newsletter__subscribe--input form-group">
                    <input name="email"
                           type="email"
                           id="newsletter"
                           class="form-control input-text"
                           placeholder="<?= __('Your email address') ?>"
                           data-validate="{required:true, 'validate-email':true}"
                    />
                </div>
                <div class="newsletter__subscribe--actions actions form-group">
                    <button class="newsletter__subscribe--submit action subscribe primary btn btn-primary btn-sm btn-sm-block"
                            title="<?= /** @escapeNotVerified */ __('Submit') ?>" type="submit">
                        <span><?= /* @escapeNotVerified */ __('Submit') ?></span>
                    </button>
                </div>
                <div class="newsletter__subscribe--terms">
                    <div class="custom-control custom-checkbox justify-content-start">
                        <input type="checkbox"
                               data-validate="{required:true}"
                               name="custom-terms"
                               title="<?= /* @escapeNotVerified */ __('Terms and contitions') ?>"
                               id="register-input-custom"
                               class="custom-control-input"
                        >
                        <label
                                for="register-input-custom"
                                class="custom-control-label">
                            <?= __('I have read and accept the') ?>&nbsp;
                            <a data-cms-id="<?= $viewModel->getCmsPrivacyPolicy(); ?>" class="content_popup_ajax_link"><?= __('Privacy Policy') ?></a>
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
