<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

/**
 * Get product availability data
 *
 * @var $block \Logiscenter\AvailabilityInfo\Block\AvailabilityData
 */
?>
<?php
$_product = $block->getProduct();
$_availabilityMessage = $block->getAvailabilityMessage($_product);
$_availabilityMessageType = $block->getAvailabilityMessageType($_product);
$_tooltipText = $block->getTooltipText($_product);
?>

<?php if ($_availabilityMessage): ?>
    <div class="availability-message <?= ($_availabilityMessageType) ? $_availabilityMessageType : '' ?>">
        <?php if ($block->canShowAvailabilityPopup($_product) && $_product->getSku()): ?>
            <span class="availability-message__text availability-message__text--action btn btn-secondary"
                  data-event="check-availability"
                  data-sku="<?= $_product->getSku() ?>">
                <?= $block->escapeHtml($_availabilityMessage) ?>
            </span>
        <?php else: ?>
            <span class="availability-message__text availability-message__text--static">
                <?= $block->escapeHtml($_availabilityMessage) ?>
            </span>
        <?php endif; ?>
        <?php if ($_tooltipText): ?>
            <span class="availability-message__tooltip t-align--rm t-align-md--rt">
                <span class="availability-message__tooltip__icon">
                    <i class="module-icon" id="tooltip-label">
                        <svg class="icon ico-question-circle">
                            <use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-question-circle"></use>
                        </svg>
                    </i>
                </span>
                <span class="availability-message__tooltip__text">
                    <?= $block->escapeHtml($_tooltipText) ?>
                </span>
            </span>
        <?php endif; ?>
    </div>
<?php endif; ?>