<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */
?>
<?php
/** @var $block \Magento\Framework\View\Element\Template */
?>

<?php if ($availabilityInfoPopupBlock = $block->getChildBlock('availability.info.popup.cms')->toHtml()): ?>
    <div id="block-availability-info" class="block-availability-info">
        <?= $availabilityInfoPopupBlock ?>
    </div>

    <script>
        require([
            'Logiscenter_AvailabilityInfo/js/view/popup'
        ], function (module) {
            module.initialize();
        });
    </script>
<?php endif ?>

