<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

// @codingStandardsIgnoreFile

?>
<?php /* @var $block \Magento\Bundle\Block\Catalog\Product\View\Type\Bundle\Option\Radio */ ?>
<?php $_option = $block->getOption(); ?>
<?php $_selections  = $_option->getSelections(); ?>
<?php $_default     = $_option->getDefaultSelection(); ?>
<?php list($_defaultQty, $_canChangeQty) = $block->getDefaultValues(); ?>

<div class="field option <?= ($_option->getRequired()) ? ' required' : ''; ?>">
    <label class="label">
        <span><?= $block->escapeHtml($_option->getTitle()) ?></span>
    </label>
    <div class="control">
        <div class="nested options-list form-group">
            <?php if ($block->showSingle()): ?>
                <?= /* @escapeNotVerified */ $block->getSelectionTitlePrice($_selections[0]) ?>
                <input type="hidden"
                       class="bundle-option-<?= (int)$_option->getId() ?>  product bundle option"
                       name="bundle_option[<?= (int)$_option->getId() ?>]"
                       value="<?= (int)$_selections[0]->getSelectionId() ?>"
                       id="bundle-option-<?= (int)$_option->getId() ?>-<?= (int)$_selections[0]->getSelectionId() ?>"
                       checked="checked"
                />
            <?php else:?>
                <?php if (!$_option->getRequired()): ?>
                    <div class="field choice">
                        <div class="label custom-control custom-radio">
                            <input type="radio"
                                   class="radio product bundle option custom-control-input"
                                   id="bundle-option-<?= /* @escapeNotVerified */ $_option->getId() ?>"
                                   name="bundle_option[<?= /* @escapeNotVerified */ $_option->getId() ?>]"
                                   data-selector="bundle_option[<?= /* @escapeNotVerified */ $_option->getId() ?>]"
                                <?= ($_default && $_default->isSalable()) ? '' : ' checked="checked" ' ?>
                                   value=""/>
                            <label for="bundle-option-<?= /* @escapeNotVerified */ $_option->getId() ?>" class="custom-control-label"><?= /* @escapeNotVerified */ __('None') ?></label>
                        </div>
                    </div>
                <?php endif; ?>
                <?php foreach ($_selections as $_selection): ?>
                    <div class="field choice">
                        <div class="label custom-control custom-radio">
                            <input type="radio"
                                   class="radio product bundle option change-container-classname custom-control-input"
                                   id="bundle-option-<?= /* @escapeNotVerified */ $_option->getId() ?>-<?= /* @escapeNotVerified */ $_selection->getSelectionId() ?>"
                                <?php if ($_option->getRequired()) {
    echo 'data-validate="{\'validate-one-required-by-name\':true}"';
}?>
                                   name="bundle_option[<?= /* @escapeNotVerified */ $_option->getId() ?>]"
                                   data-selector="bundle_option[<?= /* @escapeNotVerified */ $_option->getId() ?>]"
                                <?php if ($block->isSelected($_selection)) {
    echo ' checked="checked"';
} ?>
                                <?php if (!$_selection->isSaleable()) {
    echo ' disabled="disabled"';
} ?>
                                   value="<?= /* @escapeNotVerified */ $_selection->getSelectionId() ?>"/>
                            <label for="bundle-option-<?= /* @escapeNotVerified */ $_option->getId() ?>-<?= /* @escapeNotVerified */ $_selection->getSelectionId() ?>" class="custom-control-label"><?= /* @escapeNotVerified */ $block->getSelectionTitlePrice($_selection) ?></label>
                        </div>
                    </div>
                <?php endforeach; ?>
                <div id="bundle-option-<?= /* @escapeNotVerified */ $_option->getId() ?>-container"></div>
            <?php endif; ?>
            <div class="field qty qty-holder">
                <div class="control form-group">
                <label class="label" for="bundle-option-<?= /* @escapeNotVerified */ $_option->getId() ?>-qty-input">
                    <span><?= /* @escapeNotVerified */ __('Quantity') ?></span>
                </label>
                    <input <?php if (!$_canChangeQty) {
    echo ' disabled="disabled"';
} ?>
                            id="bundle-option-<?= /* @escapeNotVerified */ $_option->getId() ?>-qty-input"
                            class="input-text qty<?php if (!$_canChangeQty) {
    echo ' qty-disabled';
} ?> form-control"
                            type="number"
                            name="bundle_option_qty[<?= /* @escapeNotVerified */ $_option->getId() ?>]"
                            data-selector="bundle_option_qty[<?= /* @escapeNotVerified */ $_option->getId() ?>]"
                            value="<?= /* @escapeNotVerified */ $_defaultQty ?>"/>
                </div>
            </div>
        </div>
    </div>
</div>
