<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */
?>
<?php /** @var $block \Magento\Catalog\Block\Product\Image */ ?>

<div class="photo__container product-image-container">
    <div class="photo__wrapper product-image-wrapper">
        <img class="photo__image product-image-photo <?= $block->escapeHtmlAttr($block->getClass()) ?>"
             loading="lazy"
            <?= $block->escapeHtmlAttr($block->getCustomAttributes()) ?>
             src="<?= $block->escapeUrl($block->getImageUrl()) ?>"
             data-retina="<?= $block->escapeUrl($block->getImageUrl()) ?>"
             width="<?= $block->escapeHtmlAttr($block->getResizedImageWidth()); ?>"
             height="<?= $block->escapeHtmlAttr($block->getResizedImageHeight()); ?>"
             alt="<?= /* @noEscape */ $block->stripTags($block->getLabel(), null, true) ?>"/>
        <div class="photo__loader"></div>
    </div>
</div>