<?php

/**
 * @author    Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

?>
<?php /** @var \Logiscenter\CustomerInvoice\Block\MyAccount\InvoiceList $block */
$collection = $block->getCollection(); ?>
<?php if ($collection->getSize() > 0): ?>
    <div class="table-wrapper <?= $block->escapeHtmlAttr($block->getBlockClass())?>">
        <table class="data table table-items table-mobile" id="my-invoices-table">
            <caption class="table-caption"><?= $block->escapeHtml(__('Invoices')) ?></caption>
            <thead>
                <tr>
                    <th scope="col" class="col id"><?= $block->escapeHtml(__('Invoice number')) ?></th>
                    <th scope="col" class="col date"><?= $block->escapeHtml(__('Date')) ?></th>
                    <th scope="col" class="col delivery"><?= $block->escapeHtml(__('Delivery information')) ?></th>
                    <th scope="col" class="col file"></th>
                </tr>
            </thead>
            <tbody>
            <?php /** @var \Logiscenter\ErpInvoice\Model\Invoice $invoice */ ?>
            <?php foreach ($collection->getItems() as $invoice): ?>
                <tr>
                    <td data-th="<?= $block->escapeHtmlAttr(__('Invoice number')) ?>" class="col id"><?= $block->escapeHtml($invoice->getInvoiceId()) ?></td>
                    <td data-th="<?= $block->escapeHtmlAttr(__('Date')) ?>" class="col date">
                        <?= $block->escapeHtml($invoice->getDate())?>
                    </td>
                    <td data-th="<?= $block->escapeHtmlAttr(__('Delivery info')) ?>" class="col delivery">
                        <a target="_blank" href="<?= $invoice->getTracking() ?>" class="action view btn-link btn-link-sm">
                            <i class="module-icon">
                                <svg class="icon icon-sm ico-external">
                                    <use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-external"></use>
                                </svg>
                            </i>
                            <span><?= $block->escapeHtml(__('Check tracking')) ?></span>
                        </a>
                    </td>
                    <td data-th="<?= $block->escapeHtmlAttr(__('File')) ?>" class="col file">
                        <a target="_blank" href="<?= $block->escapeHtml($block->getFileDownloadUrl((int)$invoice->getId())) ?>" class="action view btn-link btn-link-sm">
                            <i class="module-icon">
                                <svg class="icon icon-sm ico-download">
                                    <use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-download"></use>
                                </svg>
                            </i>
                            <span><?= $block->escapeHtml(__('Download invoice')) ?></span>
                        </a>
                    </td>
                </tr>
            <?php endforeach;?>
            </tbody>
        </table>
    </div>
    <?php if ($block->getPagerHtml()): ?>
        <div class="invoices-toolbar toolbar bottom"><?= $block->getPagerHtml() ?></div>
    <?php endif ?>
<?php else: ?>
    <div class="message info empty"><span><?= /* @escapeNotVerified */ __('You have no invoices.') ?></span></div>
<?php endif ?>