<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

/**
 * Table grouped product data template
 *
 * @var $block \Magento\GroupedProduct\Block\Product\View\Type\Grouped
 */
?>
<?php $_product = $block->getProductGrouped(); ?>
<?php $_associatedProducts = $block->getAssociatedProductsGrouped(); ?>
<?php $_hasAssociatedProducts = count($_associatedProducts) > 0; ?>
<?php $_priceViewModel = $block->getPriceViewModel(); ?>
<?php $_availabilityData = $block->getLayout()->createBlock(\Logiscenter\AvailabilityInfo\Block\AvailabilityData::class) ?>

<div class="table-wrapper grouped">
    <div class="table data grouped grouped--lite"
         id="super-product-table">
        <div class="grouped__header">
            <div class="grouped__header-product__col grouped__col col name d-none">
                <?= $block->escapeHtml(__('Product Name')) ?>
            </div>
            <?php if ($block->getCanShowProductPrice($_product)): ?>
                <div class="grouped__header-product__col grouped__col col price d-none">
                    <?= $block->escapeHtml(__('Price')) ?>
                </div>
            <?php endif; ?>
            <?php if ($_product->isSaleable()): ?>
                <div class="grouped__header-product__col grouped__col col qty d-none">
                    <?= $block->escapeHtml(__('Quantity')) ?>
                </div>
                <div class="grouped__header-product__col grouped__col col actions d-none"></div>
            <?php endif; ?>
        </div>

        <?php if ($_hasAssociatedProducts): ?>
            <div class="grouped__content">
                <?php foreach ($_associatedProducts as $_item): ?>
                    <div class="grouped__content-product" data-product-id="<?= $block->escapeHtmlAttr($_item->getId()) ?>">
                        <div data-th="<?= $block->escapeHtmlAttr(__('Image')) ?>" class="grouped__content-product__col grouped__col col image">
                            <?php
                                $imageDisplayArea = 'product_thumbnail_image';
                                $productImage = $block->getImage($_item, $imageDisplayArea);
                                $isVisibleInSiteVisibility = $_item->isVisibleInSiteVisibility();
                            ?>
                            <?php if ($isVisibleInSiteVisibility): ?>
                                <a href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>">
                                    <?= $productImage->toHtml() ?>
                                </a>
                            <?php else: ?>
                                <?= $productImage->toHtml() ?>
                            <?php endif; ?>
                        </div>
                        <?php if ($_item->getName()): ?>
                            <div data-th="<?= $block->escapeHtmlAttr(__('Model Name')) ?>" class="grouped__content-product__col grouped__col col name">
                                <?php if ($isVisibleInSiteVisibility): ?>
                                    <a href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>">
                                        <h3 class="title">
                                            <?= $block->escapeHtml($_item->getName()) ?>
                                        </h3>
                                    </a>
                                <?php else: ?>
                                    <h3 class="title">
                                        <?= $block->escapeHtml($_item->getName()) ?>
                                    </h3>
                                <?php endif; ?>
                            </div>
                        <?php endif; ?>
                        <?php if ($_item->getSku()): ?>
                            <div data-th="<?= $block->escapeHtmlAttr(__('Part Number')) ?>" class="grouped__content-product__col grouped__col col sku">
                                <span class="grouped__content-product__label grouped__label">
                                    <?= $block->escapeHtmlAttr(__('Part Number')) ?>:
                                </span>
                                <span class="grouped__content-product__value grouped__value">
                                    <?= $block->escapeHtml($_item->getSku()) ?>
                                </span>
                            </div>
                        <?php endif; ?>
                        <?php if ($_item->getShortDescription()): ?>
                            <?php
                                $numMaxWords = 10;
                                $originalDescription = strip_tags(html_entity_decode($block->escapeHtmlAttr($_item->getShortDescription()))); // Without HTML tags
                                $editedDescription = $originalDescription;
                                $actualWords = array_slice(explode(' ', $originalDescription), 0);
                            ?>
                            <div data-th="<?= $block->escapeHtmlAttr(__('Description')) ?>" class="grouped__content-product__col grouped__col col description">
                                <?php if (sizeof($actualWords) > $numMaxWords): ?>
                                    <?php $editedDescription = implode(' ', array_slice(explode(' ', $originalDescription), 0, $numMaxWords)) . '...'; ?>
                                    <span class="grouped__original-description d-none">
                                        <?= $originalDescription ?>
                                    </span>
                                        <span class="grouped__edited-description d-none">
                                        <?= $editedDescription ?>
                                    </span>
                                <?php endif; ?>
                                <span class="grouped__actual-description">
                                    <?php if (sizeof($actualWords) > $numMaxWords): ?>
                                        <?= $editedDescription ?>
                                    <?php else: ?>
                                        <?= $originalDescription ?>
                                    <?php endif; ?>
                                </span>
                                <?php if (sizeof($actualWords) > $numMaxWords): ?>
                                    <span class="grouped__read-more btn btn-link" data-event="read-more" data-read-more="<?= $block->escapeHtmlAttr(__('Read more')) ?>" data-read-less="<?= $block->escapeHtmlAttr(__('Read less')) ?>">
                                        <?= $block->escapeHtmlAttr(__('Read more')) ?>
                                    </span>
                                <?php endif; ?>
                            </div>
                        <?php endif; ?>
                        <?php if ($_availabilityData): ?>
                            <?php
                                $_availabilityMessage = $_availabilityData->getAvailabilityMessage($_item);
                                $_availabilityMessageType = $_availabilityData->getAvailabilityMessageType($_item);
                                $_tooltipText = $_availabilityData->getTooltipText($_item);
                            ?>
                            <div data-th="<?= $block->escapeHtmlAttr(__('Info')) ?>" class="grouped__content-product__col grouped__col col info">
                                <?php if ($_availabilityMessage): ?>
                                    <div class="availability-message availability-message--grid <?= ($_availabilityMessageType) ? $_availabilityMessageType : '' ?>">
                                        <?php if ($_availabilityData->canShowAvailabilityPopup($_item) && $_item->getSku()): ?>
                                            <span class="availability-message__text availability-message__text--action btn btn-secondary"
                                                  data-event="check-availability"
                                                  data-sku="<?= $_item->getSku() ?>">
                                                <?= $block->escapeHtml($_availabilityMessage) ?>
                                            </span>
                                        <?php else: ?>
                                            <span class="availability-message__text availability-message__text--static">
                                                <?= $block->escapeHtml($_availabilityMessage) ?>
                                            </span>
                                        <?php endif; ?>
                                        <?php if ($_tooltipText): ?>
                                            <span class="availability-message__tooltip t-align--lm t-align-md--rt">
                                                <span class="availability-message__tooltip__icon">
                                                    <i class="module-icon" id="tooltip-label">
                                                        <svg class="icon ico-question-circle">
                                                            <use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-question-circle"></use>
                                                        </svg>
                                                    </i>
                                                </span>
                                                <span class="availability-message__tooltip__text">
                                                    <?= $block->escapeHtml($_tooltipText) ?>
                                                </span>
                                            </span>
                                        <?php endif; ?>
                                    </div>
                                <?php endif; ?>
                            </div>
                        <?php endif; ?>
                        <div data-th="<?= $block->escapeHtmlAttr(__('Price')) ?>" class="grouped__content-product__col grouped__col col price">
                            <?php if ($block->getCanShowProductPrice($_product)): ?>
                                <div class="product-info-price__wrapper">
                                    <?php if ($_priceViewModel && $_msrpPrice = $_priceViewModel->getMsrpPrice($_item)): ?>
                                        <!-- Custom MSRP price -->
                                        <div class="product-info-price__msrp">
                                            <div class="product-info-price__msrp__label">
                                                <?= /* @escapeNotVerified */ __('MSRP') ?>:
                                            </div>
                                            <div class="product-info-price__msrp__value">
                                                <?= /* @noEscape */ $_msrpPrice ?>
                                            </div>
                                        </div>
                                    <?php endif; ?>

                                    <?php if ($block->getCanShowProductPrice($_item)): ?>
                                        <!-- Default price final -->
                                        <?= /* @noEscape */ $block->getProductPrice($_item) ?>
                                        <div class="row-tier-price">
                                            <?= $block->getProductPriceHtml(
                                                $_item,
                                                \Magento\Catalog\Pricing\Price\TierPrice::PRICE_CODE
                                            ) ?>
                                        </div>
                                    <?php endif; ?>

                                    <?php if ($_priceViewModel && $_priceWithTax = $_priceViewModel->getFinalPriceWithTax($_item)): ?>
                                        <!-- Custom price with tax -->
                                        <div class="product-info-price__price-with-tax">
                                            <div class="product-info-price__price-with-tax__value">
                                                <?= /* @noEscape */ $_priceWithTax ?>
                                            </div>
                                            <div class="product-info-price__price-with-tax__label">
                                                (<?= /* @escapeNotVerified */ __('VAT incl.') ?>)
                                            </div>
                                        </div>
                                    <?php endif; ?>
                                </div>
                            <?php endif; ?>
                        </div>
                        <?php if ($_product->isSaleable()): ?>
                            <div data-th="<?= $block->escapeHtmlAttr(__('Quantity')) ?>" class="grouped__content-product__col grouped__col col qty">
                                <?php if ($_item->isSaleable()): ?>
                                    <div class="control qty">
                                        <input type="number"
                                               name="super_group[<?= $block->escapeHtmlAttr($_item->getId()) ?>]"
                                               data-selector="super_group[<?= $block->escapeHtmlAttr($_item->getId()) ?>]"
                                               value="<?= $block->escapeHtmlAttr(($_item->getQty() * 1) ?: 1) ?>"
                                               title="<?= $block->escapeHtmlAttr(__('Quantity')) ?>"
                                               class="input-text qty"
                                               data-event="input-qty-model-product"
                                               data-validate="{'validate-grouped-qty':'#super-product-table'}"
                                               data-errors-message-box="#validation-message-box"/>
                                    </div>
                                <?php endif; ?>
                            </div>
                            <div data-th="<?= $block->escapeHtmlAttr(__('Actions')) ?>" class="grouped__content-product__col grouped__col col actions">
                                <?php if ($_item->isSaleable()): ?>
                                    <button type="button"
                                            class="action primary tocart btn btn-primary btn-sm"
                                            data-event="add-to-cart-model-product">
                                        <?= $block->escapeHtml(__('Add')) ?>
                                    </button>
                                <?php endif; ?>
                            </div>
                        <?php endif; ?>
                    </div>
                <?php endforeach; ?>
            </div>
        <?php else: ?>
            <div class="grouped__unavailable body2">
                <?= $block->escapeHtml(__('No options of this product are available.')) ?>
            </div>
        <?php endif; ?>
    </div>
</div>
<div id="validation-message-box"></div>
