.page-layout-2columns-left {
  .columns-inner {
    .column.main {
      order: 2;
    }

    .sidebar {
      order: 1;

      &-main {
        order: 1;
      }

      &-additional {
        order: 2;
      }

      + .sidebar {
        margin-top: 30px;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .page-layout-2columns-left {
    .columns-inner {
      .column.main {
        order: 2;
      }

      .sidebar {
        order: 1;
      }
    }
  }
}
