.account {
  font-size: $font-size-body2;

  .sidebar {
    background-color: $background-1;
    padding: 48px 6% 40px 15px;

    &:before {
      content: '';
      position: absolute;
      width: 100vw;
      background: $background-1;
      top: 0;
      left: -100vw;
      height: 100%;
      z-index: -1;
    }
  }

  .columns {
    .main {
      padding-top: 48px;
      padding-left: 80px;
      margin-bottom: 100px;
    }
  }

  .page-title-wrapper {
    padding: 0;

    .page-title {
      margin-bottom: 56px;
    }
  }

  .page-main {
    .block {
      + .block {
        margin-top: 56px;
      }

      &-welcome {
        margin-bottom: 56px;
      }

      &-title {
        padding-bottom: 4px;
        border-bottom: 1px solid $primary;
        margin-bottom: 24px;
        font-size: $h3-font-size;
        font-weight: $font-weight-semiBold;

        .action {
          text-decoration: none;
        }
      }

      &-content {
        .empty {
          margin-bottom: 0;
        }
      }

      &-reviews-dashboard {
        display: none;
      }

      &-edit-account-info {
        .change-email-password {
          display: none;
        }
      }

      &-addresses-edit {
        .fieldset {
          + .fieldset {
            margin-top: 16px;
          }
        }

        .actions-toolbar {
          margin-top: 0;
        }
      }

      .actions-choice {
        margin-top: 16px;
        margin-bottom: 24px;

        .message {
          border: none;
          box-shadow: none;
          padding: 10px 0;
        }
      }
    }

    .box {
      &-title {
        display: block;
        color: $grey-medium;
        margin-bottom: 8px;
        line-height: 24px;
        text-transform: uppercase;
        letter-spacing: 1px;

        .payment-method {
          .content {
            font-weight: $font-weight-normal;
          }
        }
      }

      &-container {
        border: 1px solid $grey-light;
        padding: 24px;
        border-radius: $border-radius;

        &.new-address {
          padding: 0;

          .module-icon {
            margin-right: 8px;
          }

          button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            min-height: 100px;
            background-color: $white;
            border-radius: $border-radius;
            padding: 0;
            border: none;

            .button__title {
              text-transform: uppercase;
            }
          }
        }
      }

      &-content {
        margin-bottom: 24px;

        address {
          //Is neccesary add this p for name in Stores > Configuration > Customers > Customer Configuration > Address Templates
          p {
            @extend .h4;
          }

          a {
            display: block;
            margin-top: 8px;
          }
        }
      }

      &-actions {
        .action {
          + .action {
            margin-left: 32px;
          }
        }
      }

      &.box-billing-address,
      &.box-address-billing,
      &.box-shipping-address,
      &.box-address-shipping {
        .box-content {
          margin-bottom: 16px;
        }
      }
    }

    .actions-toolbar {
      margin-top: 24px;

      .secondary {
        margin-top: 16px;
      }
    }

    .action.back.btn-link.btn-link-arrow-left:before {
      width: 12px;
      height: 8px;
      margin-left: 0;
      margin-right: 12px;
      content: '';
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('../images/icons-sprite.svg#ico-arrow-left');
      transform: none;
    }

    .table {
      font-size: $font-size-body2;
      margin-bottom: 0;
      padding-top: 24px;

      thead {
        th {
          border-bottom-width: 2px;
        }
      }

      tbody {
        tr {
          &:nth-child(odd) {
            background: $background-1;
          }

          td {
            padding: 16px 12px;
            border: none;

            &.image {
              width: 15%;
              padding: 16px 0;
            }

            &.qty {
              .items-qty {
                margin-bottom: 0;
              }
            }

            &.pending,
            &.processing,
            &.pending_payment,
            &.pending_paypal,
            &.interactiv4_redsyspro_no_email,
            &.paypal_reversed {
              color: $warning;
            }

            &.canceled,
            &.closed,
            &.fraud,
            &.holded,
            &.paypal_canceled_reversal,
            &.payment_review {
              color: $danger;
            }

            &.complete {
              color: $success;
            }

            &.actions {
              white-space: nowrap;

              .action {
                text-decoration: none;

                span {
                  text-decoration: underline;
                }

                &:hover {
                  span {
                    text-decoration: none;
                  }
                }

                + .action {
                  &::before {
                    content: '|';
                    margin: 0 5px;
                    text-decoration: none;
                    color: $primary;
                  }
                }
              }
            }

            &.product-info {
              width: 55%;

              .name {
                margin-bottom: 27px;

                .item-options {
                  display: flex;
                  flex-wrap: wrap;

                  dt {
                    margin-right: 6px;
                  }
                }
              }

              .sku {
                color: $grey-light;
                font-size: $font-size-base;
              }
            }

            &.subtotal {
              .price {
                font-weight: $font-weight-semiBold;
              }
            }
          }
        }
      }

      &.table-reviews {
        thead th {
          padding: 0 8px 5px;

          &:first-child {
            padding-left: 0;
          }
        }

        tbody {
          tr {
            td {
              padding: 13px 8px;

              &.name {
                max-width: 188px;
              }

              .product-name a, .description__text {
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
              }
            }
          }
        }
      }
    }

    .summary-totals {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      div {
        display: grid;
        grid-template-areas: "mark amount";
        grid-template-columns: 150px 100px;
        margin-bottom: 8px;

        &:first-child {
          margin-top: 24px;
        }

        p {
          margin-bottom: 0;
        }

        .mark {
          grid-area: mark;
          padding: 0;
        }

        .amount {
          grid-area: amount;
          text-align: end;
        }

        &.grand_total {
          display: none;
          margin-top: 8px;
          padding-top: 16px;
          border-top: 1px solid $black;
        }

        &.grand_total_incl {
          border-top: 1px solid $black;
          margin-top: 8px;
          margin-bottom: 0;
          padding-top: 16px;
        }

        &.tax {
          &.details {
            display: none;
          }
        }
      }
    }

    .toolbar {
      .toolbar-amount {
        margin-bottom: 0;
      }

      .limiter {
        display: flex;
        align-items: center;

        .limiter-label {
          margin-right: 10px;
          font-weight: $font-weight-normal;
        }

        .limiter-text {
          display: none;
        }
      }

      .pager {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 15px;
        border-top: 1px solid $grey-light;
        border-bottom: 1px solid $grey-light;

        .pages {
          width: auto;
        }
      }

      &.top {
        display: none;
      }
    }

    .form-newsletter-manage {
      .fieldset {
        .custom-control.custom-checkbox {
          .custom-control-label.subscription {
            font-size: $font-size-body3;
          }
        }
      }

      .subscription {
        line-height: 24px;
      }
    }

    .form-address-edit {
      .fieldset {
        .block-title.h4.contact-info {
          width: 100%;
          border-bottom: none;

          strong {
            border-bottom: 1px solid $black;
            padding-bottom: 4px;
          }
        }

        .actions-choice {
          flex: 0 0 48.6%;
          max-width: 48.6%;
          margin: 0;

          div:first-child, input:first-child  {
            margin-top: 16px;
          }

          div:last-child, input:last-child {
            margin-bottom: 24px;
          }
        }
      }
    }
  }

  .toolbar {
    .select-jcf {
      background-color: transparent;
    }

    .jcf-select {
      background-color: transparent;

      &.jcf-focus {
        border-color: transparent !important;
      }

      &.jcf-drop-active {
        border-color: $input-border-color !important;
        background-color: $background-1;
      }
    }
  }
}

.sales-order-view,
.sales-order-invoice,
.sales-order-creditmemo,
.sales-order-shipment {
  .page-title-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .page-title {
      white-space: nowrap;
      margin-bottom: 0;
    }

    .actions-top-toolbar {
      display: flex;

      .order-status {
        display: none;
        font-size: $font-size-body2;
        margin-left: 48px;
        line-height: 15px;
        padding: 12px 24px;
        vertical-align: text-top;
        text-transform: uppercase;
        color: $success;
        border: 4px solid $success;

        &.pending,
        &.processing,
        &.pending_payment,
        &.pending_paypal,
        &.interactiv4_redsyspro_no_email,
        &.paypal_reversed {
          color: $warning;
          border-color: $warning;
        }

        &.canceled,
        &.closed,
        &.fraud,
        &.holded,
        &.paypal_canceled_reversal,
        &.payment_review {
          color: $danger;
          border-color: $danger;
        }
      }
    }

    .order-date {
      line-height: 24px;
      margin-top: 8px;
      width: 100%;
    }
  }

  .columns {
    .main {
      .order {
        &-links {
          margin-bottom: 0;
          display: none;

          .item {
            line-height: 40px;

            + .item {
              border-left: 2px solid;
              margin-left: 10px;
              padding-left: 10px;
            }
          }
        }

        &-actions {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid $black;

          .actions {
            white-space: nowrap;
            font-size: $font-size-body2;
            text-align: right;

            a {
              & + a {
                &::before {
                  content: '|';
                  margin: 0 5px;
                }
              }

              span {
                text-decoration: underline;
              }
            }
          }
        }
      }

      .order-invoice-message {
        font-size: 12px;
        margin-top: 20px;
      }

      .order-details-items {
        padding-top: 48px;
      }

      .table {
        tbody {
          tr {
            border-bottom: 1px solid $grey-light;
            background: $white;
          }
        }

        tfoot .amount,
        tfoot .mark {
          text-align: right;
        }
      }

      .block-order-details-view {
        margin-top: 48px;

        .block-content {
          .block-title {
            border-bottom: 0;
            margin-bottom: 16px;
            font-size: $font-size-base;
            font-weight: $font-weight-semiBold;
            padding-bottom: 0;
          }

          .box {
            &-container {
              border: none;
              margin-bottom: 0;
              padding: 0;
            }

            &-title {
              color: $black;
              font-weight: $font-weight-semiBold;
              text-transform: none;
            }
          }
        }
      }
    }
  }

  .page-main {
    .box-title {
      letter-spacing: 0;
    }
    .block-order-details-view {
      > .block-title {
        margin-bottom: 32px;
      }

      .block-content {
        > .block-title {
          margin-bottom: 16px;
        }
        dt {
          font-weight: $font-weight-semiBold;
        }
      }
    }
  }
}
.orders-history,
.block-dashboard-orders {
  .table-order-items {
    .status {
      display: none;
    }

    .shipping {
      width: 38%;
    }
  }
}

.customer-account-index {
  .page-title-wrapper {
    .page-title {
      margin-bottom: 16px;
    }
  }
}

.customer-account-edit {
  .custom-control.custom-checkbox {
    &:first-child {
      margin-bottom: 12px;
    }

    .custom-control-label {
      font-size: $font-size-body3;
      line-height: 24px;
    }
  }
}

.customer-address-index {
  .block-addresses-list {
    .block-content {
      .empty {
        margin-bottom: 0;
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .account {
    .sidebar {
      padding: 48px 20px 40px;
    }

    .columns {
      .main {
        padding-left: 15px;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .account {
    .sidebar {
      padding: 16px 20px;
    }

    .columns {
      .main {
        padding: 32px 20px;
        margin-bottom: 60px;
      }
    }

    .page-main {
      .block {
        &-title {
          font-size: $h4-font-size;
          padding-bottom: 7px;
          &.order {
            border: none;
          }
        }

        &-welcome {
          margin-bottom: 32px;
        }

        .actions-choice {
          margin-bottom: 32px;
        }
      }

      .table {
        tbody {
          tr {
            border: 0;
            td {
              width: 100%;
              padding: 0 18px 4px;

              &:first-child {
                padding-top: 16px;
              }

              &:last-child {
                padding-top: 12px;
                padding-bottom: 18px;
                text-align: left;

                &:before {
                  content: none;
                }
              }

              &.product-info {
                .name {
                  margin-bottom: 6px;
                }
              }
            }
          }
        }
        &.table-reviews {
          tbody {
            tr {
              border: none;

              td {
                .rating-summary {
                  display: inline-block;
                }

                &.description {
                  display: flex;
                  white-space: initial;
                }

                &.name {
                  max-width: initial;
                }

                .product-name {
                  display: inline-block;
                  max-width: calc(100% - 120px);
                  vertical-align: top;
                }

                .product-name a, .description__text {
                  -webkit-line-clamp: 2;
                }

                &:first-child {
                  border-top: none;
                }

                &:before {
                  vertical-align: top;
                }
              }
            }
          }
        }
      }

      .toolbar {
        .pager {
          flex-wrap: wrap;
          border: none;
          padding: 5px 0;

          .pages {
            order: 3;
            width: 100%;
            padding-top: 24px;
            border-top: 1px solid $grey-light;
          }
        }

        .toolbar-amount {
          order: 1;
          width: 50%;
        }

        .limiter {
          order: 2;
          width: 50%;
          margin-left: 0;
          justify-content: flex-end;
        }
      }
    }
  }

  .sales-order-history,
  .customer_invoice-customer-index {
    .table {
      &.table-mobile {
        tbody{
          tr {
            td {
              &::before {
                min-width: 43%;
                content: attr(data-th);
              }
            }
          }
        }
      }
    }
  }

  .sales-order-view {
    .order-title {
      h3 {
        font-size: $h4-font-size;
      }
    }
  }

  .customer_invoice-customer-index {
    .page-main {
      .table {
        tbody {
          tr {
            td {
              &.delivery {
                .module-icon {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .account {
    .page-title-wrapper {
      .page-title {
        margin-bottom: 24px;
      }
    }
    .page-main {
      .box {
        + .box {
          margin-top: 32px;
        }

        &.box-shipping-address {
          margin-top: 25px;
        }

        &-container {
          margin-bottom: 0;
          padding: 16px;

          address {
            font-size: $font-size-body3;
            //Is neccesary add this p for name in Stores > Configuration > Customers > Customer Configuration > Address Templates
            p {
              font-size: $h5-font-size;
            }
          }
        }
      }

      .summary-totals {
        align-items: flex-start;

        div {
          width: 100%;
          grid-template-columns: initial;

          &:first-child {
            margin-top: 16px;
          }
        }
      }

      .block {
        + .block {
          margin-top: 48px;
        }

        &-order-details-view {
          .box + .box {
            margin-top: 0;
          }
        }
      }
    }
  }
  .sales-order-view,
  .sales-order-invoice,
  .sales-order-creditmemo,
  .sales-order-shipment {
    .page-title-wrapper {
      .page-title {
        order: 1;
        width: 100%;
        margin-bottom: 24px;
      }

      .actions-top-toolbar {
        order: 3;
        justify-content: flex-end;
        width: 50%;

        .order-status {
          margin-left: 0;
        }
      }

      .order-date {
        order: 2;
        width: 50%;
        margin-top: 0;
        display: flex;
        flex-direction: column;
      }
    }

    .columns {
      .main {
        .order {
          &-details-items {
            padding-top: 24px;
          }

          &-actions {
            flex-direction: column-reverse;
            align-items: flex-start;

            .actions {
              width: 100%;
              margin-bottom: 40px;
              display: flex;
              justify-content: space-between;

              a {
                & + a {
                  &::before {
                    content: none;
                  }
                }
              }
            }
          }

          &-items {
            .table {
              tbody {
                tr {
                  display: flex;
                  flex-wrap: wrap;
                  padding-bottom: 16px;

                  td {
                    white-space: initial;

                    &:first-child {
                      border-top: none;
                    }

                    &.price,
                    &.subtotal,
                    &.qty {
                      padding: 0;

                      &[data-th]:before {
                        content: attr(data-th) ":";
                        font-weight: $font-weight-semiBold;
                        display: block;
                      }
                    }

                    &.image {
                      width: 30%;
                    }

                    &.product-info {
                      width: 70%;
                      padding-top: 18px;
                    }

                    &.price,
                    &.subtotal {
                      width: 35%;
                    }

                    &.qty {
                      width: 30%;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
