.aw_blog-index-index,
.aw_blog-post-view,
.aw_blog-author-view,
.aw_blog-category-view {
  .page-title {
    margin-bottom: 32px;
  }

  .blog-post {
    border-top: 1px solid $grey-light;
    padding-top: 32px;

    &-title-link {
      font-weight: $font-weight-semiBold;
      font-size: $h2-font-size;
      letter-spacing: 1px;
    }

    &-info {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      font-size: $font-size-body3;
      margin-bottom: 8px;
      color: $grey-medium;

      &-item {
        margin-right: 24px;
        margin-bottom: 8px;

        .module-icon {
          display: inline-block;
          margin-right: 12px;
          cursor: pointer;
        }

        .icon {
          width: 16px;
          height: 16px;
        }
      }

      .author-link {
        color: $blue-dark;

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }

    &-featured {
      &-image-wrapper {
        text-align: center;
        margin-bottom: 16px;
      }

      &-image-link {
        display: inline-block;
      }

      &-image {
        display: inline-block;
        width: auto;
        height: 297px;
      }
    }

    &-content {
      font-size: $h5-font-size;
      line-height: $h5-font-size + 8;
      color: $grey-dark;
      margin-bottom: 6px;

      .header-container {
        margin-top: 50px;

        .not-decorated {
          .text-orange {
            font-size: 32px !important;
            color: $danger;
          }
        }
      }

      a.btn-notext{
        background-color: $blue-dark;
        min-width: 264px;
        text-transform: uppercase;
        letter-spacing: 1px;
        border-color: $blue-dark;
        padding: 11px 24px;
        font-size: .875rem;
        line-height: 24px;
        border-radius: $border-radius;
        color: $white;
        margin-bottom: 20px;
      }
    }

    .blog-post-tags {
      margin-top: 50px;
      a.blog-tags-tag {
        background-color: $blue;
        min-width: 264px;
        text-transform: uppercase;
        letter-spacing: 1px;
        border-color: $blue;
        padding: 11px 24px;
        font-size: .675rem;
        line-height: 24px;
        border-radius: $border-radius;
        color: $white;
      }
    }

    &-read-more-wrapper {
      color: $blue;
      margin-bottom: 22px;
      font-size: $font-size-body2;
      text-decoration: underline;

      &:after {
        content: '';
        margin-left: 16px;
        @include getIconArrowRight(#{$blue});
      }
    }

    &-author {
      color: $grey-medium;
      font-size: $font-size-body3;
      margin-top: 16px;
      margin-bottom: 40px;

      a {
        color: $blue-dark;

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }

  .blog-pagination {
    margin-bottom: 24px;
  }
}

body.aw_blog-post-view .columns .column.main.col-lg-9 {
  max-width: 75%;
  margin-bottom: 75px;
}

.aw_blog-post-view {
  %block-title {
    font-weight: $font-weight-semiBold;
    font-size: $h2-font-size;
    line-height: $h2-font-size + 4px;
    text-align: center;
    margin-bottom: 32px;
  }

  .blog-post-info {
    margin-bottom: 16px;

    .author-image-link {
      display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
      vertical-align: middle;
      margin-right: 8px;
    }
  }

  .prev-next {
    border-top: 1px solid $grey-light;
    display: flex;
    justify-content: space-between;
    padding-top: 24px;

    .post-link {
      display: flex;
      flex-direction: column;
      transition: 300ms;
      padding-right: 8px;

      &.next {
        text-align: right;
        padding-right: 0;
        padding-left: 8px;
      }
    }

    .blog-title {
      color: $blue-dark;
      font-size: $font-size-body2;
      line-height: $font-size-body2 + 7px;
    }

    .arrow {
      display: inline-block;
      color: $black;
      font-size: $font-size-body2;
      padding-left: 5px;
      margin-bottom: 8px;

      .icon {
        width: 10px;
        height: 9px;
      }

      .module-icon {
        margin-right: 10px;
      }

      &-next {
        padding-right: 5px;
        padding-left: 0;

        .icon {
          transform: scale(-1, 1);
        }

        .module-icon {
          margin-right: 0;
          margin-left: 10px;
        }
      }
    }

    .post-featured {
      &-image {
        max-width: 296px;
        width: 100%;
        height: 100px;
        object-fit: cover;
        margin-bottom: 8px;
      }
    }
  }

  #blog-related-posts {
    margin-top: 40px;
    padding: 40px 40px 56px;
    background-color: $background-1;

    .block-title {
      @extend %block-title;
    }

    .block-related-posts {
      @include make-row();
      margin-bottom: 0;

      &-item {
        @include make-col-ready();
        @include make-col(4);
        margin-bottom: 16px;
      }

      .related-post-featured-image-link {
        width: 100%;
        display: block;
        text-align: center;
        margin-bottom: 8px;
      }

      .block-related-post-link {
        font-weight: $font-weight-semiBold;
        font-size: $h5-font-size;
        line-height: $h5-font-size + 8px;
      }

      .recent-post-featured-image {
        width: 100%;
        height: 146px;
        object-fit: cover;
      }
    }
  }

  .aw_blog_related_products {
    .block-title {
      @extend %block-title;
      margin-top: 32px;
    }

    .products-aw_blog_related_products {
      .slick-list {
        padding-top: 0;
        margin-left: -8px;
        margin-right: -8px;
      }

      .product-item-info {
        max-width: 100%;
        padding-left: 8px;
        padding-right: 8px;

        .product-image-container {
          height: 186px;
          margin-bottom: 30px;
          text-align: center;
          object-fit: cover;

          .photo {
            &__wrapper {
              height: 100%;
            }

            &__image {
              display: inline-block;
              width: auto;
              height: 100%;
            }
          }
        }

        .details {
          text-align: left;

          .name {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            height: 40px;
            -webkit-box-orient: vertical;
            overflow: hidden;
            margin-bottom: 8px;
            font-size: $font-size-body2;
            line-height: $font-size-body2 + 7px;
            color: $grey-dark;
            font-weight: $font-weight-light;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  body.aw_blog-post-view .columns .column.main.col-lg-9 {
    max-width: 100%;
  }
  .aw_blog-post-view {
    #blog-related-posts {
      .block-related-posts {
        &-item {
          @include make-col(6);
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .aw_blog-index-index,
  .aw_blog-post-view,
  .aw_blog-author-view,
  .aw_blog-category-view {
    .page-main .columns-inner .column.main {
      order: 0;
    }

    .blog-post {
      &-title {
        font-size: $h4-font-size;
        line-height: $h4-font-size + 6;
      }

      &-featured {
        &-image {
          height: 100px;
        }
      }

      &-content {
        font-size: $font-size-body2;
        line-height: $font-size-body2 + 7;
      }
    }
  }
  .aw_blog-post-view {
    $grid-gutter-sm-width: $grid-gutter-sm-width / 2;

    .blog-post {
      border-top: none;
    }

    #blog-related-posts {
      width: auto;
      margin-left: -$grid-gutter-sm-width;
      margin-right: -$grid-gutter-sm-width;
      padding-left: $grid-gutter-sm-width;
      padding-right: $grid-gutter-sm-width;
      padding-bottom: 32px;

      .block-related-posts {
        &-item {
          @include make-col(12);
          margin-bottom: 24px;
        }

        .recent-post-featured-image {
          height: 173px;
        }
      }
    }

    .aw_blog_related_products {
      .products-aw_blog_related_products {
        .product-item-info {
          .product-image-container {
            height: 141px;
          }
        }
      }
    }
  }
}
