.page-layout-amastyshopbybrand_index {
  .page-main {
    margin-bottom: 100px;
  }
}

.page-brands {
  font-size: $font-size-body2;

  &__header {
    margin-bottom: 42px;

    .banner {
      &__item {
        position: relative;
        margin-bottom: 30px;
      }

      &__text {
        position: absolute;
        top: 0;
        left: 15px;
        right: 15px;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        color: $white;

        &.blue {
          color: $secondary;
        }
      }
    }
  }

  &__slider {
    margin-bottom: 72px;
  }

  &__list {
    .brands-filters {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      margin-bottom: 48px;
      padding: 8px 16px;
      background-color: $background-3;

      .letters {
        display: flex;
        align-items: center;
        margin: 0;

        .letter {
          margin: 4px;
          border-radius: 0;
          border: none;
          padding: 2px 6px;
          background: none;
          font-weight: $font-weight-semiBold;

          &:hover,
          &.-active {
            color: $color-custom-3;
            background: none;
            position: relative;

            &::after {
              content: '';
              position: absolute;
              bottom: -20px;
              left: 0;
              width: 100%;
              border-bottom: 8px solid $color-custom-1;
            }
          }

          &.-letter-all {
            @extend .btn-link;
            @extend .btn-link-sm;
            text-decoration: underline;
            margin-right: 15px;

            &.-active {
              color: $color-custom-3;
              background: none;
            }

            &:hover {
              text-decoration: underline;
            }
          }

          &.-disabled {
            color: #999;
            background: none;
            text-decoration: line-through;
            font-weight: $font-weight-normal;
          }
        }
      }

      .input-box {
        .ambrands-search-wrapper {
          width: auto;

          &:before {
            content: '';
            position: absolute;
            left: 16px;
            top: 13px;
            width: 24px;
            height: 24px;
            background: url('../images/icons-sprite.svg#ico-search') no-repeat center;
            background-size: cover;
            display: inline-block;
          }

          .ambrands-search-input {
            padding-left: 48px;
            margin: 0;
            border-color: #999;
          }

          #livesearch {
            top: 44px;
            border-top: 2px solid $color-custom-1;
            width: 100%;
          }
        }
      }
    }

    .brand-images {
      .brands-letter {
        .letter {
          margin-bottom: 16px;
          border-color: $grey-light;

          .title {
            @extend .h1;
            background: none;
            padding-left: 5px;
          }
        }

        .bare-list {
          justify-content: space-between;

          .brand-item {
            min-height: auto;
            max-width: 50%;
            margin: 0 0 16px;

            .item {
              &:hover {
                .label {
                  color: $color-custom-3;
                }
              }
            }

            .am-image-wrapper {
              height: auto;
              padding: 0 20px;

              .ambrands-image {
                width: 100%;
                max-height: 100%;
              }
            }

            .label {
              margin: 0;
              padding: 0;
              font-size: $font-size-base;
              font-weight: $font-weight-semiBold;
              text-align: center;

              &:before {
                display: none;
              }
            }

            .count {
              background: $secondary;
              font-size: $small-font-size;
            }
          }
        }

        &.am-brands-fullwidth {
          .bare-list {
            justify-content: flex-start;
          }
        }
      }
    }
  }
}

.ambrand-index-index {
  .category-view {
    .category-image {
      .image {
        max-height: 200px;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .page-brands {
    &__header {
      margin-bottom: 48px;

      .banner {
        &__item {
          margin-bottom: 16px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .banners {
        &.main {
          .banner {
            &__item {
              padding-left: 0;
              padding-right: 0;
            }

            &__image {
              display: none;
            }

            &__text {
              padding: 72px 15px;
              background-color: $background-3;
              position: static;
            }
          }
        }

        + .banners {
          margin-top: 48px;
        }
      }
    }
    &__list {
      .brands-filters {
        flex-direction: column;
        padding: 24px 20px;
        margin-left: -15px;
        width: calc(100% + 30px);

        .letters {
          flex-direction: column-reverse;

          .letter {
            &:hover,
            &.-active {
              &::after {
                bottom: -5px;
              }
            }
          }
        }

        .input-box {
          margin-bottom: 24px;
        }
      }
    }
  }
}
