.checkout-cart-index {
  .page-main {
    position: relative;
  }

  .breadcrumbs {
    padding: 0;
  }

  .page-title {
    margin-bottom: 24px;
  }

  .cart-container {
    .cart-form {
      margin-bottom: 100px;
    }
  }

  .cart-content {
    @include media-breakpoint-up(lg) {
      padding-right: 7.5%;
      flex: 0 0 73%;
      max-width: 73%;
    }
  }

  .cart-empty {
    padding: 52px 20px 70px;
    max-width: 620px;
    margin: auto;
    background: $background-1;
    text-align: center;

    &--content {
      max-width: 345px;
      margin: auto;
    }

    &--image {
      margin-top: 32px;
    }

    p a {
      text-decoration: underline;
    }

    @include media-breakpoint-down(xs) {
      margin-right: -15px;
      margin-left: -15px;
      padding-bottom: 50px;
      padding-top: 48px;
    }
  }
}

@include media-breakpoint-down(md) {
  .checkout-cart-index {
    .cart-container {
      .cart-form {
        margin-bottom: 48px;
      }
    }
    .page-title {
      margin-bottom: 16px;
    }
  }
}
