.page-products {
  .category-view {
    position: relative;
    margin-bottom: 40px;

    .page-title-wrapper {
      color: $secondary;

      .page-title {
        padding: 0 5px;
      }
    }

    &:not(.container-fluid) {
      max-width: $container-fluid-max-width;
      padding-left: $grid-gutter-sm-width / 2;
      padding-right: $grid-gutter-sm-width / 2;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .page-title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    .page-title {
      margin: 0;
    }
  }

  .category-heading {
    position: relative;
    min-height: 100px;

    + .category-description {
      margin-top: 32px;
    }
  }

  .advantages {
    margin-top: 20px;
  }

  .category-description {
    text-align: center;

    h1,
    h2,
    h3,
    h4 {
      margin-bottom: 16px;
    }

    p {
      color: $grey-medium;
      font-size: $font-size-body3;
    }

    > div:first-child {
      max-width: 840px;
      margin-left: auto;
      margin-right: auto;
    }

    .categories-links-container {
      margin-top: 16px;
    }

    .block-category-link-inline {
      a {
        border: none;
        padding: 0;
        min-width: auto;
        text-decoration: underline;
        text-transform: uppercase;
        color: $primary;

        &:hover {
          background-color: unset;
          color: $color-custom-3;
        }
      }
    }
  }

  .columns-inner {
    .sidebar-section {
      padding-right: 45px;
    }
  }
}

@include media-breakpoint-down(md) {
  .page-products {
    .category-view {
      .category-image {
        height: 170px;
        overflow: hidden;
        display: flex;
        flex-direction: row;

        .image {
          object-fit: cover;
          width: 100%;
        }
      }
    }

    .category-description {
      .categories-links-container {
        margin-top: 32px;
        text-align: left;
        margin-left: -15px;
        padding-left: 15px;
        width: calc(100% + 30px);
        &__inner {
          overflow-x: auto;
          white-space: nowrap;
          -webkit-overflow-scrolling: touch;
          -ms-overflow-style: -ms-autohiding-scrollbar;
          &::-webkit-scrollbar {
            display: none;
          }
        }
      }

      .block-category-link,
      .block-category-link-inline {
        margin: 0 16px 0 0;
      }
    }

    .columns {
      padding-top: 50px;
      position: relative;
    }

    .sidebar {
      position: inherit;
    }

    .column {
      position: inherit;
    }

    .columns-inner {
      .sidebar-section {
        padding-right: 15px;
      }
    }
  }
}
