.checkout-index-index {
  .page-wrapper {
    padding-top: $header-height-checkout;
  }

  .checkout {
    &-content {
      margin-top: 35px;
      margin-bottom: 100px;
      @include media-breakpoint-up(lg) {
        padding-right: 6%;
      }

      .messages {
        position: relative;
        top: 7px;
      }

      .step-title {
        margin-bottom: 32px;
      }
    }
  }

  &.checkout-step {
    &--shipping {
    }

    &--payment,
    &--overview {
      .opc-sidebar-additional {
        display: none;
      }
    }
  }

  .cart-summary {
    padding-top: 50px;
  }

  //Shipping Address and Form Login
  .checkout-shipping-address {
    margin-bottom: 50px;

    .form-login {
      width: 48%;
      margin-bottom: 32px;
      position: relative;

      .field {
        .note {
          display: block;
          margin-top: 15px;
          font-size: $font-size-base;
        }

        .form-group {
          margin-bottom: 8px;
        }
      }

      .actions-toolbar {
        margin-top: 16px;

        .primary {
          width: 46%;
        }

        .secondary {
          margin-top: 16px;

          .action.btn-link {
            &.remind::after,
            &.back::before {
              @include getColoredIconArrowRight(#{$black});
            }

            &.remind {
              &::after {
                margin-left: 12px;
                transform: rotate(180deg);
              }

              &:hover {
                &::after {
                  @include getColoredIconArrowRight(#{$color-custom-3});
                }
              }
            }
          }
        }
      }

      .sign-in-link,
      .guest-link {
        text-transform: uppercase;
        text-decoration: underline;
        color: $blue;
      }
    }
  }

  //Shipping Methods
  .checkout-shipping-method {
    .table-checkout-shipping-method {
      .shipping-method-item {
        font-size: $font-size-body2;
        line-height: 24px;
        margin-bottom: 30px;

        .item-inner {
          display: flex;
          justify-content: space-between;
          border: 1px solid transparent;
          box-shadow: 0 0 0 1px $grey-light;
          border-radius: $border-radius;
          padding: 20px 16px;
          height: 100%;
          cursor: pointer;
          @include transition(box-shadow, 0.3s);

          &:hover {
            box-shadow: $box-shadow-3;
          }

          .col-info {
            flex: 1;

            .custom-control-label {
              display: flex;
              flex-direction: column;
            }
          }

          .col-title {
            display: block;
            font-size: $h4-font-size;
            font-weight: $font-weight-semiBold;
          }

          .col-price {
            text-transform: uppercase;
          }

          .col-error {
            margin-top: 20px;
          }
        }

        &.selected-item {
          .item-inner {
            border: 1px solid $color-custom-1;
            box-shadow: 0 0 0 1px $color-custom-1;
            cursor: inherit;
          }
        }
      }

      .no-display {
        display: none;
      }
    }

    .actions-toolbar {
      display: flex;
      justify-content: flex-end;
      padding-top: 24px;
      border-top: 2px solid $grey-light;
    }
  }

  //Payment Methods
  .checkout-payment-method {
    .payment-methods {
      margin-bottom: 48px;

      .step-title {
        display: none;
      }

      .payment-method {
        border: 1px solid transparent;
        box-shadow: 0 0 0 1px $grey-light;
        border-radius: $border-radius;
        padding: 24px 24px 24px 16px;
        margin-bottom: 24px;

        &-title {
          display: flex;
          justify-content: space-between;

          .custom-control-label {
            font-size: $h4-font-size;
            font-weight: $font-weight-semiBold;
          }

          .payment-icon {
            max-height: 25px;

            &.paypal {
              display: none;
            }
          }
        }

        &-content {
          display: none;
          margin-top: 25px;
          padding-left: 30px;
        }

        &._active {
          border-color: $color-custom-1;
          box-shadow: 0 0 0 1px $color-custom-1;

          .payment-method-content {
            display: block;
          }
        }

        &-note {
          margin-bottom: 16px;
          font-size: $font-size-body2;
        }

        &-billing-address {
          .checkout-billing-address {
            .billing-address-same-as-shipping-block {
              margin-bottom: 16px;
            }

            .field-select-billing {
              margin-bottom: 16px;
            }

            .actions-toolbar {
              margin-top: 16px;
              justify-content: flex-start;
            }
          }
        }

        .billing-address-details {
          padding-left: 20px;
          font-size: $font-size-body3;

          .info-name {
            margin-bottom: 4px;
          }

          .info-phone {
            margin-top: 5px;
          }
        }

        .checkout-instructions-block {
          margin-top: 16px;
          font-size: $font-size-body3;

          p {
            font-size: $font-size-body3;
          }
        }

        .checkout-agreements-block {
          margin-top: 32px;

          a {
            text-decoration: underline;
          }
        }

        .actions-toolbar {
          display: flex;
          justify-content: flex-end;
          margin-top: 24px;
        }
      }
    }
  }

  //Overview step
  .checkout-overview {
    .overview-information {
      margin-bottom: 40px;
      font-size: $font-size-body2;

      &__title {
        margin-bottom: 32px;

        .icon {
          margin-left: 8px;
          cursor: pointer;
        }
      }

      &__sub-title {
        margin-bottom: 16px;
      }

      &__address {
        margin-bottom: 32px;

        .overview-address-details {
          .info-name {
            font-weight: $font-weight-semiBold;
            margin-bottom: 4px;
          }

          .info-phone {
            margin-top: 5px;
          }
        }
      }

      .shipping-information-content,
      .payment-method-content {
        .info-name {
          font-weight: $font-weight-semiBold;
        }
      }
    }

    .items-in-cart {
      .content {
        .minicart-items-wrapper {
          border-bottom: none;
          padding: 0;
        }

        .product-item {
          padding: 16px 0;
          font-size: $font-size-body2;

          &__details {
            padding-left: 16px;
          }
        }
      }
    }
  }

  //Sidebar summary
  .opc {
    &-estimated-wrapper {
      display: none;
    }

    &-sidebar {
      .modal {
        &-header {
          display: none;
        }

        &-content {
          border: none;
          background: none;
        }
      }

      &-additional {
        order: 4;
        margin-top: 70px;
      }

      &-placeOrder {
        order: 5;
        margin-top: 40px;
      }
    }

    &-block-summary {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;

      &__title {
        order: 1;
      }

      .table-totals {
        order: 3;
      }
    }

    &-block-promotional-coupon {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: $font-size-body2;
      padding: 16px 0 13px;
      border-bottom: 1px solid $grey-light;

      &__title {
        font-weight: $font-weight-semiBold;
        margin-bottom: 7px;
      }

      &__description {
        color: #3F3F3F;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .checkout-index-index {
    .page-wrapper {
      padding-top: $header-height-checkout-sticky;
    }

    .checkout {
      &-content {
        margin-top: 9px;
        margin-bottom: 48px;

        .step-title {
          font-size: 24px;
        }
      }
    }

    .cart-summary {
      margin-bottom: 64px;
    }

    .checkout-payment-method {
      .payment-methods {
        .payment-method-content {
          padding-left: 0;
        }

        .payment-method {
          padding: 20px 16px;

          .actions-toolbar {
            .primary {
              width: 100%;
            }
          }

          &._active {
            padding-bottom: 40px;
          }
        }
      }
    }

    //Shipping Address and Form Login
    .checkout-shipping-address {
      .form-login {
        width: 100%;

        .field {
          .guest-link,
          .note {
            font-size: $font-size-body2;
          }
        }

        .actions-toolbar {
          flex-direction: column;
          align-items: stretch;

          .primary {
            width: 100%;
            margin-bottom: 16px;
          }
        }
      }
    }

    .checkout-shipping-method {
      .table-checkout-shipping-method {
        .shipping-method-item {
          margin-bottom: 16px;
        }
      }

      .actions-toolbar {
        padding-top: 16px;
        padding-bottom: 16px;
        border-top: none;
        border-bottom: 2px solid $grey-light;
      }
    }

    .modal-slide {
      &.popup-new-address {
        .modal-inner-wrap {
          max-height: 100%;
          margin: auto;
          width: 100%;
          .modal-footer {
            background-color: $white;
            min-height: auto;
            .action {
              width: 100%;
              &.primary {
                order: 1;
                margin-bottom: 12px;
              }
              &.secondary {
                order: 1;
                margin-bottom: 48px;
              }
            }
          }
        }
      }
    }
  }
}
