.cms {
  &-page-view:not(.page-layout-amastyshopbybrand_index) {
    .page-main {
      margin-top: 32px;
      margin-bottom: 100px;

      .page-title {
        margin-bottom: 16px;
      }
    }

    .columns {
      .column.main {
        .container-text {
          max-width: 850px;
        }

        h2,
        .h2 {
          margin: 24px 0 12px;
        }

        ul {
          li {
            list-style: disc;
            font-weight: normal;
            margin-left: 40px;
          }
        }

        a {
          text-decoration: underline;
        }

        .cms-page__container {
          ul {
            li {
              list-style: none;
              margin-left: 0;
            }
          }
        }
      }
    }
  }

  &-no-route {
    overflow-x: hidden;
    .no-route-container {
      margin: 0;
      padding: 96px 0 58px;
      position: relative;
      .content-block {
        flex: 0 0 45%;
        max-width: 45%;

        &__title {
          font-size: $h1-font-size;
          margin: 0 0 16px;
        }

        &__text {
          margin: 0;
          font-size: $h5-font-size;
          line-height: 24px;
        }

        &__button {
          margin-top: 40px;
          .btn {
            min-width: 49% !important;
          }
        }
      }

      .image-block {
        padding: 0;
        text-align: right;
        &__image {
          max-width: 100%;
        }
      }
      &:before {
        content: '';
        position: absolute;
        background-color: $background-1;
        top: 0;
        bottom: 0;
        width: 1000vh;
        margin-left: -100%;
        z-index: -1;
      }
    }
    .no-route-related-container {
      position: relative;
      padding: 70px 0 20px;
      &:before {
        content: '';
        position: absolute;
        background-color: $white;
        top: 0;
        bottom: 0;
        width: 1000vh;
        margin-left: -100%;
        z-index: -1;
      }
    }
  }

  &-page-view {
    .amform-form {
      .amcform-toolbar {
        .action {
          @extend .btn;
          @extend .btn-primary;
        }
      }
    }
    .cms-content {
      font-size: $font-size-body2;

      &__head {
        margin-bottom: 25px;
      }

      &__item {
        margin-bottom: 15px;
      }

      &__table {
        width: 100%;

        &-footer {
          margin-top: 50px;
        }
      }

      a {
        color: $blue;
      }

      ol li {
        list-style: inherit;
      }

      .row {
        margin-bottom: -25px;

        .i-card {
          margin-bottom: 25px;

          &__title {
            margin-top: 15px;
          }

          &__description,
          &__title {
            max-width: 250px;
            margin-left: auto;
            margin-right: auto;
          }

          &__price {
            color: $danger;
            font-weight: $font-weight-semiBold;
          }
        }
      }

      &.bartender {
        .row {
          margin-bottom: 0;
        }

        .mark {
          font-size: $font-size-body2;
        }

        .buy-block {
          max-width: 80%;
          margin: 30px auto;
        }

        .links-container {
          border-top: 1px solid $grey-light;
          border-bottom: 1px solid $grey-light;
          padding-bottom: 25px;
          padding-top: 25px;
          margin-bottom: 30px;
          margin-top: 25px;
        }

        .img-list {
          margin-left: 15px;
          margin-right: 15px;
          text-align: center;

          img {
            display: inline-block;
            margin-bottom: 24px;
          }
        }
      }

      &.about-logiscenter {
        .link-list {
          width: 100%;
          height: 100%;

          a, .icon {
            display: inline-block;
            width: 100%;
            height: 100%;
            text-align: center;
          }

          > div {
            margin-bottom: 25px;
          }
        }
        .i-partner:before,
        .i-customer:before {
          content: '';
          display: inline-block;
          height: 120px;
          width: 182px;
          background-repeat: no-repeat;
        }

        .p-zebra:before {
          background-position: 0 0
        }

        .p-honeywell:before {
          background-position: -195px 0
        }

        .p-datalogic:before {
          background-position: -390px 0
        }

        .p-elo:before {
          background-position: -585px 0
        }

        .p-getac:before {
          background-position: -780px 0
        }

        .p-toshiba:before {
          background-position: -975px 0
        }

        .p-epson:before {
          background-position: -1170px 0
        }

        .p-lg:before {
          background-position: 0 -120px
        }

        .p-amazon:before {
          background-position: -195px -120px
        }

        .p-coca:before {
          background-position: -390px -120px
        }

        .p-ford:before {
          background-position: -585px -120px
        }

        .p-bp:before {
          background-position: -780px -120px
        }

        .p-renault:before {
          background-position: -975px -120px
        }

        .p-mc:before {
          background-position: -1170px -120px
        }
      }
    }

    .page-main {
      overflow: visible;
    }

    .cms-page__container {
      > section {
        margin-bottom: 72px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .cms-grid-items {
        .item {
          padding: 16px;

          .item-inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 32px 40px;
            text-align: center;
            background: $white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
            border-radius: 16px;
            height: 100%;

            .item-icon {
              margin-bottom: 16px;
            }

            .item-title {
              font-size: $h4-font-size;
              font-weight: $font-weight-semiBold;
              margin-bottom: 4px;
            }

            .item-description {
              font-size: $font-size-body2;
            }
          }
        }
      }

      .our-clients__container {
        padding: 0;
      }

      .cms-form__container {
        background: $background-1;
        padding: 40px 15px;

        .form-heading,
        form {
          max-width: 407px;
          margin: 0 auto;

          .action.submit {
            width: 100%;
          }
        }

        .form-heading {
          text-align: center;
        }
      }
    }
  }

  &-maintenance {
    &.cms-page-view {
      .page-main {
        margin: 0;
      }
    }

    .columns {
      .column.main {
        .m-head {
          position: relative;

          &-title {
            color: $blue-dark;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
          }
        }

        .amform-form {
          padding: 40px;
          margin: 0;
          background-color: $background-1;
          h2 {
            text-align: center;
            margin: 0;
          }

          h3 {
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
          }

          .form-group, .field .control:not(.form-group) {
            margin-bottom: 0;
          }

          .form-group.field-checkbox-accept .label {
            display: none;
          }

          .amcform-toolbar .action.submit {
            @extend .btn;
            @extend .btn-primary;
            width: 100%;
          }
        }
      }
    }

  }
}

@include media-breakpoint-down(md) {
  .cms {
    .cms-page-view:not(.page-layout-amastyshopbybrand_index) {
      .page-main {
        margin-top: 13px;
      }
    }
    &-page-view {
      .page-main {
        margin-bottom: 80px;
      }

      .cms-page__container {
        > section {
          margin-bottom: 56px;
        }

        .main-block__content {
          .content-heading {
            font-size: $h3-font-size;
          }
        }

        .main-block__sidebar {
          .image {
            img {
              display: block;
              margin: 0 auto;
            }
          }
        }

        .cms-form__container {
          padding: 40px 20px;
          margin-left: -15px;
          margin-right: -15px;

          .form-heading {
            .form-title {
              font-size: $h3-font-size;
            }

            .form-description {
              font-size: $font-size-body2;
            }
          }
        }
      }
    }

/*    &-no-route {
      .no-route-container {
        flex-direction: column-reverse;
        text-align: center;
        padding: 50px 0 40px;

        .content-block {
          flex: 0 0 100%;
          max-width: none;

          &__title {
            margin: 40px 0 16px;
            text-align: center;
            font-size: $h2-font-size;
            line-height: 28px;
          }

          &__text {
            font-size: $font-size-body2;
            line-height: 21px;
            text-align: center;
          }

          &__button {
            margin-bottom: 80px;
            & > div {
              .btn:last-child {
                margin-top: 0.25rem !important;
              }
            }
          }
        }
      }
    }*/

    &-maintenance {

      .columns {
        .column.main {
          .m-head {
            height: 170px;
            &-image {
              object-fit: cover;
            }
          }

          .amform-form {
            padding: 40px 20px;
            margin: 0 auto;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .cms {
      &-no-route {
        .no-route-container {
          flex-direction: column-reverse;
          text-align: center;
          padding: 50px 0 40px;

          .content-block {
            flex: 0 0 100%;
            max-width: none;

            &__title {
              margin: 40px 0 16px;
              text-align: center;
              font-size: $h2-font-size;
              line-height: 28px;
            }

            &__text {
              font-size: $font-size-body2;
              line-height: 21px;
              text-align: center;
            }

            &__button {
              margin-bottom: 80px;
              & > div {
                .btn:last-child {
                  margin-top: 0.25rem !important;
                }
              }
            }
          }
        }
      }
  }
}
@include media-breakpoint-up(xl) {
  .cms {
    &-page-view {
      .cms-content {
        &.about-logiscenter {
          .col-xl-2 {
            flex: 0 0 14.28%;
            max-width: 14.28%;
          }
        }
      }
    }
  }
}