.contact-index-index {
  .columns {
    .column {
      .block {
        &.contact-container {
          margin: 0 auto;
          .form {
            background-color: $background-1;
            padding: 80px 100px;
            .fieldset {
              margin-bottom: 40px;
              .legend,
              .note {
                text-align: center;
                padding: 0 40px;
              }
              .note {
                font-size: 14px;
                line-height: 21px;
                margin: 8px 0 40px;
              }
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .contact-index-index {
    .columns {
      background-color: $background-1;
      .column {
        .block {
          &.contact-container {
            padding: 0;
            .form {
              padding: 48px 0 64px;
              .fieldset {
                .legend,
                .note {
                  padding: 0;
                  margin-bottom: 16px;
                }
              }
            }
          }
        }
      }
    }
  }
}