//common customer
.customer-account,
.popup-authentication,
.block-authentication {
  .page-title {
    display: none;
  }

  .block {
    &-title {
      margin-bottom: 24px;
    }

    &-container {
      max-width: 405px;
      padding-top: 48px;
      padding-bottom: 100px;
    }

    &-note {
      margin-bottom: 33px;
    }
  }

  .actions-toolbar {
    margin-top: 30px;

    .secondary {
      margin-top: 16px;

      .action.btn-link {
        &.remind::after, &.back::before {
          @include getColoredIconArrowRight(#{$black});
        }

        &.remind {
          &::after {
            margin-left: 12px;
            transform: rotate(180deg);
          }

          &:hover {
            &::after {
              @include getColoredIconArrowRight(#{$color-custom-3});
            }
          }
        }

        &.back {
          &::before {
            margin-left: 0;
            margin-right: 12px;
            transform: none;
          }

          &:hover {
            &::before {
              @include getColoredIconArrowRight(#{$color-custom-3});
            }
          }
        }
      }
    }
  }

  &-logoutsuccess {
    .column.main {
      margin: 0;
    }

    .page-main {
      padding-top: 48px;
      padding-bottom: 100px;
    }
  }
}

//customer login
.login-container {
  .block {
    &-new-customer {
      .block-note {
        margin-bottom: 41px;

        p {
          margin-bottom: 24px;
        }

        li {
          margin-bottom: 14px;
        }
      }
    }
  }
}

//customer forgot and reset
.forgot-container,
.reset-container {
  .block {
    &-forgot-password,
    &-reset-password {
      background-color: $background-1;
    }

    &-container {
      margin: 0 auto;
    }
  }
}

//create account
.create-container {
  .block {
    &-create-account {
      max-width: 624px;
      margin: 0 auto;
      background-color: #F2F5F8;
    }

    &-container {
      margin: 0 auto;
    }
  }
}

@include media-breakpoint-down(sm) {
  //common customer
  .customer-account,
  .popup-authentication,
  .block-authentication {
    .block {
      &-title {
        margin-bottom: 16px;
      }

      &-container {
        padding-top: 25px;
        padding-bottom: 50px;
      }

      &-note {
        margin-bottom: 25px;
      }
    }
  }
  //customer login
  .login-container {
    .block {
      &-new-customer {
        background-color: $background-1;
        margin-bottom: 80px;

        .block-note {
          margin-bottom: 24px;
        }
      }
    }
  }
  //customer forgot and reset
  .forgot-container,
  .reset-container {
    .block {
      &-forgot-password,
      &-reset-password {
        background-color: transparent;
      }
    }
  }

  //create account
  .create-container {
    .block {
      &-create-account {
        max-width: 100%;
        background-color: initial;
      }
    }
  }
}
