// Block 1 Banner
.banner {
  &__container {
    position: relative;
  }

  &__background {
    background-size: cover;
    background-position: center;
    min-height: 260px;
  }

  &__content {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    transform: translateX(-50%);
  }

  &__placeholder {
    position: absolute;
    left: 10%;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__inner {
    padding: 16px;
  }

  &__title {
    margin-bottom: 8px;
    text-align: left;
  }

  &__toolbar {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
  }
}

@include media-breakpoint-down(sm) {
  .banner {
    &__background {
      min-height: 420px;
    }

    &__placeholder {
      left: 20px;
      right: 20px;
      text-align: center;
    }

    &__inner {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      padding: 32px 0;
    }

    &__title {
      text-align: center;
    }

    &__toolbar {
      flex: 1 1 auto;
      justify-content: center;
      align-items: flex-end;
    }
  }
}

// Block 2 Images
.banners {
  &__container {
    display: flex;
    justify-content: center;
    max-width: 1120px;
  }

  &__item {
    position: relative;
    margin: 0 15px;
    @include hoverBanner();

    &-text {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      color: $white;
    }
  }
}

@include media-breakpoint-down(md) {
  .banners {
    &__container {
      flex-direction: column;
    }

    &__item {
      margin: 0;

      + .banners__item {
        margin-top: 15px;
      }
    }
  }
}

// Block 2 Images and text
.banners-text {
  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    position: relative;
    margin: 0 15px;

    &:first-child {
      margin-left: 0;
    }

    @include hoverBanner();
  }

  .section-title {
    margin-bottom: 24px;
    text-align: left;
  }

  &__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 260px;
    margin-left: 50px;
  }

  &__action {
    margin-top: 40px;
  }
}

.cms-index-index {
  .product--grid {
    .price-box {
      font-size: 18px;

      .price {
        font-size: 18px;
        color: $color-custom-3;
      }

      .special-price {
        .price {
          color: $danger;
        }
      }

      .old-price {
        .price {
          color: $grey-medium;
        }
      }

      .minimal-price {
        .price-label {
          font-size: 18px;
        }
      }

      &.no-price {
        font-size: 18px
      }
    }

    .product__bottom {
      min-height: 51px;
    }
  }
}

@include media-breakpoint-down(md) {
  .banners-text {
    .section-title {
      text-align: center;
    }

    &__container {
      flex-direction: column;
      align-items: center;
    }

    &__article {
      max-width: 320px;
    }

    &__item {
      margin: 0;
      order: 1;

      + .banners-text__item {
        margin-top: 20px;
      }
    }

    &__article {
      order: 0;
      margin: 0 0 40px;
      text-align: center;
      max-width: inherit;
    }

    &__action {
      margin-top: 0;
    }
  }

  .cms-index-index {
    .product--grid {
      .price-box {
        font-size: 16px;

        .price {
          font-size: 16px;
        }

        .minimal-price {
          .price-label {
            font-size: 16px;
          }
        }

        &.no-price {
          font-size: 16px
        }
      }

      .product__bottom {
        min-height: 51px;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .banners-text {
    &__article {
      margin-bottom: 30px;
    }
  }
}

//Block Video
.video-block {
  max-width: 1278px;
  margin-left: auto;
  margin-right: auto;

  &__container {
    display: flex;
    justify-content: center;
    position: relative;

    iframe {
      z-index: 10;
      width: 1278px;
      height: 426px;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;

    img {
      width: 100%;
      height: 426px;
      object-fit: cover;
    }
  }

  &__box {
    cursor: pointer;
    position: absolute;
    color: $primary;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__subtitle {
    margin-bottom: 11px;
    font-size: $font-size-body2;
    letter-spacing: 2px;
  }

  &__title {
    margin-bottom: 40px;
    font-family: $headings-font-family;
    font-size: $h1-font-size;
    font-weight: $font-weight-medium;
  }

  &__play {
    display: flex;
    align-items: center;
    font-size: $font-size-body2;
    letter-spacing: 1px;

    &:before {
      content: '';
      display: inline-block;
      margin-right: 10px;
      width: 12px;
      height: 14px;
      background-image: url('../images/icons/ico-play.svg');
      background-size: cover;
    }
  }
}

//Block our clients
.our-clients {
  &__container {
    position: relative;
  }

  &__list {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 0;
  }

  &__image {
    margin-left: auto;
    margin-right: auto;
    max-width: 180px;
    width: 100%;
  }
}

@include media-breakpoint-down(md) {
  .our-clients {
    &__heading {
      margin-bottom: 16px;
    }

    &__title {
      margin-bottom: 0;
    }
  }
}

.cms-home {
  .products-slider {
    &.grid:not(.block-new-products) {
      .price-box {
        .price {
          color: $blue;
          font-size: $h4-font-size;
          font-weight: $font-weight-semiBold;

          @include media-breakpoint-down(md) {
            font-size: $h5-font-size;
          }
        }

        .old-price {
          .price {
            text-decoration: none;
            color: $grey-medium;
          }
        }

        .special-price {
          .price {
            color: $danger;
          }
        }
      }
    }
  }
}
