.interactiv4_storelocator-index-index {
  .page-title-wrapper {
    .page-title {
      margin-top: 30px;
      margin-bottom: 24px;
    }
  }
}

.storepickup-wrapper {
  margin-bottom: 100px;

  .boxes-content {
    padding: 0;
  }

  .option-direction {
    display: none;
  }

  .search {
    &-box {
      margin-bottom: 48px;
      padding: 32px 9px;
      background: $background-1;

      .btn {
        &-link {
          text-decoration: underline;
        }
      }
    }
  }

  .button-box {
    display: flex;
  }

  .list-store {
    overflow-y: auto;
    max-height: 665px;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background: $primary;
      cursor: pointer;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px $white;
    }
  }

  .store-item {
    border: 1px solid transparent;
    padding: 16px;

    & + .store-item {
      border-top-color: $grey-light;
    }

    &.active {
      border: 1px solid $green-dark;
      box-shadow: $box-shadow;
      border-radius: 8px;

      & + .store-item {
        border-top: 1px solid transparent;
      }
    }

    &__wrapper {
      display: flex;
    }

    &__image {
      max-width: 104px;

      img {
        width: 100%;
      }
    }

    &__content {
      padding-left: 16px;

      h4 {
        font-size: $h4-font-size - 2;
        margin-bottom: 0;
      }

      p {
        font-size: $font-size-body2;
        margin-bottom: 4px;
      }

      .btn-link {
        cursor: pointer;
        text-transform: none;
        text-decoration: underline;
        line-height: 1;

        &:before {
          content: '';
          width: 24px;
          display: inline-block;
          vertical-align: middle;
          height: 1.2em;
        }

        &.street-view {
          border-right: 1px solid $black;
          padding-right: 10px;

          &:before {
            background: url('../images/icons-sprite.svg#ico-eye') no-repeat center;
            background-size: cover;
          }
        }

        &.direction {
          &:before {
            background: url('../images/icons-sprite.svg#ico-location') no-repeat center;
            background-size: cover;
          }
        }
      }
    }

    &__directions {
      margin-top: 15px;

      ul {
        margin-bottom: 15px;

        li {
          display: inline-block;
          margin: 0;
          padding: 0;
          box-shadow: none;
          background-color: #ccc;
          width: 40px;
          float: none;
          height: 20px;
          border-bottom: none;
          cursor: pointer;
          background: url('../images/storelocator/googlemap-transport.png') no-repeat;

          span {
            text-indent: -10000px;
            padding: 0 20px 5px 13px;
            display: block;
          }

          &.swap {
            background: none;
            width: auto;
            float: right;

            button {
              text-indent: -10000px;
              background: url('../images/storelocator/googlemap-directions.png') no-repeat center -62px;
              width: 20px;
              height: 20px;
              border: none;
              box-shadow: none;
              outline: 0;
              padding: 0;
              position: relative;
              top: 3px;
            }
          }

          &.car {
            background-position: center -40px;

            &:hover,
            &:active,
            &:focus {
              background-position: center -60px;
            }
          }

          &.bus {
            background-position: center -80px;

            &:hover,
            &:active,
            &:focus {
              background-position: center -100px;
            }
          }

          &.walk {
            background-position: center -120px;

            &:hover,
            &:active,
            &:focus {
              background-position: center -140px;
            }
          }

          &.bicycle {
            background-position: center -160px;

            &:hover,
            &:active,
            &:focus {
              background-position: center -180px;
            }
          }
        }
      }

      .get-direction {
        max-width: 100%;
        margin-top: 8px;
      }
    }

    &__directions-tool {
      margin-bottom: 10px;
      position: relative;

      .directions {
        &--searchbox-handle {
          visibility: visible;
          position: absolute;
          height: 105px;
          width: 50px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        &--inputs {
          padding-left: 50px;

          input {
            width: 100%;
            height: 48px;
            box-shadow: none;
            border-radius: 8px;
            outline: 0;
            border: 1px solid $grey-light;

            & + input {
              margin-top: 8px;
            }
          }
        }

        &--icon {
          label {
            font-size: 0;
          }

          &.waypoint-handle {
            width: 20px;
            height: 20px;
            border: 2px solid #000;
            border-radius: 50%;
            position: relative;

            &:after {
              content: '';
              display: block;
              width: 8px;
              height: 8px;
              background: $black;
              position: absolute;
              top: 4px;
              left: 4px;
              border-radius: 50%;
            }
          }

          &.waypoint-bullet {
            background: url('../images/icons-sprite.svg#ico-location') no-repeat center;
            background-size: cover;
            width: 22px;
            height: 27px;
          }

          &.waypoint-to {
            background: none;
            width: 2px;
            height: 30px;
            border-right: 1px dashed $grey-light;
          }
        }
      }

      .directions-panel {
        max-height: 300px;
      }
    }

    &.popup-store {
      padding: 0;

      .store-item {
        &__image {
          display: none;
        }
      }
    }
  }

  .map-box-container {
    height: 665px;
    margin-bottom: 15px;

    .googlemap {
      height: 100%;
    }
  }

  .overlay-bg {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
  }

  .overlay-bg img {
    width: 70px;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .input-search {
    &--wrapper {
      position: relative;

      &:before {
        content: '';
        background: $white url('../images/icons-sprite.svg#ico-search') no-repeat center;
        display: block;
        height: 22px;
        width: 22px;
        position: absolute;
        left: 19px;
        top: 14px;
        background-size: cover;
      }
    }

    &--distance {
      width: 100%;
      max-width: 382px;
      height: 48px;
      border-radius: 8px;
      border: 1px solid $grey-light;
      padding: 0 10px 0 60px;
    }
  }

  .slider-range-min {
    display: flex;
    align-items: center;

    .slider-range {
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background: $grey-light;
      position: relative;

      &-amount {
        position: absolute;
        top: -25px;
        left: -20px;
        width: 70px;
      }

      .ui-slider-range-min {
        background-color: $green-optimo;
        height: 4px;
        border-radius: 2px;
      }

      .ui-slider-handle {
        height: 24px;
        top: -14.5px;
        width: 24px;
        border-radius: 50%;
        background: $green-dark;
        border: solid 2px $green-optimo;
        position: relative;
      }
    }
  }
}

.storepickup-views-wrapper {
  .gallery-images {
    .main-image {
      margin-bottom: 15px;

      img {
        width: 100%;
      }
    }

    .more-views {
      ul {
        li {
          float: left;
          margin-right: 15px;
        }
      }

      img {
        max-width: 110px;
      }
    }
  }

  .storepickup-information {
    .description {
      margin-bottom: 24px;
    }

    .title,
    .open-time {
      font-size: $font-size-body2;
    }

    .open-time {
      margin-bottom: 32px;

      .table {
        margin-bottom: 0;
      }
    }

    .close-time {
      font-size: $font-size-body2;

      &__inner {
        padding: 8px 16px;
        background: $background-1;
      }

      ul {
        margin: 0;

        li {
          margin-bottom: 18px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .tabs {
      &__wrapper {
        margin-bottom: 56px;
      }

      &__header {
        ul {
          display: flex;
          justify-content: center;
          margin-bottom: 0;

          li {
            margin: 0 16px;
            padding-bottom: 8px;
            cursor: pointer;
            position: relative;

            &:after {
              content: '';
              display: block;
              width: 100%;
              height: 8px;
              bottom: -4px;
              left: 0;
              position: absolute;
            }

            &.active {
              color: $green-dark;

              &:after {
                background: $green-dark;
              }
            }
          }
        }
      }

      &__content {
        padding: 24px 16px;
        display: none;

        &.active {
          display: block;
        }
      }
    }
  }

  .map-widget {
    &__wrapper {
      background: $background-1;
      margin-left: calc(50% - 50vw);
      margin-right: calc(50% - 50vw);
      padding: 56px 0;
    }

    &__map {
      height: 300px;
      margin-bottom: 0;
    }
  }

  .option-direction {
    display: block;
  }

  .store-item {
    &__directions {
      margin-top: 0;

      ul {
        background: $white;
        padding: 15px 10px;
      }

      .get-direction {
        margin-top: 32px;
        max-width: 264px;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .storepickup-wrapper {
    .search-box {
      margin: 0 -20px;
    }

    .input-search {
      &--wrapper {
        margin-bottom: 50px;
      }
    }

    .slider-range-min {
      margin-bottom: 42px;
    }

    .button-box {
      flex-direction: row-reverse;
    }

    .list-store,
    .map-box-container {
      height: 600px;
    }

    .store-item {
      &__image {
        max-width: 80px;
      }
    }

    .boxes-content {
      .row {
        flex-direction: column-reverse;
      }
    }

    .list-store-box,
    .map-box-container {
      padding: 0;
    }
  }
}
