.interactiv4_faq-view-index {
  &.cms-page-view {
    .page-main {
      .page-title {
        margin-bottom: 34px;
      }
    }
  }

  .faq-wrapper {
    max-width: 732px;
    flex: 0 0 732px;
    padding: 0;

    dl.faq-list {
      border-bottom: 1px solid $grey-light;
    }

    dt.question {
      background: $white;
      border-top: 1px solid $grey-light;
      padding: 16px;
      margin: 0;
      font-weight: $font-weight-semiBold;
      font-size: $h5-font-size;
      text-transform: none;

      &:last-child {
        border-bottom: 1px solid $grey-light;

        &[aria-expanded="true"] {
          border-bottom: none;
        }
      }

      &[aria-selected="true"],
      &[aria-selected="false"] {
        &:after {
          display: none;
        }
      }

      div[data-role="trigger"] {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        &::after {
          content: '';
          width: 13px;
          height: 13px;
          background: url('../images/icons/ico-plus.svg') no-repeat center;
          background-size: contain;
          display: inline-block;
          @include transition(all, 0.3s);
        }
      }

      &[aria-expanded="true"] {
        cursor: default;

        div[data-role="trigger"] {
          &::after {
            background: url('../images/icons/ico-minus.svg') no-repeat center;
            background-size: contain;
          }
        }
      }
    }

    dd.answer {
      border: none;
      box-shadow: none;
      padding: 4px 42px 24px 16px;
      margin: 0;
    }
  }
}

@include media-breakpoint-down(md) {
  .interactiv4_faq-view-index {
    .page-main {
      margin-top: 10px;
      margin-bottom: 64px;

      .page-title {
        margin-bottom: 40px;
      }
    }
  }

  .faq-wrapper {
    dd.answer {
      font-size: $font-size-body2;
    }
  }
}
