.paypal-payflowexpress-review {
  .page {
    &-main {
      margin-bottom: 210px;
    }

    &-wrapper {
      position: relative;
      padding-top: 65px;
    }
  }

  .footer {
    &--reduced {
      padding-top: 0;
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
    }

    &__bottom {
      max-width: 1210px;

      &--wrapper {
        align-items: center;
        padding-bottom: 20px;
      }

      &--text-block {
        .text {
          color: $black;
          font-size: 14px;
          text-align: left;
        }

        .logo {
          max-width: 62px;
          display: block;
          margin-right: 8px;
          width: 100%;
          height: auto;
        }
      }
    }
  }

  .columns {
    .column {
      &.main {
        margin: 0;
      }
    }
  }

  .paypal-review {
    width: 100%;
    padding-top: 120px;

    .paypal-logo {
      max-width: 72px;
      margin-bottom: 11px;

      img {
        width: 100%;
      }
    }

    .block {
      &-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }

      .box {
        margin-bottom: 20px;
        padding-right: 20px;
        width: 50%;

        &-title {
          display: flex;
          align-items: center;
          font-size: 14px;
          line-height: 20px;
          margin-bottom: 16px;
          font-weight: $font-weight-bold;

          .edit {
            font-size: 0;
            padding-left: 6px;
            vertical-align: middle;
            display: inline-block;
            text-decoration: none;
          }

          .icon {
            width: 17px;
            height: 17px;
            margin-top: -8px;
          }
        }

        &-content {
          font-size: 14px;
          line-height: 21px;
          font-weight: $font-weight-light;

          address {
            margin: -8px 0 0;

            &:first-line {
              font-weight: $font-weight-medium;
              line-height: 28px;
            }
          }

          select {
            max-width: 375px;
            margin-bottom: 22px;

            &.form-control {
              padding-top: 11px;
              background-size: 10px;
              background-position: top 22px right 17px;

              &:active,
              &:focus {
                border-color: $white;
                color: $white;
              }
            }
          }
        }
      }

      &.block-order-details-view,
      &.block-order-details-view {
        overflow: hidden;
        padding-right: 18px;
        padding-left: 18px;
      }

      &.block-order-summary-view {
        .box {
          &-title {
            font-size: $h5-font-size;
            text-transform: none;
            margin-bottom: 32px;
            letter-spacing: 0;

            .edit {
              margin-left: auto;
            }
          }
        }

        .actions-toolbar {
          button {
            max-width: 100%;
            height: 57px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;

            .module-icon {
              display: flex;
              padding-right: 10px;
              font-size: 20px;
              order: 1;
              margin: 0;
              transform: translateY(7px);
            }

            span {
              line-height: 20px;
            }
          }
        }
      }
    }

    &__title {
      font-size: 16px;
      margin: 0 0 42px;
      border-bottom: 1px solid $grey-dark;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
      letter-spacing: 1.2px;
      word-spacing: 1px;

      span {
        display: inline-block;
        padding-bottom: 14px;
      }
    }

    &__items {
      box-shadow: 0 2px 4px 0 rgba($black, 0.2);
      border: 1px solid $grey-dark;
      padding: 38px 22px;
      margin-top: 28px;
      max-width: 300px;

      .table {
        margin-bottom: 0;

        tbody {
          & + tbody {
            border-top: 1px solid $grey-dark;
          }
        }
      }

      table {
        width: 100%;
        line-height: 1.2;

        th {
          font-weight: $font-weight-normal;
          font-size: 11px;
          text-transform: uppercase;
          border-top: none;
          padding: 0 0 6px;
          overflow: hidden;
          text-overflow: ellipsis;

          &.name {
            min-width: 105px;
          }

          &.qty {
            text-align: center;
            padding-right: 5px;
          }
        }
      }

      .item {
        td {
          padding: 7px 0 0;
          vertical-align: middle;
          border: none;
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: right;
        }

        .product-item {
          &-photo {
            display: block;
            margin-bottom: 8px;

            img {
              max-width: 48px;
            }
          }

          &-details {
            text-align: left;

            .item-options {
              display: none;
            }
          }
        }
      }

      .opc-block-summary {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding-top: 23px;
        border-top: 1px solid $grey-dark;

        & > table {
          width: 100%;
          table-layout: fixed;

          td,
          th {
            border: none;
            color: $white;
            text-transform: none;
            letter-spacing: 0;
            padding: 8px 0;
          }
        }

        .totals {
          font-size: 0;
          border: none;

          .mark,
          .amount {
            width: 50%;
            border: none;
          }

          &.grand {
            border-top: 1px dashed $grey-dark;

            .mark,
            .amount {
              font-weight: $font-weight-medium;
              padding-top: 12px;
              padding-bottom: 13px;
            }

            .mark {
              font-size: 13px;
            }
          }
        }
      }

      .checkout-agreements {
        margin-bottom: 12px;

        .custom-checkbox .custom-control-label {
          padding-left: 20px;

          &:before {
            top: 4px;
          }
        }
      }

      .actions-toolbar {
        text-align: center;
      }
    }

    &__loader {
      padding: 0 20px;
      width: 100%;
      text-align: center;
      top: 5px;
      position: relative;
    }

    &__discount {
      .discount {
        padding: 17px 26px 13px;
        margin-bottom: 20px;
        margin-top: 11px;

        &__inner {
          width: 100%;
          max-width: 262px;
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .paypal-payflowexpress-review {
    .page-wrapper {
      height: auto;
    }

    .page-main {
      margin-bottom: 0;
    }

    .page-title-wrapper {
      max-width: 100%;
    }

    .footer {
      &--reduced {
        margin-top: 56px;
        position: relative;
      }
    }

    .paypal-review {
      padding-top: 59px;

      .block {
        .box {
          margin-bottom: 42px;
          padding-right: 0;
          width: 100%;

          &-content {
            .actions-toolbar {
              .btn {
                width: 100%;
              }
            }

            select {
              max-width: 100%;
              margin-bottom: 0;
            }
          }

          &-order-billing-address {
            order: 3;
          }
        }

        &.block-order-details-view,
        &.block-order-details-view {
          padding-left: 20px;
          padding-right: 20px;
        }

        &block-order-summary-view {
          .actions-toolbar {
            button {
              max-width: 100%;
            }
          }
        }
      }

      &__title {
        margin: 10px 0 43px;
        letter-spacing: 0;
      }

      &__items {
        box-shadow: none;
        width: auto;
        max-width: none;
        margin-left: -22px;
        margin-right: -22px;
        padding: 39px 15px 31px;

        .item {
          .product-item-details {
            display: flex;

            .product-item-photo {
              order: -1;
            }

            .product-item-name {
              padding-left: 10px;
            }
          }

          td {
            vertical-align: top;
            padding-top: 15px;
          }
        }
      }

      &__discount {
        margin-top: -28px;

        .discount {
          padding: 17px 15px;
        }
      }
    }

    .footer {
      &--reduced {
        margin-top: 100px;
      }

      &__bottom {
        &--wrapper {
          padding-top: 32px;
        }

        &--text-block {
          display: block;

          .logo {
            margin-left: auto;
            margin-right: auto;

            img {
              display: inline-block;
            }
          }
        }

        &--copyright {
          text-align: center;
        }
      }
    }
  }
}
