.page-print {
  a.logo {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    display: inline-block;
  }
  .block {
    .block-title {
      @extend .h4;
      margin-bottom: 30px;
      .action {
        font-size: small;
        font-weight: 400;
        margin-left: 15px;
        &.edit, &.view {
          text-transform: uppercase;
          font-size: 8px;

          font-weight: bold;
          line-height: 29px;
          float: right;
        }
      }
    }
    &-content {
      @include make-row();
      .table-wrapper {
        @include make-col-ready();
        @include make-col(12);
        .table {
          tbody {
            > tr {
              > td {
                &.actions {
                  white-space: nowrap;
                  .action + .action {
                    &::before {
                      content: '|';
                      margin: 0 5px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    &-title {
      margin-bottom: 10px;
      display: block;
      span {
        font-weight: bold;
        color: $black;
      }
    }
    &-content {
      font-size: 10px;
      .telf {
        float: right;
      }
    }
  }
  .box {
    @include make-col-ready();
    @include make-col(6);
    margin-top: 15px;
    &-container {
      border: 2px solid;
      border-radius: 5px;
      padding: 23px 23px 46px 23px;
      position: relative;
      margin-bottom: 45px;
      min-height: 200px;
      .type-block {
        font-size: $h6-font-size;
        color: $secondary;
        line-height: 15px;
        text-transform: uppercase;
        text-align: right;
        margin-bottom: 0;
        position: absolute;
        right: 22px;
      }
      .tel-info {
        margin-top: 15px;
      }
    }
  }
  .block-order-details-view {
    width: 100%;
  }
  .order-details-items {
    padding-top: 15px;
    width: 100%;
    .order-title {
      display: none;
    }
    .order-items {
      .table {
        tfoot .amount, tfoot .mark {
          text-align: right;
        }
      }
    }
  }
  .table {
    margin-top: 15px;
    margin-bottom: 45px;
    thead {
      th {
        font-family: $client-font;
        font-weight: bold;
        line-height: 15px;
        vertical-align: middle;
        padding: 13px 11px;
        &:first-child {
          padding-left: 23px;
          border-radius: 5px 0 0 5px;
        }
        &:last-child {
          padding-right: 23px;
          border-radius: 0px 5px 5px 0;
        }
      }
    }
    tbody {
      tr {
        &:nth-child(even) {
          td {
            background: rgba(245, 245, 245, 0.6);
            &:first-child {
              border-radius: 5px 0 0 5px;
            }
            &:last-child {
              border-radius: 0px 5px 5px 0;
            }
          }
        }
        td {
          font-size: 10px;
          line-height: 15px;
          white-space: nowrap;
          width: 15%;
          padding: 21px 11px;
          border: 0;
          vertical-align: middle;
          &:first-child {
            padding-left: 23px;
          }
          &:last-child {
            padding-right: 23px;
          }
          &.total {
            span{
              font-size: 12px;
            }
          }
          &.qty {
            .items-qty {
              margin-bottom: 0;
            }
          }
          &.pending, &.processing, &.pending_payment, &.pending_paypal, &.interactiv4_redsyspro_no_email, &.paypal_reversed {
            color: $secondary;
          }
          &.canceled, &.closed, &.fraud, &.holded, &.paypal_canceled_reversal, &.payment_review {
            color: $danger;
          }
          &.complete {
            color: $success;
          }
          &.actions {
            white-space: nowrap;
            .action + .action {
              &::before {
                content: '|';
                margin: 0 5px;
              }
            }
            a {
              text-transform: uppercase;
              font-size: 8px;
              font-weight: bold;
            }
          }
          &.shipping {
            width: 40%;
          }
        }
      }
    }
    tfoot {
      tr {
        th {
          background: #fff;
        }
        th, td {
          font-family: $client-font;
          font-size: 12px;
          font-weight: normal;
          border: 0;
        }
        &:first-child {
          th, td {
            border-top: 1px solid $black;
            padding-top: 30px;
          }
        }
        &.grand_total {
          font-weight: bold;
          text-transform: uppercase;
        }
        td {
          padding-right: 23px;
        }
      }
    }
  }
  .page-main {
    > .text-center {
      &.text-md-left, &.text-md-right {
        text-align: center !important;
        @include make-col(12);
        div {
          font-size: 10px;
        }
      }
    }
  }
}
