.catalog-product-view {
  .product {
    &__media {
      order: 1;
      flex: 0 0 48%;
      max-width: 48%;
      @include media-breakpoint-up(lg) {
        padding-right: 100px;
      }
    }

    &__info {
      order: 2;
      flex: 0 0 52%;
      max-width: 52%;
    }

    &__social {
      order: 3;
      margin-top: 12px;
    }

    &__bundle-container {
      order: 4;
    }

    &__extra {
      order: 5;
      margin-top: 45px;
      margin-bottom: 72px;
    }

    &__aside {
      order: 6;
      margin-bottom: 73px;
    }

    &.alert {
      &.stock {
        display: flex;
        align-items: center;

        &::before {
          content: '';
          width: 16px;
          height: 16px;
          margin-right: 8px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('../images/icons-sprite.svg#ico-envelope');
        }

        a {
          text-transform: uppercase;
        }
      }
    }
  }

  .products-slider {
    .product__info {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  .admin__data-grid-outer-wrap {
    @extend .col-12;
    order: 10;
    position: relative;
  }

  .info {
    &__title {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      color: $blue-dark;

      .page-title {
        margin-bottom: 16px;

        &-wrapper {
          padding-right: 34px;
        }
      }
    }

    &__reviews-summary {
      display: flex;
      align-items: center;
      white-space: nowrap;
      margin-top: 10px;
    }

    &__sku {
      display: flex;
      flex-direction: column;
      font-size: $font-size-body3;
      color: $grey-light;

      .stock {
        display: none;
        order: 2;
      }

      .sku {
        order: 1;
        display: flex;
        text-transform: uppercase;
        color: $black;
        font-size: $small-font-size;

        .value {
          color: $blue;
          font-weight: $font-weight-semiBold;
        }
      }

      .type {
        margin-right: 5px;
      }

      +.info__compatible-with {
        margin-top: 8px;
      }
    }

    &__compatible-with {
      display: flex;
      flex-direction: column;
      font-size: $font-size-body3;
      color: $grey-light;

      .compatible-with {
        order: 1;
        display: block;
        text-transform: uppercase;
        color: $black;
        font-size: $small-font-size;

        .type {
          display: inline;
        }

        .value {
          display: inline;
          color: $blue;
          font-weight: $font-weight-semiBold;

          .item {
            a {
              text-decoration: underline;
              line-height: 16px;
            }

            + .item {
              &:before {
                content: '/';
                color: $black;
              }
            }
          }
        }
      }

      .type {
        margin-right: 5px;
      }
    }

    &__price {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 24px;

      .product-info-price__wrapper {
        margin-right: 12px;

        + .availability-message {
          margin-top: 8px;
          margin-bottom: 8px;

          &.is-action {
            width: 100%;
            margin-top: 32px;
          }
        }
      }

      .price-box {
        .minimal-price {
          margin-bottom: 0;
        }

        .price-label,
        .price {
          font-size: $h4-font-size;
          line-height: 24px;
        }
      }
    }

    &__short {
      font-size: $font-size-body2;
      margin-top: 16px;

      p {
        font-size: $font-size-body2;
      }

      .value {
        color: $grey-dark;
      }
    }

    &__add-to-cart {
      margin-top: 32px;
      margin-bottom: 24px;

      > form {
        display: flex;
        flex-flow: row wrap;
      }

      //Configurable
      .product-options-wrapper {
        flex: 1 1 100%;
        margin-bottom: 40px;
      }

      .box-tocart,
      .product-options-bottom {
        display: inline-flex;
      }

      .qty-selector {
        & + .actions {
          margin-left: 16px;
        }

        &__control {
          height: 48px;
          position: relative;

          #qty-error {
            position: absolute;
            top: 50px;
          }
        }
      }

      #validation-message-box {
        flex: 1 1 100%;
        transform: translateY(-15px);
      }
    }

    &__addto {
      margin-left: 16px;
      display: inline-flex;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $color-custom-1;
        border-radius: $border-radius;
        width: 48px;
        height: 48px;

        &:hover {
          box-shadow: $box-shadow-3;
        }

        .icon {
          fill: $color-custom-1;
        }

        span {
          display: none;
        }
      }
    }

    &__shipping {
      margin-top: 56px;
      padding: 14px 22px;
      background-color: $background-1;
      border-radius: 8px;
      max-width: 515px;

      ul {
        margin-bottom: 0;

        li {
          margin-bottom: 10px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .module-icon {
        margin-right: 8px;
        display: inline-block;
        width: 10%;
        max-width: 22px;
        vertical-align: top;
      }

      .info-label {
        display: inline-block;
        width: 85%;
      }

      .ico-truck,
      .ico-clock,
      .ico-agent {
        fill: $blue;
      }
    }

    &__discontinued-message {
      margin-top: 24px;
    }
  }

  .product--grid {
    .product__image {
      margin-bottom: 30px;

      .product__photo {
        display: block;
        width: 100%;
        height: 100%;
      }

      .photo {
        &__wrapper {
          max-width: 232px;
          height: 232px;
          text-align: center;
          margin: 0 auto;
        }

        &__image {
          width: auto;
          max-height: 232px;
          margin: 0 auto;
        }
      }
    }
    .product__name {
      font-weight: $font-weight-normal;
    }
    .price-box {
      .old-price {
        .price{
          color: $grey-medium;
        }
      }
    }
  }

  //Grouped
  .info {
    &__price-from {
      margin-bottom: 32px;
    }

    &__add-to-cart {
      .table-wrapper.grouped {
        margin-bottom: 14px;
        .table {
          margin-bottom: 0;
        }
      }
    }

    &__see-more-models {
      flex: 1 1 100%;
    }
  }

  .models {
    &__title {
      display: block;
      margin-bottom: 24px;
      padding: 0 4px;
    }

    &__pager {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__information {
        margin-bottom: 16px;
      }
    }
  }

  //More info button
  .more-info__button {
    right: 0;
    position: fixed;
    top: calc(50vh - 60px);
    transform: rotate(270deg);
    transform-origin: right bottom;
    background: $blue;
    font-weight: $font-weight-bold;
    font-size: $font-size-body2;
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
    padding: 8px 13px 8px 11px;
    border: 0;
    color: $white;
    z-index: 9999;

    .module-icon {
      pointer-events: none;
    }
  }
}

@include media-breakpoint-down(md) {
  .catalog-product-view {
    .product {
      &__info {
        margin-top: 22px;
      }
      &__extra {
        margin-top: 64px;
        margin-bottom: 0;
      }
      &__aside {
        margin-bottom: 110px;
      }
    }

    .products-slider {
      .product__info {
        padding: 0;
        margin-top: 0;
      }
    }
    .info {
      &__title {
        flex-direction: column-reverse;

        .page-title-wrapper {
          padding-right: 0;
        }
      }

      &__reviews-summary {
        margin-top: 0;
        margin-bottom: 24px;
      }

      &__add-to-cart {
        margin-bottom: 48px;
        margin-top: 29px;

        > form {
          display: flex;
          flex-flow: column wrap;
        }

        .product-options-wrapper {
          margin-bottom: 29px;
        }

        .box-tocart,
        .product-options-bottom {
          flex-direction: column;
        }

        .qty-selector,
        .qty-selector__control {
          width: 100%;
        }

        .qty-selector + .actions {
          margin-left: 0;
        }

        .actions {
          margin-top: 15px;
          width: 100%;
        }
      }

      &__addto {
        display: flex;
        justify-content: center;
        margin-left: 0;

        a {
          border: none;
          width: auto;
          height: auto;

          .icon {
            width: 16px;
            height: 16px;
          }

          span {
            display: inline-block;
            text-decoration: underline;
            margin-left: 5px;
          }
        }
      }

      &__shipping {
        padding: 17px 22px;
        font-size: $font-size-body2;
        margin-top: 48px;
      }

      &__short {
        margin-top: 8px;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .catalog-product-view {
    .product {
      &__media,
      &__info {
        flex: 0 0 100%;
        max-width: 100%;
      }

      &__media {
        padding: 0 35px;
      }

      &__info {
        padding: 0 20px;
      }
    }

    .info {
      &__price {
        flex-direction: column;
        align-items: flex-start;

        .product-info-price__wrapper {
          margin-right: 0;

          + .availability-message {
            margin-top: 16px;
            margin-bottom: 0;
          }
        }
      }
    }

    .models {
      &__title {
        padding: 0;
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  .catalog-product-view {
    .product {
      &--grid {
        padding: 0 13px;
        .product{
          &__image {
            .photo {
              &__wrapper {
                height: 150px;
              }
              &__image {
                max-height: 150px;
              }
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .catalog-product-view {
    .product--grid {
      flex: 0 0 20%;
    }

    .amrelated-grid-wrapper {
      .product--grid {
        flex: 0 0 100%;
        max-width: 100%;

        .minimal-price {
          margin-bottom: 0;
        }
      }
    }
  }
}
