.checkout-onepage-success {
  .page-main {
    display: flex;
    align-items: center;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      max-width: 815px;
      height: 195px;
      background-image: url("../images/success-background.png");
      background-size: contain;
      z-index: -1;
      left: 0;
      right: 0;
      margin: auto;
    }

    .page-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;

      &::before {
        content: '';
        width: 80px;
        height: 80px;
        background-image: url("../images/logo-success.png");
        background-size: contain;
        display: block;
        background-repeat: no-repeat;
        margin-bottom: 16px;
      }

      .print {
        display: none;
      }
    }

    .columns {
      .column.main {
        display: flex;
        justify-content: center;
        text-align: center;

        .checkout-success {
          margin: 40px 0;
          padding: 56px 110px 72px 110px;
          border: 2px solid $secondary;
          background-color: $white;
          border-radius: $border-radius;
          max-width: 622px;

          p {
            margin-bottom: 8px;
            font-size: $font-size-body2;
          }

          .subtitle {
            margin-bottom: 24px;
          }

          .order-number {
            margin-bottom: 24px;
            font-size: $h4-font-size;
            color: $color-custom-3;
          }

          .actions-toolbar {
            margin-top: 40px;
          }

          .registration {
            .btn {
              margin-top: 40px;
            }
            + .actions-toolbar {
              margin-top: 8px;
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .checkout-onepage-success {
    .page-main {
      &::before {
        max-width: 580px;
        height: 140px;
      }

      .page-title {
        &::before {
          width: 64px;
          height: 64px;
          margin-bottom: 16px;
        }
      }

      .columns {
        .column.main {
          .checkout-success {
            margin: 24px 0 80px 0;
            padding: 48px 16px 56px 16px;
          }
        }
      }
    }
  }
}
