.wishlist-index-index {
  .page-main {
    .toolbar {
      &.top {
        display: flex;

        .pages {
          display: none;
        }
      }
    }
  }

  .form-wishlist-items {
    .product--grid {
      .product-item-photo {
        margin-bottom: 8px;
      }

      .product-item-name {
        margin-bottom: 8px;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .product-reviews-summary {
        display: none;
      }

      .price-box {
        justify-content: center;
      }

      .product-item-inner {
        .label {
          display: none;
        }

        .comment-box {
        }

        .box-tocart {
          .fieldset {
            display: flex;

            .field.qty {
              max-width: 48px;
              margin-right: 8px;

              .qty {
                text-align: center;
              }
            }
          }
        }

        .product-item-actions {
          flex: 1;
          text-align: center;

          .actions-primary {
            .action {
              &.tocart {
                padding: 11px;
              }
            }
          }
        }
      }
    }

    > .actions-toolbar {
      margin-top: 0;
      margin-bottom: 16px;

      .primary {
        display: flex;

        .action {
          &.update {
            @extend .btn;
            @extend .btn-secondary;
            order: 1;
            margin-right: 16px;
          }

          &.tocart {
            @extend .btn;
            @extend .btn-primary;
            order: 2;
          }

          &.share {
            order: 3;
            margin-left: auto;
          }
        }
      }
    }
  }
}

.wishlist-index-share {
  .form.wishlist.share {
    .legend {
      @extend .block-title;
    }

    .actions-toolbar {
      .action {
        &.submit {
          @extend .btn;
          @extend .btn-primary;
          @extend .btn-sm-block
        }

        &.back {
          @extend .btn-link;
          @extend .btn-link-arrow-left;
          @extend .btn-sm-block;
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .wishlist-index-index {
    .form-wishlist-items {
      border-bottom: 1px solid $grey-light;

      .product--grid {
        .product-item-inner {
          .box-tocart {
            .fieldset {
              flex-direction: column;

              .field.qty {
                max-width: 100%;
                margin-right: 0;

                .control {
                  margin-bottom: 8px;
                }

                .qty {
                  text-align: center;
                }
              }
            }
          }

          .product-item-actions {
            .actions-primary {
              margin-bottom: 16px;
            }
          }
        }
      }

      > .actions-toolbar {
        .primary {
          flex-direction: column;

          .action {
            display: block;
            width: 100%;
            margin-bottom: 16px;

            &.update {
              margin-right: 0;
            }

            &.share {
              justify-content: center;
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}

