<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="actions-toolbar">
    <div class="primary">
        <button class="action action-cancel btn btn-sm btn-secondary"
                type="button"
                click="cancelAddressEdit"
                visible="canUseCancelBillingAddress()">
            <span data-bind="i18n: 'Cancel'"></span>
        </button>
        <button class="action action-update btn btn-sm btn-primary"
                type="button"
                click="updateAddress">
            <span data-bind="i18n: 'Update'"></span>
        </button>
    </div>
</div>