<!--
  ~ @author Interactiv4 Team
  ~ @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
  -->
<div if="isAddressDetailsVisible() && currentBillingAddress()" class="billing-address-details">
    <div class="info-name">
        <text args="currentBillingAddress().prefix"/> <text args="currentBillingAddress().firstname"/> <text args="currentBillingAddress().middlename"/> <text args="currentBillingAddress().lastname"/> <text args="currentBillingAddress().suffix"/>
    </div>
    <div class="info-address">
        <text args="_.values(currentBillingAddress().street).join(', ')"/><br/>
        <text args="currentBillingAddress().city "/>, <span text="currentBillingAddress().region"></span> <text args="currentBillingAddress().postcode"/><br/>
        <text args="getCountryName(currentBillingAddress().countryId)"/>
    </div>
    <div class="info-phone">
        <a if="currentBillingAddress().telephone" attr="'href': 'tel:' + currentBillingAddress().telephone" text="currentBillingAddress().telephone"></a>
    </div>

    <each args="data: currentBillingAddress().customAttributes, as: 'element'">
        <text args="$parent.getCustomAttributeLabel(element)"/>
        <br/>
    </each>

    <button visible="!isAddressSameAsShipping()"
            type="button"
            class="action action-edit-address btn-link btn-link-sm"
            click="editAddress">
        <i class="module-icon">
            <svg class="icon icon-sm ico-pen"><use data-bind="attr: { 'xlink:href': require.toUrl('') + 'images/icons-sprite.svg#ico-pen' }" xlink:href=''></use></svg>
        </i>
        <span translate="'Edit'"></span>
    </button>
</div>