<!--
  ~ @author Interactiv4 Team
  ~ @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
  -->
<div class="billing-address-form">
    <!-- ko foreach: getRegion('before-fields') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->
    <form data-bind="attr: {'data-hasrequired': $t('* Required Fields')}" class="form columns">
        <div class="fieldset address billing-new-address-form" data-form="billing-new-address"
             data-bind="attr: { id:'billing-new-address-form-'+index, value:index}">
            <!-- ko foreach: getRegion('additional-fieldsets') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
            <!-- ko if: (isCustomerLoggedIn && customerHasAddresses) -->
            <div class="choice field">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="checkbox custom-control-input"  data-bind="checked: saveInAddressBook, attr: {id: 'billing-save-in-address-book-' + getCode($parent)}" />
                    <label class="custom-control-label" data-bind="attr: {for: 'billing-save-in-address-book-' + getCode($parent)}" >
                        <span data-bind="i18n: 'Save in address book'"></span>
                    </label>
                </div>
            </div>
            <!-- /ko -->
        </div>
    </form>
</div>