<!--
  ~ @author Interactiv4 Team
  ~ @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
  -->
<div class="choice field">
    <div class="label custom-control custom-checkbox" data-bind="checked: value">
        <input type="checkbox" class="checkbox custom-control-input" data-bind="checked: value, attr: { id: uid, disabled: disabled, name: inputName }, hasFocus: focused">
        <label class="custom-control-label" data-bind="attr: { for: uid }, text: description || label"></label>
    </div>

    <!-- ko if: notice -->
    <div class="field-note" data-bind="attr: {id: noticeId}"><span data-bind="text: notice"></span></div>
    <!-- /ko -->
</div>
