<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Review\Block\Product\Review $block */
?>
<div class="product__reviews col-12" id="reviews">
    <div class="reviews__content row">
        <div id="product-review-container" data-role="product-review" class="col-12 col-md-6 product-review-container"></div>
        <div class="active" aria-labeledby="tab-label-reviews-title"
             id="tab-label-reviews" role="tab"
             aria-controls="reviews"
             aria-selected="false" aria-expanded="true" tabindex="0">
        </div>
        <?= $block->getChildHtml() ?>
    </div>
</div>

<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Review/js/process-reviews": {
                "productReviewUrl": "<?= $block->escapeJs($block->escapeUrl($block->getProductReviewUrl())) ?>",
                "reviewsTabSelector": "#tab-label-reviews"
            }
        }
    }
</script>
