<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var Magento\Wishlist\Block\Catalog\Product\ProductList\Item\AddTo\Wishlist $block */
?>
<?php if ($block->getWishlistHelper()->isAllow()): ?>
    <a href="#"
       class="action towishlist"
       title="<?= $block->escapeHtmlAttr(__('Add to Wish List')) ?>"
       aria-label="<?= $block->escapeHtmlAttr(__('Add to Wish List')) ?>"
       data-post='<?= /* @noEscape */ $block->getAddToWishlistParams($block->getProduct()) ?>'
       data-action="add-to-wishlist"
       role="button">
        <i class="module-icon">
            <svg class="icon ico-wishlist"><use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-wishlist"></use></svg>
        </i>
        <span class="sr-only"><?= $block->escapeHtml(__('Wishlist')) ?></span>
    </a>
<?php endif; ?>
