<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

// @codingStandardsIgnoreFile

/**
 * @var \Magento\Framework\View\Element\Template $block
 */
?>

<?php
/** @var Interactiv4\Milkyway\ViewModel\Store $viewModelStore */
$viewModelStore = $block->getViewModelStore();
?>

<i class="module-icon">
    <svg class="icon ico-info-circle"><use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-info-circle"></use></svg>
</i>
<span class="question d-none d-md-flex"><?= __('Any doubts?') ?>&nbsp;</span>
<span class="phone-label d-none d-md-flex"><?= __('Call us at') ?>&nbsp;</span>
<a class="phone" href="tel:<?= $viewModelStore->getPhoneNumber() ?>"><?= $viewModelStore->getPhoneNumber() ?></a>

