<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */
?>
<button type="button"
        class="action back customization btn-link">
    <span><?= /* @escapeNotVerified */ __('Go back to product details') ?></span>
</button>
