<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

// @codingStandardsIgnoreFile

?>

<?php $_product = $block->getProduct() ?>
<?php if ($_product->isSaleable() && $block->hasOptions()):?>
    <div class="info__customize">
        <button id="bundle-slide"
                class="action primary customize btn btn-primary btn-sm btn-sm-block"
                type="button">
            <span><?= /* @escapeNotVerified */ __('Customize and Add to Cart'); ?></span>
        </button>
    </div>
<?php endif;?>
