<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

// @codingStandardsIgnoreFile

?>
<?php
/** @var \Logiscenter\ProductTabs\ViewModel\ConfigProvider $configProvider */
$configProvider = $block->getData('configProvider');
$pageSize = $configProvider ? $configProvider->getPageSize() : null;
?>
<?php if ($detailedInfoGroup = $block->getGroupSortedChildNames('detailed_info', 'getChildHtml')):?>
    <div class="product__extra col-12">
        <?php $layout = $block->getLayout(); ?>
        <div class="tabs" data-mage-init='{"productTabs":{"openedState":"active", "limit":"<?= $pageSize ?>"}}'>
            <div class="tabs__heading">
                <?php foreach ($detailedInfoGroup as $name):?>
                    <?php
                    $html = $layout->renderElement($name);
                    if (!trim($html)) {
                        continue;
                    }
                    $alias = $layout->getElementAlias($name);
                    $label = $block->getChildData($alias, 'title');
                    $pageSize = $block->getChildData($alias, 'pageSize');
                    $isCustomTab = $block->getChildData($alias, 'isCustomTab');
                    ?>
                    <h2 class="tabs__title h4 <?= /* @escapeNotVerified */ ($isCustomTab) ? 'is-custom-tab' : '' ?>"
                         aria-labeledby="tab-label-<?= /* @escapeNotVerified */ $alias;?>-title"
                         id="tab-label-<?= /* @escapeNotVerified */ $alias;?>"
                         data-container="tabs-title"
                         data-alias="<?= /* @escapeNotVerified */ $alias;?>"
                         data-page-size="<?= /* @escapeNotVerified */ $pageSize;?>"
                         data-role="collapsible">
                        <a class="tabs__switch"
                           tabindex="-1"
                           data-toggle="switch"
                           href="#<?= /* @escapeNotVerified */ $alias; ?>"
                           id="tab-label-<?= /* @escapeNotVerified */ $alias;?>-title">
                            <?= /* @escapeNotVerified */ $label; ?>
                        </a>
                    </h2>
                <?php endforeach;?>
            </div>
            <?php foreach ($detailedInfoGroup as $name):?>
                <?php
                $html = $layout->renderElement($name);
                if (!trim($html)) {
                    continue;
                }
                $alias = $layout->getElementAlias($name);
                $pageSize = $block->getChildData($alias, 'pageSize');
                $isCustomTab = $block->getChildData($alias, 'isCustomTab');
                ?>
                <div class="tabs__content <?= /* @escapeNotVerified */ ($isCustomTab) ? 'is-custom-tab' : '' ?>"
                     id="<?= /* @escapeNotVerified */ $alias; ?>"
                     data-alias="<?= /** @escapeNotVerified */ $alias; ?>"
                     data-page-size="<?= /* @escapeNotVerified */ $pageSize;?>"
                     data-container="tabs-content"
                     data-role="content">
                    <?= /* @escapeNotVerified */ $html; ?>
                </div>
            <?php endforeach;?>
        </div>
    </div>
<?php endif; ?>
