<?php

/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

/**
 * Table grouped product data template
 *
 * @var $block \Magento\GroupedProduct\Block\Product\View\Type\Grouped
 */
?>
<?php $_product = $block->getProductGrouped(); ?>

<div class="table-wrapper grouped">
    <div class="table data grouped grouped--full-width">
        <div class="grouped__header">
            <div class="grouped__header-product__col grouped__col col name d-none">
                <?= $block->escapeHtml(__('Product Name')) ?>
            </div>
            <?php if ($block->getCanShowProductPrice($_product)): ?>
                <div class="grouped__header-product__col grouped__col col price d-none">
                    <?= $block->escapeHtml(__('Price')) ?>
                </div>
            <?php endif; ?>
            <?php if ($_product->isSaleable()): ?>
                <div class="grouped__header-product__col grouped__col col qty d-none">
                    <?= $block->escapeHtml(__('Quantity')) ?>
                </div>
                <div class="grouped__header-product__col grouped__col col actions d-none"></div>
            <?php endif; ?>
        </div>
    </div>
</div>
