<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * New Customer block template
 *
 * @var $block \Magento\Customer\Block\Form\Login\Info
 */
?>
<?php if ($block->getRegistration()->isAllowed()): ?>
    <div class="block block-new-customer col-12 col-md-5 offset-md-1">
        <div class="block-container">
            <div class="block-title">
                <h2 id="block-new-customer-heading" role="heading" aria-level="2" class="h1">
                    <?= __('Create an account') ?>
                </h2>
            </div>
            <div class="block-content" aria-labelledby="block-new-customer-heading">
                <div class="block-note body2">
                    <p class="body2"><?= __('Be part of our family! Creating an account will help you manage your orders and checkout quickly and easily and it has many benefits:') ?></p>
                    <ul>
                        <li class="icon-check"><?= __('Track orders') ?></li>
                        <li class="icon-check"><?= __('Check out faster') ?></li>
                        <li class="icon-check"><?= __('Keep more than one address') ?></li>
                        <li class="icon-check"><?= __('And much more!') ?></li>
                    </ul>
                </div>
                <div class="actions-toolbar">
                    <div class="primary">
                        <a href="<?= /* @escapeNotVerified */ $block->getCreateAccountUrl() ?>"
                           class="action create btn btn-primary btn-sm-block">
                            <span><?= /* @escapeNotVerified */ __('Create an account') ?></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<?php endif; ?>
