<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<div class="container-fluid" data-bind="scope: 'messages'">
    <!-- ko if: cookieMessages && cookieMessages.length > 0 -->
    <div role="alert" data-bind="foreach: { data: cookieMessages, as: 'message' }" class="messages">
        <div data-bind="attr: {
            class: 'message-' + message.type + ' ' + message.type + ' message',
            'data-ui-id': 'message-' + message.type
        }">
            <div data-bind="html: message.text"></div>

            <button class="icon icon-close action-close close" type="button">
                <i class="module-icon">
                    <svg class="icon ico-close">
                        <use data-bind="attr: { 'xlink:href': require.toUrl('') + 'images/icons-sprite.svg#ico-close' }" xlink:href=''></use>
                    </svg>
                </i>
            </button>
        </div>
    </div>
    <!-- /ko -->
    <!-- ko if: messages().messages && messages().messages.length > 0 -->
    <div role="alert" data-bind="foreach: { data: messages().messages, as: 'message' }" class="messages">
        <div data-bind="attr: {
            class: 'message-' + message.type + ' ' + message.type + ' message',
            'data-ui-id': 'message-' + message.type
        }">
            <div data-bind="html: message.text"></div>
            <button class="icon-close action-close close" type="button">
                <i class="module-icon">
                    <svg class="icon ico-close">
                        <use data-bind="attr: { 'xlink:href': require.toUrl('') + 'images/icons-sprite.svg#ico-close' }" xlink:href=''></use>
                    </svg>
                </i>
            </button>
        </div>
    </div>
    <!-- /ko -->
</div>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                        "messages": {
                            "component": "Magento_Theme/js/view/messages"
                        }
                    }
                }
            }
    }
</script>
