<!--
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */
-->
<if args="isAllowed()">
    <a if="imageExists($row())"
       class="product__photo photo"
       attr="href: $row().url">
        <div class="photo__container">
            <div class="photo__wrapper">
                <img class="photo__image"
                     data-bind="attr: {src: getImageUrl($row()),
                                       alt: getLabel($row())}" />
            </div>
        </div>
    </a>
</if>
