<!--
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */
-->
<if args="isAllowed()">
    <a class="product__photo photo"
       attr="href: $row().url">
        <img if="imageExists($row())"
             class="photo__image"
             attr="src: getImageUrl($row()),
               alt: getLabel($row())"/>
    </a>
</if>

