.advantages {
  background-color: $background-1;
  margin-bottom: 56px;
  &__container {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0;
  }
  &__item {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    max-width: 20%;
    justify-content: center;
    margin: 0 8px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &__icon {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: $white;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: 2px solid $color-custom-1;
    margin-top: 1px;
    .module-icon {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      align-content: center;
      svg {
        fill: $color-custom-1;
      }
    }
    + .advantages__content {
      margin-left: 12px;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-weight: $font-weight-semiBold;
    color: $color-custom-1;
  }
}

@include media-breakpoint-down(md) {
  .advantages {
    &__container {
      padding-top: 8px;
      padding-bottom: 8px;
    }
    &__list {
      flex-wrap: wrap;
    }
    &__item {
      margin: 16px 8px;
      max-width: calc(33.33% - 24px);
      &:first-child {
        margin-left: 12px;
      }
      &:last-child {
        margin-right: 12px;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .advantages {
    &__container {
      padding-top: 16px;
      padding-bottom: 16px;
    }
    &__item {
      flex-direction: column;
      align-items: center;
      margin: 8px;
      &:first-child {
        margin-left: 8px;
      }
      &:last-child {
        margin-right: 8px;
      }
    }
    &__icon {
      width: 32px;
      height: 32px;
      .module-icon {
        svg {
          width: 20px;
          height: 20px;
        }
      }
      + .advantages__content {
        margin-left: 0;
        margin-top: 4px;
      }
    }
    &__content {
      font-size: 12px;
      text-align: center;
    }
    &__description {
      display: none;
    }
  }
}
