.aw_blog-index-index,
.aw_blog-post-view,
.aw_blog-author-view,
.aw_blog-category-view {
  .blog-sidebar-block {
    border-top: 1px solid $grey-light;
    padding-top: 12px;
    padding-left: 12px;
    margin-bottom: 32px;

    .block-title {
      font-weight: $font-weight-semiBold;
      font-size: $font-size-body2;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-bottom: 24px;
    }

    .block-content {
      font-size: $font-size-body3;
      line-height: $font-size-body3 + 6px;

      .block-category-listing-item,
      .block-recent-posts-item {
        margin-bottom: 12px;
      }
    }
  }
}