.recent-posts {
  background-color: $background-1;
  padding-top: 72px;
  padding-bottom: calc(72px - 15px);

  &__heading {
    margin-bottom: calc(32px - 15px);
  }

  &__title {
    margin-bottom: 0;
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 0;
    width: calc(100% + 30px);
    margin-left: -15px;
    overflow: hidden;
  }

  &__item {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    max-width: calc(33.33% - 30px);
    justify-content: center;
    margin: 15px;

    &__information {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      background-color: $white;
      padding: 24px 16px 32px 16px;
      min-height: 190px;
    }

    &__button {
      margin-top: 16px;
    }
  }
}

@include media-breakpoint-down(md) {
  .recent-posts {
    padding-top: calc(56px);
    padding-bottom: calc(56px - 15px);
    &__list {
      padding-bottom: 20px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .recent-posts {
    padding-top: 56px;
    padding-bottom: 56px;

    &__heading {
      margin-bottom: 32px;
    }

    &__list {
      width: 100%;
      margin-left: 0;
      padding-bottom: 32px;
    }

    &__item {
      margin: 0;
    }

  }
}
