.amscroll-arrow-icon {
  content: '';
  display: block;
  width: 20px;
  height: 10px;
  background: url('../images/icons-sprite.svg#ico-chevron-down-inverse') no-repeat center;
}

.amscroll-backtotop-block,
.amscroll-load-button {
  @extend .btn;
  @extend .btn-primary;

  min-width: auto;
}

.amscroll-load-button {
  display: block;
  margin: 0 auto 20px;

  .amscroll-loading-icon {
    display: none;
  }
}

.amscroll-loading-icon {
  display: block;
  margin: 0 auto;
}

.amscroll-backtotop-block {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 25px;
  bottom: 33px;
  z-index: 9999;
  transition: right .2s;

  &.-desktop-arrow {
    padding: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transform: none;

    &::after {
     @extend .amscroll-arrow-icon;
      transform: rotate(180deg);
    }

    .amscroll-text {
      display: none;
    }
  }

  &.-desktop-text {
    padding: 10px;
    border-radius: 8px;
    transform: rotate(-90deg) translate(60px, 60px);

    &::after {
      @extend .amscroll-arrow-icon;
      transform: rotate(-90deg);
    }
  }

  &:not(.-amscroll-active) {
    right: -60px;
  }
}

.amscroll-text {
  pointer-events: none;
  user-select: none;
}

.am-scroll-enabled {
  .pages {
    display: none;
  }
}

@include media-breakpoint-down(md){
  .amscroll-backtotop-block{
    &.-mobile-arrow {
      padding: 0;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      transform: none;

      &::after {
        transform: rotate(180deg);
      }

      .amscroll-text {
        display: none;
      }
    }

    &.-mobile-text {
      padding: 10px;
      border-radius: 8px;
      transform: rotate(-90deg) translate(60px, 60px);
      width: auto;
      height: auto;

      &::after {
        transform: rotate(-90deg);
      }

      .amscroll-text {
        display: block;
      }
    }
  }
}