.catalog-product-view {
  .ambanners {
    margin-top: 32px;
    width: 100%;

    .banner-content {
      max-width: 515px;
    }

    .product-promo-baner {
      margin-bottom: -8px;
      background: $background-4;
      border: 2px solid $danger;
      border-radius: 8px;
      padding: 24px 64px 24px 24px;

      .promo {
        &-title,
        &-description {
          padding-left: 55px;
        }

        &-title {
          color: $danger;
          margin-bottom: 2px;
        }

        &-info {
          font-size: $font-size-body3;
          margin-bottom: 0;
        }

        &-title-wrapper {
          position: relative;
        }
      }

      .module-icon {
        position: absolute;
        top: 3px;
        left: 0;

        .icon {
          width: 41px;
          height: 41px;
        }
      }
    }

    .block {
      display: none;
    }
  }
}

@include media-breakpoint-down(lg) {
  .catalog-product-view {
    .ambanners {
      .product-promo-baner {
        padding: 24px;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .catalog-product-view {
    .ambanners {
      .product-promo-baner {
        .promo {
          &-title,
          &-description {
            margin-bottom: 8px;
          }

          &-description {
            padding-left: 0;
          }

          &-title {
            max-width: 89%;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  .catalog-product-view {
    .ambanners {
      .product-promo-baner {
        padding: 20px;

        .promo {
          &-title {
            font-size: $h4-font-size;
            max-width: 300px;
          }
        }
      }
    }
  }
}