.brands-slider {
  margin-bottom: 72px;

  &__items {
    margin-bottom: 0;

    &.slick-slider {
      .slick-arrow {
        &.slick-prev {
          left: -5px;
        }

        &.slick-next {
          right: -5px;
        }
      }

      .slick-list {
        margin: 0 20px;
      }
    }
  }

  .item {
    &__image img {
      margin: 0 auto;
    }
  }
}
