.amslider  {
  .children-category-container {
    margin: 0 auto;
    overflow: hidden;

    .item-link,
    .slide {
      max-width: inherit;
      flex-basis: auto;
      text-decoration: underline;
      text-transform: uppercase;
      margin-bottom: 0;
      display: flex;
      flex-shrink: 0;

      &:hover {
        text-decoration: underline;
        color: $blue;
      }

      .category-item {
        border: 0;

        &-title {
          font-weight: $font-weight-normal;
        }

        &:hover {
          box-shadow: none;
        }
      }
    }

    .swiper-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 1;
      display: flex;
      transition-property: transform;
      box-sizing: content-box;
    }
  }
}
.ambrand-index-index {
  .catalog-topnav {
    display: block;

    .filter-options-title,
    .filter-subtitle{
      display: none;
    }

    .filter-options {
      border: 0;
      display: block;
      margin-top: 20px;
      overflow: auto;

      .filter-options-content {
        display: block !important;
        position: relative;
        border: 0;
        background: 0;
        margin: 0;
        padding: 0;
        z-index: 0;
      }

      .filter-options-item {
        display: block;
        padding-bottom: 0 !important;
      }
    }

    .filter {
      .option {
        .items {
          display: block;
          text-align: center;
        }

        .item {
          margin-bottom: 0;
          display: inline-block;

          .count {
            display: none;
          }

          a {
            text-transform: uppercase;
            font-size: $font-size-body2;
            text-decoration: underline;
            padding: 0 10px;

            &:before {
              display: none;
            }

            &.am_shopby_link_selected:after {
              display: none;
            }
          }
        }
      }
    }
  }
}
@include media-breakpoint-down(md) {
  .ambrand-index-index {
    .catalog-topnav {
      .filter__title {
        display: none;
      }
    }
  }
}
