.ambrands-menu-item {
  .ambrands {
    &-list-popup {
      top: 100%;
      left: auto;
      right: 0;
      width: 100%;
    }

    &-list-container {
      display: flex;
      flex-direction: row;
      max-width: 1200px;
      padding-left: 30px;
      padding-right: 30px;
      margin-left: auto;
      margin-right: auto;
    }

    &-popup-filter {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .ambrands-letter {
        &.-letter-all {
          @extend .btn-link;
          @extend .btn-link-sm;
          text-decoration: underline;
          justify-content: center;
          order: 100;

          &.-active {
            background-color: transparent;
          }

          &:hover {
            text-decoration: underline;
          }
        }

        &.-active {
          background-color: $secondary;
        }

        &.-disabled {
          text-decoration: line-through;
        }
      }
    }

    &-popup-items {
      .brands-letter {
        .letter {
          padding-left: 10px;

          .title {
            background: none;
            font-size: $font-size-body2;
            color: $primary;
          }
        }

        .brand-item {
          img {
            max-height: initial;
            padding: 0 15px;
          }

          .label {
            font-weight: $font-weight-semiBold;
          }

          .count {
            background: $secondary;
          }
        }
      }
    }
  }
}

