form.amform-form {
  .amcform-submit,
  .amcform-next {
    @extend .btn;
    @extend .btn-primary;
  }

  .amcform-prev {
    @extend .btn;
    @extend .btn-secondary;
  }

  .amcform-toolbar {
    .grecaptcha-badge {
      position: static !important;
    }
  }

  input[type="number"] {
    max-width: 100%;
  }

  .form-group {
    .label {
      .required {
        display: none;
      }
    }
  }

  .radio-group {
    @extend .custom-control;
    @extend .custom-radio;

    .amform-radio {
      @extend .custom-control-input;
    }

    .amform-versiontwo-label {
      @extend .custom-control-label;
    }
  }

  .amform-date {
    @extend .form-control;
    width: auto;
    display: inline-block;
  }

  .ui-datepicker-trigger {
    border: 0;
    background: none;
    vertical-align: middle;

    &::before {
      content: '';
      width: 24px;
      height: 24px;
      display: inline-block;
      background: url(../images/icons/ico-calendar.svg) no-repeat center;
      background-size: cover;
    }
  }

  .field.form-group {
    margin-bottom: 0 !important;
  }

  .action.primary.amcform-submit {
    margin-top: 24px;
    margin-bottom: 8px;
    width: 100%;
    padding: 11px 32px;
  }
}
