.amlabel-position-wrapper {
  width: auto !important;
  height: auto !important;
}

.amasty-label-container {
  width: auto !important;
  height: auto !important;
}


.amasty-label-text {
  position: relative !important;
  padding: 4px 12px !important;
}
