.recent-posts-widget {
  padding-top: 72px;
  padding-bottom: 72px;
  background-color: $background-1;

  &.amblog-element-block {
    border: none;
    margin-bottom: 0;
    box-shadow: none;
    border-radius: 0;

    .recent-posts {
      &__list {
        margin-bottom: 0;

        .slick-dots {
          bottom: -40px;
        }
      }

      &__item {
        display: flex;
        flex-direction: column;
        padding: 0 15px;
      }

      &__content {
        font-size: $font-size-body2;
        background-color: $white;
        padding: 22px 45px 32px;
        text-align: center;
        height: 100%;
      }

      &__name {
        display: block;
      }

      &__thesis {
        margin: 0 0 8px;
      }

      &__link {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .icon {
          width: 6px;
          height: 6px;
          margin-left: 8px;
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .recent-posts-widget {
    padding-top: 48px;
    padding-bottom: 80px;

    &.amblog-element-block {
      .recent-posts {
        &__content {
          padding: 22px 26px 32px;
        }
      }
    }
  }
}
