.tabs {
  .product-attachment-container {
    padding: 0;
    margin: 0;

    .downloads-item {
      margin: 0 0 15px;

      .item-link,
      .item-info {
        vertical-align: sub;
      }

      .item-icon {
        vertical-align: top;
        padding-top: 0;
      }

      .item-description {
        padding-left: 24px;
      }
    }
    .link {
      color: $black;
      font-weight: bold;
      cursor: pointer;
    }
  }
}
