.availability-message {
  position: relative;
  display: flex;
  flex-direction: row;

  &__text {
    display: block;
    text-align: center;

    &--static {
      background: $background-1;
      border-radius: 4px;
      font-size: $font-size-body2;
      font-weight: $font-weight-semiBold;
      padding: 6px 8px;
      color: $color-custom-1;
    }

    &--action {
      min-width: inherit;
    }
  }

  &__tooltip {
    position: absolute;
    width: 16px;
    height: 16px;
    right: -24px;
    top: 0;
    bottom: 0;
    margin: auto;

    &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      .module-icon {
        display: flex;
        justify-content: center;
        align-items: center;

        .icon {
          width: 16px;
          height: 16px;
        }
      }
    }

    &__text {
      display: none;
      background: $color-custom-3;
      border-radius: 4px;
      font-size: $font-size-body3;
      font-weight: $font-weight-normal;
      padding: 12px;
      color: $white;
      top: -14px;
      left: calc(-200px - 16px);
      position: absolute;
      width: 200px;
      z-index: $zindex-dropdown;

      &::before {
        content: '';
        display: block;
        border: 10px solid $color-custom-3;
        border-top-color: transparent;
        border-bottom-color: transparent;
        border-right-color: transparent;
        position: absolute;
        right: -20px;
        top: 12px;
      }
    }

    &:hover {
      .availability-message__tooltip__text {
        display: block;
      }
    }

    &.t-align--rm {
      .availability-message__tooltip {
        &__text {
          left: auto;
          right: calc(-200px - 16px);

          &::before {
            border-right-color: $color-custom-3;
            border-left-color: transparent;
            border-top-color: transparent;
            border-bottom-color: transparent;
            left: -20px;
            right: auto;
          }
        }
      }
    }

    &.t-align--lm {
      right: auto;
      left: -24px;

      .availability-message__tooltip {
        &__text {
          left: calc(-200px - 16px);
        }
      }
    }
  }

  &.availability-message--grid {
    display: block;

    .availability-message {
      &__text {
        font-size: $small-font-size;
        padding: 10px 16px;
      }
    }
  }

  &.in-stock {
    .availability-message__text {
      background-color: rgba($success, 0.3);
    }
  }

  &.no-stock {
    .availability-message__text {
      background: rgba($warning, 0.3);
    }
  }

  &.availability-message--product-list {
    &.action {
      .availability-message__text {
        border-radius: unset;
        padding: unset;
        background-color: transparent;
        text-transform: uppercase;
        color: $primary;

        &:hover {
          color: $color-custom-3;
        }
      }
    }

    &.in-stock {
      .availability-message__text {
        border-radius: unset;
        padding: unset;
        background-color: transparent;
        color: $success;
      }
    }

    &.no-stock {
      visibility: hidden;

      .availability-message__text {
        border-radius: unset;
        padding: unset;
        background-color: transparent;
        color: $danger;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .availability-message {
    &__tooltip {
      &.t-align-md--rt {
        right: -24px;
        left: auto;

        .availability-message__tooltip {
          &__text {
            right: -24px;
            left: auto;
            top: 28px;
            bottom: auto;

            &::before {
              border-right-color: transparent;
              border-left-color: transparent;
              border-top-color: transparent;
              border-bottom-color: $color-custom-3;
              left: auto;
              right: 22px;
              top: -20px;
            }
          }
        }
      }
    }
  }
}

.block-availability-info {
  &__heading {
    margin-bottom: 32px;

    a {
      text-decoration: underline;
      @include transition(all, 0.3s);

      &:hover {
        color: $color-custom-3;
        text-decoration: underline;
      }
    }
  }
}

.modal-popup {
  &.modal-availability-info {
    .modal-inner-wrap {
      min-width: 300px;
      max-width: 400px;
    }

    .modal-header {
      min-height: 62px;
    }

    .modal-footer {
      .action.primary {
        width: 100%;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .availability-message {
    &__tooltip {
      &.t-align-md--rt {
        right: -24px;
        left: auto;

        .availability-message__tooltip {
          &__text {
            right: -24px;
            left: auto;
            top: 28px;
            bottom: auto;

            &::before {
              border-right-color: transparent;
              border-left-color: transparent;
              border-top-color: transparent;
              border-bottom-color: $color-custom-3;
              left: auto;
              right: 22px;
              top: -20px;
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .availability-message {
    &__tooltip {
      &.t-align-sm--rt {
        right: -24px;
        left: auto;

        .availability-message__tooltip {
          &__text {
            right: -24px;
            left: auto;
            top: 28px;
            bottom: auto;

            &::before {
              border-right-color: transparent;
              border-left-color: transparent;
              border-top-color: transparent;
              border-bottom-color: $color-custom-3;
              left: auto;
              right: 22px;
              top: -20px;
            }
          }
        }
      }
    }
  }
}