.brands-grid {
  padding-bottom: 16px;

  &__heading {
    margin-bottom: 32px;
  }

  &__container {
    overflow: hidden;
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: calc(100% + 16px);
    margin-left: -8px;
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: calc(12.5% - 16px);
    min-height: 130px;
    background-color: $background-1;
    margin: 8px;
  }

  &__link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  &__image {
    width: auto;
    max-width: 100%;
    padding: 8px;
    display: block;
  }

  &__toolbar {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

@include media-breakpoint-down(lg) {
  .brands-grid {
    &__item {
      width: calc(16.66% - 16px);
      min-height: 120px;
    }
  }
}

@include media-breakpoint-down(md) {
  .brands-grid {
    &__item {
      width: calc(20% - 16px);
      min-height: 110px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .brands-grid {
    &__heading {
      margin-bottom: 16px;
    }

    &__item {
      width: calc(25% - 16px);
      min-height: 100px;
    }

    &__toolbar {
      margin-top: 16px;
    }
  }
}

@include media-breakpoint-down(xs) {
  .brands-grid {
    &__item {
      width: calc(33.33% - 16px);
      min-height: 90px;
    }
  }
}