.cart-items {
  margin-bottom: 0;

  &-header {
    display: grid;
    grid-template-areas: "title price total";
    grid-template-columns: 50% 30% 20%;
    grid-template-rows: max-content;
    padding-right: 16px;

    &__item {
      padding: 0 5px 4px;
      font-size: $font-size-body2;
      text-transform: uppercase;
    }

    &__title {
      grid-area: title;
      padding-left: 0;
    }

    &__info {
      width: 100%;
      grid-area: info;
    }

    &__price {
      grid-area: price;
      text-align: center;

      &--subtotal {
        grid-area: total;
        text-align: right;
        padding-right: 0;
      }
    }
  }

  .item {
    padding: 16px 16px 16px 0;
    display: grid;
    grid-template-areas: "photo name price qty total"
    "photo info price qty total"
    "photo actions price qty total";
    grid-template-columns: 16% 44%;

    &:first-child {
      border-top: 1px solid $grey-light;
    }

    &__photo {
      width: auto;
      margin-right: 20px;
      margin-top: 4px;
      grid-area: photo;
      display: flex;
      align-items: center;
    }

    &__info {
      width: 100%;
      grid-area: info;
      margin-bottom: 10px;
    }

    &__options {
      &--item {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        &-label {
          &::after {
            content: ':';
            margin-right: 5px;
          }
        }
      }
    }

    &__name {
      margin: 0 10px 10px 0;
      grid-area: name;
      max-width: 320px;
      line-height: 24px;
    }

    &__actions {
      grid-area: actions;
      display: flex;

      .action {
        display: inline-flex;
        margin-right: 15px;

        span {
          font-size: $font-size-body2;
        }

        &-edit,
        &-towishlist {
          display: none;
        }

        &:last-child {
          margin-right: 0;
        }

        .module-icon {
          margin-right: 7px;
          line-height: 19px;

          .icon {
            width: 13px;
            height: 13px;
            fill: $grey-medium;
          }
        }
      }

      a {
        text-decoration: underline;
      }
    }

    &__price {
      grid-area: price;

      &--subtotal {
        grid-area: total;
        justify-content: flex-end;
        text-align: right;
        font-weight: $font-weight-semiBold;
      }
    }

    &__qty {
      grid-area: qty;
    }
  }
}

@include media-breakpoint-down(sm) {
  .cart-items {
    &-header {
      display: none;
    }

    .item {
      grid-template-areas: "photo name name"
      "photo info info"
      "photo qty total"
      "photo actions actions";
      grid-template-columns: 110px 1fr;

      &__photo {
        align-items: flex-start;
        width: 96px;
        margin-right: 15px;
      }

      &__name {
        margin-top: 0;
        font-size: $h5-font-size;
        margin-bottom: 6px;
      }

      &__info {
        font-size: 14px;
        margin-bottom: 0;
      }

      &__qty {
        display: flex;
        align-items: center;
      }

      &__price {
        margin-top: 0;
        width: auto;

        &--price {
          display: none;
        }

        &--subtotal {
          display: flex;
          align-items: center;
          font-weight: $font-weight-normal;
          font-size: $font-size-body2;
        }
      }

      &__actions {
        margin-top: 8px;
      }
    }
  }
}
