.cart-summary {
  order: 2;
  background-color: $background-1;
  padding: 106px 11px 95px 6%;
  @include media-breakpoint-up(lg) {
    flex: 0 0 27%;
    max-width: 27%;
  }

  &:after {
    content: '';
    position: absolute;
    width: 100vw;
    background: $background-1;
    top: 0;
    right: -100vw;
    height: 100%;
    z-index: -1;
  }

  &__title {
    padding-bottom: 8px;
    margin-bottom: 0;
    font-size: $h4-font-size;
  }

  &__totals {
    .table,
    .table-totals {
      margin-bottom: 0;
      font-size: 14px;
      border-top: 1px solid $primary;

      .mark {
        padding-bottom: 0;
        &:after {
          content: ':';
        }
      }

      .amount {
        padding-bottom: 0;
      }

      .totals-tax {
        //display: none;
      }

      .totals-tax-details {
        display: none;
      }

      .sub {
        margin-top: 16px;
      }

      .shipping {
        .mark {
          &:after {
            display: none;
          }
        }

        .label {
          font-weight: $font-weight-normal;

          &:after {
            content: ':';
          }
        }
      }

      .grand {
        border-top: 1px solid $primary;
        margin-top: 21px;
        padding: 8px 8px 16px;
        background-color: $white;

        .mark {
          &:after {
            display: none;
          }

          strong {
            &:after {
              content: ':';
            }
          }
        }

        .amount {
          font-size: $font-size-body2;
        }
      }

      tr {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 8px;

        &.totals.charge {
          display: none;
        }
      }

      th,
      td {
        border-top: none;
        font-weight: $font-weight-normal;
      }
    }
  }

  &__methods {
    margin-top: 15px;
    margin-bottom: 0;
    text-align: center;

    .item + .item {
      margin-top: 15px;
    }
    .btn {
      &.checkout {
        min-width: auto;
      }
    }
  }

  &__back {
    margin-top: 12px;
    .btn {
      &.continue {
        min-width: auto;
        background: none;
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .cart-summary {
    padding-left: 20px;
  }
}

@include media-breakpoint-down(md) {
  .cart-summary {
    padding: 50px 20px 60px;
  }
}

@include media-breakpoint-down(sm) {
  .cart-summary {
    padding: 40px 20px;
    margin-bottom: 80px;

    &__title {
      padding-bottom: 11px;
    }

    &__methods {
      margin-top: 40px;
    }
  }
}
