.categories-grid {
  &__heading {
    margin-bottom: 32px;
  }

  &__list {
    margin-bottom: 0;
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 16px;
    border-radius: 8px;
    @include transition(all, 0.3s);

    &:hover {
      box-shadow: $box-shadow-2;

      .categories-grid__button {
        color: $color-custom-3;

        &::after {
          @include getIconArrowRight(#{$color-custom-3});
        }
      }
    }
  }

  &__link {
    display: flex;
    flex-direction: row;
  }

  &__image {
    width: 136px;
    height: 136px;

    + .categories-grid__content {
      margin-left: 16px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    overflow: hidden;
  }

  &__title {
    font-weight: $font-weight-semiBold;
    color: $color-custom-1;
    margin-bottom: 4px;
  }

  &__description {
    color: $grey-medium;
  }

  &__button {
    margin-top: 8px;
  }
}

@include media-breakpoint-down(sm) {
  .categories-grid {
    &__image {
      width: 96px;
      height: 96px;
    }
  }
}
