.address-list {
  .address-item {
    margin-bottom: 24px;

    .item-inner {
      position: relative;
      border: 1px solid transparent;
      box-shadow: 0 0 0 1px $grey-light;
      border-radius: $border-radius;
      padding: 24px;
      height: 100%;
      cursor: pointer;
      font-size: $font-size-body2;
      @include transition(all, 0.3s);

      &:hover {
        box-shadow: $box-shadow-3;
      }

      .info-address-selected {
        display: flex;
        color: $color-custom-1;
        font-size: $font-size-body2;
      }

      .info-name {
        font-weight: $font-weight-semiBold;
      }

      .info-phone {
        margin-top: 5px;
      }

      .info-action {
        display: flex;
        justify-content: space-between;
        margin-top: 18px;

        .module-icon {
          margin-right: 8px;
        }
      }
    }

    &.selected-item {
      .item-inner {
        border: 1px solid $color-custom-1;
        box-shadow: 0 0 0 1px $color-custom-1;
        cursor: inherit;
      }

      .action-select-shipping-item {
        opacity: 0;
      }
    }

    &.new-item {
      .item-inner {
        padding: 0;

        .module-icon {
          margin-right: 8px;
        }

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          min-height: 100px;
          background-color: $white;
          border-radius: $border-radius;
          padding: 0;
          border: none;
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .address-list {
    .address-item {
      margin-bottom: 16px;
    }
  }
}
