.checkout-steps {
  margin-bottom: 50px;
  display: flex;
  border-bottom: 1px solid $grey-light;

  .item {
    display: flex;
    align-items: center;

    &__title {
      position: relative;
      color: $grey-medium;
      text-transform: uppercase;
      white-space: nowrap;
      padding: 16px 0;
      height: 100%;

      &:before {
        content: '';
        display: block;
        bottom: -3px;
        left: 0;
        width: 0;
        height: 6px;
        background-color: $color-custom-1;
        position: absolute;
        @include transition(all, 0.3s);
      }
    }

    &:after {
      content: '';
      display: block;
      width: 68px;
      margin: 0 16px;
      border-bottom: 1px solid $grey-light;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }

    &.item--active {
      .item__title {
        font-weight: $font-weight-semiBold;
        color: $color-custom-1;

        &:before {
          width: 100%;
        }
      }
    }

    &.item--complete {
      cursor: pointer;

      .item__title {
        font-weight: $font-weight-semiBold;
        color: $primary;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .checkout-steps {
    margin-bottom: 32px;
  }
}

@include media-breakpoint-down(sm) {
  .checkout-steps {
    justify-content: space-between;
    .item {
      &:after {
        width: 0;
        margin: 0;
      }
    }
  }
}
@include media-breakpoint-down(xs) {
  .checkout-steps {
    .item {
      align-items: flex-start;
      min-width: 27%;

      &:first-child {
        margin-right: 15px;
      }

      &__title {
        line-height: 15px;
        text-align: right;
      }

      &:last-child {
        .item__title {
          white-space: break-spaces;
        }
      }
    }
  }
}
