//List of products in sidebar and in overview
.items-in-cart {
  order: 2;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $font-size-body3;
    color: $grey-medium;
    cursor: pointer;
    padding-bottom: 12px;

    strong {
      font-weight: $font-weight-normal;
    }

    &::after {
      content: '';
      display: inline-flex;
      width: 20px;
      height: 20px;
      background: url(../images/icons-sprite.svg#ico-chevron-down) no-repeat center;
      @include transition(all, 0.3s);
    }
  }

  &.active {
    .title {
      &::after {
        transform: rotate(180deg);
      }
    }
  }

  .content {
    background-color: $white;
    border-top: 1px solid $primary;

    .minicart-items {
      margin-bottom: 0;

      &-wrapper {
        max-height: 370px;
        padding: 0 10px;
        overflow-x: auto;
      }
    }

    .product-item {
      padding: 12px 0;
      font-size: $font-size-body3;
      border-bottom: 1px solid $grey-light;

      &:last-child {
        border-bottom: none;
      }

      > .product {
        position: relative;
        display: flex;
        justify-content: flex-start;
      }

      .product-image-container {
        max-width: 50px;

        img {
          height: auto;
        }
      }

      &__details {
        padding-left: 12px;
        flex: 1;
      }

      &__name {
        font-size: $font-size-body2;
        font-weight: $font-weight-semiBold;
        margin-bottom: 4px;
      }

      &__options {
        color: $grey-medium;
        margin-bottom: 4px;

        .toggle {
          display: flex;
          align-items: center;
          cursor: pointer;

          &::after {
            content: '';
            display: inline-flex;
            width: 14px;
            height: 14px;
            background: url(../images/icons-sprite.svg#ico-chevron-down) no-repeat center;
            @include transition(all, 0.3s);
          }
        }

        &.active {
          .toggle {
            color: $primary;

            &::after {
              transform: rotate(180deg);
            }
          }
        }

        .content {
          border: none;
        }

        .label {
          &::after {
            content: ':';
            margin-right: 5px;
          }
        }
      }

      &__qty-price {
        display: flex;
        justify-content: space-between;
      }

      &__qty-price-unit {
        .label {
          &::after {
            content: ':';
          }
        }
      }

      &__unit-price {
        display: none;
      }
    }
  }

  &.overview {
    .title {
      justify-content: flex-start;
      color: $primary;
      cursor: initial;
      padding-bottom: 8px;
      margin-bottom: 0;
      font-size: $h3-font-size;
      pointer-events: none;

      &::after {
        display: none;
      }

      strong {
        display: flex;
        font-weight: $font-weight-semiBold;
      }

      .count {
        display: flex;
        margin-left: 5px;

        &:before {
          content: '(';
        }

        &:after {
          content: ')';
        }
      }
    }

    .content {
      display: block !important;

      .minicart-items-wrapper {
        border-bottom: 1px solid $primary;
        max-height: 100%;
      }

      .product-item {
        .product-image-container {
          max-width: 85px;
        }

        &__details {
          display: flex;
          justify-content: space-between;

          .product-item__name-options {
            width: 50%;
          }

          .product-item__qty-price {
            flex: 1;

            .subtotal {
              font-weight: $font-weight-semiBold;
            }
          }
        }

        &__options {
          .toggle {
            display: none;
          }
        }

        &__unit-price {
          display: block;
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .items-in-cart {
    &.overview {
      .content {
        .product-item {
          &__details {
            flex-direction: column;

            .product-item__name-options {
              width: 100%;
            }
          }

          &__qty-price {
            align-items: flex-end;
          }
        }
      }
    }
  }
}
