.country-switcher {
  &__inner {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  &__col {
    position: relative;

    &--background {
      width: 40%;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-custom-3;
        opacity: 0.5;
        z-index: $zindex-modal-backdrop;
      }
    }

    &--content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      flex: 1 1 auto;
      padding: 64px 24px 32px 24px;
    }
  }

  &__logo {
    img {
      min-width: 76px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    max-width: 80%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  &__select {
    min-width: 300px;
  }

  &__confirm {
    margin-top: 16px;
    min-width: 300px;
  }

  &__decline {
    margin-top: 24px;
    text-decoration: underline;

    &:hover {
      text-decoration: underline;
    }
  }

  &__flags {
    padding-top: 16px;
    width: 100%;

    &__title {
      + .country-switcher__flags__list {
        margin-top: 8px;
      }
    }

    &__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 0;
    }

    &__item {
      margin: 4px;
      cursor: pointer;
      box-shadow: 0 0 4px 0 rgba($black, 0.1);
      border-radius: 100%;
      display: block;
      @include transition(all, 0.3s);

      &:hover {
        box-shadow: 0 0 4px 0 rgba($black, 0.3);
      }
    }
  }
}

.modal-country-switcher {
  &.modal-slide,
  &.modal-popup {
    .modal-header {
      min-height: 0;
      padding: 0;
    }

    .modal-content {
      padding: 0;
    }

    .modal-inner-wrap {
      min-width: 680px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .country-switcher {
    &__select {
      min-width: inherit;
      width: 100%;
    }

    &__confirm {
      min-width: inherit;
      width: 100%;
    }
  }

  .modal-country-switcher {
    &.modal-slide,
    &.modal-popup {
      .modal-inner-wrap {
        min-width: inherit;
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  .country-switcher {
    &__col {
      &--background {
        display: none;
      }
    }
  }
}