.discount {
  &.discount-code {
    padding: 17px 0 13px;
    border-top: 1px solid $grey-light;
    border-bottom: 1px solid $grey-light;

    &.discount--active {
      padding-bottom: 47px;

      .discount__content {
        margin-top: 21px;
      }
    }
  }

  &__title {
    cursor: pointer;
    text-transform: uppercase;

    span {
      margin-right: 10px;
    }

    .icon {
      width: 6px;
      height: 6px;
    }
  }

  &__content {
    display: none;
    margin-top: 15px;

    .form-control {
      min-width: 305px;
      padding: 0.375rem 1rem;
    }

    .actions {
      .action {
        &.apply,
        &.cancel {
          border-radius: $border-radius;
          width: 111px;
          padding: 11px;
        }
      }
    }
  }

  &--active {
    .discount {
      &__title {
        .icon {
          transform: rotate(180deg);
        }
      }

      &__content {
        display: block;
      }
    }
  }

  .form-inline {
    align-items: flex-start;
  }
}

@include media-breakpoint-down(sm) {
  .discount {
    &__content {
      .coupon,
      .actions {
        width: 100%;
      }

      .actions {
        .action {
          &.apply,
          &.cancel {
            border-radius: $border-radius;
            width: 100%;
          }
        }
      }

      .coupon {
        .input-text.form-control {
          width: 100%;
          min-width: 100%;
        }
      }
    }

    &.discount-code {
      &.discount--active {
        padding-bottom: 24px;
      }
    }
  }
}
