.discontinued-message {
  display: flex;
  flex-direction: column;
  padding: 12px;
  background: $background-2;
  border: 1px solid $warning;

  &__product {
    &.btn {
      font-size: 10px;
      text-transform: uppercase;
    }
  }
}