.features {
  background-color: $white;
  padding: 72px 20px;
  color: $primary;

  &__item {
    text-align: center;

    &-inner {
      display: flex;
      justify-content: center;
      border: 1px solid $primary;
      padding: 40px;
      height: 100%;
    }

    &-content {
      max-width: 295px;
    }
  }

  .item {
    &__title {
      margin-bottom: 16px;
    }
  }
}

@include media-breakpoint-down(md) {
  .features {
    padding: 48px 5px 56px;

    .item {
      + .item {
        margin-top: 30px;
      }
    }
  }
}
