.filter {
  &__title {
    display: none;
  }

  &__subtitle {
    display: none;
  }

  .option {
    &__title {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      overflow: hidden;
      word-break: break-word;
      text-transform: uppercase;
      font-size: $font-size-body2;
      font-weight: $font-weight-semiBold;

      &::after {
        content: '';
        width: 13px;
        height: 13px;
        background: url('../images/icons/ico-plus.svg') no-repeat center;
        background-size: contain;
        display: inline-block;
        @include transition(all, 0.3s);
      }
    }

    &__item {
      border-top: 1px solid $grey-light;
      padding: 14px !important;

      &:last-child {
        border-bottom: 1px solid $grey-light;
        margin-bottom: 0 !important;
      }

      &.active {
        .option__title {
          &::after {
            background: url('../images/icons/ico-minus.svg') no-repeat center;
            background-size: contain;
          }
        }
      }
    }

    &__content {
      padding-top: 16px;
      margin-bottom: 8px;
      font-size: $font-size-body3;

      .am-shopby-form {
        padding: 0;
      }
    }

    // Only category attribute styles (only with Amasty)
    .items {
      margin-bottom: 0;

      &.am-filter-items-attr_category_ids {
        .item {
          .am-collapse-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            left: calc(100% - 17px);
            width: 24px;
            height: 24px;
            z-index: 2;

            &::after {
              content: '';
              width: 11px;
              height: 11px;
              background: url('../images/icons/ico-plus.svg') no-repeat center;
              background-size: contain;
              display: inline-block;
              @include transition(all, 0.3s);
              border: none;
              transform: none;
              top: 0;
              right: 0;
              position: relative;
              margin-top: 0;
            }

            &._active {
              &::after {
                transform: none;
                background: url('../images/icons/ico-minus.svg') no-repeat center;
                background-size: contain;
              }
            }
          }
        }
      }
    }

    .item {
      margin-bottom: 8px;

      input {
        display: none;
      }

      a {
        @extend .custom-control;
        @extend .custom-control-label;
        line-height: $font-size-base * $line-height-base;

        &::before {
          left: 0;
          border-radius: $custom-checkbox-indicator-border-radius;
        }

        &::after {
          left: 0;
          background-size: 70%;
        }

        &.am_shopby_link_selected {
          font-weight: $font-weight-normal;

          &::before {
            border-color: $custom-control-indicator-checked-border-color;
            background-color: $custom-control-indicator-checked-bg;
          }

          &::after {
            background-image: escape-svg($custom-checkbox-indicator-icon-checked);
          }

          .label {
            font-weight: $font-weight-semiBold;
          }
        }
      }

      .count {
        //display: none; //it is possible configure in admin
        margin-left: 6px;
        color: $grey-medium;

        &::before {
          content: '(';
        }

        &::after {
          content: ')';
        }

        .filter-count-label {
          display: none;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .am-show-more {
      @extend .body2;
      font-weight: $font-weight-medium;
      text-decoration: underline;
      margin-top: 25px;
      padding: 0;

      &::before,
      &::after {
        content: none;
      }
    }

    .am-counter {
      opacity: 1;
    }
  }

  .filter__current,
  .filter-current {
    &-subtitle {
      display: block;
      position: relative;
      overflow: hidden;
      word-break: break-all;
      font-size: $font-size-body3;
      margin-bottom: 8px;
      line-height: 24px;
    }

    .items {
      padding: 0;
      margin-bottom: 8px;

      .item {
        display: inline-flex;
        align-items: center;
        font-size: $font-size-body3;
        padding: 3px;
        position: relative;
        z-index: 1;
        margin-bottom: 8px;
        margin-right: 8px;
        background-color: $background-1;

        &__label,
        .amshopby-filter-name {
          order: 1;
          margin-left: 10px;
          font-weight: $font-weight-semiBold;

          &::after {
            content: ':';
            margin-right: 3px;
          }
        }

        &__value,
        .amshopby-filter-value {
          order: 1;
        }

        .action {
          order: 0;

          &::before {
            content: '';
            background-image: url('../images/icons/ico-close.svg');
            width: 12px;
            height: 12px;
            display: block;
            background-size: contain;
          }

          span {
            display: none;
          }

          &.remove {
            &:hover {
              text-decoration: none;
            }
          }
        }

        .amshopby-remove {
          position: relative;

          &:hover {
            &::before,
            &::after {
              background-color: $color-custom-1;
            }
          }
        }
      }
    }
  }

  &__actions {
    font-weight: $font-weight-medium;
    margin-bottom: 32px;
    font-size: $font-size-body2;
    display: flex;
    flex-direction: row;
    align-items: center;

    a {
      display: flex;
      flex-direction: row;
      align-items: center;

      .module-icon {
        display: flex;
        flex-direction: row;
      }

      span {
        margin-left: 8px;
        text-decoration: underline;
      }
    }
  }
}

.am_shopby_apply_filters {
  left: 0;

  .am-show-button {
    background: $white;
    padding: 32px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > .am-items {
      font-size: $font-size-body2;
      display: none !important;
    }

    > .am-button {
      @extend .btn;
      @extend .btn-primary;
      margin-left: 0;
      width: 100%;
    }
  }
}

@include media-breakpoint-down(md) {
  .filter {
    &__title {
      display: block;
      text-transform: uppercase;

      > span {
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 48px;
        width: calc(50% - 25px);
        border-radius: $border-radius;
        background-color: $secondary;
        font-size: $btn-font-size;
        font-weight: $btn-font-weight;
        color: $white;
      }
    }

    &__content {
    }

    &__subtitle {
      display: none;
    }

    &__options {
      display: none;
      overflow: scroll;
      height: 100%;
    }

    &__actions {
      a {
        justify-content: center;
      }
    }

    .filter__current,
    .filter-current {
      padding-top: 24px;
    }
  }

  body.filter-active {
    .filter {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      visibility: visible;
      z-index: $zindex-modal;
      background-color: $white;

      &__title {
        height: 60px;
        width: 100%;

        > span {
          position: absolute;
          left: auto;
          right: 24px;
          top: 24px;
          width: 16px;
          height: 16px;
          background-image: url('../images/icons-sprite.svg#ico-close');
          background-position: center;
          background-size: cover;
          background-color: transparent;

          span {
            display: none;
          }
        }
      }

      &__subtitle {
        display: block;
        margin-bottom: 24px;
        color: $secondary;
      }

      &__content {
        display: block;
        position: relative;
        padding: 0 20px;
        height: calc(100% - 170px);
      }

      &__options {
        display: block;
        overflow: scroll;
        height: calc(100% - 50px);
      }

      &__current,
      &-current {
        display: none;

        + .filter__actions {
          display: none;
        }
      }
    }
  }
}
