.page-footer {
  background-color: $footer-background;
  font-size: $font-size-body2;
  margin-top: auto;
}

.footer {
  &__top {
  }

  &__middle {
    padding-top: 56px;
    padding-bottom: 52px;
    color: $footer-color;
  }

  &__list {
    .list__title {
      display: block;
      margin-bottom: 16px;
      font-weight: $font-weight-semiBold;
    }

    ul {
      display: flex;
      flex-direction: column;
      max-height: 180px;
      flex-wrap: wrap;
      margin-bottom: 0;
    }

    li,
    a {
      font-size: $font-size-body2;
    }

    li {
      margin-bottom: 4px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__extra {
    margin-top: 35px;

    .icon {
      fill: $footer-color;
      margin-right: 8px;
    }

    a {
      &:hover {
        .icon {
          fill: $color-custom-1;
        }
      }

      span {
        text-decoration: underline;
      }
    }
  }

  &__bottom {
    &-wrapper {
      @extend .body3;
      border-top: 1px solid $footer-color;
      color: $footer-color;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    &-additional {
      color: $white;
      border-top: 1px solid $white;
    }
  }

  &-checkout {
    margin-top: 0;

    .footer {
      &__middle {
        padding-top: 48px;
        padding-bottom: 40px;
      }

      &__bottom {
        &-wrapper {
          justify-content: center;
        }
      }
    }
  }

  .secure-payment + .shipment {
    margin-top: 16px;
  }

  .shipment {
    .label {
      display: block;
      font-weight: $font-weight-normal;
      margin-bottom: 12px;
    }

    .icons {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      i {
        margin-right: 8px;
        margin-bottom: 8px;

        &:last-child {
          margin-right: 0;
        }
      }

      .icon {
        fill: $footer-bottom-color;
        stroke-width: 1px;
        stroke: none;
        width: 38px;
        height: 23px;
        &.ico-ups {
          width: 20px;
        }
        &.ico-tnt {
          width: 50px;
        }
        &.ico-dhl {
          width: 62px;
        }
      }
    }
  }

  .stores-info__container {
    padding: 32px 0 16px;

    .stores__list {
      display: flex;
      padding: 0 11px;

      &:last-child {
        padding-right: 0;

        @include media-breakpoint-down(sm) {
          padding-right: 11px;
        }
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin-bottom: 0;
      }

      li {
        margin-bottom: 15px;
        padding: 0;
      }

      .info {
        display: inline-block;
        max-width: 82%;
      }

      .site-address {
        display: block;
      }

      .phone-number {
        display: block;
      }

      .module-icon {
        display: inline-block;
        vertical-align: top;
        margin-right: 5px;
        max-width: 12%;

        .icon {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .footer {
    &__list {
      ul {
        max-height: 200px;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .footer {
    &__top {
    }

    &__middle {
      padding-top: 24px;
      padding-bottom: 24px;
    }

    &__list {
      .list {
        &__title {
          padding: 16px 8px 16px 0;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 0;

          &::after {
            content: '';
            background: url('../images/icons-sprite.svg#ico-chevron-down-inverse') center no-repeat;
            width: 10px;
            height: 6px;
            background-size: cover;
            display: block;
            border: none;
            transition: all, 0.3s;
            margin-top: 0;
          }
        }
      }

      & > div {
        border-bottom: 1px solid $footer-color;
      }

      ul {
        display: none;
        max-height: none;
        margin-bottom: 24px;
        margin-top: 8px;
        margin-left: 16px;
      }

      li {
        margin-bottom: 8px;
      }

      .active {
        .list__title {
          &::after {
            transform: rotate(180deg);
          }
        }

        ul {
          display: block;
        }
      }
    }

    &__right {
      display: flex;
      flex-direction: column;
      margin-top: 32px;
      align-items: center;
    }

    &__extra {
      text-align: center;
      margin-top: 22px;
    }

    &__bottom {
      &-wrapper {
        flex-direction: column-reverse;
        align-items: initial;
        padding-top: 0;
        border-top: none;

        > div {
          text-align: center;
        }
      }

      .copyright {
        border-top: 1px solid $footer-color;
        padding-top: 16px;
      }
    }

    &-checkout {
      .footer {
        &__middle {
          padding-top: 32px;
          padding-bottom: 24px;
        }

        &__bottom {
          &-wrapper {
            padding-bottom: 16px;
          }
        }
      }
    }

    .secure-payment + .shipment {
      margin-top: 0;
      margin-bottom: 16px;
    }

    .secure-payment {
      order: 2;
    }

    .shipment {
      order: 1;
      text-align: center;

      .label {
        font-size: 14px;
      }

      .icons {
        justify-content: center;
      }
    }

    .note + .copyright {
      margin-bottom: 4px;
    }
    .stores-info__container {
      font-size: 11px;
    }
  }
}
@include media-breakpoint-down(xs) {
  .footer {
    &__bottom {
      &-additional {
        border-top: 0;
      }
    }
    .stores-info__container {
      padding-top: 0;
      .stores__list {
        &:first-child {
          ul {
            border-top: 1px solid $white;
            padding-top: 32px;
          }
        }
      }
    }
  }
}