.gallery {
  .action-skip-wrapper {
    display: none;
  }

  #amasty-gallery.position-left {
    .gallery {
      &__placeholder {
        position: relative;
      }

      &__main-container {
        margin-left: 100px !important;
        max-width: calc(100% - 100px) !important;
        width: 100% !important;
      }

      &__thumb-container {
        width: 80px !important;

        .gallery__images {
          margin-top: 0;

          .amasty-gallery-thumb-link {
            width: 100% !important;

            img {
              width: 100% !important;
              height: auto;
            }

            &.active {
              border-color: $dark;
            }
          }
        }
      }
    }
  }
}

.fotorama {
  &__spinner {
    background-size: contain;
  }

  &.fotorama--fullscreen {
    z-index: $zindex-fixed + 1 !important;

    .fotorama__fullscreen-icon {
      top: 40px;
      right: 80px;
      width: 24px;
      height: 24px;
      background-image: url('../images/icons/ico-close.svg');
      background-position: center;

      &:focus::after {
        display: none;
      }
    }

    .fotorama__stage__frame {
      margin-top: 40px;
    }

    .fotorama__nav--thumbs {
      display: flex;
      justify-content: center;
    }
  }

  &__wrap {
    .fotorama {
      &__arr {
        background-color: transparent;
        height: 80px;
        top: calc(50% - 40px);

        &:hover {
          background-color: transparent;
        }

        .fotorama__arr__arr {
          height: 24px;
          width: 24px;
          background-color: $white;
          background-image: url('../images/icons/ico-chevron-left.svg');

          &:hover {
            box-shadow: $box-shadow-3;
          }
        }

        &--prev {
          .fotorama__arr__arr {
            background-position: center;
          }
        }

        &--next {
          .fotorama__arr__arr {
            background-image: url('../images/icons/ico-chevron-right.svg');
            background-position: center;
          }
        }
      }

      &__stage__frame {
        &::after {
          display: none;
          content: '';
          position: absolute;
          z-index: 999;
          bottom: 16px;
          right: 16px;
          width: 24px;
          height: 24px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          background-color: $white;
          background-image: url('../images/icons-sprite.svg#ico-zoom');
        }

        //Here you can add logo play video
        &.fotorama-video-container {
          &::after {
            background: url(../Magento_ProductVideo/img/gallery-sprite.png) bottom right;
            bottom: 0;
            right: 0;
            top: 0;
            left: 0;
            height: 100px;
            width: 100px;
            margin: auto;
            cursor: pointer;
          }
          &:hover {
            &::after {
              transform: scale(1.25);
            }
          }
          &:not(.video-unplayed) {
            &::after {
              display: none;
            }
          }
        }
      }

      &__thumb {
        cursor: pointer;

        &-border {
          border: 1px solid $color-custom-1;
        }

        &--icon {
          height: 24px;
          width: 24px;
          background-color: $white;
          background-image: url('../images/icons/ico-chevron-left.svg');
          border: 1px solid $grey-light;
        }

        &__arr {
          background-color: transparent;

          &--left {
            .fotorama__thumb--icon {
              background-position: center;
            }
          }

          &--right {
            .fotorama__thumb--icon {
              background-image: url('../images/icons/ico-chevron-right.svg');
              background-position: center;
            }
          }
        }
      }

      &__nav__shaft {
        .video-thumb-icon::after {
          content: '';
          background: url('../images/gallery-play.svg') no-repeat center;
          bottom: 0;
          height: 40px;
          left: 0;
          margin: auto;
          position: absolute;
          right: 0;
          top: 10px;
          width: 49px;
        }
      }
    }

    .fotorama__nav--dots {
      .fotorama__dot {
        border-color: $blue;
        width: 6px;
        height: 6px;
      }
      .fotorama__active {
        .fotorama__dot {
          background-color: $black;
          border-color: $black;
        }
      }
    }

    .product-video {
      bottom: 0;
      height: 100%;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
    }
  }
}

