.page-header {
  position: fixed;
  z-index: $zindex-fixed;
  top: 0;
  width: 100%;
  background-color: $white;
  border-bottom: 1px solid $grey-light;
  @include transition(all, 0.3s);

  &.sticky {
    z-index: $zindex-sticky;

    .header {
      &__top {
        margin-top: -#{$header-topbar-height};
      }
    }
  }
}

.header {
  &__top {
    background-color: $secondary;
    opacity: 1;
    height: $header-topbar-height;
    overflow: initial;
    @include transition(all, 0.5s);
    //Disclaimer
    &--info {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 0;
      padding: 8px;

      p {
        margin-bottom: 0;
        color: $white;
        font-size: $font-size-body2;
        font-weight: $font-weight-medium;
      }

      &--desktop {
        display: block;
      }

      &--mobile {
        display: none;
      }
    }
  }

  &__content {
    &-inner {
      position: relative;
      min-height: $header-height;
      @include transition(all, 0.3s);
    }

    &.search-form-is-active {
      .header {
        &__secondary {
          display: none !important;
        }

        &__switcher,
        &__customer,
        &__minicart {
          display: none;
        }

        &__icons {
        }
      }
    }
  }

  &__toggle {
    max-width: fit-content;
  }

  &__logo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    max-height: 75px;
    margin-top: 8px;
    position: relative;
    z-index: 1;

    .logo {
      font-size: 0;
      margin-bottom: 0;
    }

    img {
      width: 100%;
      max-width: $header-logo-width;
      height: auto;
      @include transition(all, 0.3s);
    }

    strong {
      display: none;
    }
  }

  &__secondary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      top: 0;
      width: 100vw;
      height: 100%;
      transform: translateX(-50%);
      background-color: $background-1;
    }
  }

  &__icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: initial;
    padding-right: 40px;

    .icon__trigger {
      cursor: pointer;
      z-index: 2;

      .label {
        @include transition(all, 0.3s);
      }

      &:hover,
      &.active {
        .icon {
          fill: $color-custom-3;
        }

        .label {
          color: $color-custom-3;
        }
      }
    }
  }

  &__search {
    display: block;
    flex: 1 1 auto;
    //position: absolute;
    //top: 5px;
    //z-index: 1;
    //background-color: $white;
    //width: 0;
    //@include transition(all, 0.3s);

    &.active {
      display: flex;
      align-items: center;
      top: 0;
      left: 25%;
      right: 15px;
      width: auto;
      height: 100%;

      .minisearch__trigger {
        position: absolute;
        right: 20px;
      }
    }
  }

  &__shop-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__inner {
      text-align: right;
    }

    &__link {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &__phone {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;

      &__icon {
        display: flex;

        svg {
          fill: $danger;
        }
      }

      &__number {
        color: $danger;
        margin-bottom: 0;
        margin-left: 4px;
        font-size: 24px;
      }
    }

    &__message {
      font-size: $font-size-body3;
    }
  }

  &__switcher,
  &__customer,
  &__minicart {
    .icon__trigger {
      margin-left: 30px;
      text-align: center;
      display: flex;
      flex-direction: column;
    }
  }

  &__switcher,
  &__customer {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
  }

  &-checkout {
    border-bottom: none;
    box-shadow: $box-shadow-2;

    &.sticky {
      .header {
        &__content {
          padding: 8px 0;
        }
      }
    }

    .header {
      &__content {
        padding: 8px 0;

        &-inner {
          min-height: auto;
        }
      }

      &__logo {
        max-height: inherit;
        margin-top: 0;

        img {
          max-width: 64px;
        }
      }

      &__info {
        &-contact {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
          font-size: $font-size-body2;

          .module-icon {
            margin-right: 8px;
          }

          .question {
            font-weight: $font-weight-semiBold;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .header {
    &__top {
      display: none;

      &--info {
        &--desktop {
          display: none;
        }

        &--mobile {
          display: block;
        }
      }
    }

    &__content {
      &-inner {
        align-items: center;
        min-height: $header-height-sm;
      }

      &.search-form-is-active {
        .header {
          &__minicart {
            display: block;
          }
        }
      }
    }

    &__logo {
      margin-top: 0;
      padding-left: 6px;
      padding-top: 6px;
      padding-bottom: 6px;

      img {
        max-width: $header-logo-width-sm;
      }
    }

    &__secondary {
      display: none;
    }

    &__icons {
      padding-top: 0;
      padding-right: 15px;
      
      .icon__trigger {
        &.minisearch__trigger {
          &:hover,
          &.active {
            .icon {
              fill: $black;
            }
          }
        }

        .label {
          display: none;
        }
      }
    }

    &__search {
      position: absolute;
      top: 0;
      width: 0;
      display: none;
      background-color: $white;

      &.active {
        left: 0;
        right: 0;
        top: 100%;
        width: auto;
        padding: 10px 15px;
        height: auto;

        .minisearch__trigger {
          right: 26px;
        }
      }
    }

    &__minicart {
      .icon__trigger {
        margin-left: 25px;
      }
    }

    &__shop-info {
      order: -1;
      padding: 0;

      &__inner {
        text-align: center;
        background-color: $secondary;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 8px 16px;
      }

      &__phone {
        margin-left: 6px;
        margin-right: 6px;

        &__icon {
          svg {
            fill: $white;
            width: 16px;
            height: 16px;
          }
        }

        &__number {
          color: $white;
          font-size: 14px;
        }
      }

      &__message {
        order: -1;
        color: $white;
        margin-left: 6px;
        margin-right: 6px;
      }
    }

    &__customer,
    &__switcher {
      display: none;
    }

    &-checkout {
      .header {
        &__content {
          padding: 6px 0;
        }

        &__logo {
          padding: 0 15px 0 15px;

          img {
            max-width: 48px;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  .header {
    &__toggle {
      max-width: 16.66667%;
    }
  }
}
