.module-slider {
  overflow: hidden;
  width: 100%;

  .slick-slider {
    .slick-arrow {
      @include transition(all, 0.3s);
      opacity: 0;

      &.slick-prev {
        left: 0;
      }

      &.slick-next {
        right: 0;
      }
    }
    &:hover {
      .slick-arrow {
        @include transition(all, 0.3s);
        opacity: 1;
        &.slick-prev {
          left: 65px;
        }

        &.slick-next {
          right: 65px;
        }
      }
    }
  }

  &__items {
    //min-height: 350px;
    color: transparent;
    margin-bottom: 0;
    padding-bottom: 0;

    &.slick-initialized {
      .module-slider__item {
        display: block;

        .item__placeholder {
          display: flex;
        }
      }
    }
  }

  &__item {
    display: none;

    &:first-child {
      display: block;

      .item__background {
        background-color: $background-1;
      }

      .item__placeholder {
        display: none;
      }
    }
  }

  .item {
    &__background {
      display: block;
      width: 100%;
      height: 300px; //Use this if the imagen is a background
      margin: 0 auto;
      background-size: cover;
      background-position: center left;
      background-repeat: no-repeat;

      img {
        width: 100%;
      }
    }

    &__container {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    &__placeholder {
      display: flex;
      align-items: center;
      position: absolute;
      left: 0;
      top: 0;
      padding: 24px;
      height: 100%;
      width: 550px;
      color: $black;
    }

    &__inner {
      width: 100%;
      padding: 24px 32px;
      border-radius: 24px;
      background-color: $white;
      box-shadow: $box-shadow-2;
    }

    //&__title {
    //}
    //&__subtitle {
    //}
    &__extra {
      display: none;
    }

    &__button {
      margin-top: 16px;

      .btn {
        min-width: 264px;
      }
    }

    //Type B (Text and Button right)
    &--2 {
      @include media-breakpoint-up(md) {
        .item__placeholder {
          left: auto;
          right: 0;
        }
      }
    }

    //Type C (Text and Button center)
    &--3 {
      @include media-breakpoint-up(md) {
        .item__placeholder {
          left: 50%;
          right: 0;
          text-align: center;
          transform: translateX(-50%);
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .module-slider {
    .item {
      &__background {
        height: 600px; //Use this if the imagen is a background
        background-position: bottom center;
      }

      &__placeholder {
        position: relative;
        display: flex;
        width: 100%;
        text-align: center;
        color: $primary;
        align-items: flex-start;
        padding: 32px 0;
        margin: 0 auto;
      }

      &__title {
        font-size: 28px;
        margin-left: auto;
        margin-right: auto;
      }

      &__inner {
        background-color: transparent;
        box-shadow: none;
        padding: 0;
      }

      &__button {
        position: absolute;
        width: 100%;
        bottom: 32px;
        left: 0;
        margin-top: 0;
      }
    }

    .slick-dots {
      bottom: 8px;
    }
  }
}

@include media-breakpoint-down(xs) {
  .module-slider {
    .item {
      &__background {
        height: 450px; //Use this if the imagen is a background
      }

      &__button {
        .btn {
          width: 100%;
          min-width: auto;
        }
      }
    }
  }
}

