.social-links {
  &__title {
  }

  ul {
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }

  li {
    margin-right: 12px;
  }

  .module-icon {
    position: relative;
    display: flex;
    //padding: 4px;
    &:hover {
      .icon {
        fill: $color-custom-1;
      }

      //Show circle in hover
      /*      &::after {
              content: '';
              position: absolute;
              left: 0;
              top: 0;
              width: 32px;
              height: 32px;
              border: 1px solid $primary;
              border-radius: 100%;
            }*/
    }
  }

  &--footer {
    .social-links {
      &__title {
        @extend .h4;
        margin-bottom: 14px;
      }

      ul {
        margin-left: -2px;
        margin-bottom: 16px;
      }
    }

    .module-icon {
      &:hover {
        //Show circle in hover
        /*        &::after {
                  content: '';
                  width: 24px;
                  height: 24px;
                  border: 1px solid $footer-color;
                }*/
      }

      .icon {
        fill: $footer-color;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .social-links {
    margin-top: 12px;

    &__title {
      display: none;
    }

    ul {
      margin-left: 0;
      justify-content: center;
    }

    &--footer {
      text-align: center;
      margin-top: 40px;

      .module-icon {
        &:hover {
          &::after {
            content: '';
            width: 32px;
            height: 32px;
          }
        }

        .icon {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
