.cc-revoke,
.cc-window {
  .cc-message {
    .cc-link {
      color: $white;
      opacity: 1;
      padding: 0;
    }
  }
  .cc-compliance {
    margin-left: 10px;
    .cc-btn {
      border-radius: $border-radius;
      &:hover {
        text-decoration: none;
        background-color: $white;
        border-color: $white;
      }
    }
  }
}
