#modal-quickview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  .product {
    &-info-main {
      flex: 1 60%;
      order: 2;
      .page-title-wrapper {
        margin-top: 0;
      }
      .product-social-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        margin-top: 5px;
        a {
          background-color: #F5F5F5;
          padding: 8px;
          margin: 5px;
        }
      }
      .product-add-form {
        .product-options-bottom {
          .field.qty{
            .label{
              span {
                font-size: 0;
                margin: 0;
                padding: 0;
              }
            }
            .control {
              display: flex;
              text-align: center;
              margin-bottom: 5px;
              .qty {
                text-align: center;
                width: 63px;
                line-height: 46px;
                border: 1px solid #000000;
              }
              .button.less::before {
                content: '-';
                vertical-align: top;
                line-height: 39px;
              }
              .button.more::before {
                content: '+';
              }
              .button.less, .button.more {
                color: #FFFFFF;
                width: 46px;
                border: 1px solid #000000;
                background-color: #000000;
                cursor: pointer;
                line-height: 46px;
                font-size: 40px;
              }
            }
          }
        }
      }
    }
    &.media {
      flex: 1 30%;
      order: 1;
    }
    &__details {
      order: 3;
      flex: 1 100%;
    }
  }
}
@include media-breakpoint-down(lg) {
  #modal-quickview {
    .product {
      &-info-main {
        flex: 1 50%;
      }
      &.media {
        flex: 1 45%;
      }
    }
  }
}
@include media-breakpoint-down(md) {
  #modal-quickview {
    .product {
      &-info-main {
        flex: 1 100%;
      }
      &.media {
        flex: 1 100%;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
      }
    }
  }
}