.minicart {
  &__close {
    margin-right: -12px;
  }

  &__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $background-1;

    &--title {
      margin-bottom: 16px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }

    &--text {
      text-align: center;
      max-width: 260px;
      margin: 0 auto 20px;
    }

    &--content {
      padding: 16px 26px 30px;
    }
  }

  &__showcart {
    position: relative;
    display: block;
    margin-left: 15px;
  }

  &__counter {
    background: $secondary;
    color: $white;
    font-weight: $font-weight-semiBold;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    white-space: normal;
    position: absolute;
    top: -9px;
    right: -8px;
    width: 19px;
    height: 19px;
    font-size: $small-font-size;
    display: flex;
    justify-content: center;
    align-items: center;

    &.empty {
      display: none;
    }

    .loading-mask {
      .loader {
        > img {
          width: 100%;
        }
      }
    }
  }

  &--active {
    &::before {
      content: '';
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: $overlay-black;
      z-index: $zindex-modal-backdrop;
    }

    .minicart__block {
      opacity: 1;
      right: 0;
      z-index: $zindex-modal;
      @include transition(all, 0.3s);
      overflow-y: hidden;
    }
  }

  &__block {
    position: fixed;
    right: -30%;
    width: 30%;
    max-width: 410px;
    min-width: 350px;
    top: 0;
    bottom: 0;
    padding: 20px 32px;
    background: $white;
    box-shadow: $box-shadow;
    z-index: -1;
    overflow-x: hidden;
    opacity: 0;

    .subtitle {
      display: none;
    }
  }

  &__wrapper {
    height: 100%;
  }

  &__title {
    padding-top: 36px;
  }

  &__content {
    margin-top: 17px;
    height: calc(100% - 120px); //110px is height minicart__title
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }

  &__scroll {
    overflow-x: auto;
    margin-bottom: 10px;
    height: auto !important;
    max-height: 100%;
    //is posible change items to display in config
    //max-height: 546px;
  }

  &__items {
    margin-bottom: 0;

    &--total {
      color: $grey-light;
    }
  }

  &__item {
    padding: 13px 0;
    vertical-align: top;
  }

  .content {
    &__resume {
      margin-bottom: 56px;
      border-top: 2px solid $grey-dark;
      background-color: $background-1;
      padding: 18px 16px;

      .subtotal {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-size: $font-size-base;
        font-weight: $font-weight-semiBold;
      }
    }

    &__actions {
      text-align: center;

      .primary {
        margin-bottom: 12px;
      }
    }
  }

  .item {
    &__inner {
      display: flex;
    }

    &__photo {
      min-width: 112px;
    }

    &__details {
      display: grid;
      grid-template-areas: "name name name actions"
      "options options options options"
      "qty qty price price";
      grid-auto-rows: minmax(min-content, max-content);
      width: 100%;
      padding-left: 16px;
    }

    &__name {
      grid-area: name;
      font-weight: $font-weight-semiBold;
      font-size: $font-size-body2;
    }

    &__options {
      font-size: $font-size-body3;
      grid-area: options;
      min-height: 20px;
      width: 100%;
      margin-bottom: 8px;
      color: $grey-medium;

      .label {
        &::after {
          content: ':';
          margin-right: 5px;
        }
      }
    }

    &__qty {
      grid-area: qty;
      align-self: center;

      .details-qty {
        display: flex;
      }

      .form-control {
        border-color: $grey-light;
        height: 32px;
        width: 32px;
        padding: 6px;
        border-radius: 4px;
        text-align: center;
        font-size: $font-size-body2;
      }
    }

    &__actions {
      grid-area: actions;
      justify-self: end;
      margin-left: 5px;

      .module-icon {
        display: inline-flex;
      }
    }

    &__pricing {
      @extend .body2;
      grid-area: price;
      justify-self: end;
      align-self: center;
      white-space: nowrap;
    }
  }
}

@include media-breakpoint-down(md) {
  .minicart {
    &__close {
      margin-right: 0;
    }

    &__empty {
      margin-left: -20px;
      margin-right: -20px;
      padding-top: 16px;
      overflow-x: auto;

      &--image {
        max-width: 205px;
      }

      &--content {
        padding: 14px 20px 30px;
        width: 100%;
      }
    }

    .content {
      &__actions {
      }
    }

    &__block {
      width: 100%;
      min-width: 100%;
      padding: 20px;
    }
  }
}
