@include media-breakpoint-up(lg) {
  .navigation {
    ul {
      margin-bottom: 0;
    }

    > ul {
      display: flex;
      justify-content: center;
    }

    li {
      list-style: none;
    }

    .level0 {
      //level-top menu
      &.level-top {
        margin: 0 8px;
        white-space: nowrap;
      }

      //level-top menu link
      > .level-top {
        display: flex;
        position: relative;
        padding: 8px 8px;
        font-size: $font-size-body2;
        font-weight: $font-weight-semiBold;
      }

      &:hover,
      &.click-active {
        color: $color-custom-3;

        > .level-top {
          &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            border-bottom: 4px solid $color-custom-3;
          }
        }
      }

      &.parent {
        &:hover,
        &.click-active {
          > .submenu {
            z-index: 9999;
            opacity: 1;
            //height: auto;
            overflow: auto;
            max-height: 500px;
          }
        }
      }

      .mobile-level {
        display: none !important;
      }

      .submenu {
        position: absolute;
        left: 15px;
        top: 100%;
        z-index: -1;
        box-sizing: border-box;
        opacity: 0;
        overflow: hidden;
        width: calc(100% - 30px);
        min-width: 230px;
        max-height: 0;
        box-shadow: $box-shadow;
        border-radius: 2px;
        background-color: $white;
        color: $primary;
        border: 1px solid $grey-light;
        font-weight: $font-weight-normal;
        font-size: $font-size-body2;
        border-radius: 2px;
        @include transition(all, 0.3s);

        .submenu-inner {
          display: flex;
          flex-wrap: wrap;
          position: relative;
          width: 100%;
          max-width: 1200px;
          min-height: 200px;
          margin-left: auto;
          margin-right: auto;
          padding: 32px;
        }

        .submenu-container {
          width: 30%;
        }

        .submenu-items {
          display: flex !important;
          flex-direction: column;
          flex-wrap: wrap;
          //width: 35%;
          text-align: left;

          li {
            margin-bottom: 6px;
          }
        }

        .submenu-link {
          margin-bottom: 0;
          line-height: 1.8;
          display: none;

          a {
            //REMOVE THIS AND ADD CLASS IN LINK btn-link-arrow-right
            display: flex;
            align-items: center;
            text-transform: uppercase;

            &::after {
              margin-left: 7px;
              @include getIconArrowRight();
            }

            &:hover {
              text-decoration: none;

              &::after {
                @include getIconArrowRight(#{$color-custom-1});
              }
            }
          }
        }

        .submenu-block {
          width: 70%;
          overflow: auto;
          padding-left: 15px;

          > .row {
            margin-left: 0;
            margin-right: 0;
          }

          .element {
            position: relative;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: flex-start;
            justify-content: flex-start;

            &__title {
              font-weight: $font-weight-semiBold;
              margin-bottom: 16px;
            }

            &__list {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              max-width: 160px;
            }

            &__item {
              width: calc(50% - 16px);
              margin-bottom: 8px;
              margin-right: 16px;
            }

            &__link {
              display: flex;
              justify-content: center;
              align-items: center;
              align-content: center;
            }

            &__image {
              max-height: 48px;
            }

            &__banner {
              border-bottom-left-radius: $border-radius;
              border-bottom-right-radius: $border-radius;
            }

            &__content {
              position: absolute;
              bottom: 0;
              width: calc(100% - 30px);

              .btn {
                white-space: normal;
                padding: 12px;
              }
            }
          }
        }

        .submenu {
          display: none;
        }
      }
    }

    &:empty {
      display: none;
    }
  }
}

.nav-toggle {
  .ico-close {
    display: none;
  }
}

.mm-wrapper_opening {
  .nav-toggle {
    .ico-menu {
      display: none;
    }

    .ico-close {
      display: block;
    }

    &-close {
      position: relative;
      display: block;
      top: 12px;
      left: calc(100% - 44px);
      width: 24px;
      z-index: 10;
    }
  }

  .header {
    &__logo,
    &__icons {
      opacity: 0;
    }
  }
}

@include media-breakpoint-down(md) {
  .navigation {
    &--secondary {
      font-weight: $font-weight-normal;
    }
  }
  .mm-menu {
    color: $primary;
    font-size: $font-size-body2;

    .mm-btn {
      &::before,
      &::after {
        border-color: $white;
      }

      + .mm-navbar__title {
        padding-top: 0;
        padding-bottom: 0;
        font-size: 24px;
        font-weight: $font-weight-medium;
      }
    }

    .mm-navbars_top {
      padding-top: 60px;
      border-bottom: none;
    }

    .mm-panels {
      padding-bottom: 56px;
    }

    .mm-navbar {
      padding: 0 20px;
      text-align: left;
    }

    .mm-navbar__title {
      color: $black !important;
    }

    .mm-listview {
      font-size: $font-size-body2;
      border-top: 1px solid $grey-light;

      .submenu-block {
        display: none !important;
      }

      .submenu-link {
        display: none;
      }

      .mm-listview {
        border: none;
        margin-bottom: 28px;
      }

      .mm-listitem {
        border-color: $grey-light;

        &::after {
          left: 0;
        }

        > a,
        > span {
          padding: 14px 10px 15px;
          color: $primary;

          .icon {
            margin-right: 8px;
            margin-bottom: 2px;
          }
        }

        .level-top {
          font-family: $client-font-headings;
          font-weight: $font-weight-semiBold;
          font-size: $font-size-body2;
        }

        &:not(.level-top) {
          margin-left: 10px;

          > a,
          > span {
            padding: 8px 10px 5px;
          }

          &:not(.parent) {
            &::after {
              border: none;
            }
          }
        }

        .mm-btn_next {
          padding: 0;
          background: none;
          height: 47px;

          &::before {
            display: none;
          }

          &::after {
            border: none;
            background: url('../images/icons/ico-plus.svg') no-repeat center;
            background-size: 14px;
            width: 28px;
            height: 28px;
            display: inline-block;
            transform: none;
            right: 0;
            @include transition(all, 0.3s);
          }

          + a {
            padding: 14px 10px 15px;
          }
        }

        &_opened {
          .level-top {
            color: $black;
          }

          > .mm-btn_next {
            &::after {
              background: url('../images/icons/ico-minus.svg') no-repeat center;
            }
          }

          > .mm-panel {
            padding: 0;
            background: none;

            > .mm-listview {
              display: block !important;
            }
          }
        }
        &.ambrands-menu-item {
          margin-left: 0;
          .mm-btn_next {
            display: none;
          }
          .ambrands-link {
            margin-right: 0;
          }
        }
      }
    }

    .mm-panels > .mm-panel > .mm-listview {
      margin: 32px 0 55px;
    }
  }
}
