.newsletter {
  &.block {
    background: url('../images/bg-newsletter.jpg') no-repeat center $grey-light;
    background-size: cover;
    color: $white;
    padding-top: 72px;
    padding-bottom: 72px;
  }

  &__title {
    text-align: center;
    margin-bottom: 35px;
    font-family: $client-font-headings;
  }

  &__content {
    display: flex;
    justify-content: center;
  }

  &__subscribe {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 450px;

    &--label {
      width: 100%;
    }

    &--input {
      flex: 1;
    }

    &--terms {
      width: 100%;
      margin: 0 3px;
    }

    &--actions {
      @include media-breakpoint-up(md) {
        margin-left: -10px;
      }
    }

    &--submit {
      @include media-breakpoint-up(md) {
        border-bottom-left-radius: unset;
        border-top-left-radius: unset;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .newsletter {
    &.block {
      background: url('../images/bg-newsletter-mobile.jpg') no-repeat center;
      background-size: cover;
      padding-top: 56px;
      padding-bottom: 56px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .newsletter {
    &__subscribe {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      width: 100%;
    }
  }
}