.block-availability-info {
  display: none;

  &__heading {
    margin-bottom: 32px;

    a {
      text-decoration: underline;
      @include transition(all, 0.3s);

      &:hover {
        color: $color-custom-3;
        text-decoration: underline;
      }
    }
  }

  .field {
    textarea {
      min-height: 95px;
    }
  }
}

.modal-popup {
  &.modal-availability-info {
    .modal-inner-wrap {
      min-width: 300px;
      max-width: 400px;
    }

    .modal-header {
      min-height: 62px;
    }

    .modal-footer {
      .action.primary {
        width: 100%;
      }
    }

    .block-availability-info {
      display: block;
    }
  }
}
