.grouped {
  &__col {
    margin-right: 8px;
    padding: 0;
    flex: unset;

    &.image {
      flex: 0 0 auto;
      grid-area: photo;
      margin-right: 12px;
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;

      .photo__image {
        width: 52px;
      }
    }

    &.name {
      color: $color-custom-1;
      font-size: $font-size-base;
      font-weight: $font-weight-semiBold;
      grid-area: name;
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
      -ms-grid-column: 2;
      -ms-grid-column-span: 1;

      .title {
        font-size: $font-size-base;
        line-height: 1.5;
        margin-bottom: 0;
      }
    }

    &.sku {
      display: flex;
      text-transform: uppercase;
      color: $black;
      font-size: $font-size-body3;
      margin-top: 4px;
      grid-area: sku;
      -ms-grid-row: 2;
      -ms-grid-row-span: 1;
      -ms-grid-column: 3;
      -ms-grid-column-span: 1;
    }

    &.price {
      max-height: $input-height;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      justify-content: flex-end;
      margin-right: 8px;
      grid-area: price;
      -ms-grid-row: 3;
      -ms-grid-row-span: 1;
      -ms-grid-column: 3;
      -ms-grid-column-span: 1;

      .product-info-price__wrapper {
        align-items: flex-end;
      }

      .product-info-price__price-with-tax {
        justify-content: flex-end;
      }

      .price-box {
        flex-wrap: wrap;
        justify-content: flex-end;

        .special-price {
          margin-right: 0;

          + .old-price {
            margin-left: 8px;
          }
        }
      }
    }

    &.info {
      position: relative;
      margin-right: 0;
      grid-area: info;
      height: max-content;
      -ms-grid-row: 1;
      -ms-grid-row-span: 2;
      -ms-grid-column: 4;
      -ms-grid-column-span: 2;
    }

    &.qty {
      margin-right: 8px;
      min-width: 70px;
      text-align: right;
      grid-area: qty;
      -ms-grid-row: 3;
      -ms-grid-row-span: 1;
      -ms-grid-column: 4;
      -ms-grid-column-span: 1;

      .control {
        display: flex;
        justify-content: flex-end;

        .input-text {
          @extend .form-control;
          width: 70px;
          height: $input-height;
          text-align: center;
          border-radius: 4px;
        }
      }
    }

    &.actions {
      margin-right: 0;
      grid-area: actions;
      -ms-grid-row: 3;
      -ms-grid-row-span: 1;
      -ms-grid-column: 5;
      -ms-grid-column-span: 1;

      .btn {
        width: 100%;
      }
    }

    &.description {
      margin-top: 8px;
      color: $grey-dark;
      font-size: 12px;
      grid-area: description;

      .grouped__original-description {
        display: none;
      }

      .grouped__edited-description {
        display: inline;
      }

      .grouped__read-more {
        display: inline-flex;
        font-size: $font-size-body3;
        text-transform: none;
        margin-top: -3px;

        &:not([href]) {
          text-decoration: underline;

          &:hover {
            text-decoration: underline;
            color: $color-custom-3;
          }
        }
      }
    }
  }

  &__label {
    margin-right: 5px;
  }

  &__value {
    color: $blue;
    font-weight: $font-weight-semiBold;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-transform: uppercase;
    border-bottom: 1px solid $table-border-color;
    padding: 0 16px;

    &-product {
      &__col {
        padding: 4px 0;

        &.name {
          width: calc(30% + 56px);
        }

        &.price {
          text-align: right;
        }
      }
    }
  }

  &__content {
    border-bottom: 1px solid $grey-light;

    &-product {
      display: grid;
      grid-template-areas:
          "photo name . info info"
          "photo sku . info info"
          "photo description price qty actions";
      padding: 16px 8px;

      .amlabel-position-wrapper {
        display: none!important;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }

  &__unavailable {
    padding: 16px;
  }

  &.table-wrapper {
    position: relative;
    min-height: 85px;

    &.is-loading {
      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        margin: auto;
        right: 0;
        top: 0;
        z-index: 100;
        background-color: rgba(255, 255, 255, 0.5);
        background-image: url('../images/loader-1.gif');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 64px;
      }
    }
  }

  &.table-wrapper {
    margin-bottom: 24px;
    width: 100%;
  }

  &--lite {
    .grouped {
      &__content {
        &-product {
          grid-template-columns: max-content 44% 16% max-content 1fr;
          border-bottom: 1px solid $grey-light;
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }

  &--full-width {
    .grouped {
      &__content {
        &-product {
          grid-template-columns: max-content 55% 15% max-content 1fr;

          &:nth-child(odd) {
            background-color: $background-2;
          }

          &:nth-child(even) {
            background-color: $background-1;
          }
        }
      }

      &__col {
        &.info {
          //min-width: 190px;
        }

        &.qty {
          margin-right: 16px;
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .grouped {
    &--lite {
      .grouped {
        &__content {
          &-product {
            grid-template-areas:
                "photo name name"
                "photo sku sku"
                "photo description description"
                "photo price price"
                "photo info info"
                "photo qty actions";
            grid-template-columns: max-content 0fr;

            &__col {
              margin-right: 0;

              &.image {
                margin-right: 8px;
                -ms-grid-row: 1;
                -ms-grid-row-span: 5;
                -ms-grid-column: 1;
                -ms-grid-column-span: 1;
              }

              &.name {
                -ms-grid-row: 1;
                -ms-grid-row-span: 1;
                -ms-grid-column: 2;
                -ms-grid-column-span: 2;
              }

              &.sku {
                -ms-grid-row: 2;
                -ms-grid-row-span: 1;
                -ms-grid-column: 2;
                -ms-grid-column-span: 2;
              }

              &.description {
                margin-top: 4px;
                -ms-grid-row: 3;
                -ms-grid-row-span: 1;
                -ms-grid-column: 2;
                -ms-grid-column-span: 2;
              }

              &.price {
                -ms-grid-row: 4;
                -ms-grid-row-span: 1;
                -ms-grid-column: 2;
                -ms-grid-column-span: 2;
                margin-top: 12px;
                height: inherit;
                justify-content: flex-start;

                .product-info-price__wrapper {
                  align-items: flex-start;
                }

                .product-info-price__price-with-tax {
                  justify-content: flex-start;
                }

                .price-box {
                  justify-content: flex-start;
                }
              }

              &.info {
                margin-top: 16px;
                justify-self: flex-start;
                -ms-grid-row: 5;
                -ms-grid-row-span: 1;
                -ms-grid-column: 2;
                -ms-grid-column-span: 2;
              }

              &.qty {
                margin-top: 16px;
                margin-right: 8px;
                -ms-grid-row: 6;
                -ms-grid-row-span: 1;
                -ms-grid-column: 2;
                -ms-grid-column-span: 1;

                .control {
                  justify-content: flex-start;
                }
              }

              &.actions {
                margin-top: 16px !important;
                -ms-grid-row: 6;
                -ms-grid-row-span: 1;
                -ms-grid-column: 3;
                -ms-grid-column-span: 1;

                .btn {
                  width: auto;
                }
              }
            }
          }
        }
      }
    }

    &--full-width {
      .grouped {
        &__content {
          &-product {
            grid-template-columns: max-content 44% 16% max-content 1fr;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .grouped {
    &__col {
      &.qty {
        .control {
          .input-text {
            height: 40px;
          }
        }
      }

      &.actions {
        .btn {
          padding: 8px 24px;
          height: 40px;
        }
      }
    }

    &--full-width {
      .grouped {
        &__content {
          &-product {
            grid-template-areas:
                "photo name name"
                "photo sku sku"
                "photo description description"
                "photo price price"
                "photo info info"
                "photo qty actions";
            grid-template-columns: max-content 0fr;

            &__col {
              margin-right: 0;

              &.image {
                margin-right: 8px;
                -ms-grid-row: 1;
                -ms-grid-row-span: 5;
                -ms-grid-column: 1;
                -ms-grid-column-span: 1;
              }

              &.name {
                -ms-grid-row: 1;
                -ms-grid-row-span: 1;
                -ms-grid-column: 2;
                -ms-grid-column-span: 2;
              }

              &.sku {
                -ms-grid-row: 2;
                -ms-grid-row-span: 1;
                -ms-grid-column: 2;
                -ms-grid-column-span: 2;
              }

              &.description {
                margin-top: 4px;
                -ms-grid-row: 3;
                -ms-grid-row-span: 1;
                -ms-grid-column: 2;
                -ms-grid-column-span: 2;
              }

              &.price {
                -ms-grid-row: 4;
                -ms-grid-row-span: 1;
                -ms-grid-column: 2;
                -ms-grid-column-span: 2;
                margin-top: 12px;
                height: inherit;
                justify-content: flex-start;

                .product-info-price__wrapper {
                  align-items: flex-start;
                }

                .product-info-price__price-with-tax {
                  justify-content: flex-start;
                }

                .price-box {
                  justify-content: flex-start;
                }
              }

              &.info {
                justify-self: flex-start;
                margin-top: 16px;
                -ms-grid-row: 5;
                -ms-grid-row-span: 1;
                -ms-grid-column: 2;
                -ms-grid-column-span: 2;
              }

              &.qty {
                margin-top: 16px;
                margin-right: 8px;
                -ms-grid-row: 6;
                -ms-grid-row-span: 1;
                -ms-grid-column: 2;
                -ms-grid-column-span: 1;

                .control {
                  justify-content: flex-start;
                }
              }

              &.actions {
                margin-top: 16px !important;
                -ms-grid-row: 6;
                -ms-grid-row-span: 1;
                -ms-grid-column: 3;
                -ms-grid-column-span: 1;

                .btn {
                  width: auto;
                }
              }
            }
          }
        }
      }
    }
  }
}