.products-slider {
  &__heading {
    margin-bottom: 32px;
  }

  &__title {
    text-align: center;
  }

  &__content {
    .product {
      &__items {
        justify-content: center;

        &:not(.widget-product-grid) {
          .product {
            &__inner {
              &:hover {
                .product {
                  &__name {
                    margin-top: 0;
                  }

                  &__actions {
                    bottom: 100%;
                  }
                }
              }
            }
          }
        }

        &.slick-initialized {
          .slick-arrow {
            &.slick-prev,
            &.slick-next {
              top: calc(50% - 40px);
            }
          }

          .slick-slide {
            height: auto;
            flex: unset;
          }

          .slick-dots {
            bottom: 0;
          }
        }

        .slick-track {
          display: flex;
          flex-direction: row;
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .products-slider {
  }
}
