.page-product-bundle {
  .info {
    &__add-to-cart {
      display: flex;
      flex-flow: row wrap;

      > form {
        @include make-row();
      }
    }
  }

  .product {
    &__bundle-container {
      .product-add-form {
        display: none;
        margin-top: 50px;
        margin-bottom: 0;
      }

      .bundle-options-wrapper {
        .product-options-wrapper {
          margin-bottom: 0;

          .fieldset {
            .action.back.customization {
              padding: 0;
              margin-bottom: 32px;
            }

            .field.option + .field.option {
              margin-top: 2rem;
            }

            .field {
              .label:not(.custom-radio) {
                font-size: $font-size-base;
                margin-bottom: 1rem;
              }

              .control {
                .product-name,
                .price-notice {
                  font-size: $font-size-body3;
                }

                .price-notice {
                  font-weight: $font-weight-bold;
                }

                .nested {
                  margin-bottom: 0;

                  .field.qty {
                    margin-top: 1rem;
                    display: flex;
                    align-items: center;

                    .form-group {
                      display: flex;
                      align-items: center;
                    }

                    .label,
                    .control {
                      margin-bottom: 0;
                    }

                    .label {
                      font-size: $font-size-body3;
                      padding-right: 8px;
                    }

                    .control {
                      input {
                        @extend .form-control;
                        border-radius: 4px;
                        text-align: center;
                        width: 40px;
                        height: 32px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .block-bundle-summary {
        .title {
          font-size: $font-size-body2;
          text-transform: uppercase;
          border-bottom: 1px solid $primary;
          padding: 0 8px 6px;
        }

        .content {
          .bundle {
            &-info {
              margin-top: 1rem;
              margin-bottom: 46px;

              .product-details {
                display: flex;
                flex-direction: column;

                .box-tocart {
                  order: 2;
                }

                .price-box {
                  width: 100%;
                  order: 1;

                  .price {
                    &-container {
                      display: flex;
                      flex-wrap: wrap;
                    }

                    &-label {
                      display: block !important;
                      padding-right: 8px;
                    }

                    &-wrapper {
                      font-weight: $font-weight-bold;
                    }
                  }
                }
              }
            }

            &-summary {
              .title {
                margin-bottom: 0;
              }

              div[data-container="product-summary"] {
                padding: 0 8px;

                ul {
                  li {
                    border-bottom: 1px solid $grey-light;
                    padding: 16px 0;

                    .label,
                    div[data-container="options"] {
                      font-size: $font-size-body2;
                    }

                    div[data-container="options"] {
                      color: $grey-medium;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .page-product-bundle {
    .info {
      &__add-to-cart {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
      }

      &__customize {
        margin-bottom: 16px;
      }
    }

    .product {
      &__bundle-container {
        .block-bundle-summary {
          .title {
            padding: 0 0 6px;
          }
        }
      }
    }
  }
}
