.product--grid {
  margin-bottom: 40px;
  position: relative;
  display: flex;
  flex-direction: column;

  .product {
    &__items {
      margin-bottom: 0;
    }

    &__inner {
      position: relative;
      height: 100%;
      display: flex;
      flex-direction: column;

      &:hover {
        //Show diferents elementes in hover
        @include media-breakpoint-up(md) {
          .product {
            &__actions {
              position: absolute;
              bottom: 100%;
              /*padding: 6px 8px 10px;*/
              background-color: rgba(255, 255, 255, 0.9);
              @include transition(all, 0.1s);

              .actions__primary,
              .swatch-attribute.size,
              .swatch-attribute.mysize,
              .swatch-attribute.widthcm,
              .swatch-attribute.dimension { //change size by name atributes that you hide after hover
                display: block;
              }

              .swatch-attribute {
                .swatch-option {
                  &.image {
                    max-width: 32px;
                    max-height: 32px;

                    &.disabled {
                      &::after {
                        content: '';
                        width: 45px;
                      }
                    }
                  }

                  &.text {
                    min-width: 32px;
                    height: 32px;
                  }
                }
              }
            }

            &__name {
              //margin-top: 32px;
            }
          }
        }
      }
    }

    &__info {
      height: 100%;
      display: flex;
      flex-direction: column;
      z-index: $zindex-dropdown !important;
    }

    &__image {
      margin-bottom: 8px;
    }

    &__details {
      text-align: left;
      position: relative;
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
    }

    &__name {
      font-weight: $font-weight-semiBold;
      //white-space: nowrap;
      //overflow: hidden;
      //text-overflow: ellipsis;
      margin-bottom: 12px;
      color: $grey-dark;
      flex: 1 1 auto;
    }

    &__price {
      .price-box {
        justify-content: flex-start;

        p {
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    &__bottom {
      min-height: 45px;
    }

    &__actions {
      width: 100%;
      text-align: center;
      min-height: auto;

      .action.tocart {
        padding: 11px 0 9px;
        min-width: 100%;
      }

      .stock {
        &.unavailable {
          color: $danger;
        }
      }

      .actions__primary,
      .swatch-attribute.size,
      .swatch-attribute.mysize,
      .swatch-attribute.widthcm,
      .swatch-attribute.dimension { //change size by name atributes that you hide after hover
        display: none;
      }

      div[class^="swatch-opt"] {
        .swatch-attribute:only-child {
          display: block;
        }
      }

      .actions__secondary {
        display: none;
      }
    }

    &__more {
      color: $grey-medium;
      font-size: $font-size-body3;
    }

    &__review {
      display: flex;
      justify-content: center;
    }

    &__unavailable {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 15px;
      right: 15px;
      background-color: rgba(255, 255, 255, 0.5);
      z-index: 1;

      .text {
        display: inline-block;
        margin: 5px;
        padding: 4px 12px;
        background-color: $grey-light;
        color: white;
        text-transform: uppercase;
        font-weight: $font-weight-semiBold;
        line-height: 24px;
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .product--grid {
    margin-bottom: 20px;

    .product {
      &__image {
        margin-bottom: 8px;
      }

      &__name {
        margin-bottom: 8px;
      }

      &__details {
      }

      &__price {
        margin-bottom: 9px;
      }

      &__actions {
        display: none;
      }
    }
  }
}
