.rating-summary {
  .label {
    display: none;
  }

  .rating {
    &-result {
      width: 80px;
      height: 20px;
      background: url('../images/icons-sprite.svg#ico-stars-empty') no-repeat center;
      background-size: 80px;

      > span {
        display: block;
        width: 80px;
        height: 20px;
        background: url('../images/icons-sprite.svg#ico-stars-full') no-repeat center;
        background-size: 80px;
        overflow: hidden;
        background-position: 0;
        font-size: 0;
      }
    }

    &-value {
      display: none;
    }
  }
}
