.restricted-product-info {
  background-color: $white;
  box-shadow: $box-shadow-2;

  &__inner {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 32px;
  }

  &__content {
    font-weight: $font-weight-normal;
    font-size: $small-font-size;
    line-height: 16px;
    text-transform: uppercase;
    max-width: calc(80% - 200px);

    &__label {
      font-weight: $font-weight-semiBold;
    }

    &__value {
      color: $grey-medium;
    }
  }

  &__action-stick {
    text-transform: none;
    text-decoration: underline;
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;

    &:before {
      content: '';
      width: 16px;
      height: 16px;
      margin-right: 8px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('../images/icons/ico-stick.svg');
    }

    &:after {
      content: attr(data-label-stick);
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &.is-sticked {
    position: fixed;
    z-index: $zindex-sticky;
    left: 0;
    bottom: 0;
    width: 100%;

    .restricted-product-info {
      &__action-stick {
        &:before {
          background-image: url('../images/icons/ico-unstick.svg');
        }

        &:after {
          content: attr(data-label-unstick);
        }
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .restricted-product-info {
    &__content {
      max-width: calc(90% - 200px);
    }
  }
}

@include media-breakpoint-down(md) {
  .restricted-product-info {
    &__content {
      max-width: calc(100% - 200px);
    }
  }
}

@include media-breakpoint-down(sm) {
  .restricted-product-info {
    &__inner {
      flex-direction: column;
      padding: 20px 15px;
    }

    &__content {
      max-width: inherit;
    }

    &__action-stick {
      position: static;
      margin: 16px 0 0 0;
      align-self: flex-end;
    }
  }
}

