.product__reviews {
  order: 6;
  margin-bottom: 72px;
}

.reviews {
  &__title {
    padding-top: 52px;
    margin-bottom: 24px;
  }

  &__item {
    padding: 12px 0;

    &:first-child {
      padding-top: 0;
    }
  }

  &-actions {
    margin-left: 10px;

    .action {
      &.view {
        font-weight: $font-weight-semiBold;
        font-size: $font-size-body2;
        color: $black;

        + .add {
          display: none;
        }
      }

      &.add {
        font-size: $font-size-body3;
        display: none;
      }
    }
  }

  .item {
    .rating-result {
      margin-bottom: 14px;
    }

    &__title {
      font-weight: $font-weight-semiBold;
      font-size: $h5-font-size;
    }

    &__content {
      width: 100%;
    }

    &__details {
      display: flex;
      justify-content: space-between;
      margin-top: 12px;

      .review-author,
      .review-date {
        color: $grey-dark;
        font-size: $font-size-body3;
      }
    }
  }

  &-toolbar {
    justify-content: center;

    .limiter {
      display: none;
    }
  }
  .review-items {
    margin-bottom: 51px;
  }
}

.review-add {
  &__title {
    margin-bottom: 24px;
  }

  &__content {
    background-color: $background-1;

    .review {
      &-form {
        padding: 53px 21% 48px;
        .review-fieldset {
          .label {
            margin-bottom: 5px;
          }
          textarea.form-control {
            height: 120px;
          }
        }
      }

      &-legend {
        display: none;
      }

      &-field-ratings {
        margin-bottom: 4px;

        legend {
          display: none;
        }
      }

      &-control-vote {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;

        > input {
          display: none;
        }

        > label {
          cursor: pointer;
          margin-bottom: 0;
          margin-right: 4px;
          position: relative;
          display: block;
          width: 20px;
          height: 20px;
          background: url('../images/icons-sprite.svg#ico-stars-empty') no-repeat left;
          background-size: 112px;
          font-size: 0;
        }

        input {
          opacity: 0;
          z-index: -1;
          height: 1px;
          position: absolute;
        }

        > input:checked ~ label, /* show gold star when clicked */
        &:not(:checked) > label:hover, /* hover current star */
        &:not(:checked) > label:hover ~ label {
          background: url('../images/icons-sprite.svg#ico-stars-full') no-repeat left;
          background-size: 112px;
        }
      }

      &-form-actions {
        margin-top: 16px;
      }
    }
  }
}

.product-reviews-summary {
  display: flex;
  align-items: center;
  justify-content: center;
}

.customer-review {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .review {
    &-details {
      margin-top: 40px;

      .rating-summary {
        display: flex;
        flex-direction: row;
        margin-bottom: 12px;

        .rating-label {
          display: none;
        }
      }

      .review-title {
        font-size: $h5-font-size;
        font-weight: $font-weight-semiBold;
        line-height: 24px;
      }
    }

    &-content {
      margin-bottom: 12px;
    }

    &-date {
      color: $grey-light;
      font-size: $font-size-body3;
    }
  }

  .product {
    &-media {
      margin-bottom: 8px;
    }

    &-reviews-summary {
      justify-content: flex-start;
    }

    &-info {
      .product-name.h5 {
        font-size: $h2-font-size;
      }

      .rating-average-label {
        display: none;
      }
    }
  }
}

.product-review-container {
  padding-right: 11.3%;
}

.reviews__content {
  &.row {
    border: 1px solid $grey-dark;
    margin: 0;
    padding: 50px;
  }
}

@include media-breakpoint-down(sm) {
  .reviews {
    &__title {
      padding-top: 0;
    }
    .review-items {
      margin-bottom: 18px;
    }
  }
  .review-add {
    padding: 0;

    &__content {
      .review-form {
        padding: 40px 32px;
      }

      .primary {
        .btn.btn-primary {
          min-width: 100%;
        }
      }
    }
  }
  .product-review-container {
    padding-right: 15px;
  }

  .product__reviews {
    padding: 25px 0 16px;
    border-top: 1px solid $grey-dark;
  }
  .reviews__content {
    &.row {
      border: 0;
    }
  }
}
@include media-breakpoint-down(md) {
  .reviews__content {
    &.row {
      padding: 0;

      .review-add {
        padding: 0;

        .review-form {
          padding: 53px 15% 48px;
        }
      }
    }
  }
}