.minisearch {
  position: relative;
  display: flex;
  flex-direction: row;
  max-width: 450px;
  &__trigger {
    display: none;
    .icon {
      &.ico-close {
        display: none;
      }
    }
    &.open {
      .icon {
        &.ico-search {
          display: none;
        }
        &.ico-close {
          display: block;
        }
      }
    }
  }
  &__content {
    flex: 1;
    .field {
      .control {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 0;
      }
      .form-control {
        padding-left: 16px;
        padding-right: 16px;
        border-right: unset;
        border-top-right-radius: unset;
        border-bottom-right-radius: unset;
        height: 40px;
        width: 100%;
        &:focus {
          box-shadow: none;
        }
      }
      .search-autocomplete {
        display: none;
        top: 43px;
        padding: 10px 15px;
        border: 1px solid $input-border-color;
        background-color: $white;
        z-index: 1;
        ul {
          margin-bottom: 0;
          li {
            padding: 5px 0;
            cursor: pointer;
            + li {
              border-top: 1px solid $grey-light;
            }
            .amount {
              margin-left: 5px;
              &::before {
                content: '(';
              }
              &::after {
                content: ')';
              }
            }
          }
        }
      }
      .nested {
        position: absolute;
        top: 100%;
        display: none;
        .action {
          font-size: $font-size-body2;
        }
      }
    }
    .field {
      flex: 1 1 auto;
    }
    .actions {
      height: 100%;
      .action {
        cursor: pointer;
        width: 80px;
        height: 40px;
        padding: 0;
        border: none;
        appearance: none;
        background-color: $color-custom-3;
        border-top-right-radius: $btn-border-radius-sm;
        border-bottom-right-radius: $btn-border-radius-sm;
        @include transition(all, 0.3s);
        .icon {
          fill: $white;
          height: 20px;
          width: 20px;
        }
        &:hover:not([disabled]) {
          box-shadow: $box-shadow-3;
        }
        &:disabled {
          cursor: default;
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .minisearch {
    &__trigger {
      display: block;
    }
    &__content {
      .field {
        flex: 1 1 auto;
        .form-control {
          padding-right: 40px;
          width: 100%;
          border-radius: $border-radius;
          border: 1px solid $input-border-color;
        }
      }
      .actions {
        display: none;
      }
    }
  }
}
