.secure-payment {
  .icon {
    fill: $footer-bottom-color;
  }

  .label {
    display: block;
    margin-right: 4px;
    margin-left: 4px;
    margin-bottom: 16px;
    font-weight: $font-weight-semiBold;
  }

  .icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    i {
      margin-right: 8px;
      margin-bottom: 8px;

      &:last-child {
        margin-right: 0;
      }
    }

    .icon {
      fill: $footer-bottom-color;
      stroke-width: 1px;
      stroke: none;
      width: 38px;
      height: 23px;
      &.ico-geotrust {
        width: 75px;
      }
      &.ico-ssl {
        width: auto;
      }
    }

    .payment-icons-row {
      width: 100%;
      display: flex;
      justify-content: center;

      .icon {
        height: 28px;
        width: 90px;
      }

      i {
        margin-right: 4px;
        margin-bottom: 3px;
      }

      &.cards {
        .icon {
          width: 40px;
        }
      }
    }
  }
}

.footer-checkout {
  .secure-payment {
    padding: 0 15px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .label {
      font-size: 12px;
      font-weight: $font-weight-normal;
      margin-bottom: 8px;
      margin-left: 16px;
      margin-right: 16px;
    }
  }
}

.opc-sidebar-additional {
  font-size: $font-size-body2;

  .secure-payment {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 0 16px;
    border-top: 1px solid $grey-light;
    border-bottom: 1px solid $grey-light;

    .label {
      margin: 0 0 15px;
    }
  }
}

@include media-breakpoint-down(md) {
  .secure-payment {
    text-align: center;

    .label {
      font-size: 14px;
      font-weight: $font-weight-normal;
      margin-bottom: 12px;
    }

    .icons {
      justify-content: center;
    }
  }
}
