//Store switcher default
.store-switcher {
  &__content:not(.modal-switcher) {
    @include dropdownLinks();
  }

  &.active {
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: -15px;
      width: 100%;
      border-bottom: 8px solid $color-custom-1;
    }

    .store-switcher__content {
      display: block;
    }
  }

  //Store Switcher Interactiv4
  &__modal {
    &.modal-popup {
      .modal-inner-wrap {
        min-width: 312px;
        width: 312px;
      }

      .modal-content {
        padding-bottom: 48px;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .store-switcher {
    position: relative;

    &__toggle {
      display: flex;
      align-items: center;

      .icon {
        width: 16px;
        height: 16px;
        margin-right: 8px;
      }
    }

    &__current {
      text-transform: uppercase;
    }

    &__label {
      display: none;
    }

    &__content {
      position: relative;
      left: 0;
      width: 100%;
      margin-top: 12px;
      border: none;
      box-shadow: none;
      background: $background-1;

      li {
        + li {
          border: none;
        }
      }

      &:not(.modal-switcher) {
        box-shadow: none;
        border: none;
        background: $background-1;
        position: static;
      }
    }

    &::after {
      content: '';
      right: 0;
      top: 0;
      bottom: auto;
      width: 28px;
      height: 28px;
      background-image: url('../images/icons/ico-plus.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 14px;
      border: none;
      position: absolute;
    }

    &.active {
      &::after {
        content: '';
        right: 0;
        top: 0;
        bottom: auto;
        width: 28px;
        height: 28px;
        background-image: url('../images/icons/ico-minus.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 14px;
        border: none;
      }
    }
  }
}
