.payment-method {
  &.stripe-payments {
    .payment-info {
      font-size: $font-size-body2;
      margin-top: -20px;
      margin-bottom: 25px;
    }

    .stripe-elements-field {
      @extend .form-control;
      box-shadow: none;
      padding-top: 14px;
    }

    .stripe-payments-elements {
      label {
        margin-bottom: 0;
      }

      &.inline {
        display: inline-block;
        margin-right: 16px;
        position: relative;

        .ico-question {
          width: 20px;
          height: 20px;
          margin: 0;
          cursor: pointer;
        }

        .field-tooltip {
          top: auto;
          left: auto;
          bottom: 26px;
          margin-left: 15px;
        }
      }

      .field-tooltip-content {
        top: -19px;
        z-index: 1;
      }

      #stripe-payments-card-number {
        width: 100%;
      }

      #stripe-payments-card-cvc,
      #stripe-payments-card-expiry {
        min-width: 120px;
      }
    }

    #stripe-payments-card-errors {
      font-size: $font-size-body3;
      color: $danger;
      margin-top: 4px;
      display: block;
      border: 0;
      padding: 0;
    }

    .ccard {
      max-width: 445px;
    }

     .pci-dss-info-block {
       display: none;
     }

    .stripe-payments-brand {
      display: none;
    }
  }
}

@include media-breakpoint-down(md) {
  .payment-method {
    &.stripe-payments {
      .stripe-payments-elements {
        &.inline {
          margin-right: 10px;
        }

        .field-tooltip-content {
          left: -66px;
          top: -92px;
          width: 150px;
        }
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  .payment-method {
    &.stripe-payments {
      .stripe-payments-elements {
        &.inline {
          max-width: 108px;
        }

        #stripe-payments-card-cvc,
        #stripe-payments-card-expiry {
          min-width: 108px;
        }

        .field-tooltip-content {
          left: -108px;
          top: -92px;
          width: 150px;

          &:before {
            left: calc(79% - 10px);
          }
        }
      }
    }
  }
}