.swatch-attribute {
  + .swatch-attribute {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 4px;
  }

  &.swatch-layered {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;

    .swatch {
      &-option {
        width: 12px;
        height: 12px;
        border: 1px solid $grey-light;

        &:not(.text) {
          &::after {
            content: attr(option-label);
            position: relative;
            display: inline-block;
            margin-left: 4px;
            width: auto;
            height: auto;
            top: 0;
            left: calc(100% + 4px);
          }
        }

        &-link-layered {
          .input {
            &:checked {
              + .am-swatch-link {
                font-weight: $font-weight-semiBold;
              }
            }
          }

          .am-swatch-link {
            display: flex;
            align-items: center;
            padding-left: 0;

            &::before,
            &::after {
              display: none;
            }
          }
        }
      }
    }

    &.am-filter-items-attr_color {
      .swatch-option-link-layered {
        flex: 50%;
      }
    }
  }

  .swatch {
    &-attribute-options {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    &-option {
      display: flex;
      align-items: center;
      cursor: pointer;
      position: relative;
      font-size: $font-size-body2;
      margin: 4px;

      &.image {
        max-width: 20px;
        max-height: 20px;
        background-size: contain !important;

        &:hover:not(.disabled),
        &.selected:not(.disabled) {
          border: 2px solid $color-custom-1;
        }

        &.selected {
          //pointer-events: none;
        }

        &.disabled {
          opacity: 0.7;

          &::after {
            content: '';
            position: absolute;
            width: 28px;
            height: 0;
            border-bottom: 1px solid $grey-light;
            transform: translateY(0) translateX(0) rotate(-45deg);
          }
        }
      }

      &.text {
        justify-content: center;
        min-width: 30px;
        width: auto;
        height: 20px;
        border: 1px solid $grey-light;
        border-radius: 4px;
        padding: 0 8px;
        white-space: nowrap;

        &:hover,
        &.selected {
          color: $color-custom-1;
          border: 2px solid $color-custom-1;
        }

        &.disabled {
          color: $grey-light;
          text-decoration: line-through;
        }
      }

      &.disabled {
        cursor: not-allowed;
      }
    }
  }
}

.swatch-option-loading {
  + .photo__loader {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/loader-1.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
    background-color: rgba(255, 255, 255, 0.5);
  }
}

//swatchs PDP
[data-role="swatch-options"] {
  .swatch-attribute {
    font-size: $font-size-body2;

    + .swatch-attribute {
      margin-top: 9px;
    }

    &:last-child {
      padding-bottom: 0;
    }

    .swatch {
      &-attribute-label {
        margin-bottom: 8px;
        display: inline-block;

        &:after {
          content: ':';
          margin-right: 5px;
        }
      }

      &-attribute-selected-option {
        font-weight: $font-weight-semiBold;
      }

      &-attribute-options {
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 0;
      }

      &-option {
        font-weight: $font-weight-medium;
        border: 1px solid $grey-light;
        margin: 0 8px 8px 0;

        &.image {
          height: 56px;
          max-width: 56px;
          max-height: 56px;
          border: none;

          &:hover:not(.disabled),
          &.selected:not(.disabled) {
            border: 2px solid $color-custom-1;
          }

          &.selected {
            //pointer-events: none;
          }

          &.disabled {
            &:after {
              width: 78px;
            }
          }
        }

        &.text {
          min-width: 40px;
          height: 40px;
        }
      }
    }
  }
}

.swatch-input {
  left: -1000px;
  position: absolute;
  visibility: hidden;
}

.swatch-option-tooltip {
  //display: none !important;
  border: 1px solid $grey-light;
  color: $primary;
  display: none;
  max-height: 100%;
  min-height: 20px;
  min-width: 20px;
  padding: 5px;
  position: absolute;
  text-align: center;
  z-index: 999;
  background: $white;
  font-size: $font-size-body2;

  .image {
    display: block;
    height: 100px;
    margin: 0 auto;
    width: 100px;
  }

  .title {
    color: $primary;
    display: block;
    max-height: 200px;
    min-height: 20px;
    overflow: hidden;
    text-align: center;
  }

  .corner {
    bottom: 0;
    height: 8px;
    left: 40%;
    position: absolute;

    &::before,
    &::after {
      content: '';
      position: relative;
      height: 0;
      width: 0;
      border-style: solid;
      font-size: 1px;
    }

    &::before {
      border-color: $grey-light transparent transparent transparent;
      border-width: 8px 8.5px 0 8.5px;
      left: 0;
      top: 6px;
    }

    &::after {
      border-color: $white transparent transparent transparent;
      border-width: 7px 7.5px 0 7.5px;
      left: -16px;
      top: 5px;
    }
  }
}
