.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  .single-sort-option,
  .select-jcf,
  .jcf-select {
    border-color: transparent;
    background-color: $background-1;
  }

  &-amount-wrapper {
    display: flex;
    justify-content: flex-start;
    font-size: $font-size-body3;
  }

  &-filters-wrapper {
    display: flex;
  }

  .sorter {
    .sorter-label {
      display: none;
      margin-right: 10px;
    }

    .action {
      margin-right: 20px;

      &.sort-desc {
        transform: rotate(180deg);
      }

      span {
        @extend .sr-only;
      }
    }
  }

  .limiter {
    margin-left: 20px;

    .label {
      display: none;
    }

    .jcf-select,
    .select-jcf {
      min-width: 42px;
    }
  }

  .modes {
    display: none;
  }

  &--top {
    .pages {
      display: none;
    }
  }

  &--bottom {
    .toolbar {
      justify-content: center;

      &-amount-wrapper {
        display: none;
      }

      &-filters-wrapper {
        width: 100%;
      }

      .sorter {
        display: none;
      }

      .limiter {
        display: none;
      }

      .pages {
        margin-top: 22px;
        margin-bottom: 52px;
      }
    }
  }

  .single-sort-option {
    padding: 14px;
    line-height: 18px;
    height: 100%;
    border-radius: 8px;
  }
}
body>.jcf-select-drop {
  z-index: 1000;
}
@include media-breakpoint-down(md) {
  .toolbar {
    .single-sort-option,
    .jcf-select,
    .select-jcf {
      max-width: calc(100% - 40px);
      min-width: auto;
      flex: 1 1 auto;
    }

    &-amount-wrapper {
      display: none;
    }

    .sorter {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      position: absolute;
      top: 0;
      right: 20px;
      width: calc(50% - 30px);

      .action {
        order: 2;
        margin-right: 0;
        margin-left: 12px;
      }
    }

    .limiter {
      display: none;
    }

    &--top {
      .toolbar {
        margin-right: 0;
      }
    }
  }
}
