<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

// @codingStandardsIgnoreFile

?>
<?php /** @var \Magento\Sales\Block\Order\Info\Buttons $block */ ?>
<div class="actions">
    <?php  $_order = $block->getOrder() ?>
    <a class="action print"
       href="<?= /* @escapeNotVerified */ $block->getPrintUrl($_order) ?>"
       onclick="this.target='_blank';">
        <i class="module-icon">
            <svg class="icon icon-sm">
                <use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-eye"></use>
            </svg>
        </i>
        <span><?= /* @escapeNotVerified */ __('View invoice') ?></span>
    </a>
    <?php if ($this->helper('Magento\Sales\Helper\Reorder')->canReorder($_order->getEntityId())) : ?>
        <a href="#" data-post='<?php /* @escapeNotVerified */ echo
        $this->helper(\Magento\Framework\Data\Helper\PostHelper::class)
            ->getPostData($block->getReorderUrl($_order))
        ?>' class="action order">
            <i class="module-icon">
                <svg class="icon icon-sm">
                    <use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-reload"></use>
                </svg>
            </i>
            <span><?= /* @escapeNotVerified */ __('Reorder') ?></span>
        </a>
    <?php endif ?>
    <?= $block->getChildHtml() ?>
</div>
