<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<if args="isAllowed()">
    <if args="isSalable($row())">
        <button class="action tocart primary btn btn-primary btn-block"
                attr="'data-mage-init': getDataMageInit($row()),
                      'data-post': getDataPost($row()),
                       title: getLabel()"
                type="button">
            <span text="getLabel()"/>
        </button>
    </if>
</if>
