<!--
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */
-->
<div class="photo__container">
    <span class="photo__wrapper">
        <img class="photo__image" data-bind="attr: {src: src, alt: alt}" />
    </span>
</div>
