<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<!-- ko foreach: getRegion('before_details') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
<!-- /ko -->
<div class="product-item__details product-item-details">
    <div class="product-item__name-options">
        <div class="product-item__name product-item-inner">
            <span class="product-item-name" data-bind="html: $parent.name"></span>
        </div>

        <!-- ko if: (JSON.parse($parent.options).length > 0)-->
        <div class="product-item__options product options" data-bind="mageInit: {'collapsible':{'openedState': 'active'}}">
            <span data-role="title" class="toggle"><!-- ko i18n: 'View Details' --><!-- /ko --></span>
            <div data-role="content" class="content">
                <div class="item-options">
                    <!--ko foreach: JSON.parse($parent.options)-->
                        <div class="option">
                            <span class="label" data-bind="text: label"></span>
                            <!-- ko if: ($data.full_view)-->
                            <span class="values" data-bind="html: full_view"></span>
                            <!-- /ko -->
                            <!-- ko ifnot: ($data.full_view)-->
                            <span class="values" data-bind="html: value"></span>
                            <!-- /ko -->
                        </div>
                    <!-- /ko -->
                </div>
            </div>
        </div>
        <!-- /ko -->
    </div>

    <div class="product-item__qty-price">
        <div class="product-item__qty-price-unit">
            <!-- ko if: ($parent.price)-->
            <div class="product-item__unit-price">
                <span class="label"><!-- ko i18n: 'Item price' --><!-- /ko --></span>
                <span class="value" data-bind="text: getUnitPrice($parent)"></span>
            </div>
            <!-- /ko -->
            <div class="product-item__qty details-qty">
                <span class="label"><!-- ko i18n: 'Qty' --><!-- /ko --></span>
                <span class="value" data-bind="text: $parent.qty"></span>
            </div>
        </div>

        <!-- ko foreach: getRegion('after_details') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
    </div>
</div>
<!-- ko foreach: getRegion('item_message') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
<!-- /ko -->
