<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

/** @var \Interactiv4\StoreLocator\Block\Store\ViewPage $block */

/** @var \Interactiv4\StoreLocator\Api\Data\StoreInterface $store */
$store = $block->getStore();

$holidayData = $store->getHolidayData();
$specialDayData = $store->getSpecialDayData();

$hasHoliday = count($holidayData);
$hasSpecialDay = count($specialDayData);

?>
<div class="storepickup-wrapper storepickup-views-wrapper">

   <!-- TODO: hardcoded breadcrumbs -->

    <div class="breadcrumbs container-fluid">
        <ul class="items">
            <li class="item home">
                <a href="<?= $block->getBaseUrl() ?>" title="<?= __('Home'); ?>"><?= __('Home'); ?></a>
            </li>
            <li class="item stores">
                <a href="<?= $block->getBaseUrl() ?>stores" title="<?= __('Store Locator'); ?>"><?= __('Store Locator');
                ?></a>
            </li>
            <li class="item current">
                <strong><?= $block->escapeHtml($store->getName()) ?></strong>
            </li>
        </ul>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="gallery-images col-md-7 col-sm-12">
                <?php $images = $block->getImages(); ?>
                <?php if (!empty($images)) : ?>
                    <div class="main-image">
                        <?php if ($store->getMainImage()) : ?>
                            <img id="image" src="<?= $block->getMediaUrlImage($store->getMainImage()) ?>"
                                 class="current-image img-responsive">
                        <?php else : ?>
                            <img id="image" src="<?= $block->getMediaUrlImage($images[0]) ?>"
                                 class="current-image img-responsive">
                        <?php endif; ?>
                    </div>
                    <div class="more-views">
                        <ul>
                            <?php if ($store->getMainImage()) : ?>
                                <li>
                                    <div class="pickup-image-small">
                                        <img alt="" src="<?= $block->getMediaUrlImage($store->getMainImage()) ?>">
                                    </div>
                                </li>
                            <?php endif; ?>

                            <?php foreach ($images as $image) : ?>
                                <li>
                                    <div class="pickup-image-small">
                                        <img alt="" src="<?= $block->getMediaUrlImage($image) ?>">
                                    </div>
                                </li>
                            <?php endforeach; ?>
                        </ul>
                    </div>
                <?php endif; ?>
            </div>


            <div class="storepickup-information col-md-5 col-sm-12">
                <h1 class="title-page"><?= $block->escapeHtml($store->getName()) ?></h2>
                <div class="description">
                    <?= $store->getDescription(); ?>
                </div>

                <div class="contacs">
                    <div class="box-detail col-xs-12">

                        <!-- Address -->
                        <p>
                            <?= __('Address:'); ?>
                            <span class="group-info">
                            <span><?= $block->escapeHtmlAttr($store->getAddress()) . ', ' ?></span>
                            <span><?= $block->escapeHtmlAttr($store->getCity()) .
                                      ', ' .
                                      $block->escapeHtmlAttr($store->getRegion()) .
                                      ', ' ?></span>
                            <span><?= $block->escapeHtmlAttr($store->getCountry()) ?></span>

                        </span>
                        </p>

                        <!-- Phone -->
                        <?php if ($store->getTelePhone()): ?>
                            <p>
                                <?= __('Telephone:'); ?>
                                <span class="group-info"><?= $block->escapeHtmlAttr($store->getTelePhone()); ?></span>
                            </p>
                        <?php endif; ?>
                        <!-- Email -->
                        <?php if ($store->getEmail()): ?>
                            <p><?= __('Email:'); ?>
                                <a class="group-info"
                                   href="mailto:<?= $block->escapeQuote($store->getEmail()); ?>"><?= $block->escapeHtmlAttr(
                                        $store->getEmail()
                                    ); ?></a>
                            </p>
                        <?php endif; ?>

                        <!-- Link -->
                        <?php if ($store->getLink()): ?>
                            <p><?= __('Link:'); ?>
                                <a class="group-info" href="<?= $block->escapeQuote($store->getLink()); ?>"
                                   target="_blank"><?= $block->escapeHtmlAttr($store->getLink()); ?></a>
                            </p>
                        <?php endif; ?>
                    </div>
                </div>

                <div class="open-time">
                    <h2 class="open-time__title"><span><?= __('Opening hours') ?></span>
                    </h2>

                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                            <?php foreach ($block->getHashWeekdays() as $codeDay => $label) : ?>
                                <tr>
                                    <td class="time-label"><?= $label ?>:
                                    </td>
                                    <td><?= $block->getScheduleTimeHtml($store, $codeDay) ?></td>
                                </tr>
                            <?php endforeach; ?>

                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="tabs__wrapper">
                    <div class="tabs__header tabs">
                        <ul>
                            <?php if ($hasHoliday): ?>
                                <li class="storeday-tab-bar active <?php if (!$hasHoliday): ?> full-width <?php endif; ?>"
                                    data-tab-content="#tab_content_1">
                                    <?= __('Special Days') ?>
                                </li>
                            <?php endif; ?>
                            <?php if ($hasSpecialDay): ?>
                                <li class="storeday-tab-bar <?php if (!$hasSpecialDay): ?> active full-width <?php endif; ?>"
                                    data-tab-content="#tab_content_2">
                                    <?= __('Holidays') ?>
                                </li>
                            <?php endif; ?>

                        </ul>
                    </div>

                    <?php if ($hasSpecialDay): ?>
                        <div name="tab_content" id="tab_content_1" class="tabs__content active">
                            <div class="close-time speacial-days">
                                <ul>
                                    <?php foreach ($specialDayData as $specialDay): ?>
                                        <li>
                                            <h3 class="title"><?= $specialDay['name']; ?></h3>
                                            <div class="close-time__inner">
                                                <div>
                                                    <?= date_format(date_create($specialDay['date_from']), 'l jS F'); ?>
                                                    -
                                                    <?= date_format(date_create($specialDay['date_to']), 'l jS F'); ?>
                                                </div>
                                                <div>
                                                    <?php if ($specialDay['time_open'] != null &&
                                                              $specialDay['time_open'] != $specialDay['time_close']): ?>
                                                        <?= date("H:i", strtotime($specialDay['time_open']));
                                                        if ($specialDay['time_close_for_rest']) {
                                                            echo ' - ' .
                                                                 $specialDay['time_start_rest'] .
                                                                 ' && ' .
                                                                 $specialDay['time_end_rest'];
                                                        }
                                                        echo ' - ' . date("H:i", strtotime($specialDay['time_close'])) ?>
                                                    <?php else: ?>
                                                        <?= __('Open'); ?>
                                                    <?php endif; ?>
                                                </div>

                                                <?php if ($specialDay['comment'] != null): ?>
                                                    <div>
                                                        <?= $specialDay['comment']; ?>
                                                    </div>
                                                <?php endif; ?>
                                            </div>
                                        </li>
                                    <?php endforeach; ?>
                                </ul>
                            </div>
                        </div>
                    <?php endif; ?>

                    <?php if ($hasHoliday): ?>
                        <div name="tab_content" id="tab_content_2"
                             class="tabs__content" <?php if ($hasSpecialDay): ?> <?php endif; ?>>
                            <div class="close-time holidays">
                                <ul>
                                    <?php foreach ($holidayData as $holiday): ?>
                                        <li>
                                            <h3 class="title"><?= $holiday['name']; ?></h3>
                                            <div class="close-time__inner">
                                                <div>
                                                    <?= date_format(date_create($holiday['date_from']), 'l jS F'); ?>
                                                    -
                                                    <?= date_format(date_create($holiday['date_to']), 'l jS F'); ?>
                                                </div>
                                                <div><?= __('Closed'); ?></div>
                                                <?php if ($holiday['comment'] != null): ?>
                                                    <div> <?= $holiday['comment']; ?></div>
                                                <?php endif; ?>
                                            </div>
                                        </li>
                                    <?php endforeach; ?>
                                </ul>
                            </div>
                        </div>
                    <?php endif; ?>
                </div>
            </div>
        </div>
    </div>

    <div class="map-widget__wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="map-widget__map map-box-container col-md-8 col-sm-12">
                    <div class="googlemap"></div>
                </div>

                <div data-mage-init='{"interactiv4_storelocator/direction": {"latitude": "<?= $store->getLatitude() ?>", "longitude": <?= $store->getLongitude() ?>}}'
                         class="option-direction store-item__directions col-md-4 col-sm-12">
                    <div class="directions--title">
                        <h3><?= __('Direction') ?></h3>
                    </div>
                    <ul>
                        <li class="travel car active" data-traveling="DRIVING"><span>A</span></li>
                        <li class="travel bus" data-traveling="TRANSIT"><span>A</span></li>
                        <li class="travel walk" data-traveling="WALKING"><span>A</span></li>
                        <li class="travel bicycle" data-traveling="BICYCLING"><span>A</span></li>
                        <li class="swap">
                            <button type="button" onclick="" class="swap-locations" title="<?= __('Swap locations A-B') ?>"><?= __('Swap locations A-B') ?></button>
                        </li>
                    </ul>
                    <div id="directions-tool" class="store-item__directions-tool">
                        <div class="directions--searchbox-handle">
                            <div class="directions--icon waypoint-handle"><label for="origin">A</label></div>
                            <div class="directions--icon waypoint-to"><label for="origin">C</label></div>
                            <div class="directions--icon waypoint-bullet"><label for="origin">B</label></div>
                        </div>
                        <div class="directions--inputs">
                            <input class="form-control origin originA start" type="text" name="originA" isStart="true"
                                   autocomplete="off">
                            <input class="form-control origin originB end" readonly="true" type="text" name="originB" autocomplete="off"
                                   value="">
                            <button class="btn btn-primary get-direction action primary" id="get_direction"
                                   title="<?= __('Get Directions') ?>"
                                   type="submit">
                               <span><?= __('Go') ?></span>
                            </button>
                        </div>
                        <div class="directions--panel"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="popup-store-template" class="popup-store-template" type="text/x-magento-template">
    <div class="popup-store store-item store-<%- data.entity_id %>"
         title="<%- data.name %>"
         data-store-id="<%- data.entity_id %>"
         data-latitude="<%- data.latitude %>"
         data-longitude="<%- data.longitude %>"
         data-address="<%- data.address %>"
    >
        <div class="store-item__wrapper">
            <div class="store-item__image">
                <img class="img-responsive" src="<%- data.imgSrc %>"
                     alt="<%- data.name %>">
                <p><%- data.distanceText %></p>
            </div>
            <div class="store-item__content">
                <h4><%- data.name %></h4>
                <p class="address-store"><?= __('Address:'); ?> <%- data.address %></p>
                <?php if ($store->getTelephone()): ?>
                    <p><?= __('Phone:'); ?> <%- data.telephone %></p>
                <?php endif; ?>
                <?php if ($store->getEmail()): ?>
                    <p><?= __('Email:'); ?><a href="mailto:<%- data.email %>"> <%- data.email %></a></p>
                <?php endif; ?>
                <?php if ($store->getLink()): ?>
                    <p><?= __('Link:'); ?><a target="_blank" href="<%- data.link
                    %>"> <%- data.link %></a></p>
                <?php endif; ?>
            </div>
        </div>
    </div>
</script>
<script type="text/javascript">
    require(['jquery', 'interactiv4_storelocator/view_page/map'], function ($) {
        $(document).ready(function ($) {
            $('.storeday-tab-bar').click(function () {
                if (!$(this).hasClass('active')) {
                    var $oldTab = $('.storeday-tab-bar.active'),
                        $newTab = $(this);
                    $oldTab.removeClass('active');
                    $($oldTab.data('tab-content')).hide();

                    $newTab.addClass('active');
                    $($newTab.data('tab-content')).show();
                }
            });

            $('.pickup-image-small img').click(function () {
                $('.current-image').hide().attr('src', $(this).attr('src')).show();
            });

            $('.googlemap').map($.extend({
                storePopupTemplate: '.popup-store-template',
                distanceUnit: '<?= $block->getDistanceUnit() ?>',
                mediaUrlImage: '<?= $block->getMediaUrlImage() ?>',
                defaultStoreIcon: '<?= $block->getViewFileUrl("Interactiv4_StoreLocator::images/map_with_pin.png")?>',
            }, <?= $block->getStoreJson($store)?>));
        });
    });
</script>