<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

/** @var \Interactiv4\StoreLocator\Block\Wrapper $block */
?>

<div class="storepickup-wrapper">
    <?= $block->getChildHtml('interactiv4_storelocator.search_box'); ?>
    <div class="boxes-content container-fluid">
        <div class="row">
            <?= $block->getChildHtml('interactiv4_storelocator.list_store_box'); ?>
            <?= $block->getChildHtml('interactiv4_storelocator.map_box'); ?>
        </div>
    </div>
    <div class="overlay-bg">
        <img src="<?= $block->getViewFileUrl('Interactiv4_StoreLocator::images/ajax-loader.gif') ?>"
             alt="overlay"/>
    </div>
    <script type="text/javascript">
        var loadStoreURL = '<?= $block->getUrlCallLoadStore() ?>';
        var loadCountriesURL = '<?= $block->getUrlCallCountriesStores() ?>';
        require([
            'jquery',
            'interactiv4_storelocator/google_map',
            'interactiv4_storelocator/marker_cluster'
        ], function ($) {
            $(window).load(function () {
                $('.googlemap').googleMap({
                    urlLoadStore: loadStoreURL,
                    urlCountries: loadCountriesURL,
                    paginationWrapper: '.pagination-wrapper',
                    listStoreContainer: '.list-store-container',
                    storePopupTemplate: '.popup-store-template',
                    listTag: '.list-tag-ul',
                    searchBox: '.search-box',
                    loader: '.overlay-bg',
                    defaultRadius: '<?= $block->getDefaultRadius() ?>',
                    distanceUnit: '<?= $block->getDistanceUnit() ?>',
                    circleCenterIcon: '<?= $block->getViewFileUrl(
                        'Interactiv4_StoreLocator/images/circle_center.png'
                    ) ?>',
                    mediaUrlImage: '<?= $block->getMediaUrlImage() ?>',
                    enablePreloadStores: <?= ($block->getEnablePreloadStores() ? 'true' : 'false') ?>,
                    defaultStoreIcon: '<?= $block->getViewFileUrl("Interactiv4_StoreLocator::images/map_with_pin.png")?>'
                });
            });
        });
    </script>
</div>
