<?php

/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

/**
 * Grouped product data template
 *
 * @var $block \Magento\Catalog\Block\Product\View\BaseImage
 * @var $block \Magento\GroupedProduct\Block\Product\View\Type\Grouped
 * @var $configViewModel \Logiscenter\GroupedModels\ViewModel\Config
 * @var $priceViewModel \Logiscenter\Price\ViewModel\PriceProvider
 */
$viewModel = $block->getData('configViewModel');
$priceViewModel = $block->getData('priceViewModel');
?>
<?php $block->setPreconfiguredValue(); ?>
<?php $_product = $block->getProduct(); ?>
<?php $_associatedProducts = $block->getAssociatedProducts(); ?>
<?php $totalAssociatedProducts = count($_associatedProducts); ?>

<?php
    // We are retrieving the two first elements from the product collection
if ($viewModel->isEnabled() && $totalAssociatedProducts > 2) {
    $_associatedProducts = array_slice($_associatedProducts, 0, 2, true);
}
?>

<?= /* @noEscape */ $block->getLayout()->createBlock(\Magento\GroupedProduct\Block\Product\View\Type\Grouped::class)
    ->setTemplate('Logiscenter_GroupedModels::product/view/table.phtml')
    ->setProductGrouped($_product)
    ->setAssociatedProductsGrouped($_associatedProducts)
    ->setPriceViewModel($priceViewModel)
    ->toHtml()
?>

<?php if ($viewModel->isEnabled() && $totalAssociatedProducts > 2): ?>
    <div class="info__see-more-models">
        <span class="info__see-more-models__label btn btn-link btn-link-sm" data-event="see-more-models">
            <?= /* @escapeNotVerified */ __('See more models') ?>
        </span>
    </div>
<?php endif; ?>

<script>
    require(['jquery', 'mwGroupedProduct'], function ($, mwGroupedProduct) {
        mwGroupedProduct.init();
    });
</script>