<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

// @codingStandardsIgnoreFile

?>
<?php if ($block->getResultCount()): ?>
<?= $block->getChildHtml('tagged_product_list_rss_link') ?>
<div class="search results">
    <?php if ($messages = $block->getNoteMessages()):?>
    <div class="message notice">
        <div>
            <?php foreach ($messages as $message):?>
                <?= /* @escapeNotVerified */ $message ?><br />
            <?php endforeach;?>
        </div>
    </div>
    <?php endif; ?>
    <?= $block->getProductListHtml() ?>
</div>
<?php else: ?>

<div class="message notice">
    <div>
        <?= /* @escapeNotVerified */ ($block->getNoResultText()) ? $block->getNoResultText() : __('Your search returned no results.') ?>
        <?= $block->getAdditionalHtml() ?>
        <?php if ($messages = $block->getNoteMessages()):?>
            <?php foreach ($messages as $message):?>
                <br /><?= /* @escapeNotVerified */ $message ?>
            <?php endforeach;?>
        <?php endif; ?>
    </div>
</div>
<div class="advanced-search-link">
    <?= $block->getChildHtml('advanced-search-link') ?>
</div>
<?php endif; ?>
