<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Welcome to %store_name" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var this.getUrl($store, 'customer/account/')":"Customer Account URL",
"var customer.email":"Customer Email",
"var customer.name":"Customer Name"
} @-->

{{template config_path="design/email/header_template"}}

<p class="greeting">{{trans "Welcome to %store_name." store_name=$store.getFrontendName()}}</p>
<p>{{trans "Hello %name," name=$customer.name}}</p>
<p>
    {{trans 'Thanks for joining us. With you account you will be able to:'}}
</p>
<ul>
    <li><span class="check-icon"></span><span class="text">{{trans "Proceed through checkout faster"}}</span></li>
    <li><span class="check-icon"></span><span class="text">{{trans "View past orders"}}</span></li>
    <li><span class="check-icon"></span><span class="text">{{trans "Store alternative addresses (for shipping to multiple premises)"}}</span></li>
</ul>

<table class="button" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <table class="inner-wrapper" border="0" cellspacing="0" cellpadding="0" align="left">
                <tr>
                    <td align="center">
                        <a href="{{var this.getUrl($store)}}" target="_blank">{{trans "Shop now"}}</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<p>
    {{trans
    'Forgot your account password? Click <a href="%reset_url">here</a> to reset it.'

    reset_url="$this.getUrl($store,'customer/account/createPassword/',[_query:[id:$customer.id,token:$customer.rp_token],_nosid:1])"
    |raw}}
</p>
<p class="goodbye">{{trans "Thank you,<br>%store_name" store_name=$store.getFrontendName() |raw}} {{trans "Team."}}</p>

{{template config_path="design/email/footer_template"}}
