<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

// @codingStandardsIgnoreFile
?>
<?php
/**
 * Category layered navigation
 *
 * @var $block \Magento\LayeredNavigation\Block\Navigation
 */
?>

<?php if ($block->canShowBlock()): ?>
    <div class="block filter"
         id="layered-filter-block"
         data-mage-init='{"collapsible":{"openedState": "active", "collapsible": true, "active": false, "collateral": { "openedState": "filter-active", "element": "body" } }}'
    >
        <?php $filtered = count($block->getLayer()->getState()->getFilters()) ?>
        <div class="filter__title block-title filter-title" data-count="<?= /* @escapeNotVerified */ $filtered; ?>">
            <span data-role="title"><span><?= /* @escapeNotVerified */ __('Filters') ?></span></span>
        </div>
        <div class="filter__content block-content filter-content">
            <?= $block->getChildHtml('state') ?>

            <?php if ($block->getLayer()->getState()->getFilters()): ?>
                <div class="filter__actions block-actions filter-actions">
                    <a href="<?= /* @escapeNotVerified */ $block->getClearUrl() ?>" class="action clear filter-clear">
                        <i class="module-icon">
                            <svg class="icon icon-sm ico-trash"><use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-trash"></use></svg>
                        </i>
                        <span><?= /* @escapeNotVerified */ __('Reset Filters') ?></span>
                    </a>
                </div>
            <?php endif; ?>
            <?php $wrapOptions = false; ?>
            <?php foreach ($block->getFilters() as $filter): ?>
                <?php if ($filter->getItemsCount()): ?>
                    <?php if (!$wrapOptions): ?>
                        <span role="heading" aria-level="2" class="filter__subtitle block-subtitle filter-subtitle h2">
                            <?= /* @escapeNotVerified */ __('Filters') ?>
                        </span>
                        <div id="narrow-by-list"
                             class="filter__options filter-options option"
                             data-role="content"
                             data-mage-init='{"accordion":{"openedState": "active", "collapsible": true, "active": false, "multipleCollapsible": true}}'
                        >
                    <?php  $wrapOptions = true; endif; ?>
                    <div class="option__item filter-options-item <?=  strtolower(trim($filter->getName())) ?>"
                         data-role="collapsible">
                        <div class="option__title filter-options-title" data-role="title">
                            <?= /* @escapeNotVerified */ __($filter->getName()) ?></div>
                        <div class="option__content filter-options-content" data-role="content">
                            <?= /* @escapeNotVerified */ $block->getChildBlock('renderer')->render($filter); ?></div>
                    </div>
                <?php endif; ?>
            <?php endforeach; ?>
            <?php if ($wrapOptions): ?>
                </div>
            <?php else: ?>
                <script>
                    require([
                        'jquery'
                    ], function ($) {
                        $('#layered-filter-block').addClass('filter-no-options');
                    });
                </script>
            <?php endif; ?>
        </div>
    </div>
<?php endif; ?>
