<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Sales\Block\Order\Email\Items\DefaultItems */

/** @var $_item \Magento\Sales\Model\Order\Item */
$_item = $block->getItem();
$_order = $_item->getOrder();
$_product = $_item->getProduct();
$_imageUrl = $this->helper('Magento\Catalog\Helper\Image')->init($_product, 'cart_page_product_thumbnail', array('height' => '88' , 'width'=> '88'))->getUrl();
?>
<tr>
    <td>
        <div class="item-row-col1">
            <div class="item-photo">
                <span class="product-item-photo">
                    <img src="<?= $_imageUrl ?>" width="71" height="71">
                </span>
            </div>
            <div class="item-info<?php if ($block->getItemOptions()): ?> has-extra<?php endif; ?>">
            <p class="product-name"><?= $block->escapeHtml($_item->getName()) ?></p>
            <?php if ($_options = $block->getItemOptions()):?>
                <ul class="item-options product-item-options__list">
                    <?php foreach ($_options as $_option) : ?>
                        <li class="item-options__item product-item-options__item">
                            <span class="item-options__item-label product-item-options__item-label">
                                <?= $block->escapeHtml($_option['label']) ?>:
                            </span>
                            <span class="item-options__item-values product-item-options__item-values">
                                <?= /* @escapeNotVerified */  nl2br($_option['value']) ?>
                            </span>
                        </li>
                    <?php endforeach; ?>
                </ul>
            <?php endif;?>
            <?php $addInfoBlock = $block->getProductAdditionalInformationBlock(); ?>
            <?php if ($addInfoBlock) :?>
                <?= $addInfoBlock->setItem($_item)->toHtml() ?>
            <?php endif; ?>
            <?= $block->escapeHtml($_item->getDescription()) ?>
        </div>
        </div>
        <div class="item-row-col2">
            <div class="item-info-price item-info-qty">
                <div class="item-price">
                    <span class="label"><?= __('Price:')?></span>
                    <span><?= $block->getOrder()->formatPrice($_item->getPrice()); ?></span>
                </div>
                <div class="item-qty">
                    <span class="label"><?= __('Qty:')?></span>
                    <span><?= /* @escapeNotVerified */  $_item->getQtyOrdered() * 1 ?></span>
                </div>
            </div>
            <div class="item-subtotal">
                <span class="label"><?= __('Subtotal:')?></span>
                <?= $block->getItemPrice($_item) ?>
            </div>
        </div>
    </td>
</tr>
<?php if ($_item->getGiftMessageId() && $_giftMessage = $this->helper('Magento\GiftMessage\Helper\Message')->getGiftMessage($_item->getGiftMessageId())): ?>
<tr>
    <td colspan="3" class="item-extra">
        <table class="message-gift">
            <tr>
                <td>
                    <h3><?= /* @escapeNotVerified */  __('Gift Message') ?></h3>
                    <strong><?= /* @escapeNotVerified */  __('From:') ?></strong> <?= $block->escapeHtml($_giftMessage->getSender()) ?>
                    <br /><strong><?= /* @escapeNotVerified */  __('To:') ?></strong> <?= $block->escapeHtml($_giftMessage->getRecipient()) ?>
                    <br /><strong><?= /* @escapeNotVerified */  __('Message:') ?></strong>
                    <br /><?= $block->escapeHtml($_giftMessage->getMessage()) ?>
                </td>
            </tr>
        </table>
    </td>
</tr>
<?php endif; ?>
