<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

/**
 * @var $block \Magento\Backend\Block\Template
 */
// @codingStandardsIgnoreFile
?>
<?php
/** @var \Interactiv4\ProductUpload\Block\Adminhtml\Import\Validate\Result $block */
/** @var Interactiv4\ProductImport\Api\Validation\ValidationResultInterface $validationResult */
$validationResult = $block->getValidationResult();
?>


<?php if ($validationResult): ?>
    <?php if (!$validationResult->isValid()): ?>
        <div class="message message-error notice">
            <?= __('File is invalid! Check error details for more info:') ?>
        </div>
        <?php if ($validationResult->getFileErrorsMsg()): ?>
            <div class="message message-error notice">
                <p><strong><?= __('%1 File error(s):', \count($validationResult->getFileErrorsMsg())) ?></strong></p>
                <div class="import-error-list">
                    <?php foreach ($validationResult->getFileErrorsMsg() as $error): ?>
                        <p><?= $block->escapeHtml($error) ?></p>
                    <?php endforeach ?>
                </div>
            </div>
        <?php endif ?>
        <?php if ($validationResult->getRowErrorsMsg()): ?>
            <div class="message message-error error">
                <p><strong><?= __('%1 Invalid Row(s):', $validationResult->getTotalErrorRows()) ?></strong></p>
                <div class="import-error-list">
                    <?php foreach ($validationResult->getRowErrorsMsg() as $error): ?>
                        <p><?= $block->escapeHtml($error) ?></p>
                    <?php endforeach ?>
                </div>
            </div>
        <?php endif ?>
    <?php endif ?>

    <?php if ($validationResult->isValid()): ?>
        <div class="message message-notice notice">
            <p><?= __('%1 row(s) found in import file.', $validationResult->getTotalRows()) ?></p>
        </div>
        <?php if ($validationResult->getTotalValidRows() > 0): ?>
        <div class="message message-success success">
            <p><strong><?= __('%1 Valid Row(s), of which:', $validationResult->getTotalValidRows()) ?></strong></p>
            <p><?= __('%1 new', $validationResult->getTotalNewRows()) ?></p>
            <p><?= __('%1 updated', $validationResult->getTotalUpdatedRows()) ?></p>
        </div>
        <?php endif ?>

        <?php if ($validationResult->getRowErrorsMsg()): ?>
        <div class="message message-error error">
            <p><strong><?= __('%1 Invalid Row(s):', $validationResult->getTotalErrorRows()) ?></strong></p>
            <div class="import-error-list">
                <?php foreach ($validationResult->getRowErrorsMsg() as $error): ?>
                    <p><?= $block->escapeHtml($error) ?></p>
                <?php endforeach ?>
            </div>
        </div>
        <?php endif ?>

        <div class="message message-success notice">
            <?= __('File is valid! To start import file press "Import" button') ?> <button type="button" onclick="productUpload.submit('import')">Import</button>
        </div>
    <?php endif ?>
<?php endif ?>
