<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */
?>

<h1 class="title">Sorry, page under maintenance</h1>
<p class="text">The server is temporarily unable to service your request due to maintenance downtime or capacity problems.</p>
<p class="text-bottom">Please try again later.</p>
