<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */
?>

<h1>Service Temporarily Unavailable</h1>
<p>The application can't retrieve cached config data. Please try again later.</p>
