<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */
?>
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" >
    <head>
        <title><?= $this->pageTitle ?></title>
        <base href="<?= $this->getViewFileUrl() ?>" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="robots" content="*"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/styles.css" type="text/css" />
        <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    </head>
    <body>
        <div class="page">
            <div class="header-container">
                <div class="header content">
                    <a href="<?= $this->getBaseUrl()?>"
                       title="Optimo" class="logo">
                        <img src="images/logo.svg" alt="Optimo" /></a>
                </div>
            </div>
            <main class="page-main">
                <div class="content">
                    <div class="content-message">
                        <?php require_once $contentTemplate; ?>
                    </div>
                </div>
            </main>
            <div class="footer-container">
                <div class="footer content">
                    <div class="copyright">
                        © 2021 LOGISCENTER LLC  ·  All rights reserved
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
