<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var Magento\Review\Block\Product\View\ListView $block */

$_items = $block->getReviewsCollection()->getItems();
$format = $block->getDateFormat() ?: \IntlDateFormatter::SHORT;
?>
<?php if (count($_items)):?>
<div class="block review-list reviews" id="customer-reviews">
    <h2 class="block-title reviews__title h4">
        <?= $block->escapeHtml(__('Customer reviews:')) ?>
    </h2>
    <div class="block-content">
        <div class="toolbar reviews-toolbar d-none">
            <?= $block->getChildHtml('toolbar') ?>
        </div>
        <ol class="items review-items">
        <?php foreach ($_items as $_review):?>
            <li class="reviews__item item" itemscope itemprop="review" itemtype="http://schema.org/Review">
                <?php if (count($_review->getRatingVotes())): ?>
                    <div class="review-ratings item__ratings">
                    <?php foreach ($_review->getRatingVotes() as $_vote): ?>
                    <div class="rating-summary item" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                        <span class="label rating-label"><span><?= $block->escapeHtml($_vote->getRatingCode()) ?></span></span>
                        <div class="rating-result" title="<?= $block->escapeHtmlAttr($_vote->getPercent()) ?>%">
	                        <meta itemprop="worstRating" content = "1"/>
	                        <meta itemprop="bestRating" content = "100"/>
                            <span style="width:<?= $block->escapeHtmlAttr($_vote->getPercent()) ?>%">
                                <span itemprop="ratingValue"><?= $block->escapeHtml($_vote->getPercent()) ?>%</span>
                            </span>
                        </div>
                    </div>
                    <?php endforeach; ?>
                    </div>
                <?php endif; ?>
                <div class="item__title" itemprop="name"><?= $block->escapeHtml($_review->getTitle()) ?></div>
                <div class="item__content" itemprop="description">
                    <?= nl2br($block->escapeHtml($_review->getDetail())) ?>
                </div>
                <div class="item__details">
                    <span class="review-author">
                        <span class="review-details-value" itemprop="author"><?= $block->escapeHtml($_review->getNickname()) ?></span>
                    </span>
                    <span class="review-date">
                        <time class="review-details-value" itemprop="datePublished" datetime="<?= $block->escapeHtmlAttr($block->formatDate($_review->getCreatedAt(), $format)) ?>"><?= $block->escapeHtml($block->formatDate($_review->getCreatedAt(), $format)) ?></time>
                    </span>
                </div>
            </li>
        <?php endforeach; ?>
        </ol>
        <div class="toolbar reviews-toolbar">
            <?= $block->getChildHtml('toolbar') ?>
        </div>
    </div>
</div>
<?php else : ?>
<div class="block review-list reviews">
    <h2 class="block-title reviews__title h4">
        <?= $block->escapeHtml(__('Customer Reviews')) ?>
    </h2>
    <div class="block-content">
        <p><?= $block->escapeHtml(__('There are no reviews yet. Be the first to review this product!')) ?></p>
    </div>
</div>
<?php endif;?>
