<!--
  ~ @author Interactiv4 Team
  ~ @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
  -->
<div class="shipping-information-content">
    <div class="info-name">
        <span class="value" data-bind="text: getShippingMethodTitle()"></span>
    </div>
</div>