<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

/** @var \Interactiv4\StoreLocator\Block\ListStore\ListStoreBox $block */
?>
<div data-mage-init='{"interactiv4_storelocator/direction": {}}' class="store-item__directions option-direction">
    <ul>
        <li class="travel car active" data-traveling="DRIVING"><span>A</span></li>
        <li class="travel bus" data-traveling="TRANSIT"><span>A</span></li>
        <li class="travel walk" data-traveling="WALKING"><span>A</span></li>
        <li class="travel bicycle" data-traveling="BICYCLING"><span>A</span></li>
        <li class="swap">
            <button type="button" onclick="" class="swap-locations" title="<?= __('Swap locations A-B') ?>"><?= __('Swap locations A-B') ?></button>
        </li>
    </ul>
    <div id="directions-tool" class="store-item__directions-tool">
        <div class="directions--searchbox-handle">
            <div class="directions--icon waypoint-handle"><label for="origin">A</label></div>
            <div class="directions--icon waypoint-to"><label for="origin">C</label></div>
            <div class="directions--icon waypoint-bullet"><label for="origin">B</label></div>
        </div>
        <div class="form-inputs directions--inputs">
            <input class="form-control origin originA start" type="text" name="originA" isStart="true"
                   autocomplete="off">
            <input class="form-control origin originB end" readonly="true" type="text" name="originB" autocomplete="off"
                   value="">
            <button class="btn btn-primary get-direction action primary" id="get_direction"
                   title="<?= __('Get Directions') ?>"
                   type="submit">
                <span><?= __('Go') ?></span>
            </button>
        </div>
        <div class="directions--panel"></div>
    </div>
</div>
<div class="list-store col-sm-4 col-xs-12">
    <ul class="list-store-container" data-mage-init='{
            "interactiv4_storelocator/list_store": {
                "defaultStoreIcon": "<?= $block->getViewFileUrl(
                    'Interactiv4_StoreLocator::images/map_with_pin.png'
                ) ?>",
                "mediaUrlImage": "<?= $block->getMediaUrlImage() ?>",
                "distanceUnit": "<?= $block->getDistanceUnit() ?>"
            }}'>
    </ul>
    <div id="pagination-list" class="pagination-list pages pagination-wrapper"
         data-mage-init='{"interactiv4_storelocator/pagination": {}}'>
    </div>
</div>

<script id="popup-store-template" class="popup-store-template" type="text/x-magento-template">
    <div class="popup-store store-item store-<%- data.entity_id %>"
         title="<%- data.name %>"
         data-store-id="<%- data.entity_id %>"
         data-store-index="<%- data.index %>"
         data-latitude="<%- data.latitude %>"
         data-longitude="<%- data.longitude %>"
         data-address="<%- data.address %>">
        <div class="store-item__wrapper">
            <div class="store-item__image">
                <img class="img-responsive" src="<%- data.imgSrc %>" alt="<%- data.name %>">
                <p class="text-center"><%- data.distanceText %></p>
            </div>
            <div class="store-item__content">
                <h4><a target="_blank" class="title-store" href="<?= $block->getBaseUrl() ?><?= $block->getPrefix()
                ?><%- data.url_key %><?= $block->getSuffix() ?>"><%- data.name %></a></h4>
                <p class="address-store"><%- data.address %></p>
                <p class="phone-store"><%- data.telephone %></p>
                <p>
                    <span class="btn-link street-view"><?= __('Street View') ?></span>
                    <span class="btn-link direction"><?= __('Direction') ?></span>
                </p>
            </div>
        </div>
    </div>
</script>

<script id="store-template" class="store-template" type="text/x-magento-template">
    <li class="show-tag-li store-item store-<%- data.entity_id %>"
        title="<%- data.name %>"
        data-store-id="<%- data.entity_id %>"
        data-store-index="<%- data.index %>"
        data-latitude="<%- data.latitude %>"
        data-longitude="<%- data.longitude %>"
        data-address="<%- data.address %>">
        <div class="store-item__wrapper">
            <div class="store-item__image">
                <img src="<%- data.imgSrc %>" alt="<%- data.name %>">
                <p class="text-center"><%- data.distanceText %></p>
            </div>
            <div class="store-item__content">
                <h4><a target="_blank"
                       href="<?= $block->getBaseUrl() ?><?= $block->getPrefix() ?><%- data.url_key %><?=
                        $block->getSuffix() ?>"><%- data.name %></a></h4>
                <p><%- data.address %></p>
                <p><%- data.telephone %></p>
                <p>
                    <span class="btn-link street-view"><?= __('Street View') ?></span>
                    <span class="btn-link direction"><?= __('Direction') ?></span>
                </p>
            </div>
        </div>
    </li>
</script>