<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

/** @var \Interactiv4\StoreLocator\Block\ListStore\MapBox $block */
?>
<div class="map-box-container col-sm-8 col-xs-12">
    <div class="googlemap"></div>
</div>