<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

/** @var \Interactiv4\StoreLocator\Block\ListStore\SearchBox $block */
?>

<?php
$defaultRadius = $block->getDefaultRadius();
$distanceUnit = $block->getDistanceUnit();
$isShowTabSearchByArea = $block->isShowTabSearchByArea();
$showUniqueField = $block->showUniqueFieldFilter();
?>
<div class="search-box" data-default-radius data-mage-init='{
        "interactiv4_storelocator/search_box": {
            "defaultRadius": "<?= $defaultRadius ?>",
            "distanceUnit": "<?= $distanceUnit ?>"
        }
     }'>
    <div class="search-button">
        <div class="search-distance search-tab active" data-tab-content="#form-search-distance"
             id="search-distance"></div>
        <?php if ($isShowTabSearchByArea): ?>
            <div class="search-area search-tab" data-tab-content="#form-search-area" id="search-area"></div>
        <?php endif; ?>
    </div>
    <div class="search-content container-fluid">
        <div class="row search-by-distance" id="form-search-distance">
            <div class="col-md-4 col-sm-12">
                <div class="input-search--wrapper">
                    <input type="text" class="input-search--distance" placeholder="<?= __('Enter a location...') ?>"
                    value=""/>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 slider-range-min">
                <div id="slider-range-min" class="slider-range-bar slider-range">
                    <span class="show-unit slider-range-amount">
                        <?= $defaultRadius . ' ' . $distanceUnit ?>
                    </span>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 button-box">
                <button class="btn btn-primary btn-search-distance action primary" title="<?= __('Search') ?>"
                        type="submit">
                    <span><?= __('Search') ?></span>
                </button>
                <button class="btn btn-link btn-reset-search-distance action primary" title="<?= __('Reset') ?>"
                        type="submit">
                    <span><?= __('Reset') ?></span>
                </button>
            </div>
        </div>
        <?php if ($isShowTabSearchByArea): ?>
            <div class="search-by-area hide" id="form-search-area">
                <?php if ($showUniqueField):?>
                    <div class="col-sm-6 col-xs-12">
                        <div class="input-search--wrapper">
                            <input type="text" title="<?= __('Enter a location...') ?>"
                                   placeholder="<?= __('Enter a location...') ?>"
                                   id= "input-search--unique"
                                   class="input-search--unique-name form-control"/>
                        </div>
                    </div>
                <?php else: ?>
                    <?php if ($block->hasSearchByStoreName()): ?>
                        <div class="col-sm-6 col-xs-12">
                            <div class="input-search--wrapper">
                                <input type="text" title="<?= __('Store Name') ?>"
                                       placeholder="<?= __('Store Name') ?>"
                                       class="input-search--store-name form-control"/>
                            </div>
                        </div>
                    <?php endif; ?>
                    <?php if ($block->hasSearchByCountry()): ?>
                        <div class="form-group col-sm-6 col-xs-12">
                            <div class="input-search--wrapper">
                                <select id="country_id"
                                        data-mage-init='{
                                    "interactiv4_storelocator/region_updater": {
                                    "regionListId": "#state_id",
                                    "regionInputId": "#state",
                                    "regionJson": <?= $block->escapeHtmlAttr($block->getRegionJson()) ?>
                                    }
                                }'
                                        title="<?= __('Select Country') ?>"
                                        placeholder="<?= __('Select Country') ?>"
                                        class="input-search--country-id form-control">
                                    <option value=""><?= __('Select Country') ?></option>
                                    <?php foreach ($block->getCountryOption() as $item): ?>
                                        <option value="<?= $item['value'] ?>"><?= $item['label'] ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                    <?php endif; ?>
                    <?php if ($block->hasSearchByState()): ?>
                        <div class="form-group col-sm-6 col-xs-12">
                            <div class="input-search--wrapper">
                                <select id="state_id" placeholder="<?= __('State/Province') ?>"
                                        title="<?= __('State/Province') ?>"
                                        class="input-search--state-id form-control">
                                </select>
                                <input id="state" type="text" placeholder="<?= __('State/Province') ?>"
                                       title="<?= __('State/Province') ?>" class="input-search--state form-control"/>
                            </div>
                        </div>
                    <?php endif; ?>
                    <?php if ($block->hasSearchByCity()): ?>
                        <div class="col-sm-6 col-xs-12">
                            <div class="input-search--wrapper">
                                <input type="text" title="<?= __('City') ?>" placeholder="<?= __('City') ?>"
                                       class="input-search--city form-control"/>
                            </div>
                        </div>
                    <?php endif; ?>
                    <?php if ($block->hasSearchByPostalCode()): ?>
                        <div class="col-sm-6 col-xs-12">
                            <div class="input-search--wrapper">
                                <input type="text" title="<?= __('Zip Code') ?>"
                                       placeholder="<?= __('Zip Code') ?>"
                                       class="input-search--zipcode form-control"/>
                            </div>
                        </div>
                    <?php endif; ?>
                <?php endif; ?>
                <div class="form-group col-sm-6 col-xs-12button-box">
                    <?php if (!$showUniqueField):?>
                        <button class="btn btn-primary btn-search-area action primary" title="<?= __('Search') ?>"
                        type="submit">
                            <span><?= __('Search') ?></span>
                        </button>
                    <?php endif; ?>
                    <button class="btn btn-link btn-reset-search-area action primary" title="<?= __('Reset') ?>"
                            type="submit">
                        <span><?= __('Reset') ?></span>
                    </button>
                </div>
            </div>
        <?php endif; ?>
    </div>
</div>