<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

/**
 * Grouped product data template
 *
 * @var $block \Magento\Catalog\Block\Product\View\BaseImage
 * @var $block \Magento\GroupedProduct\Block\Product\View\Type\Grouped
 */
?>
<?php $block->setPreconfiguredValue(); ?>
<?php $_product = $block->getProduct(); ?>
<?php $_associatedProducts = $block->getAssociatedProducts(); ?>
<?php $_hasAssociatedProducts = count($_associatedProducts) > 0; ?>

<div class="table-wrapper grouped">
    <div class="table data grouped"
         id="super-product-table"
         data-mage-init='{ "Magento_GroupedProduct/js/product-ids-resolver": {} }'>
        <div class="grouped__header">
            <div class="col item"><?= $block->escapeHtml(__('Product Name')) ?></div>
            <?php if ($_product->isSaleable()): ?>
                <div class="col qty"><?= $block->escapeHtml(__('Qty')) ?></div>
            <?php endif; ?>
        </div>

        <?php if ($_hasAssociatedProducts): ?>
            <div class="grouped__content">
                <?php foreach ($_associatedProducts as $_item): ?>
                    <div class="grouped__content-product">
                        <div data-th="<?= $block->escapeHtmlAttr(__('Product Name')) ?>" class="col item">
                            <strong class="product-item-name"><?= $block->escapeHtml($_item->getName()) ?></strong>
                            <?php if ($block->getCanShowProductPrice($_product)): ?>
                                <?php if ($block->getCanShowProductPrice($_item)): ?>
                                    <?= /* @noEscape */ $block->getProductPrice($_item) ?>
                                <?php endif; ?>
                            <?php endif; ?>
                        </div>
                        <?php if ($_product->isSaleable()): ?>
                            <div data-th="<?= $block->escapeHtmlAttr(__('Qty')) ?>" class="col qty">
                                <?php if ($_item->isSaleable()): ?>
                                    <div class="control qty">
                                        <input type="number"
                                               name="super_group[<?= $block->escapeHtmlAttr($_item->getId()) ?>]"
                                               data-selector="super_group[<?= $block->escapeHtmlAttr($_item->getId()) ?>]"
                                               value="<?= $block->escapeHtmlAttr($_item->getQty() * 1) ?>"
                                               title="<?= $block->escapeHtmlAttr(__('Qty')) ?>"
                                               class="input-text qty"
                                               data-validate="{'validate-grouped-qty':'#super-product-table'}"
                                               data-errors-message-box="#validation-message-box"/>
                                    </div>
                                <?php endif; ?>
                        </div>
                    <?php endif; ?>
                </div>
                <?php if ($block->getCanShowProductPrice($_product)
                    && $block->getCanShowProductPrice($_item)
                    && trim($block->getProductPriceHtml(
                        $_item,
                        \Magento\Catalog\Pricing\Price\TierPrice::PRICE_CODE
                    ))): ?>
                    <div class="row-tier-price">
                        <?= $block->getProductPriceHtml(
                            $_item,
                            \Magento\Catalog\Pricing\Price\TierPrice::PRICE_CODE
                        ) ?>
                    </div>
                <?php endif; ?>
            <?php endforeach; ?>
            </div>
        <?php else: ?>
            <div>
                <div class="unavailable">
                    <?= $block->escapeHtml(__('No options of this product are available.')) ?>
                </div>
            </div>
        <?php endif; ?>
    </div>
</div>
<div id="validation-message-box"></div>
