<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

// @codingStandardsIgnoreFile

/** @var \Interactiv4\StoreSwitcher\Block\Switcher $block */
/** @var \Interactiv4\StoreSwitcher\ViewModel\StoreSwitcherViewModel $viewModel */
$viewModel = $block->getViewModel();
?>
<div class="header__switcher">
    <div class="switcher language switcher-language store-switcher"
         data-block="store-switcher"
         data-ui-id="language-switcher">
        <div class="store-switcher__toggle icon__trigger <?= $block->escapeHtmlAttr($block->getAnchorAdditionalClasses()) ?>">
            <span class="sr-only"><?= $viewModel->getModalAnchorHtml() ?></span>
            <i class="module-icon">
                <svg class="icon ico-world"><use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-world"></use></svg>
            </i>
            <div class="label d-inline-flex d-lg-none">
                <span class="website" id="websiteSelected"></span> | <span class="store-view" id="storeViewSelected"></span>
            </div>
        </div>
        <div class="store-switcher__content modal-switcher" data-role="modal" style="display: none">
            <div class="store-switcher__content-text">
                <?= $viewModel->getModalText() ?>
                <?= $block->getChildHtml() ?>
            </div>
            <form class="store-switcher-form">
                <fieldset class="fieldset">
                    <div class="field store required">
                        <div class="control form-group">
                            <label class="label" for="website"><span><?= $block->escapeHtml($viewModel->getModalWebsiteSelectorLabel()) ?></span></label>
                            <select title="<?= $block->escapeHtmlAttr($viewModel->getModalWebsiteSelectorLabel()) ?>" name="website" class="form-control"></select>
                        </div>
                    </div>
                    <div class="field storeview">
                        <div class="control form-group">
                            <label for="storeview" class="label"><span><?= $block->escapeHtml($viewModel->getModalStoreViewSelectorLabel()) ?></span></label>
                            <select title="<?= $block->escapeHtmlAttr($viewModel->getModalStoreViewSelectorLabel()) ?>" name="storeview" class="form-control"></select>
                        </div>
                    </div>
                    <div>
                        <div class="primary">
                            <button type="submit" class="action primary btn btn-primary btn-block"><span><?= $block->escapeHtml($viewModel->getModalButtonLabel()) ?></span>
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
