<!--
  ~ @author Interactiv4 Team
  ~ @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
  -->
<div class="shipping-address-item address-item col-12 col-md-6" css="'selected-item' : isSelected() , 'not-selected-item':!isSelected()">
    <div class="item-inner" click="selectAddress">
        <div class="info-name h4">
            <text args="address().prefix"/> <text args="address().firstname"/>
            <text args="address().lastname"/> <text args="address().suffix"/>
        </div>
        <div class="info-address">
            <text args="_.values(address().street).join(', ')"/><br/>
            <text args="address().city "/>, <text args="address().postcode"/><br/>
            <each args="data: address().customAttributes, as: 'element'">
                <each args="data: Object.keys(element), as: 'attribute'">
                    <if args="typeof element[attribute] === 'object'">
                        <if args="element[attribute].label">
                            <text args="element[attribute].label"/>
                        </if>
                        <ifnot args="element[attribute].label">
                            <if args="element[attribute].value">
                                <text args="element[attribute].value"/>
                            </if>
                        </ifnot>
                    </if>
                    <if args="typeof element[attribute] === 'string'">
                        <text args="element[attribute]"/>
                    </if><br/>
                </each>
            </each>
        </div>
        <div class="info-city-phone">
            <div class="info-city">
                <text args="getCountryName(address().countryId)"/>
            </div>
            <div class="info-phone">
                <text args="address().telephone" />
            </div>
        </div>
        <div class="info-action">
            <div class="action-edit">
                <button type="button"
                        class="action edit-address-link btn-link btn-link-sm"
                        click="editAddress"
                        visible="address().isEditable()">
                    <i class="module-icon">
                        <svg class="icon icon-sm ico-pen"><use data-bind="attr: { 'xlink:href': require.toUrl('') + 'images/icons-sprite.svg#ico-pen' }" xlink:href=''></use></svg>
                    </i>
                    <span translate="'Edit'"></span>
                </button>
            </div>

            <div class="info-address-selected" visible="isSelected()">
                <i class="module-icon">
                    <svg class="icon icon-sm ico-success-blue"><use data-bind="attr: { 'xlink:href': require.toUrl('') + 'images/icons-sprite.svg#ico-success-blue' }" xlink:href=''></use></svg>
                </i>
                <span translate="'Selected'"></span>
            </div>
            <div class="info-address-selected" visible="!isSelected()">
                <span class="btn-link btn-link-sm">
                    <i class="module-icon">
                        <svg class="icon icon-sm ico-location"><use data-bind="attr: { 'xlink:href': require.toUrl('') + 'images/icons-sprite.svg#ico-location' }" xlink:href=''></use></svg>
                    </i>
                    <span translate="'Ship here'"></span>
                </span>
            </div>
        </div>
    </div>
</div>
