<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

/* @var \Logiscenter\CountrySwitcher\Block\Popup $block */

/** @var \Logiscenter\CountrySwitcher\ViewModel\WebsitesPopup $countrySwitcherVm */
$countrySwitcherVm = $block->getData('websitesPopupViewModel');
?>
<?php if ($block->isEnabled() && $countrySwitcherVm): ?>
    <?php $countries = $countrySwitcherVm->getAllCountriesInfo(); ?>
    <?php if ($countries): ?>
        <section class="country-switcher" style="display: none">
            <div class="country-switcher__inner">
                <div class="country-switcher__col country-switcher__col--background">
                    <img class="country-switcher__img" src="<?= $block->getViewFileUrl('images/country-switcher-background.jpg') ?>"/>
                </div>
                <div class="country-switcher__col country-switcher__col--content">
                    <div class="country-switcher__logo">
                        <img class="country-switcher__img" src="<?= $block->getViewFileUrl('images/logo.svg') ?>"/>
                    </div>
                    <form class="country-switcher__form" action="<?= /* @escapeNotVerified */ $block->getUrl('country_switcher/validate/ajax') ?>" method="post">
                        <?= $block->getBlockHtml('formkey') ?>
                        <select class="country-switcher__select js-country-switcher-select">
                            <?php foreach($countries as $isoCode => $store) : ?>
                                <option data-url="<?= /* @escapeNotVerified */ $store['url'] ?>" value="<?= /* @escapeNotVerified */ $isoCode ?>">
                                    <?= /* @escapeNotVerified */ $store['label'] ?>
                                </option>
                            <?php endforeach; ?>
                        </select>
                        <button class="btn btn-primary country-switcher__confirm js-country-switcher-confirm">
                            <?= /* @escapeNotVerified */ __('Go') ?>
                        </button>
                    </form>
                    <div class="btn btn-link country-switcher__decline js-country-switcher-decline">
                        <?= /* @escapeNotVerified */ __('No, thanks') ?>
                    </div>
                    <div class="country-switcher__flags">
                        <span class="country-switcher__flags__title body1">
                            <?= /* @escapeNotVerified */ __('Logiscenter in the world') ?>
                        </span>
                        <ol class="country-switcher__flags__list">
                            <?php foreach($countries as $isoCode => $store) : ?>
                                <li class="country-switcher__flags__item js-country-switcher-flag-item" data-store="<?= /* @escapeNotVerified */ $isoCode ?>">
                                    <i class="module-icon">
                                        <svg class="icon ico-flag"><use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-store-<?= /* @escapeNotVerified */ $isoCode ?>"></use></svg>
                                    </i>
                                </li>
                            <?php endforeach; ?>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <script type="text/x-magento-init">
            {
                "*": {
                    "country_switcher": {}
                }
            }
        </script>
    <?php endif; ?>
<?php endif; ?>