<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/* @var \Magento\Wishlist\Block\Customer\Wishlist\Item\Column\Remove $block */
?>

<a href="#" data-role="remove"
   data-post-remove='<?= /* @noEscape */ $block->getItemRemoveParams($block->getItem()) ?>'
   title="<?= $block->escapeHtmlAttr(__('Remove Item')) ?>"
   class="btn-remove action delete btn-link btn-link-sm">
    <i class="module-icon">
        <svg class="icon icon-sm ico-wishlist-remove">
            <use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-wishlist-remove"></use>
        </svg>
    </i>
    <span><?= $block->escapeHtml(__('Remove item')) ?></span>
</a>
