<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list toolbar
 *
 * @var $block \Magento\Catalog\Block\Product\ProductList\Toolbar
 */
use Magento\Catalog\Model\Product\ProductList\Toolbar;
?>
<div class="field limiter form-inline">
    <label class="label" for="limiter">
        <span><?= /* @escapeNotVerified */ __('Show') ?></span>
    </label>
    <select id="limiter" data-role="limiter" class="limiter-options form-control select-jcf">
        <?php foreach ($block->getAvailableLimit() as $_key => $_limit): ?>
            <option value="<?= /* @escapeNotVerified */ $_key ?>"<?php if ($block->isLimitCurrent($_key)): ?>
                selected="selected"<?php endif ?>>
                <?= /* @escapeNotVerified */ $_limit ?>
            </option>
        <?php endforeach; ?>
    </select>

</div>
