<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list toolbar
 *
 * @var $block \Magento\Catalog\Block\Product\ProductList\Toolbar
 */
use Magento\Catalog\Model\Product\ProductList\Toolbar;

?>
<div class="sorter form-inline">
    <?php if ($block->getCurrentDirection() == 'desc'): ?>
        <a title="<?= /* @escapeNotVerified */ __('Set Ascending Direction') ?>" href="#" class="action sorter-action sort-desc" data-role="direction-switcher" data-value="asc">
            <i class="module-icon">
                <svg class="icon icon-sm ico-sort-asc"><use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-sort-asc"></use></svg>
            </i>
            <span class="sr-only"><?= /* @escapeNotVerified */ __('Set Ascending Direction') ?></span>
        </a>
    <?php else: ?>
        <a title="<?= /* @escapeNotVerified */ __('Set Descending Direction') ?>" href="#" class="action sorter-action sort-asc" data-role="direction-switcher" data-value="desc">
            <i class="module-icon">
                <svg class="icon icon-sm ico-sort-desc"><use xlink:href="<?= $block->getViewFileUrl('images/icons-sprite.svg') ?>#ico-sort-desc"></use></svg>
            </i>
            <span class="sr-only"><?= /* @escapeNotVerified */ __('Set Descending Direction') ?></span>
        </a>
    <?php endif; ?>

    <label class="sorter-label" for="sorter"><?= /* @escapeNotVerified */ __('Sort By') ?></label>
    <?php if(count($block->getAvailableOrders()) > 1): ?>
        <select id="sorter" data-role="sorter" class="sorter-options form-control select-jcf">
            <?php foreach ($block->getAvailableOrders() as $_key => $_order): ?>
                <option value="<?= /* @escapeNotVerified */ $_key; ?>"
                    <?php if ($block->isOrderCurrent($_key)): ?>
                        selected="selected"
                    <?php endif; ?>
                    >
                    <?= $block->escapeHtml(__($_order)) ?>
                </option>
            <?php endforeach; ?>
        </select>
    <?php else: ?>
        <?php foreach ($block->getAvailableOrders() as $_key => $_order): ?>
            <div class="single-sort-option">
                <?= $block->escapeHtml(__($_order)) ?>
            </div>
        <?php endforeach; ?>
    <?php endif;?>
</div>
