<?php
/**
 * @author Interactiv4 Team
 * @copyright Copyright © Interactiv4 (https://www.interactiv4.com)
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list toolbar
 *
 * @var $block \Magento\Catalog\Block\Product\ProductList\Toolbar
 */
use Magento\Catalog\Model\Product\ProductList\Toolbar;

?>
<?php if ($block->isEnabledViewSwitcher()): ?>
    <div class="modes">
        <?php $modes = $block->getModes(); ?>
        <?php if ($modes && count($modes) > 1): ?>
            <strong class="modes-label" id="modes-label"><?= /* @escapeNotVerified */ __('View as') ?></strong>
            <?php foreach ($block->getModes() as $code => $label): ?>
                <?php if ($block->isModeActive($code)): ?>
                    <strong title="<?= /* @escapeNotVerified */ $label ?>"
                            class="modes-mode active mode-<?= /* @escapeNotVerified */ strtolower($code) ?>"
                            data-value="<?= /* @escapeNotVerified */ strtolower($code) ?>">
                    </strong>
                <?php else: ?>
                    <a class="modes-mode mode-<?= /* @escapeNotVerified */ strtolower($code) ?>"
                       title="<?= /* @escapeNotVerified */ $label ?>"
                       href="#"
                       data-role="mode-switcher"
                       data-value="<?= /* @escapeNotVerified */ strtolower($code) ?>"
                       id="mode-<?= /* @escapeNotVerified */ strtolower($code) ?>"
                       aria-labelledby="modes-label mode-<?= /* @escapeNotVerified */ strtolower($code) ?>">
                    </a>
                <?php endif; ?>
            <?php endforeach; ?>
        <?php endif; ?>
    </div>
<?php endif; ?>