<?php
/* @var $block \Aheadworks\Blog\Block\Widget\RecentPost */

// @codingStandardsIgnoreFile
$canShow = true;
if (!$block->isAjax()): ?>
    <?php $canShow = false; ?>
    <div data-aw-blog-block-name="<?= /* @noEscape */ $block->getWidgetEncodeData() ?>"></div>
<?php endif; ?>

<?php if ($canShow && $block->isEnabled()): ?>
    <?php
        $recentPosts = $block->getPosts();
        $title = $block->getTitle() ? : 'Recent Posts';
    ?>
    <?php if (count($recentPosts)): ?>
        <div class="widget block recent-posts-widget">
            <section class="recent-posts distributor bg-color01">
                <div class="recent-posts__container container-fluid">
                    <div class="recent-posts__heading heading">
                        <h2 class="recent-posts__title section-title h1">
                            <small><?= /* @noEscape */ __('Our clients') ?></small>
                            <?= __($block->escapeHtml($title)) ?>
                        </h2>
                    </div>
                    <div class="recent-posts__content">
                        <ul class="recent-posts__list">
                            <?php foreach ($recentPosts as $post): ?>
                                <li class="recent-posts__item item">
                                    <?php if ($block->isFeaturedImageLoaded($post)): ?>
                                        <a href="<?php /* @noEscape */ echo $block->escapeXssInUrl($block->getPostUrl($post)) ?>" class="recent-posts__item__image">
                                            <img class="recent-post-featured-image"
                                                 src = "<?= /* @noEscape */ $block->escapeXssInUrl($block->getFeaturedImageUrl($post)) ?>"
                                                 title = "<?= $block->escapeHtml($post->getFeaturedImageTitle()) ?>"
                                                 alt = "<?= $block->escapeHtml($post->getFeaturedImageAlt()) ?>"
                                            />

                                        </a>
                                    <?php endif; ?>
                                    <div class="recent-posts__item__information">
                                        <a href="<?= /* @noEscape */ $block->getPostUrl($post) ?>"
                                           class="recent-posts__item__link"
                                           title="<?= $block->escapeHtml($post->getTitle()) ?>"
                                           itemprop="url">
                                            <h3 class="recent-posts__item__title" itemprop="name">
                                                <?= $block->escapeHtml($post->getTitle()) ?>
                                            </h3>
                                        </a>
                                        <?php if($post->getShortContent()): ?>
                                            <div class="recent-posts__item__description body2">
                                                <?= /* @noEscape */ $post->getShortContent() ?>
                                            </div>
                                        <?php endif; ?>
                                        <a href="<?= /* @noEscape */ $block->getPostUrl($post) ?>" class="recent-posts__item__button btn btn-link btn-link-arrow-right">
                                            <?= /* @noEscape */ __('Read more') ?>
                                        </a>
                                    </div>
                                </li>
                            <?php endforeach; ?>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    <?php endif; ?>
    <script>
        require([
            'jquery',
            'amBlog'
        ], function ($, amBlog) {
            amBlog.blogSlider();
        });
    </script>
<?php endif; ?>
